[2021-03-18 19:58] iluwatar opened #1683 "Update the naked objects pattern example"
The naked objects example is based on the Apache Isis framework and currently already seems a bit outdated. In this task, we get the latest quickstart example (simpleapp) from https://isis.apache.org/ and fit it into `naked-objects` folder in our pattern catalog.

[2021-03-18 20:08] iluwatar commented on #1669
I'm aware the naked objects example is pretty old and out of date already. I think the better route forward for us here would be to get the latest simple-app example from the Isis website and work to make it fit into our pattern catalog. I opened a new issue https://github.com/iluwatar/java-design-patterns/issues/1683 for this.

[2021-03-18 20:52] iluwatar opened #1684 "Java 17 migration plan"
Currently, we support JDK 11, which is a long-term supported Java version. The next long-term supported Java is 17 due to be released in autumn 2021. JDK 17 has already some early-access builds available to try it out.

To start the transition we should write a plan first. The plan should include the steps we need to complete to be binary compatible, source compatible, and how to benefit from the

[2021-03-22 06:13] #61 closed

[2021-03-22 06:13] #601 closed

[2021-03-22 06:13] #1215 closed

[2021-03-22 19:56] iluwatar opened #1690 "License issue in MVVM pattern"
In https://github.com/iluwatar/java-design-patterns/pull/1678 we merged the MVVM pattern using zkoss framework licensed under LGPL. We noticed the need to follow-up with some tasks related to handling the licensing issues correctly. In this issue let's fix

- [ ] Give prominent notice with each copy of the Combined Work that the Library is used in it and that the Library and its use are covered by

[2021-03-22 20:08] iluwatar commented on #1690
I would probably fix the first task by editing the `license-maven-plugin` configuration so that the license header is fetched from a local file instead. The local file could contain the normal MIT license and after that declaration about the deviant modules such as MVVM. The second task looks clear enough, just add the LGPL and GPL license files to the project root.

[2021-03-25 13:48] carousel opened #1691 "pdf document"
Hello,

I have merged all README.md files into one .pdf document. It may be useful to have all theories about patterns in one place, instead of jumping from folder to folder. If someone finds it useful, I will be happy :)

It can be found here:

[patterns.pdf](https://github.com/carousel/java-design-patterns/blob/master/patterns.pdf)

PS it is not perfect formatted but it will do the job of readin

[2021-03-25 14:16] ohbus commented on #1691
Hi @carousel Thank for the collaboration 🎉  and checking out this project! We are really glad to have you here.

Thank you so much for putting the effort 👏🏻 of collating the whole project into one single PDF. It was a daunting task indeed which I agree.

Though it is good for a quick reference you can checkout our ➡️ [website](https://java-design-patterns.com
) where we maintain all these design p

[2021-03-25 18:30] jinishavora commented on #1690
@iluwatar @ohbus Can I work on this?

[2021-03-25 21:26] ohbus commented on #1690
Go ahead!

[2021-03-28 07:13] iluwatar commented on #1691
Thanks @carousel for putting effort into this. I like the idea but would like to take it a couple of steps further. What if the website could dynamically build this presentation out of all the patterns that are available?

[2021-03-28 10:08] iluwatar opened #1694 "Improve caching pattern code quality"
Here are some suggestions on how to improve the caching pattern implementation
- There is a lot of if-else code related to the `CachingPolicy` choice. Maybe we could use the strategy pattern to pick the policy we use.
- There are 2 database choices. The virtual database is the default one but one can configure the application to use MongoDB as well. Perhaps we could create an abstraction for the d

[2021-03-28 21:13] panurag38 opened #1696 "test"
design patterns

[2021-03-28 21:54] #1696 closed

[2021-04-01 16:09] joseosuna-engineer commented on #1012
@iluwatar can I help with this and coordinate with @kanwarpreet25 @daniel-augusto ?

[2021-04-01 16:23] joseosuna-engineer commented on #1012
@kanwarpreet25 has no public commits since Jul 28, 2019, [f7e22a1](https://github.com/iluwatar/java-design-patterns/commit/f7e22a1cf6f7664e8790cc5c76285adbcc6ab19d)
@daniel-augusto has no public commits to this repo since Oct 11, 2020 [3a72abb](https://github.com/daniel-augusto/java-design-patterns/pull/1/commits/3a72abba25535b9f3bd90ac71c6cc77c530039d3)

Are you guys working on this know?

[2021-04-01 16:57] iluwatar commented on #1012
Thanks for helping out @joseosuna-engineer. I'm looking forward to your pull request!

[2021-04-01 17:06] joseosuna-engineer commented on #1012
Thank you. I'm going to begin with this.

[2021-04-01 22:19] joseosuna-engineer commented on #1012
@iluwatar @ohbus
I have added this project to my own CircleCI and SonarCloud accounts to run SonarCloud before create a pull request.

**My accounts:**
![image](https://user-images.githubusercontent.com/2281302/113358032-669e9100-931b-11eb-8d05-5b3dbf3c0b7b.png)

I **changed two config files**, :scream: **.circleci/config.yml** and **pom.xml** (my fork, another branch)
I'm sure @iluwatar @ohbus th

[2021-04-02 13:09] jinishavora commented on #1690
@iluwatar @ohbus sorry, I still haven't submitted the PR. I am traveling this week so won't be able to submit it, but will surely be doing so by end of 2nd week of April.

[2021-04-02 15:50] iluwatar commented on #1012
I think the general approach presented above is going to work, but as pointed out there are chances to streamline the workflow. @joseosuna-engineer feel free to create another issue where you point out the exact spots we should change.

[2021-04-02 15:52] iluwatar commented on #1690
That's ok @jinishavora, looking forward to your pull request after the trip.

[2021-04-07 21:26] joseosuna-engineer opened #1697 "Setting up CircleCI workflow to allow contributors run sonarcloud from a forked Repo"
@iluwatar @ohbus
I have added this project to my own CircleCI and SonarCloud accounts to run SonarCloud before create a pull request.

**My accounts:**
![image](https://user-images.githubusercontent.com/2281302/113358032-669e9100-931b-11eb-8d05-5b3dbf3c0b7b.png)

I **changed two config files**, :scream: **.circleci/config.yml** and **pom.xml** (my fork, another branch)
I'm sure @iluwatar @ohbus th

[2021-04-07 21:28] joseosuna-engineer commented on #1012
@iluwatar I have created issue [1697](https://github.com/iluwatar/java-design-patterns/issues/1697)

[2021-04-07 23:11] joseosuna-engineer commented on #1012
@iluwatar I want to ask you some things:
1.- This issue (1012) is not about all sonarcloud issues. is it?
2.- major, minor and info issues are not included here
3.- it is only about (blocker and critical) + code smell issues

![image](https://user-images.githubusercontent.com/2281302/113944874-3ea7a580-97d3-11eb-8c10-097e2e03a933.png)

4.- Do you want I add **@java.lang.SuppressWarnings("squid:som

[2021-04-10 09:36] zWeBrain commented on #1268
Hello, I would love to work on this issue, maybe finish it within one month.

[2021-04-11 14:01] sujithmenonp opened #1703 "Double Buffer Pattern Credits Link Not Found"
https://java-design-patterns.com/patterns/double-buffer/

Credits Link mentioned in the above page is not working -> https://java-design-patterns.com/patterns/double-buffer/[http://gameprogrammingpatterns.com/double-buffer.html](http://gameprogrammingpatterns.com/double-buffer.html)

[2021-04-11 17:26] jnayan1 commented on #1694
@iluwatar first timer here, can I get started with contributing to this issue?

[2021-04-11 18:38] ohbus commented on #1694
Sure thing!

Please mention a timeline when can we expect a PR against this.

[2021-04-17 07:15] x418-22n commented on #1269
Hello, I would work on this issue within one month.

[2021-04-17 07:16] santyelegy commented on #1261
Hello, I would like to work on this issue. I manage to finish it within a month.

[2021-04-17 07:16] lanxiang1234 commented on #1296
I would like to work on it

[2021-04-18 09:46] iluwatar commented on #1697
I think the aim of this issue is to create instructions on how to run the Sonar analysis for your own changes. We could add the documentation to our [Wiki](https://github.com/iluwatar/java-design-patterns/wiki).

[2021-04-18 09:48] iluwatar commented on #1012
@joseosuna-engineer

1. No, it's about blocker and critical level issues only
2. Yes
3. Yes
4. For false positives we can suppress the warnings as you suggested

[2021-04-18 09:56] iluwatar commented on #1268
Yes @zWeBrain, please proceed

[2021-04-18 11:35] EdisonE3 commented on #415
This pattern seems intersting, can I be assigned to this?

[2021-04-18 12:38] llyyaa commented on #1308
Shall I start working on this issue?

[2021-04-18 15:45] EdisonE3 commented on #415
@iluwatar Can I take this?

[2021-04-19 06:27] ohbus commented on #1269
Here you go @x418-22n

Please mention a timeline for when can we expect a PR against this issue.

[2021-04-19 06:29] ohbus commented on #1261
Great to have you onboarded @santyelegy!

We are expecting the PR for this by the end of May '21

[2021-04-19 06:32] ohbus commented on #1296
Happy to have you here @lanxiang1234

Please mention a timeline for when can we expect a PR against this issue.

[2021-04-19 07:40] guapi777 commented on #1219
I would love to solve this issue within one month.........

[2021-04-19 08:31] ohbus commented on #1219
Thanks for your interest @guapi777

But @mohanaraosv already seems to be engaged with it. Please contact him if you would like to continue where he left.

Thanks.

[2021-04-19 11:45] ohbus commented on #1697
I do not see any use case for having your own sonarcloud for the same project as it will create conflict while creating PRs to fix them in upstream.

[2021-04-19 13:02] ohbus commented on #415
Sure thing @EdisonE3

Happy to have you here!

Please mention a timeline for when can we expect a PR against this.

[2021-04-19 13:25] EdisonE3 commented on #415
I think I can finish this issue before next week @iluwatar
I want to use java swing to implement a demo which is mentioned in http://martinfowler.com/eaaDev/PresentationModel.html

[2021-04-19 13:34] ohbus commented on #1308
It is great to see that you are interested in our project @llyyaa

Please mention a timeline for when can er expect a PR against this.

[2021-04-20 03:01] MightyCorn1105939355 commented on #606
Could I work on this issue？

[2021-04-20 04:17] Anditty commented on #444
Hey, @iluwatar , I'd like to work on it, and I think I can finish this issue before this Sunday.

[2021-04-20 04:33] ohbus commented on #444
Great @Anditty!

Looking forward to your contributions.

[2021-04-20 12:00] MightyCorn1105939355 commented on #304
Could you assign this issue to me? I want to give it a try. I might be able to finish the work by this Sunday.

[2021-04-20 12:08] guapi777 commented on #1318
Can I work on this issue?

[2021-04-20 12:28] MightyCorn1105939355 commented on #304
@iluwatar Could you assign this issue to me? I want to give it a try. I might be able to finish the work by this Sunday.

[2021-04-20 15:29] ohbus commented on #304
Sure thing @MightyCorn1105939355

Looking forward to your contribution.

[2021-04-21 02:17] llyyaa commented on #1308
First PR might be proposed in this week.

[2021-04-21 04:07] guapi777 commented on #1318
I will fix this issue within one week. :)

[2021-04-21 06:25] ltyocg commented on #1503
I really think lombok is not a good choice.

[2021-04-21 10:05] tao-sun2 commented on #1319
Could I take this？ @iluwatar

[2021-04-21 12:55] ohbus commented on #1319
Sure thing @tao-sun2

Please mention a timeline for when can we expect a PR against this issue.

[2021-04-21 14:46] tao-sun2 commented on #1319
I will finish this issue within a week.

[2021-04-22 09:40] mohanaraosv commented on #1219
@guapi777  Please pick another issue I have started working on this.

[2021-04-23 08:41] zWeBrain commented on #1262
This design pattern looks cool and powerful!! I would like to work on this issue within one month.

[2021-04-23 13:17] joseosuna-engineer commented on #1012
@iluwatar Thank you!

[2021-04-23 15:36] wangihzyue commented on #88
hi, @iluwatar , I want to try this issue. Is it ok?

[2021-04-23 15:38] wangihzyue commented on #1260
Hi, @iluwatar , I also want to try this pattern. Is it ok? I suppose that this is relatively easy, so I want to try it.

[2021-04-24 04:16] ohbus commented on #88
Sure thing @wangihzyue

[2021-04-24 08:44] ohbus commented on #1260
Sure thing @wangihzyue

[2021-04-25 02:12] lanxiang1234 commented on #1298
I would like to work on it

[2021-04-25 13:13] iluwatar commented on #1697
I guess the question is how could one verify that the changes really fix a Sonar issue in the `master` before the changes are merged.

[2021-04-26 08:15] #1268 closed

[2021-04-30 14:36] ohbus opened #1736 "Update next-generation circleci convenience images"
The next-generation convenience images in this section were built from the ground up with CI, efficiency, and determinism in mind. Here are some of the highlights:

**Faster spin-up time** - In Docker terminology, these next-gen images will generally have fewer and smaller layers. Using these new images will lead to faster image downloads when a build starts, and a higher likelihood that the image

[2021-04-30 14:37] sapsinh commented on #1736
I want to work on this

[2021-04-30 14:37] ohbus commented on #1736
Thank you so much for your interest in this project!

We are happy to have you here.

Please mention an expected timeline for when can we expect  PR against this.

[2021-04-30 14:57] sapsinh commented on #1736
I will resolve this by the end of the next week.

[2021-05-01 06:24] iluwatar commented on #1262
Yes @zWeBrain, you're assigned

[2021-05-01 06:34] iluwatar commented on #1298
Ok @lanxiang1234, go ahead!

[2021-05-02 14:36] joseosuna-engineer commented on #1697
@ohbus as the images above show, in order to use my own sonarcloud I need to modify pom.xml.
if I do that in my own branch (fork), when I ask a PR that pom.xml commit is going to be included
I could ignore pom.xml in my commits, but what happen when my changes need to add a dependency?

[2021-05-02 14:54] joseosuna-engineer commented on #1697
@iluwatar yes, that is the question.
My strategy is not easy, it is to use your own sonarqube and 2 branches to avoid merging pom.xml changes
A easier strategy could be to use the project sonarqube and as you suggested before: we need to add some entry or more explanation in the wiki pages [11.-Static-analysis](https://github.com/iluwatar/java-design-patterns/wiki/11.-Static-analysis)

![image](ht

[2021-05-05 21:17] DEV-VRUPER commented on #1703
Hello Team, My above PR updates the Readme.md file to re-direct the credits link to the correct URL . Please let me know if any additional details required.

[2021-05-06 17:17] barathgdkrish commented on #1694
Hi @ohbus and @jnayan1 - I'm a first timer too. Can I join to collaborate?

[2021-05-06 18:00] ohbus commented on #1736
Currently facing problems due to misconfiguration of **`xvfb`** or there might be some other problem related to this.

[2021-05-06 18:25] #1703 closed

[2021-05-06 18:51] ohbus commented on #1694
Hi @barathgdkrish as this issue has been already assigned to @jnayan1 you can try picking up some other issues. Or you may want to contact the assigned person on this issue to talk to them and decide if they will be moving forward with it or not.

[2021-05-06 18:58] barathgdkrish commented on #1694
Thank you, sure I'll follow the same.

Regards,
Barath.
________________________________
From: Subhrodip Mohanta ***@***.***>
Sent: Friday, May 7, 2021 12:22:02 AM
To: iluwatar/java-design-patterns ***@***.***>
Cc: Barath G D Krishnan ***@***.***>; Mention ***@***.***>
Subject: Re: [iluwatar/java-design-patterns] Improve caching pattern code quality (#1694)

Hi @ohbus<https://github.com/ohbus> and

[2021-05-07 14:40] DEV-VRUPER opened #1747 "Issue with all contributors badge in Readme.md file"
Observed that when we click on the `all contributors` badge on the project page , it does not re-direct us to the sections where all the project contributors are listed .

![image](https://user-images.githubusercontent.com/30525467/117465715-df5fc100-af49-11eb-8a72-e0181a11478b.png)

**Possible fix will be to correct the URL for this badge inside the projects Readme.md file .**

[2021-05-08 05:57] barathgdkrish commented on #584
@ohbus : Can I pick up this issue? It is not assigned to anyone now.

[2021-05-08 06:38] ohbus commented on #584
Sure thing @barathgdkrish.

Please mention a timeline for when can we expect a PR against this issue.

[2021-05-08 06:42] ohbus commented on #1747
Thanks, @DEV-VRUPER for mentioning the problem.

There seems to be an error due to an additional hyphen at the end of the URL.

Please do let me know if you want to raise a PR for fixing this.

[2021-05-08 07:50] barathgdkrish commented on #584
Hi @ohbus , I have forked and cloned the repo. This is my first contribution, I'll study the ask and the code and will let you know the timeline by tomorrow EOD?

[2021-05-08 15:16] DEV-VRUPER commented on #1747
@ohbus   I have fixed it and raised the PR . Please could you review .

Thanks.

[2021-05-09 13:59] iluwatar commented on #798
@all-contributors please add @JackieNim for code

[2021-05-11 11:00] #1747 closed

[2021-05-13 07:57] EdisonE3 commented on #457
Can I take this?  And I can finsh a demo before next week. @ohbus

[2021-05-13 14:52] Shrirang97 commented on #1329
I have written code and readme file for the above pattern. Please check the PR.

[2021-05-13 16:52] ohbus commented on #457
Good Luck!

[2021-05-14 02:08] ScarboroughCoral opened #1754 "What is the meaning of the symbol "E" in the class diagram?"
like this, the "E" in the strategry class
![image](https://user-images.githubusercontent.com/26180429/118210008-593d0080-b49c-11eb-85fa-e03e4959b0f7.png)

[2021-05-14 02:11] #1754 closed

[2021-05-14 02:12] ScarboroughCoral commented on #1754
sorry,i know, it's enumeratiion

[2021-05-14 10:52] iluwatar opened #1755 "Create instructions for contributing pattern translations"
As suggested by @ohbus, we need to improve the instructions in our wiki to cover contributing pattern translations.

[2021-05-14 15:56] #1282 closed

[2021-05-17 03:43] tao-ny commented on #1312
Could I work on this? @iluwatar

[2021-05-17 08:18] ohbus commented on #1312
Sure thing @tao-ny

Please mention a timeline for when can we expect a PR against this issue.

[2021-05-17 08:32] ohbus commented on #1755
@iluwatar Made some changes to https://github.com/iluwatar/java-design-patterns/wiki/01.-How-to-contribute

What do you suggest for https://github.com/iluwatar/java-design-patterns/wiki/15.-Support-for-multiple-languages

[2021-05-17 16:16] tao-ny commented on #1312
I will finish it within a week.

[2021-05-17 19:12] #1319 closed

[2021-05-18 00:04] bravogalano commented on #1303
@iluwatar Hi, can I take this issue?

[2021-05-18 01:27] SuperNovaExtrem commented on #1299
Can I take this? I can probably finish this before this Sunday.

[2021-05-18 01:27] SuperNovaExtrem commented on #1299
@iluwatar Can I take this? I can probably finish this before this Sunday.

[2021-05-18 01:45] gdjs2 commented on #1291
May I work on this?

[2021-05-18 02:10] santyelegy commented on #1293
I‘d like to work on this issue. I manage to finish it this month.

[2021-05-18 09:26] brian474 commented on #1697
Duplicate of #

[2021-05-18 10:21] igroeg commented on #871
I guess this pattern is rather more of a docker/k8s configuration than java code. Am I wrong?

[2021-05-19 17:18] iluwatar commented on #1755
@ohbus Thanks for updating the contribution guidelines. I updated the latter page you mentioned, please check it out. Feel free to close this issue if we are happy.

[2021-05-19 17:30] ohbus commented on #1755
Thanks, @iluwatar for the much-needed improvement.

The changes Look Good To Me! 🎉

[2021-05-19 17:30] #1755 closed

[2021-05-19 17:39] ohbus commented on #1303
⭐ Sure thing! Thanks for your interest in our project 😃

✔️ Please mention a 📆 timeline 🕙 for when can we expect 🤔 a Pull Request against this issue.

[2021-05-19 17:40] ohbus commented on #1299
⭐ Sure thing! Thanks for your interest in our project 😃

[2021-05-19 17:41] ohbus commented on #1291
⭐ Sure thing! Thanks for your interest in our project 😃

✔️ Please mention a 📆 timeline 🕙 for when can we expect 🤔 a Pull Request against this issue.

[2021-05-19 17:43] ohbus commented on #1293
⭐ Sure thing! Thanks for your interest in our project 😃

We will review your PRs in the coming week, Thank you for bearing with us.

[2021-05-19 17:46] ohbus commented on #1293
I can see that @guapi777 has already put a PR for this before I could assign this issue for you.

[2021-05-19 17:48] ohbus commented on #1293
I am assigning this issue to @guapi777.

I am extremely sorry for the delayed response to this, please take up any other open issues _(there are plenty that **needs help**)_ that might b exciting for you to work with.

[2021-05-19 17:58] ohbus commented on #1697
What you are suggesting that you want to add a job for SonarCloud analysis job using any CI platform _(CircleCI in your case)_ is that it needs an upgraded plan of SonarCloud for this operation.

And this is where you are deferring from the actual goal that you intended to use this setup for was to clear and resolve already existing issues. This would be an interesting metric to see where we can s

[2021-05-19 18:01] ohbus commented on #871
@iluwatar and the _mailing list members_ What are your thoughts on this?

[2021-05-20 00:21] marouaneaba opened #1762 "Ambiguity mapper pattern definition."
Ambiguity mapper pattern definition.
Defining the mapper model for a specific problem case (fetching data) that produces a definition is not correct.
we need an explanation on how/why to use this design template.

[2021-05-20 03:16] santyelegy commented on #1293
Thanks for your kind suggestion and don't be sorry about this!
I and @guapi777 are actually working together on this issue.

[2021-05-20 04:03] bravogalano commented on #1303
I suppose tomorrow I can make a pull request.

[2021-05-20 11:43] gdjs2 commented on #1314
Hey I’d like to try on this

[2021-05-20 23:47] Sea-Sheep commented on #78
I just add them according to the document in the Internet @iluwatar and pr :)

[2021-05-21 17:06] JuanManuelAbate opened #1771 "Spanish translation and languages codes"
Hello I'd like to contribute this project by adding Spanish translation and also to define a standard language code representation to follow. I propose to use the codes defined in [ISO 639-1](https://en.wikipedia.org/wiki/ISO_639-1). I also propose to eliminate the images of the flags of the languages, it is not considered a good practice, there is no standard that defines flags for the languages

[2021-05-21 17:42] llyyaa commented on #67
Shall I work on this issue?

[2021-05-22 04:22] ohbus commented on #1291
Yes I see, might have been an error by not updating the issues correctly and managing them.

ut it would still need some improvement to **refactor** the **Readme** for this pattern to make it like the new design.

Will you be willing t work on improving this? Please do let me know of the same.

[2021-05-22 04:24] ohbus commented on #1314
I believe a PR has already been submitted by @tao-ny.

[2021-05-22 04:25] ohbus commented on #1314
Under Construction by @tao-ny

[2021-05-22 04:26] ohbus commented on #78
⭐ Sure thing! Thanks for your interest in our project 😃

[2021-05-22 04:30] ohbus commented on #1771
⭐ Sure thing! Thanks for your interest in our project 😃

[2021-05-22 04:31] ohbus commented on #67
⭐ Sure thing! Thanks for your interest in our project 😃

✔️ Please mention a 📆 timeline 🕙 for when can we expect 🤔 a Pull Request against this issue.

[2021-05-22 04:38] ohbus commented on #394
Hey, @iluwatar looks like nobody commented to take this issue up.

But I can see that @Mediocrity7 started working on this thing, and @Laurels7 has already submitted a PR #1769 for this, what should we be doing?

[2021-05-22 04:41] ohbus commented on #1302
@waterman6 please confirm before starting on working with an issue.

[2021-05-22 04:45] ohbus commented on #1762
Thank you so much for your interest @marouaneaba.

Please let us know if you are willing to work on this issue.

[2021-05-22 06:50] llyyaa commented on #67
It is ready.

[2021-05-23 18:40] iluwatar commented on #871
It's a cloud pattern so I would like to see it implemented using AWS or some other cloud platform like here: https://github.com/iluwatar/java-design-patterns/tree/master/cloud-static-content-hosting. The sidecar could be a Docker container running alongside the information system. The platform to demonstrate this could be EC2 instance running Docker containers, ECS, EKS etc.

@ohbus sorry I didn't

[2021-05-23 19:22] ohbus commented on #871
Sorry, might have been a typo while copy pasting in a hurry.

[2021-05-24 07:03] sharoha commented on #1331
Hi @iluwatar, first time here. For this issue, I wanted to clarify if this is a new pattern that you were thinking to introduce in the project?

[2021-05-24 07:27] ohbus commented on #1331
Yes, please let us know if you are willing to work on this.

Thanks for your interest.

[2021-05-24 08:54] sharoha commented on #1331
Yeah sure. Could you please assign it to me?

[2021-05-24 09:28] ohbus commented on #1331
⭐ Sure thing! Thanks for your interest in our project 😃

✔️ Please mention a 📆 timeline 🕙 for when can we expect 🤔 a Pull Request against this issue.

[2021-05-28 06:30] sharoha commented on #1331
It will take 2weeks for me, trying to get some time out from work. Will that work?

[2021-05-29 08:31] iluwatar commented on #841
Under construction by @Mediocrity7

[2021-05-31 19:28] iluwatar commented on #1771
@JuanManuelAbate thanks for the suggestion. At the moment our localization specification is a bit on the short side but you can see it here: https://github.com/iluwatar/java-design-patterns/wiki/15.-Support-for-multiple-languages. We use separate folders for different languages and what we have at the moment is `zh`, `ko`, `fr`, `tr`, `ar`. Do you know if it conforms to ISO-639-1, or do we need to

[2021-05-31 19:31] iluwatar commented on #394
To me, it seems the consensus is that we should review the PR made by @Laurels7 here https://github.com/iluwatar/java-design-patterns/pull/1769

[2021-05-31 19:35] iluwatar commented on #1762
I'm not entirely sure what we need to do here. Please elaborate @marouaneaba what pattern are you referring to and where exactly do you see a problem?

[2021-06-01 07:23] JuanManuelAbate commented on #1771
Hi @iluwatar, yes, before I send the changes I check that these codes follow the norm and are correct, you can see the full list of ISO-639-1 languages codes [here](http://www.loc.gov/standards/iso639-2/php/code_list.php)

[2021-06-01 09:51] ohbus commented on #1762
The explanation is indeed ambiguous.

Please provide a detailed explanation _(with line numbers if possible)_ to show us where exactly the problem lies so that we can investigate the matter and understand the issue with a clear picture in our mind.

This would also help any fellow who is looking to resolve this issue as well and make us all understand the goal that we should have in mind while han

[2021-06-01 18:55] iluwatar commented on #394
Updated link to the pattern description: https://www.eventhelix.com/design-patterns/collector-state/

[2021-06-01 20:08] marouaneaba commented on #1762
Hello @ohbus @iluwatar ,
In the description, it is specified that the mapper should be used only for retrieving/mapped data from the database.
On the other hand, a mapper is a pattern which makes it possible to create an object in a single sence, is responsible for executing operations to construct the parameters of a constructor.
In another way, a mapper takes care of centralizing a set of operat

[2021-06-02 14:08] EdisonE3 commented on #457
I'm so sorry that I'm too busy to keep on doing this issue.
Maybe can let this issue free and assign to others. @iluwatar @ohbus

[2021-06-02 14:11] ohbus commented on #457
Do you want to continue this later or would want to completely let this go to be taken by somebody else?

[2021-06-02 14:12] EdisonE3 commented on #457
I want to completely let this go to be taken by somebody

[2021-06-04 18:37] #1771 closed

[2021-06-04 18:38] iluwatar commented on #1771
Thanks, great job on unifying the localizations!

@all-contributors please add @JuanManuelAbate for translation

[2021-06-04 19:11] iluwatar commented on #1762
@marouaneaba let's start from the basics.

1. Which pattern are you talking about? Please provide a direct link.
2. I understood that you see a problem in the pattern's `README.md` file, is that correct? Can you point out the exact line numbers there?
3. Since at the moment you seem to know the problem best and how to fix it, why not raise a pull request to fix it?

[2021-06-04 19:13] iluwatar commented on #457
This issue is free for taking again. Please note that it's a cloud pattern and according to https://github.com/iluwatar/java-design-patterns/wiki/10.-Technology-selections it needs to be implemented using cloud technologies.

[2021-06-06 21:41] marouaneaba commented on #1762
Hello,
I talk about this mapper pattern : https://github.com/iluwatar/java-design-patterns/tree/master/data-mapper.
The description used to describe this mapper pattern, it is too specific for retrieving data from the database.

- Description currently used:

Intent
A layer of mappers that moves data between objects and a database while keeping them independent of each other and the mapper itself

[2021-06-07 01:32] samuelpsouza commented on #1012
Has anyone solved this one? https://sonarcloud.io/project/issues?id=iluwatar_java-design-patterns&open=AW3G0WaAwB6UiZzQNqwC&resolved=false&severities=BLOCKER

[2021-06-07 14:48] joseosuna-engineer commented on #1012
@samuelpsouza Yes. Feel free to colaborate. @iluwatar I'm so sorry. I'm studying for a couple of certification test.

[2021-06-07 15:23] joseosuna-engineer commented on #1697
@ohbus thank you for your comment. Let me explain my concerns.

When I tried to solve some issues I wanted to know what was my daily progress. Did I fix 1, 2 or more issues? What I did fix the issues? What was my progress today? Because fixing that issues is a big task. It requires more than a couple of hours.

So I looked at the project's sonarqube page and it only is called if you ask for a PR,

[2021-06-07 15:27] joseosuna-engineer commented on #1697
@ohbus I use Travis, I have opened a Circle-CI account because of this project. So I what I mean was Circle-Ci

[2021-06-07 16:31] ohbus commented on #1697
I can totally understand your concern over here. But as mentioned you may need to cherry-pick commits before making the PR.

What we all want is, to get a metric if a submitted PR is resolving an existing Sonar issue or not.

[2021-06-07 16:46] ohbus commented on #1012
Please @joseosuna-engineer, no need for an apology here.

You can mention a timeline for when you will be able to make the contributions or let us know in [Gitter](https://gitter.im/iluwatar/java-design-patterns) about the same as well.

And all the very best for your examinations! May you ace them ⭐

[2021-06-07 16:48] ohbus commented on #1012
Thank you so much for your interest in our project @samuelpsouza through #1784

[2021-06-07 20:20] karthikbhat13 commented on #1627
@lodenrogue I am not sure if you are taking this up. If not, @iluwatar Can I try this out?

Thanks!

[2021-06-08 01:33] lodenrogue commented on #1627
Go for it. I just wanted to clarify the pattern

[2021-06-08 05:16] ohbus commented on #1627
⭐ Sure thing! Thanks for your interest in our project 😃

✔️ Please mention a 📆 timeline 🕙 for when can we expect 🤔 a Pull Request against this issue.

[2021-06-08 05:21] mohanaraosv commented on #1219
Expect a PR Timeline: 30-6-2021

[2021-06-08 18:32] iluwatar commented on #1762
Thanks @marouaneaba for the clarification. It looks like data mapper pattern's readme is not currently fulfilling our quality criteria (see https://github.com/iluwatar/java-design-patterns/wiki/01.-How-to-contribute) and there's a lot to improve. We surely would appreciate your help here.

[2021-06-08 18:40] #1690 closed

[2021-06-14 05:14] ohbus commented on #187
Hey @sanghisha145, Any updates?

[2021-06-14 05:15] ohbus commented on #203
Hey @npczwh, any updates?

[2021-06-14 05:47] ohbus commented on #393
Hey @arjunduggal, any updates?

[2021-06-19 06:05] FuncGuy opened #1789 "Add Backend for front end pattern(BFF)"

[2021-06-20 07:29] ohbus commented on #1789
Hi @FuncGuy thanks for mentioning this, please provide relevant and trusted references to this pattern.

I know this is a widely used pattern in many companies especially startups, and hence I would encourage you to cite some links for the same.

[2021-06-20 07:31] FuncGuy commented on #1789
https://blog.bitsrc.io/bff-pattern-backend-for-frontend-an-introduction-e4fa965128bf

[2021-06-20 08:58] iluwatar commented on #1789
I think we already have an open issue about this pattern here: https://github.com/iluwatar/java-design-patterns/issues/300
@FuncGuy can you confirm that this is the same pattern? If yes, I think we can add the references provided here to that issue and close this issue as a duplicate.

[2021-06-20 09:18] FuncGuy commented on #1789
Yes

[2021-06-20 09:21] iluwatar commented on #300
Link pointed out by @FuncGuy: https://blog.bitsrc.io/bff-pattern-backend-for-frontend-an-introduction-e4fa965128bf

[2021-06-20 09:21] #1789 closed

[2021-06-21 05:51] npczwh commented on #203
@ohbus  @iluwatar   Sorry for the delay. I didn't have enough time to finish this issue. You can assign it to someone else.

[2021-06-21 17:31] iluwatar commented on #203
The issue is free again

[2021-06-21 18:20] iluwatar opened #1790 "Enum based strategy"
The current strategy example demonstrates the classic pattern with interfaces and implementations, but there is another way using enums. The basic principle is explained here: https://mcvalls.medium.com/how-to-implement-the-strategy-pattern-with-enums-in-java-19eb7168c247

Let's amend our strategy pattern example with the enum-based implementation.

[2021-06-22 07:37] amit2103 commented on #203
Can I take this up @iluwatar <https://github.com/iluwatar>

On Mon, Jun 21, 2021 at 11:01 PM Ilkka Seppälä ***@***.***>
wrote:

[2021-06-22 09:00] ohbus commented on #203
⭐ Sure thing! Thanks for your interest in our project 😃

✔️ Please mention a 📆 timeline 🕙 for when can we expect 🤔 a Pull Request against this issue.

🤝  Looking forward to your contribution.
📖  Be sure to check out our [Wiki](https://github.com/iluwatar/java-design-patterns/wiki) section

[2021-06-22 09:01] amit2103 commented on #203
Hey Subhrodip,

I can do it by July 15.

Regards

On Tue, Jun 22, 2021 at 2:30 PM Subhrodip Mohanta ***@***.***>
wrote:

[2021-06-22 18:12] AndriyPyzh commented on #1790
Hello! Can I start working on that?

[2021-06-22 18:30] iluwatar commented on #1790
Yes @AndriyPyzh, please go ahead!

[2021-06-23 20:19] AndriyPyzh commented on #1790
Is it already implemented?
https://github.com/iluwatar/java-design-patterns/blob/master/strategy/src/main/java/com/iluwatar/strategy/LambdaStrategy.java

[2021-06-24 09:15] AndriyPyzh commented on #1294
@iluwatar  I would like to implement that.

[2021-06-24 14:08] iluwatar commented on #1790
I think you're right @AndriyPyzh, let's close this as a duplicate

[2021-06-24 14:08] #1790 closed

[2021-06-24 14:09] iluwatar commented on #1294
Ok @AndriyPyzh

[2021-06-27 23:18] tan31989 commented on #1667
@ohbus is this being worked upon? Would love to fix this.

[2021-06-28 06:36] ohbus commented on #1667
⭐ Sure thing! Thanks for your interest in our project 😃

✔️ Please mention a 📆 timeline 🕙 for when can we expect 🤔 a Pull Request against this issue.

🤝  Looking forward to your contribution.
📖  Be sure to check out our [Wiki](https://github.com/iluwatar/java-design-patterns/wiki) section

[2021-06-28 07:30] tan31989 commented on #1667
Sure @ohbus!
I have tested this locally as of now, I should be able to raise a Pull Request in another day.

[2021-06-28 18:58] AndriyPyzh commented on #1294
@iluwatar I raised a PR, please review.

[2021-06-29 05:31] tan31989 commented on #1667
@ohbus have added the PR for now. Should I tag someone for review?

[2021-06-29 19:55] winiga-lab commented on #1206
hey ! @iluwatar can you review my pr on this issue ;-) thanks

[2021-06-30 11:40] ohbus commented on #1667
We mostly review PRs during the weekend and our free time.

And we always appreciate feedback on PRs and we value contributing to this repository for all kinds. So **`cc`** somebody for review for getting an insight on your code.

[2021-06-30 11:49] ohbus commented on #1206
Hi @winiga-lab, Please follow [Contributing Gudelines](https://github.com/iluwatar/java-design-patterns/wiki/01.-How-to-contribute)

[2021-07-01 21:23] winiga-lab commented on #1206
hello @ohbus thanks for reply. can I change the implementation by the way. This implementation is more easier to understand https://www.youtube.com/watch?v=e6Cy6gf8EeY

[2021-07-02 05:21] tan31989 commented on #1667
Thanks, @ohbus for the update

[2021-07-09 07:44] #1627 closed

[2021-07-21 06:14] beooo79 opened #1803 "Update Lombok version (possible migration issue for JDK17)"
Lombok does not work in the current master branch when using JDK16.

`[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.8.1:compile (default-compile) on project abstract-factory: Fatal error compiling: java.lang.IllegalAccessError: class lombok.javac.apt.LombokProcessor (in unnamed module @0x4809c771) cannot access class com.sun.tools.javac.processing.JavacProcessingE

[2021-07-23 23:19] ramananrpn commented on #1683
@iluwatar Shall I take this up ?

[2021-07-24 07:49] iluwatar commented on #1683
Sure, go ahead @ramananrpn

[2021-07-24 08:29] Ramanan-Raguraman commented on #1683
@iluwatar Could you please provide me write access ?

[2021-07-24 08:30] ramananrpn commented on #1683
@iluwatar Could you please provide me write access ?

[2021-07-27 15:27] ohbus commented on #1206
Will be glad to do so! Please go on!

[2021-07-28 05:00] vrushofficial commented on #1336
@iluwatar can I start with this?

[2021-07-28 06:53] vrushofficial commented on #1694
Hey @ohbus, @jnayan1 is still working on this? i'm gonna to pick this up.

[2021-07-28 06:56] vrushofficial commented on #584
Hey @ohbus, @barathgdkrish is still working on this or shall I start with this?

[2021-07-28 07:07] barathgdkrish commented on #584
Hi @vrushabhjoshi, I'm still working on this.

________________________________
From: Vrushabh Joshi ***@***.***>
Sent: Wednesday, 28 July 2021, 12:26
To: iluwatar/java-design-patterns
Cc: Barath G D Krishnan; Mention
Subject: Re: [iluwatar/java-design-patterns] Prototype pattern re-factor (#584)

Hey @ohbus<https://github.com/ohbus>, @barathgdkrish<https://github.com/barathgdkrish> is still worki

[2021-07-30 10:08] ohbus commented on #1336
As there are no commits showing up here as per our contribution guidelines and the ticket has been idle for a long time. I belive you can take it up @vrushofficial

⭐ Thanks for your interest in our project 😃

✔️ Please mention a 📆 timeline 🕙 for when can we expect 🤔 a Pull Request against this issue.

🤝  Looking forward to your contribution.
📖  Be sure to check out our [Wiki](https://github.com/i

[2021-07-31 16:32] iluwatar commented on #1803
Thanks @beooo79 for reporting. Although we currently claim to support only JDK11, I would like to see Lombok in the most recent version. If someone is willing to work on this, update Lombok to the latest version and test that the build and the tests still work.

[2021-08-01 15:01] ohbus commented on #1803
I tested Lombok version 1.18 with Eclipse version v4.20 (2021-06) creating problems for me with reflection API for Java.

[2021-08-02 16:54] dchar commented on #1694
Was this ever taken any further? I can maybe provide PR in the coming days.

Thanks,

[2021-08-02 22:19] blizzardengle opened #1807 "Adapter Pattern page is stuck in Chinese"
I'm fairly confident the [Adapter Pattern](https://java-design-patterns.com/patterns/adapter/) page was in English a few days ago. Now it's appearing as Chinese with no visible option to switch back to English.

![adapter-page](https://user-images.githubusercontent.com/11205240/127930752-2454952a-cbc2-4e46-9d8d-8915a1d9480d.png)

[2021-08-08 13:22] iluwatar opened #1809 "Evaluate Crowdin translation tool"
To better manage the different translations, we should evaluate the Crowdin tool. It's free for open-source projects fulfilling their criteria listed on the page https://crowdin.com/page/open-source-project-setup-request

[2021-08-09 05:06] ohbus commented on #1694
Looks like our contributors who were assigned to be inactive and no commits are showing in here as logs as it should according to our contributing guidelines.

So I would assign this to you @dchar. Looking forward to your PR in the coming weeks.

@jnayan1 and @barathgdkrish Please do let me know and try to contact @dchar in case you are looking to collaborate together.

[2021-08-09 05:08] ohbus commented on #1807
Thank you @blizzardengle for bringing this to our notice.

We have been trying to upgrade the website and make some changes to support different locales. We are extremely sorry for this and will provide a fix soon.

@iluwatar Can you suggest us a way out?

[2021-08-17 14:07] VictorZZZZ commented on #1694
Hello!
I just now provided the PR
[Link to PR #1810](https://github.com/iluwatar/java-design-patterns/pull/1810)

I don't know if it OK, if the issue was not assigned to me. I just see that it is not moving almost 8 days after last assign.

[2021-08-17 17:49] dchar commented on #1694
This is partly complete from my end, was mainly tied finishing other work last week. It is okay to reassign to Victor if the PR looks complete.

Thanks

[2021-08-17 18:28] blizzardengle commented on #1807
I ran a check to test other pages and as of today (17 August 2021) these pages are also stuck in Chinese:

[API Gateway](https://java-design-patterns.com/patterns/api-gateway/)
[Acyclic Visitor](https://java-design-patterns.com/patterns/acyclic-visitor/)
[Adapter](https://java-design-patterns.com/patterns/adapter/)
[Ambassador](https://java-design-patterns.com/patterns/ambassador/)
[Caching](https

[2021-08-20 08:31] ohbus commented on #1807
Thank you so much @blizzardengle for running the analysis and submitting a report.

[2021-08-21 14:31] iluwatar commented on #1807
Fixed in commit https://github.com/iluwatar/java-design-patterns-web/commit/0d65edba37c37f6505d9016295b8743476df7d63. As @ohbus said, we've been working on localization for the next-gen website and unfortunately, it broke the current/old website. The localization folder is now completely removed from the old website's build process.

[2021-08-21 14:32] #1807 closed

[2021-08-25 11:48] Lisa2508FFM opened #1812 "Newbie looking for networking and events"
Hi guys,
I am Lisa from Frankfurt. I am looking for dev events and networking. As I am new here at GitHub I am looking for chats and groups to share some experiences and ideas. Is there an event group available here? I'm looking forward to your answers and many thanks for your help.

Lisa

[2021-09-03 15:59] IAmPramod commented on #1691
@iluwatar Would it make sense to provide the functionality to download the content of specific patterns in pdf?

[2021-09-04 10:53] mortezaadi commented on #650
Though there are controversies around usin DCL, showing how properly implement DCL can be quite useful!
I’ve updated the implementation to make it more readable and efficient.
#1811

[2021-09-05 11:32] hartpoli commented on #983
I try so hard for understand that content inside there. 😐😐😐

[2021-09-05 16:09] active-terminator commented on #584
How about adding a default method in typed prototype abstract class itself?

[code]

Doing [changes](https://github.com/active-terminator/java-design-patterns/commit/6a85bc5deda4785c4f736ca869ec786db70ce426) with respect to this class works fine and all test were passed. Not sure whether this is a good practice or not.

[2021-09-09 15:04] iluwatar commented on #1691
Yes, I think that story fits the same epic as well

[2021-09-09 15:08] #650 closed

[2021-09-10 06:21] IAmPramod commented on #1762
@marouaneaba Are you working on this issue?

[2021-09-12 05:39] AJESH-CR commented on #1694
@iluwatar Did we completed this issue or still in work in progress? Didn't see any activities so far.

[2021-09-12 06:41] VictorZZZZ commented on #1694
Here is my PR: https://github.com/iluwatar/java-design-patterns/pull/1810

[2021-09-12 10:52] AJESH-CR commented on #1694
I saw that, but that hasn't reviewed yet right?

[2021-09-24 14:35] yashdeshmukh007 commented on #1691
I am Confused What to do in this Task If you want to print the pattern in the pdf then i am ready to print the pattern on the pdf

[2021-09-24 14:35] yashdeshmukh007 commented on #1691
I am Confused What to do in this Task If you want to print the pattern in the pdf then i am ready to print the pattern on the pdf

[2021-09-25 09:49] Vikashratn commented on #187
hey @iluwatar is this issue still open. You can assign this to me.
I will try to finish it within 1 month.
and I will ask for help if necessary from you all.

[2021-09-28 16:14] ohbus commented on #1691
This should be a Dynamic On-Demand feature if we want to implement it.

[2021-09-28 16:16] ohbus commented on #187
After a long period of not receiving any updates from @sanghisha145

I am assigning this issue to @Vikashratn.

Good Luck!!

[2021-09-28 16:50] ohbus commented on #1762
As I can see @marouaneaba is not responding to any communications.

This issue is free to be taken again!

[2021-09-28 18:39] #1667 closed

[2021-09-28 18:46] iluwatar commented on #1694
The PR is under review.

[2021-09-28 18:50] iluwatar commented on #1691
This task is now a duplicate of https://github.com/iluwatar/java-design-patterns-vuepress-web/issues/7 and can be closed

[2021-09-28 18:50] #1691 closed

[2021-09-29 06:06] AJESH-CR commented on #590
Can I start working on this?. Didn't see anyone assigned to this task. @iluwatar @ohbus

[2021-09-29 08:11] ohbus commented on #590
As this is a continuous effort please feel free to make contributions on the same.

[2021-09-29 08:35] AJESH-CR commented on #590
Sounds good @ohbus. Does anyone working on collection-pipeline ?

[2021-09-29 19:22] syfds commented on #1099
hi @ohbus , @iluwatar , looks like nothing happens here, can I do a PR for this ticket?

[2021-09-29 19:47] dgruntz commented on #1099
The PR #1100 is already open, but the PR can't be merged yet as there is a [issue](https://github.com/mockito/mockito/issues/1826) in Mockito which has not yet been fixed. I just checked whether the problem has been fixed with version 3.12.4 of Mockito, but this is not the case.

[2021-09-29 20:23] syfds commented on #1099
I see, but in the PR #1100 there is no adjustment of README documentation (explanation why template method should be marked "final" and changing the sample code).

[2021-09-29 20:43] dgruntz commented on #1099
Agreed, this could be added, and probably the class diagram needs to be adjusted as well (I don't know whether final methods are specially marked, in UML I would use a <<final>> stereotype).

[2021-09-30 04:10] chandrikadeb7 opened #1821 "Readme Update: Show Project Contributors automatically without adding them in successive commits"
- Using dynamic web app [contributors-img](https://contrib.rocks/preview)
- Reduces commits made for successive contributors
- Takes less space in Readme file and increases the count automatically.

**Example screenshot**
![Screenshot 2021-09-30 at 9 35 05 AM](https://user-images.githubusercontent.com/29686102/135385647-ad5d5109-f638-40fc-ae11-1e114a9caf8f.png)

[2021-09-30 04:11] chandrikadeb7 commented on #1821
@iluwatar I want to work on this issue. Please assign it to me.

[2021-09-30 19:00] syfds commented on #1099
ok, so assign this ticket to me if you want to have the adjustment of the documentation:
* explanation why final is important in the Template Pattern
* adjustment of all code snippets
* adjustment of the class diagram

@dgruntz to be honest I wouldn't wait with your change until mockito fixes the issue with final methods. I would merge the code (without unit test) and create a reminder ticket for

[2021-09-30 19:04] iluwatar commented on #590
I don't think so, please go ahead @AJESH-CR

[2021-09-30 19:06] iluwatar commented on #1821
Sounds awesome @chandrikadeb7, please go ahead

[2021-09-30 21:10] prakhyatsinghal commented on #978
Can I work on this ?

[2021-10-01 08:49] ohbus commented on #1821
@chandrikadeb7 and @iluwatar While all contributors have been allowing us to mention contributions on the doc, especially the Wiki, I am not sure how or if we will be able to identify them at all.

[2021-10-01 10:31] QihaMarz commented on #590
May I start working on event-driven-architecture ? @ohbus @iluwatar

[2021-10-01 10:39] ohbus commented on #590
Sure thing! Please go ahead!!

[2021-10-01 10:43] ohbus commented on #1099
@syfds We could do that. We can merge the code without the unit tests which would drop code coverage and is not a good thing to do, though these are not production codes.

We can wait for @iluwatar's suggestion on this. What do you suggest @dgruntz?

[2021-10-01 22:26] ThexXTURBOXx commented on #584
Hi, if noone else is working on this, I could pick up this issue. Is that okay? :)

[2021-10-02 08:27] chandrikadeb7 commented on #1821
@iluwatar Please suggest.

[2021-10-02 16:31] Ln11211 commented on #590
@ohbus, just wondering where can I find the explanations like "https://github.com/kamranahmedse/design-patterns-for-humans" for the above mentioned topics(that are done), coz I might find some useful when I learn them...

[2021-10-02 17:38] priyanshu688 commented on #1821
Can I work on this?

[2021-10-02 18:00] priyanshu688 opened #1827 "Sort the Array in the Descending order"
Here the set of Array is given and You have to sort the array in the descending order. The Before and After sort element should also be printed.

[2021-10-03 01:01] xujnan commented on #1827
退订---- Replied Message ----FromPriyanshu ***@***.***>Date10/03/2021 02:03 ***@***.***> ***@***.***>Subject[iluwatar/java-design-patterns] Sort the Array in the Descending order (#1827)
Here the set of Array is given and You have to sort the array in the descending order. The Before and After sort element should also be printed.

—You are receiving this because you are subscribed to this thread.Rep

[2021-10-03 06:06] ohbus commented on #1821
PR #1823 is already raised.

If you want you may collaborate with @chandrikadeb7 to make it configurable like all contributors and not just a simple image generated by using GitHub API

[2021-10-03 06:10] ohbus commented on #590
More than finding this is about how you would like to explain in simple words what you have understood already.

This is about connecting trivial things that we interact with daily and explaining them in your own way.

[2021-10-03 06:16] ohbus commented on #1827
@priyanshu688 How is this a relevant issue?

I would request you to please shed some light on this.

[2021-10-03 16:23] QihaMarz commented on #590
I've already done all the explanations part but I haven't got to create the programmatic example. Should I continue doing it? since it will take a long time for me to create the right codes. Thank you :)

[2021-10-04 03:52] patbeagan1 commented on #1328
Hello @iluwatar, I'd like to work on this if it's still available. Could it be assigned to me?

[2021-10-04 04:40] ohbus commented on #590
The programmatic examples are already done unless you are implementing a pattern that is yet to be included in this repository.

[2021-10-04 04:45] priyanshu688 commented on #1827
@ohbus As if sort() takes the third parameter which specify the order. So It can be like which we can use to sort or whether another solution exists?

[2021-10-04 10:53] #1655 closed

[2021-10-04 16:41] AJESH-CR commented on #590
@iluwatar @ohbus The Changes are ready to review.

[2021-10-04 18:24] sims-keshri commented on #1012
Raised a PR for Critical Code Smells: [#1831](https://github.com/iluwatar/java-design-patterns/pull/1831)

[2021-10-04 18:58] sims-keshri commented on #1012
Please also review https://github.com/iluwatar/java-design-patterns/pull/1833 and https://github.com/iluwatar/java-design-patterns/pull/1832

[2021-10-05 04:35] #1803 closed

[2021-10-05 18:37] iluwatar commented on #978
Yes, assigned to you @prakhyatsinghal, since @Mistral is not responding.

[2021-10-05 18:46] iluwatar commented on #1821
I like the idea of generating the contributor list automatically, but the implementation seems insufficient. There's no way to click the contributor avatars and see their profile and there's no way to see what they have contributed. I'm sorry, but it seems we are going to stick with the old all-contributors bot if these points can't be addressed.

[2021-10-05 18:52] iluwatar commented on #1099
What @syfds suggested sounds reasonable to me

[2021-10-05 18:56] iluwatar commented on #1827
@priyanshu688 please provide a proper explanation of what needs to be done or this issue will be closed. Start by pointing out the pattern and the code unit you are talking about.

[2021-10-05 19:06] iluwatar commented on #584
Yes, since there is no sign of PR from @barathgdkrish you can go ahead @ThexXTURBOXx

[2021-10-06 07:56] parulagg27 commented on #1012
I would like to work on this issue and resolve some of the code smells/ critical issues in Sonar. Can I take this up? @iluwatar

[2021-10-07 16:29] javatlacati opened #1842 "Currying"
I's a functional programming design pattern. As far as I understand you call a function with less parameters than usual and it can be used to defer processing when it has many steps involved.

UML example

[code]

![image](https://user-images.githubusercontent.com/1063901/136424980-f7ab35e9-5654-419e-8f7d-6a1257e12585.png)

With the curried version you can do stuff like:

[code]

[2021-10-07 17:32] javatlacati opened #1843 "Loan pattern"
Reference: https://www.javacodegeeks.com/2013/01/loan-pattern-in-java-a-k-a-lender-lendee-pattern.html

[2021-10-08 06:58] vijeta-2000 commented on #1330
@iluwatar, can I get this issue?

[2021-10-08 08:49] QihaMarz commented on #590
@iluwatar @ohbus The updates for explanation is ready to review.

[2021-10-08 13:03] ohbus commented on #1827
I'm really sorry @priyanshu688 as this is not the right repository for doing what you are seeking.

I apologize @ShubhanshuJha @Arjun6112 as this is not available for taking. But you can always find something to work within our repository from [**here.**](https://github.com/iluwatar/java-design-patterns/issues?q=is%3Aopen+is%3Aissue+label%3A%22info%3A+help+wanted%22) Feel free to let us know by co

[2021-10-08 13:03] #1827 closed

[2021-10-08 17:00] iluwatar commented on #1012
Sure @parulagg27, go ahead

[2021-10-08 17:58] iluwatar commented on #1843
You are free to take a shot @Pikmin1211

[2021-10-09 18:42] iluwatar commented on #203
@amit2103 are you still working on this?

[2021-10-09 18:44] iluwatar commented on #393
This issue is free again

[2021-10-09 18:47] iluwatar commented on #892
The issue is unassigned again

[2021-10-09 18:48] iluwatar commented on #841
The task is free for taking again

[2021-10-09 18:49] amit2103 commented on #203
Hey Iluwatar, yeah I got a bit distracted, I will make a PR this week.

Regards

On Sun, Oct 10, 2021 at 12:12 AM Ilkka Seppälä ***@***.***>
wrote:

[2021-10-09 18:53] iluwatar commented on #525
Help wanted

[2021-10-09 19:00] iluwatar commented on #1219
@mohanaraosv are you still working on this?

[2021-10-09 19:00] iluwatar commented on #1206
@winiga-lab are you working on this?

[2021-10-09 19:04] iluwatar commented on #917
@RemcoBuddelmeijer are you still working on this?

[2021-10-12 19:22] Billa05 opened #1852 "Sticky Header"
It would be very easy for users to navigate if the website have a sticky header.
Also, it would be great if the header is transparent

https://user-images.githubusercontent.com/90760974/137016431-1131e601-498e-4e28-8139-d3b31ed4c116.mp4

.

[2021-10-15 03:17] berlincho commented on #1596
@StefanoFibbi, are you still working on this issue? Thanks.

[2021-10-15 03:22] berlincho commented on #1483
@dieuph, did you fix the issue? Thanks.

[2021-10-16 16:20] iluwatar commented on #1300
Ok @djeong20

[2021-10-16 17:08] #466 closed

[2021-10-16 18:15] NatalieSty commented on #1270
@iluwatar I'd like to work on this issue, can you assign it to me? Thanks!

[2021-10-16 18:44] yixingz3 commented on #346
We would like to give a shot at this in October/November. Could you assign it to me? Thank you!

[2021-10-17 18:17] ohbus commented on #1596
Due to inactivity from @StefanoFibbi .

This issue is again free to be taken.

[2021-10-18 06:18] ohbus commented on #1483
Thank you for your efforts!

[2021-10-19 04:36] NatalieSty commented on #1216
I would like to work on this. Can you please assign it to me? Thanks!

[2021-10-19 17:12] iluwatar commented on #346
Go ahead @yixingz3

[2021-10-19 17:34] iluwatar opened #1871 "Monitor pattern is not being built"
In https://github.com/iluwatar/java-design-patterns/pull/1640 we merged the monitor pattern but noticed that it's not included in the main `pom.xml` and not being built. Let's fix that in this issue.

[2021-10-19 18:51] ohbus commented on #1243
@mohanaraosv are you facing any issues while building this project in eclipse?

[2021-10-19 18:55] ohbus commented on #1871
I strongly recommend @Dev-AliGhasemi to take this up.

[2021-10-20 01:21] komminen commented on #1275
Hi iluwatar, I'd like to volunteer to take a crack at this and try to fix in November/December if you're okay with that.

[2021-10-20 03:41] dctrue2 commented on #1596
I will implement the pattern with @berlincho.

[2021-10-20 17:47] #1694 closed

[2021-10-20 18:07] iluwatar commented on #1684
Thanks, @mohanaraosv. We can proceed with the analysis (this ticket) but need to stall the migration until the tooling supports it.

[2021-10-21 04:26] Dev-AliGhasemi commented on #1871
[#1873](https://github.com/iluwatar/java-design-patterns/pull/1873)

[2021-10-21 15:42] ohbus opened #1875 "Make a separate build line in for Sonar analysis"
I have overlooked that there will be two simultaneous reports generated for Sonar issues which I have overlooked.

- [ ] Dismiss Matrix building of the project.
- [ ] We need to split into two build pipelines, one for running sonar analysis against the latest `zulu` build, and one with the latest JDK build.
- [ ] Let us use the cache feature for `maven` dependencies.

_Originally posted by @ohbus

[2021-10-22 02:07] kevinjplee commented on #1283
Can I work on this pattern? Thanks!

[2021-10-23 13:05] anneloredev opened #1886 "German translation"
If I have seen correctly, there is no German translation yet.

I would like to add a German translation, if it is ok :)

[2021-10-24 06:33] #1886 closed, assigned to nobody

[2021-10-27 18:44] #1875 closed, assigned to ohbus

[2021-10-30 15:32] interactwithankush commented on #978
Please assign this to me.

[2021-10-30 18:16] iluwatar commented on #525
Sounds great @vaibhav-if. I'll assign the issue to you!

[2021-10-30 18:19] iluwatar commented on #1327
Good luck @thenewpyjiang, I'm looking forward to your PR

[2021-10-30 18:20] iluwatar commented on #1206
Ok @Leisterbecker

[2021-10-30 18:23] interactwithankush commented on #1012
I have resolved 1 blocker & 5 critical Sonar issues using [this PR](https://github.com/iluwatar/java-design-patterns/pull/1899). Kindly review and merge.
<img width="1730" alt="Screenshot 2021-10-30 at 11 27 15 PM" src="https://user-images.githubusercontent.com/18613127/139554128-d1b1d1f6-0d95-4663-b3bf-096aa31b8b26.png">
<img width="1728" alt="Screenshot 2021-10-30 at 11 26 50 PM" src="https://us

[2021-10-30 18:33] iluwatar commented on #304
This issue is free for taking again.

[2021-10-31 05:12] mohanaraosv commented on #978
I have already done changes here https://github.com/iluwatar/java-design-patterns/pull/1870, Please assign to me.

[2021-10-31 08:00] iluwatar commented on #978
To be fair, I think @mohanaraosv expressed interest first. Let's try to complete this task in https://github.com/iluwatar/java-design-patterns/pull/1870

[2021-10-31 14:16] interactwithankush commented on #978
Sounds good @iluwatar

[2021-10-31 14:46] vaibhav-if commented on #525
Hi @iluwatar, I have added a few PRs to be in time for hacktoberfest, will add more in coming days.

[2021-10-31 20:45] iluwatar opened #1906 "Localization image handling needs to be updated"
Currently, the translations (in `localization` folder) expect to find the images from the parent folder. See for example https://github.com/iluwatar/java-design-patterns/blob/master/localization/zh/abstract-document/README.md?plain=1#L169.

With the new website, the assumption is not true anymore. We should update the image handling so that each localization holds its own copy of the needed images

[2021-10-31 20:46] iluwatar commented on #1906
This is related to issue https://github.com/iluwatar/java-design-patterns-vuepress-web/issues/13

[2021-11-01 16:28] berlincho commented on #1483
@ohbus Although the current example uses the old version of Apace isis, could you share the info of how to run it?

[2021-11-01 19:42] iluwatar commented on #1906
Fixed in branch `vuepress`

[2021-11-01 19:42] #1906 closed

[2021-11-01 19:45] iluwatar commented on #1245
Help needed in translating the new website to Chinese. See https://github.com/iluwatar/java-design-patterns-vuepress-web/issues/13

[2021-11-02 23:36] AlexTamulaitis commented on #1270
Which databases should this factory support? Just the ones listed in the document, or others like mySQL or MSSQL?

[2021-11-04 04:34] NatalieSty commented on #1270
@iluwatar I am working on it with AlexTamulaitis. Can you advise which database should this factory support? Thanks!!

[2021-11-04 11:43] ravening commented on #1326
@iluwatar sorry didnt get time to work on this

[2021-11-05 23:34] knguyen100000010 commented on #1334
@iluwatar I can work on this.

[2021-11-10 06:11] npczwh opened #1908 "Concurrency problems in leader-followers pattern"
I have found a bug in the leader-followers pattern during unit test. In the state of concurrency, there is a small chance that no new leader will be promoted. The reason is that in the worker class, there is no double check before calling the wait method of workercenter. It causes the thread which should become leader mistakenly believe that the leader already exists and waits.

[2021-11-10 06:15] npczwh commented on #1908
I have submitted a PR for fixing this bug, please review. @iluwatar  @ohbus

[2021-11-10 19:27] iluwatar commented on #1483
Good question. Previously we could follow the instructions at https://github.com/iluwatar/java-design-patterns/blob/master/naked-objects/README, but it seems that they removed it from the website.

[2021-11-10 19:42] iluwatar commented on #1270
Let's say we need 3 different storages: relational database (e.g. HyperSQL in-memory database), document database (e.g. Mongo), and flat file. @NatalieSty

[2021-11-10 19:46] iluwatar commented on #1326
This issue is looking for contributor once again

[2021-11-10 19:52] iluwatar commented on #1334
Nice, go ahead @knguyen100000010, and please notice that it should be implemented using a cloud platform

[2021-11-11 02:01] NatalieSty commented on #1270
@iluwatar we are almost done implementing using mySQL and Derby. Can we support two relational database and one document database?

[2021-11-11 17:38] iluwatar commented on #1270
Yeah, it's a good start

[2021-11-11 17:48] #1908 closed

[2021-11-12 02:03] berlincho commented on #1483
@iluwatar Thanks for your reply. I check the webpage archive (http://web.archive.org/web/20150717233428/http://isis.apache.org/guides/ug.html#3.-getting-started).
It seems that the existing example uses the sample application in the above link. I will replace it with the newer Apache isis version.

[2021-11-12 09:09] interactwithankush commented on #1012
- **Resolved** 1 blocker & 5 critical Sonar issues

- **Old sonar report** :- [here](https://sonarcloud.io/project/issues?id=iluwatar_java-design-patterns&resolved=false&severities=BLOCKER&types=CODE_SMELL)

- **Code Cov**: Added an extensive test cases for Commander pattern.

- **PR Quality Gate** is also [green](https://sonarcloud.io/summary/new_code?id=iluwatar_java-design-patterns&pullRequest=

[2021-11-13 18:36] iluwatar commented on #1483
Great @berlincho, I'm looking forward to the PR

[2021-11-14 21:16] DhavalsinhChavda commented on #1299
Hello @iluwatar, @ohbus and @SuperNovaExtrem, I read the links you provided in the issue and I would like to work on this issue.
I found that pull request #1773 already made for this and it is inactive from some time.
So if this issue is available can I work on this ?

[2021-11-15 20:20] Kevinyl3 commented on #838
I would like to try my hand at resolving this issue

[2021-11-15 20:52] Kevinyl3 commented on #1264
I would like to try my hand at implementing this

[2021-11-17 02:01] malekkadri commented on #190
check https://github.com/iluwatar/uml-reverse-mapper

[2021-11-18 03:09] noelfortman commented on #509
I'm going to try taking a stab at the remaining work on this (since the help wanted tag is still there)

[2021-11-18 23:06] Kevinyl3 commented on #1264
I have looked over the reference linked above, and I am currently leaning towards the Java-beans management with JSP for the implementation. My understanding of JSP is that to actually render the page requires a server like Tomcat. I was wondering if there was a lighter weight approach to demonstrate this design pattern, as it could be difficult for a user to download and configure a server to sim

[2021-11-22 07:18] NatalieSty commented on #1270
@iluwatar We went into some hiccups with mySQL; it seems like mysql is no longer supported by SonarQube, and it would be the same for the cloud version. even if it still supports it, it might require the you to install it and create a sonar user with permissions: https://docs.sonarqube.org/7.4/setup/install-server/.

Is derby DB enough for demonstrating this Factory supports relational database? C

[2021-11-23 19:20] iluwatar commented on #1299
Closed https://github.com/iluwatar/java-design-patterns/pull/1773 due to inactivity. @DhavalsinhChavda the issue is now assigned to you, please proceed.

[2021-11-23 19:23] iluwatar commented on #838
Ok @Kevinyl3, the issue is yours

[2021-11-24 17:59] DhavalsinhChavda commented on #1299
Sure @iluwatar, I will start working on this.

[2021-11-28 05:52] iluwatar commented on #509
That's great news @noelfortman. It's assigned to you now. Looking forward to the PR!

[2021-11-28 06:09] iluwatar commented on #1264
JSP pages are not used that much anymore nowadays. Spring Boot makes it easy to execute stand-alone applications and it would be relatively easy to bundle it with a Javascript front-end. Any modern Javascript framework can do composite views.

[2021-11-28 07:18] iluwatar commented on #203
This issue is free for taking again.

[2021-11-28 07:18] iluwatar commented on #187
@Vikashratn are you working on this?

[2021-11-28 07:20] iluwatar commented on #1298
This issue is free for taking again.

[2021-11-28 07:23] iluwatar commented on #1270
Yes, it's good enough for now @NatalieSty

[2021-11-28 07:24] iluwatar commented on #1262
This issue is free for taking again.

[2021-11-28 07:25] iluwatar commented on #1219
@mohanaraosv are you still working on this?

[2021-11-28 07:27] iluwatar commented on #1843
@Pikmin1211 are you working on this?

[2021-11-28 07:27] iluwatar commented on #1683
This issue is free for taking again.

[2021-11-28 07:29] iluwatar commented on #1336
This issue is free for taking again.

[2021-11-28 07:29] iluwatar commented on #1335
This issue is free for taking again.

[2021-11-28 07:31] iluwatar commented on #1331
This issue is free for taking again.

[2021-11-28 07:34] iluwatar commented on #1323
This issue is free for taking again.

[2021-11-28 07:35] iluwatar commented on #1322
This issue is free for taking again.

[2021-11-28 07:36] iluwatar commented on #1320
This issue is free for taking again.

[2021-11-28 07:37] iluwatar commented on #1316
No sign of pull request, so I have to unassign you @amit2103. This issue is free for taking once again.

[2021-11-28 07:38] iluwatar commented on #1311
This issue is free for taking again.

[2021-11-28 21:35] Kevinyl3 commented on #1264
I am mostly done with the JSP implementation, in the #1264 branch, would you like me to re-do it with Spring Boot and Java Script, or finish the JSP implementation?

[2021-11-28 22:01] Kevinyl3 commented on #1264
If I were to re do the example with a JavaScript framework, say React, would making a pure React application that runs in nodejs be sufficient? Going by the J2EE reference and what I could find for composite view through google, this pattern doesn't seem to require much backend logic.

[2021-11-30 22:44] Kevinyl3 commented on #838
I have checked through all the dependencies in all the pom.xml's

- logback-classic: This dependency is already at version 1.2.3
- slf4j-api: This dependency is already at version 1.7.30
- httpclient: I cannot find this dependency in the pom.xml of the whole project, nor in any of the individual pom.xml for each module

Overall it seems that the dependencies listed in this issue have either all al

[2021-12-01 02:04] NatalieSty commented on #1270
@iluwatar Do you want us to include the mySQL code in the pull request and raise another issue to try to get it to run on Sonar? We can comment it out to avoid errors.

[2021-12-04 03:00] castleKing1997 commented on #1304
I want to work on this.
Please assign it to me if you think it's still a valuable issue.

[2021-12-07 21:52] rajanpatel4578 commented on #446
I am working on this issue for my University Term Project. I have a few naive questions:
What is the expected output from normalized tables- primary keys only or the entire data? I will mold my code accordingly.
Do you think this pattern needs to make connections with any available database or Java code is a sufficient solution?

[2021-12-08 08:26] Arpit-101 commented on #525
Hi @iluwatar, I'm a beginner to all this and recently I've learnt java and javascript, I'm out here looking for projects to improve my skills but having a bit trouble to understand things here. It would be great help if you guide me to some resources which will help me to learn more in java and javascript, so that I can start contributing to project like these. Sorry for being off topic but please

[2021-12-09 20:01] iluwatar commented on #1264
Pure Javascript sounds a bit too much, this is Java design patterns anyway :) There are also Java front-end frameworks you could use. I'm not dictating which one you should choose. Maybe pick the one you find most interesting?

[2021-12-09 20:12] yixingz3 commented on #346
Please feel free to. We are working as a team and I’ve been working on the SLOB issue (#1596).

[2021-12-11 14:33] iluwatar commented on #838
Thanks for checking! I too think that we are now able to close this issue.

@all-contributors please add @Kevinyl3 for review

[2021-12-11 14:34] #838 closed

[2021-12-11 14:41] iluwatar commented on #1270
I'm not sure that I understand the issue you are having with MySQL and SonarQube. Are you trying to install SonarQube for yourself to scan the code?

[2021-12-11 14:56] iluwatar commented on #1304
Oh yes, it's valuable and seems to be quite easy to demonstrate with Hibernate if you choose. Please go ahead, @castleKing1997.

[2021-12-11 15:06] #1329 closed

[2021-12-13 02:21] castleKing1997 opened #1929 "Hibernate of current version doesn't match h2"
I use hibernate and h2 inherited from the parent pom.xml whose version are `5.2.18.Final`.
But I find the `org.hibernate.dialect.H2Dialect` extends from `org.hibernate.dialect.Dialect` didn't override method `getCurrentSchemaCommand`, which leeds it reture `null`.
Then I received an exception when I use hibernate to connect h2database:
[code]
It occurs becaus
[code]
but the code can run successful

[2021-12-19 16:31] iluwatar commented on #446
It would be great to have a database backend and an emulation layer. When the user queries objects by the primary key, the results would be fetched directly from the database. For other queries where the table wouldn't have indexes available, the emulation layer would be called and it would return the pre-sorted objects quickly. Hopefully you can grasp the idea @rajanpatel4578

[2021-12-20 14:51] castleKing1997 commented on #1304
@iluwatar please review #1932

[2022-01-01 18:46] #1304 closed

[2022-01-06 17:47] iluwatar commented on #1305
This issue is free for taking again.

[2022-01-08 12:44] Surya-Prakash-Reddy commented on #1843
@iluwatar If no one is working on this, can you assign this to me?

[2022-01-08 16:29] nittysharma commented on #1246
Hi @iluwatar,
Can I take this issue, please

[2022-01-08 18:40] iluwatar commented on #1843
Yes, assigned to @Surya-Prakash-Reddy

[2022-01-08 18:41] iluwatar commented on #1246
Ok @nittysharma

[2022-01-12 19:42] iluwatar commented on #1684
https://github.com/iluwatar/java-design-patterns/wiki/19.-Java-17-transition

[2022-01-13 03:12] velmurugan0411 opened #1947 "Chain Of Responsibilities Pattern Implementation using Java Interface/Implementation and Streams"
Java Stream is simplifying of Implementing Chain of Responsibilities pattern. Interface with multiple implementations and run through chain via Java List streams.  This gives flexibility to switch the order of implementation chain without doing change. Can this be added to this pattern project?

For Eg.

interface ContactProcessor {
 Integer getPriority();
 boolean isApplicable() ;
  void process(

[2022-01-15 18:15] iluwatar opened #1948 "Update Maven to the latest version"
As part of the Java 17 transition plan, the Maven version used to build the project should be updated to the latest. See https://github.com/iluwatar/java-design-patterns/wiki/19.-Java-17-transition

[2022-01-16 18:44] iluwatar commented on #1269
This issue is free for taking again.

[2022-01-18 13:58] SriPrarabdha commented on #1206
Hey , would love to work on this issue

[2022-01-18 17:52] ShivanshCharak commented on #1012
hey can i work on this issue :)

[2022-01-25 19:46] iluwatar commented on #1947
That's a nice trick. If someone wants to implement it by modifying the existing chain of responsibility example, I'll be happy to review the PR.

[2022-01-25 23:48] velmurugan0411 commented on #1947
Thanks for reviewing. I can pickup and provide Pull Request.

[2022-01-29 16:47] arnabsen1729 commented on #1871
Hi, @iluwatar @ohbus I am looking forward to fixing this issue. I saw that a PR was raised against it, but it had some failing tests and there was no update after 24 October 2021. I am willing to work on this.

So will you assign this issue to me?

[2022-01-30 02:53] MaheshMadushan opened #1957 "Casting Issue"
![CB](https://user-images.githubusercontent.com/58337761/151684862-b05babb8-180e-472d-b6c0-923b0b16127a.png)

[2022-01-30 18:45] iluwatar commented on #1206
This issue was already fixed in https://github.com/iluwatar/java-design-patterns/pull/1933

[2022-01-30 18:45] #1206 closed

[2022-01-30 18:46] iluwatar commented on #187
This issue is free for taking again.

[2022-01-30 18:49] iluwatar commented on #1012
Ok, go ahead @ShivanshCharak

[2022-02-01 09:12] ShivanshCharak commented on #1012
Raised a pr for the following Critical code smell
https://github.com/iluwatar/java-design-patterns/pull/1960

please also review
a minor code smell
https://github.com/iluwatar/java-design-patterns/pull/1959#issue-1118731779

[2022-02-06 08:27] iluwatar commented on #1947
Ok @velmurugan0411

[2022-02-06 08:32] iluwatar commented on #1871
Assigned to @arnabsen1729

[2022-02-07 03:06] arnabsen1729 commented on #1871
Thanks for assigning the issue @iluwatar

---

I have raised a PR here https://github.com/iluwatar/java-design-patterns/pull/1956
I need some help in improving the final coverage, the rest of the builds are passing.

[2022-02-12 18:12] iluwatar commented on #1957
@MaheshMadushan can you explain what this issue is about?

[2022-02-12 19:48] iluwatar opened #1963 "CI build failing"
CI build is failing due to naked objects test failure. Additionally, there is one Checkstyle error that needs to be fixed.

[2022-02-15 01:11] MaheshMadushan commented on #1957
Hi @iluwatar , There is a small casting issue.
![image](https://user-images.githubusercontent.com/58337761/153973583-cf198d38-4525-4a32-ae44-a45b5c6f4972.png)

[2022-02-16 20:02] Yashwant-Tailor commented on #1957
Hi @MaheshMadushan @iluwatar .
I'm beginner in java and during learning the java literals , I encountered one nice point which address this issue .
In java **integer literal** can always be assigned to a **long** variable . However , to specify a **long literal** you will need to explicitly tell the compiler that the literal value is of type **long** . We can do this by appending an **uppercase**

[2022-02-17 09:14] liuyangyudaxia opened #1965 "Translation error"
![image](https://user-images.githubusercontent.com/39300225/154443661-c12f821f-5942-4903-b158-8c5450711ab8.png)

[2022-02-22 13:16] Speiger commented on #187
[code]

Why isn't something like this included in the singleton as a option?
Yes you could create more instances from that class, but this unique instance is technically also a singleton.
Which you can identify.

It provides a aspect that enums can not provide. If you have singleton instances that require expand ability, adding new elements later, is not possible with enums without having resort t

[2022-02-23 05:02] akash19coder commented on #1871
Hii..@iluwatar I am looking forward to working on this issue. So, will you please assign this issue to me?

[2022-02-23 05:07] arnabsen1729 commented on #1871
Hello, @akash19coder I have already made changes and the build is passing. You can take a look at my PR https://github.com/iluwatar/java-design-patterns/pull/1956, just stuck at improving the test coverage. If you can help in that respect it would be really helpful.

[2022-02-24 06:17] akash19coder commented on #1871
Hi, @arnabsen1729 I don't have real-world experience with Java but with guidance, I can surely help out with improving the test coverage

[2022-02-26 18:32] yonatankarp opened #1968 "Visitor pattern code example violate SOLID"
In the current example of the Visitor patter the `UnitVisitor` described as follow:

[code]

This interface violate the interface segregation principle as shown later on when implementing `CommanderVisitor`, `SergeantVisitor` and `SoldierVisitor` as each one of them have methods that are not relevant for the instance.

The problem becomes even worst if someone will call be mistake the wrong method

[2022-02-26 18:32] yonatankarp commented on #1968
By the way, happy to pick this fix up if you all agree that this is indeed an issue 😄

[2022-02-28 04:13] HattoriHenzo commented on #1963
@iluwatar I have worked on it. I left a PR and some comments. Assign it to me.

[2022-02-28 04:25] HattoriHenzo commented on #1683
@iluwatar I would like to work on it, if still available.

[2022-03-09 22:28] javatlacati opened #1971 "[Question] Difference between Mediator and Event Bus"
I was reading about [event bus design patern](https://dzone.com/articles/design-patterns-event-bus) but I can't differentiate it from Mediator.

If there's any difference kindly add a new entry for event bus design pattern.

Aditional reading:

https://medium.com/elixirlabs/event-bus-implementation-s-d2854a9fafd5

Best regards.

[2022-03-09 23:41] javatlacati commented on #300
uml:
![image](https://user-images.githubusercontent.com/1063901/157557728-a2a88377-c447-4bff-a997-52de056194ff.png)

plantuml code:

[code]

[2022-03-18 09:30] Liu-rj commented on #1305
Hi, I'd like to work on this issue. Could it be assigned to me if still available?

[2022-03-19 02:31] lkpengcs commented on #1298
hi, can I work on this issue?

[2022-03-19 03:21] lkpengcs commented on #351
hi, can I work on this issue?

[2022-03-20 12:48] KingOfXi commented on #1287
hi,I'd like to have a try. Can you assign to me?

[2022-03-25 08:54] DA-MO-WANG opened #1974 "abstractfactory pattern-App class error"
Cannot resolve symbol 'LOGGER'

[2022-04-01 09:03] lkpengcs commented on #443
hi, can I work on this issue?

[2022-04-02 08:03] JMZ-kk commented on #203
I want to take this, could you assign it to me?

[2022-04-03 17:08] anuragagarwal561994 commented on #1500
@iluwatar let me know how can I help with this, I am confused about the status of the what has been resolved and what is pending.

[2022-04-04 12:58] KingOfXi commented on #1287
I have submitted my code

[2022-04-09 05:33] Ooi-YeeJing commented on #556
Can I work on this issue?

[2022-04-11 02:39] lkpengcs commented on #1290
hi, can I work on this issue?

[2022-04-11 12:12] SpaceIshtar commented on #1269
Hi, I would like to give it a shot. Could you please assign it to me? I believe I could open a PR before Apr 24th.

[2022-04-15 18:15] #1963 closed

[2022-04-15 20:40] mohanaraosv commented on #983
@iluwatar The above link is broken could you please update it with the relevant URL.

[2022-04-16 17:39] iluwatar commented on #1968
Thanks for raising the issue @yonatankarp. I'd like to see the improvement implemented.

[2022-04-16 17:44] #1871 closed

[2022-04-16 17:48] iluwatar commented on #1683
Yes, go ahead @HattoriHenzo

[2022-04-20 06:53] yonatankarp commented on #1968
After reading a bit deeper about this design pattern in multiple sources (see below), it seems like the design itself is (almost) correctly implemented, but the example is confusing.

In the design, each visitor should have a `visit` method for each of the elements (e.g. `DisplayUnitVisitor`), however, in the current example we have 3 different visitors that are doing the same thing (logging that

[2022-04-22 11:00] yonatankarp commented on #584
There's a pr for the fix, but it seems that SonarCloud isn't happy with the try-catch of the `clone` in terms of coverage.
From checking online, it's considered anti-pattern to test this... Any suggestions?

[2022-04-23 08:52] KingOfXi commented on #1266
Well ,it's pretty interesting. I'd like to achieve it .

[2022-04-23 13:44] Linly1080 commented on #1326
Hi, I'd like to work on this issue. Could it be assigned to me if still available?

[2022-04-23 14:06] xyllq999 commented on #1974
可以啊

[2022-04-23 14:30] xyllq999 commented on #1968
I want to fix this issue.

[2022-04-23 16:29] Linly1080 commented on #1929
Hi, I'd like to work on this issue. Could it be assigned to me if still available?

[2022-04-23 16:43] Linly1080 commented on #1263
Hi, I'd like to work on this issue. Could it be assigned to me if still available?

[2022-04-24 07:49] xyllq999 commented on #1968
@iluwatar

[2022-04-24 13:57] KingOfXi opened #1992 "Always have 1 Checkstyle violation"
There's always a checkstyle violation in my pull request.  I have run several kinds of checkstyle tools in my local machine but there's no error. So I can't find the checkstyle violation. Do anyone know the cause of the checkstyle violation .This is the pull request link https://github.com/iluwatar/java-design-patterns/pull/1977.

[2022-04-24 14:00] KingOfXi commented on #1992
![image](https://user-images.githubusercontent.com/61463030/164980154-5558fa08-037d-4ac6-883f-39ef9eade886.png)

[2022-05-09 03:45] xyllq999 commented on #1965
I want to try fixing this issue, thank u. @iluwatar

[2022-05-09 03:46] xyllq999 commented on #1965
Can you give more specific info about this bug or sth. ?

[2022-05-12 03:58] Liu-rj commented on #1262
Hi! I'd like to work on this issue and plan to finish it before June. Can you assign it to me? Thx.

[2022-05-14 15:22] SpaceIshtar commented on #1289
Hi, I would like to have a try. Can you assign it to me?

[2022-05-15 04:34] Ooi-YeeJing commented on #841
Can I work on this issue?

[2022-05-15 08:48] inkfin commented on #1258
Hi @iluwatar ! I would like to look into this design pattern.

[2022-05-15 15:24] Tha-Davong commented on #1301
Can I work on this issue?

[2022-05-17 08:59] vithlaithla commented on #1280
Hi, I would like to work on this pattern. Is this available for taking?

[2022-05-22 07:04] vithlaithla commented on #1281
Hi, I would like to work on this issue. Is this available for taking?

[2022-05-22 18:52] MathewJaniec commented on #1306
Hey @iluwatar, I would like to help with this issue.

[2022-05-26 09:01] JeffersonJefferson-pixel commented on #1280
I work with @vithlaithla on this one. I'll be making a pull a request for the issue.

[2022-05-27 08:33] Linly1080 commented on #1320
Hi, I'd like to work on this issue. Could it be assigned to me if still available?

[2022-05-27 09:29] Linly1080 commented on #350
Hi, I'd like to work on this issue. Could it be assigned to me if still available?

[2022-05-27 10:18] Linly1080 commented on #304
Hi, I'd like to work on this issue. Could it be assigned to me if still available?

[2022-06-20 03:35] perfectGay commented on #1947
where Contact class?

[2022-06-20 08:12] TreeFireMen opened #2013 "wrong notes"
![image](https://user-images.githubusercontent.com/54127694/174556120-6fe151da-4b5e-4257-807b-9dbf0c47a67e.png)

[2022-06-29 14:35] afadhitya commented on #2013
Hi, I think better if you also link with the PR https://github.com/iluwatar/java-design-patterns/pull/2012

[2022-07-01 15:00] iluwatar commented on #1316
Ok @Tha-Davong, it's assigned to you

[2022-07-01 15:01] iluwatar commented on #1305
Yes @Liu-rj, please go ahead

[2022-07-01 15:03] iluwatar commented on #1298
Sure @lkpengcs, I'll assign it to you

[2022-07-01 15:12] iluwatar commented on #917
Reopening the issue, since it hasn't been implemented yet

[2022-07-01 15:28] iluwatar commented on #443
Ok @lkpengcs

[2022-07-01 15:29] iluwatar commented on #203
Ok @JMZ-kk

[2022-07-01 15:53] iluwatar commented on #1683
@HattoriHenzo are you still working on this?

[2022-07-01 15:56] iluwatar commented on #1500
Thanks for asking @anuragagarwal561994. I think the only remaining issue is that naked objects pattern still uses JUnit 4. Resolving this is covered by issues https://github.com/iluwatar/java-design-patterns/issues/1669 and https://github.com/iluwatar/java-design-patterns/issues/1683. I think we should close this task.

[2022-07-01 15:56] #1500 closed

[2022-07-01 15:58] iluwatar commented on #1287
Thanks @KingOfXi, I'll have a look

[2022-07-01 15:59] iluwatar commented on #556
Ok @Ooi-YeeJing

[2022-07-01 15:59] iluwatar commented on #1290
Yep @lkpengcs, go ahead

[2022-07-01 17:27] RemcoBuddelmeijer commented on #917
I just now noticed that this has been going under my radar for all those years. I think 3 years is the charm. I'll be happy to pick this up and fix it up immediatelly @iluwatar

[2022-07-02 08:12] perfectGay commented on #2013
#2012

[2022-07-02 12:46] HattoriHenzo commented on #1683
@iluwatar Sorry, I have started but not able to finish, because of lake of time. It seems there are many changes with the version of Apache Isis.

[2022-07-14 18:20] Arushisingh23 opened #2016 "translation error"

[2022-07-26 01:02] pedromarch1 commented on #2016
Where in the repo is this error?

[2022-08-01 14:14] bikashdaga commented on #525
Hey,
You can refer this too - https://www.scaler.com/topics/design-patterns/factory-design-pattern/

[2022-09-06 18:49] rushisuper commented on #1957
Hi is this issue still up for taking, or is it closed? I would like to contribute

[2022-09-08 12:55] #584 closed

[2022-09-10 12:20] iluwatar commented on #1266
Ok @KingOfXi, go ahead

[2022-09-10 12:21] iluwatar commented on #1326
Yes @Linly1080, it's all yours

[2022-09-10 12:22] #1974 closed

[2022-09-10 12:24] iluwatar commented on #1929
Thanks @Linly1080, please go ahead

[2022-09-10 12:25] iluwatar commented on #1263
Ok @Linly1080

[2022-09-10 13:09] iluwatar commented on #1992
Seems fixed in the PR, so I'll close this @KingOfXi

[2022-09-10 13:09] #1992 closed

[2022-09-10 13:44] iluwatar commented on #1957
Fixed with https://github.com/iluwatar/java-design-patterns/pull/1994

[2022-09-10 13:44] #1957 closed

[2022-09-10 16:34] xyllq999 commented on #1968
I have fixed this issue, pls review and merge this. @iluwatar

[2022-09-11 12:07] iluwatar commented on #1262
Ok @Liu-rj

[2022-09-11 12:14] iluwatar commented on #1289
Yes, go ahead @SpaceIshtar

[2022-09-11 12:36] iluwatar commented on #841
Sure, go ahead @Ooi-YeeJing

[2022-09-11 12:37] iluwatar commented on #1258
Thanks @inkfin, go ahead

[2022-09-11 12:38] iluwatar commented on #1301
Ok @Tha-Davong

[2022-09-16 06:50] xmnh commented on #1965
![image](https://user-images.githubusercontent.com/48951804/190574787-9a6ca2d2-522b-4aa0-80d8-60506ad54696.png)

[2022-09-17 03:55] Linly1080 commented on #1326
@iluwatar sorry, I have no time to do the work now.

[2022-09-17 03:56] Linly1080 commented on #1929
@iluwatar sorry, I have no time to do the work now.

[2022-09-17 03:56] Linly1080 commented on #1263
@iluwatar sorry, I have no time to do the work now.

[2022-09-18 10:37] #1262 closed

[2022-09-18 10:46] iluwatar commented on #1281
Ok @vithlaithla

[2022-09-18 10:57] iluwatar commented on #1306
Thanks @MathewJaniec, please go ahead

[2022-09-19 16:59] iluwatar opened #2026 "Sunsetting EIPs and cloud patterns from this repository"
In the future, we want to concentrate on pure Java design patterns. Implementing EIPs requires an asynchronous messaging framework, and there are plenty of those. Similarly, implementing cloud design patterns requires a cloud platform. Basically, one could create a new repository for each technology choice e.g. camel-enterprise-integration-patterns, spring-enterprise-integration-patterns, aws-clou

[2022-09-19 22:49] mohanaraosv commented on #2026
Your proposal is good, Instead of removing it!! Shall we create new repositories and move these patterns to save efforts already done and archive them if you wish to do?

[2022-09-20 02:27] dmdbilal commented on #590
I've made the pull request but it fails in 1 test and I'm a beginner to open source. Can someone explain why I'm failed in that test.
Test:
if [ -n "${CIRCLE_PR_NUMBER}" ]; then MAVEN_OPTS="-Xmx3000m" xvfb-run ./mvnw -B clean verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar \ -Dsonar.pullrequest.key=${CIRCLE_PR_NUMBER} \ -Dsonar.pullrequest.branch=${CIRCLE_BRANCH} \ -Dsonar.pullreques

[2022-09-21 16:27] #115 closed

[2022-09-21 16:28] #116 closed

[2022-09-21 16:29] #117 closed

[2022-09-21 16:29] #118 closed

[2022-09-21 16:29] #119 closed

[2022-09-21 16:30] #120 closed

[2022-09-21 16:32] #145 closed

[2022-09-21 16:32] #144 closed

[2022-09-21 16:32] #142 closed

[2022-09-21 16:33] #141 closed

[2022-09-21 16:33] #140 closed

[2022-09-21 16:33] #139 closed

[2022-09-21 16:34] #138 closed

[2022-09-21 16:34] #137 closed

[2022-09-21 16:34] #136 closed

[2022-09-21 16:34] #135 closed

[2022-09-21 16:34] #134 closed

[2022-09-21 16:35] #133 closed

[2022-09-21 16:35] #132 closed

[2022-09-21 16:35] #131 closed

[2022-09-21 16:35] #130 closed

[2022-09-21 16:36] #129 closed

[2022-09-21 16:36] #128 closed

[2022-09-21 16:36] #127 closed

[2022-09-21 16:36] #126 closed

[2022-09-21 16:36] #125 closed

[2022-09-21 16:37] #124 closed

[2022-09-21 16:37] #123 closed

[2022-09-21 16:37] #122 closed

[2022-09-21 16:38] #174 closed

[2022-09-21 16:38] #172 closed

[2022-09-21 16:39] #171 closed

[2022-09-21 16:39] #170 closed

[2022-09-21 16:39] #169 closed

[2022-09-21 16:39] #168 closed

[2022-09-21 16:40] #167 closed

[2022-09-21 16:40] #166 closed

[2022-09-21 16:40] #165 closed

[2022-09-21 16:40] #164 closed

[2022-09-21 16:40] #163 closed

[2022-09-21 16:41] #162 closed

[2022-09-21 16:41] #160 closed

[2022-09-21 16:41] #159 closed

[2022-09-21 16:41] #158 closed

[2022-09-21 16:41] #157 closed

[2022-09-21 16:42] #156 closed

[2022-09-21 16:42] #155 closed

[2022-09-21 16:42] #154 closed

[2022-09-21 16:42] #153 closed

[2022-09-21 16:43] #152 closed

[2022-09-21 16:43] #151 closed

[2022-09-21 16:43] #150 closed

[2022-09-21 16:43] #149 closed

[2022-09-21 16:43] #148 closed

[2022-09-21 16:49] #175 closed

[2022-09-21 16:52] #457 closed

[2022-09-21 16:52] #453 closed

[2022-09-21 16:53] #448 closed

[2022-09-21 16:53] #446 closed

[2022-09-21 16:53] #445 closed

[2022-09-21 16:54] #444 closed

[2022-09-21 16:54] #443 closed

[2022-09-21 16:54] #442 closed

[2022-09-21 16:54] #441 closed

[2022-09-21 17:03] #1331 closed

[2022-09-21 17:04] #1330 closed

[2022-09-21 17:04] #1328 closed

[2022-09-21 17:04] #1327 closed

[2022-09-21 17:05] #1326 closed

[2022-09-21 17:08] iluwatar commented on #2026
It's ok to remove. Anyone can find them from version history if needed.

[2022-09-21 17:08] #2016 closed

[2022-09-21 17:11] #2013 closed

[2022-09-21 17:14] #1948 closed

[2022-09-21 17:16] #1335 closed

[2022-09-21 17:16] #1334 closed

[2022-09-21 17:17] #1332 closed

[2022-09-21 17:28] iluwatar commented on #1965
This issue is free for taking again.

[2022-09-21 17:29] iluwatar commented on #1947
@velmurugan0411 are you still working on this?

[2022-09-21 17:30] iluwatar commented on #1843
@Surya-Prakash-Reddy are you working on this?

[2022-09-21 17:34] #1684 closed

[2022-09-21 17:42] iluwatar commented on #1316
@Tha-Davong are you working on this?

[2022-09-21 17:46] iluwatar commented on #1305
@Liu-rj are you working on this?

[2022-09-21 17:49] iluwatar commented on #1298
@lkpengcs are you working on it?

[2022-09-21 17:53] iluwatar commented on #1290
@lkpengcs are you working on it?

[2022-09-21 17:58] iluwatar commented on #1269
@SpaceIshtar are you working on this?

[2022-09-21 18:01] iluwatar commented on #1246
@nittysharma are you still working on this?

[2022-09-21 18:08] #525 closed

[2022-09-21 18:11] iluwatar commented on #351
@lkpengcs are you working on this?

[2022-09-21 18:12] iluwatar commented on #203
@JMZ-kk are you working on this?

[2022-09-21 18:18] iluwatar commented on #1280
Ok @JeffersonJefferson-pixel

[2022-09-21 18:19] iluwatar commented on #1320
Yes @Linly1080, sorry for late reply

[2022-09-21 18:20] iluwatar commented on #350
Ok @Linly1080

[2022-09-21 18:23] iluwatar commented on #917
Haha, I'll assign the issue to you @RemcoBuddelmeijer. Sorry for late reply!

[2022-09-21 18:32] iluwatar commented on #590
@ohbus could you take a look at this ^

[2022-09-21 20:51] RemcoBuddelmeijer commented on #917
No worries at all! Looks like we are both prone to giving late responses 😄

[2022-09-22 02:41] lkpengcs commented on #351
Sorry, I am a little busy these days and cannot work on this.

[2022-09-22 03:15] Liu-rj commented on #1305
@iluwatar yeah, I will fix that pr #1984 these days once I have time.

[2022-09-22 09:05] Tha-Davong commented on #1316
@iluwatar Yeah, I will find some time to make changes as suggested

[2022-09-22 09:30] JMZ-kk commented on #203
Sorry, I have no more time to work on this now.

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Ilkka ***@***.***&gt;;
发送时间: 2022年9月22日(星期四) 凌晨2:12
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [iluwatar/java-design-patterns] Finite State Machine pattern (#203)

@JMZ-kk are you working on this?

—
Reply to this email directly, view it on GitHub, or unsubscribe.
Yo

[2022-09-22 12:38] Saptadev-Chatterjee commented on #1322
what is the issue ?

[2022-09-23 00:03] hartpoli commented on #983
ok.

tq

[2022-09-25 07:50] Linly1080 commented on #1320
Sorry, I have no time work on it now.

[2022-09-25 07:50] Linly1080 commented on #350
Sorry, I have no time work on it now.

[2022-09-25 07:51] Linly1080 commented on #304
Sorry, I have no time work on it now.

[2022-09-25 18:10] #1968 closed

[2022-09-25 18:42] yonatankarp opened #2032 "Update JVM version to the latest stable release"
As the end of support of JVM 11 would be in exactly 1 year (September 2023) this repository should probably consider moving to the next stable JVM release (JVM 17) while adopting the features that have been introduced in it to update the existing patterns.

like to Oracle’s page regarding support versions:
https://www.oracle.com/java/technologies/java-se-support-roadmap.html

[2022-09-26 05:48] iluwatar commented on #2032
This is important for us. Some steps that should be considered are laid out in the plan https://github.com/iluwatar/java-design-patterns/wiki/19.-Java-17-transition

[2022-09-26 06:35] yonatankarp commented on #2032
it might be also a good time to remove Lombok as most of the functionality provided by it would be available in a `Record` classes

[2022-09-26 06:39] yonatankarp commented on #2032
Couple more thoughts:

* I think that we can also remove Lombok with this upgrade, as 99% of the functionality it provides is available in a `Record` class now.
* The change is pretty big, maybe it would make sense to create a dedicated feature branch with branch protection for this task? how was the previous migration from JVM 8 to JVM 11? are there any learnings from it?

Also, I could probably

[2022-09-26 07:40] ohbus commented on #2032
Hey!

I would like to help!

Thanks,
Subhrodip.

On Mon, Sep 26, 2022, 12:12 Yonatan Karp-Rudin ***@***.***>
wrote:

[2022-09-28 16:08] iluwatar opened #2033 "Ensure plugin compatibility with Java 17"
This issue is a part of the Java 17 transition plan at https://github.com/iluwatar/java-design-patterns/wiki/19.-Java-17-transition.

The Maven build uses a plethora of plugins. In this issue let's ensure that all the used plugins have been updated to versions that support Java 17.

Acceptance criteria

- All the Maven plugins have been updated to recent versions that support Java 17

[2022-09-28 16:17] iluwatar opened #2034 "Upgrade Lombok version to support Java 17"
This issue is a part of the Java 17 transition plan at https://github.com/iluwatar/java-design-patterns/wiki/19.-Java-17-transition.

According to https://github.com/projectlombok/lombok/issues/2898, Lombok supports Java 17 since version 1.18.22. Our version is a bit behind that, so let's upgrade to the latest.

Acceptance criteria

- Lombok version has been updated to the latest available

[2022-09-28 16:31] iluwatar opened #2035 "Build with JDK 17"
This task is part of the transition plan at https://github.com/iluwatar/java-design-patterns/wiki/19.-Java-17-transition. Here we address the issues that come up when building the project with JDK 17 using language level Java 11.

Acceptance criteria

- Build the project with JDK 17 while keeping the maven-compiler-plugin language level at 11
- Fix the errors that come up during the build

[2022-09-28 16:36] iluwatar opened #2036 "Run with Java 17"
This is part of the transition plan at https://github.com/iluwatar/java-design-patterns/wiki/19.-Java-17-transition. In this issue, we build the project using JDK 11 and try to run it with Java 17 runtime.

Acceptance criteria

- The project is built with JDK 11
- The pattern examples are executed with Java 17 runtime e.g. `java -jar proxy.jar`
- The errors that come up in the testing are fixed

[2022-09-28 16:38] iluwatar opened #2037 "Upgrade dependencies to support Java 17"
This issue is a part of the transition plan at https://github.com/iluwatar/java-design-patterns/wiki/19.-Java-17-transition. Here we upgrade the dependencies so that they support Java 17.

Acceptance criteria

- Project dependencies have been upgraded so that each of them supports Java 17

[2022-09-28 16:44] iluwatar commented on #2032
Hey guys, I've created the first issues to start the [Java 17 transition](https://github.com/iluwatar/java-design-patterns/wiki/19.-Java-17-transition). Feel free to pick up issues from this list

- https://github.com/iluwatar/java-design-patterns/issues/2033
- https://github.com/iluwatar/java-design-patterns/issues/2034
- https://github.com/iluwatar/java-design-patterns/issues/2035
- https://gith

[2022-09-28 18:04] S7sRuss commented on #1012
Can I help?

[2022-09-28 18:13] iluwatar commented on #1012
Ok @S7sRuss, thanks for the help

[2022-09-30 18:42] akhilpamwani commented on #2037
Hi I am interested in your project
Please Hire me

[2022-09-30 18:54] karshil2309 commented on #2034
@iluwatar : I will update those hotfixes for java 17. Will create separate branch and create pr for the same.

[2022-10-01 11:52] harikesh409 commented on #2035
@iluwatar ,
Can I work on this

[2022-10-01 23:39] SumukhaGargeshP commented on #2037
I would like to work on this issue. Please assign it to me.

[2022-10-02 05:35] Aarav238 commented on #2037
I would like to work on this issue . Please assign it to me

[2022-10-02 09:15] samratpodder commented on #978
What is the status of this Issue ? Is it resolved or is anyone working on it? @iluwatar

[2022-10-02 09:29] aitorfi opened #2045 "Translate abstract-document readme to Spanish"
I'll translate the readme file of the abstract-document design pattern to Spanish and place it under localization.es.abstract-document.

[2022-10-02 12:04] ArinCodes commented on #2036
I want to help in this issue

[2022-10-02 16:44] Rajat-Sharma1710 commented on #2037
I can work on this issue. Assign it to me

[2022-10-03 01:00] HeVictor commented on #2033
Hi, I would like to give this a crack if that's alright. Thanks!

[2022-10-03 10:29] HeVictor commented on #2033
Hi @iluwatar, I've been working on this issue and if it's alright I'd like to ask for some tips just to see if I'm on the right track. So far after forking and cloning the repo locally I've built the project in my IDE and I've configured it to use Java 17. Initially my approach was to go through each plugin to see if their versions have any release notes on whether it supports JDK 17 and then bump

[2022-10-03 11:22] iluwatar commented on #2034
Ok @karshil2309

[2022-10-03 11:24] iluwatar commented on #2035
Yes, go ahead @harikesh409

[2022-10-03 11:26] iluwatar commented on #978
It's not resolved yet. Would you like to pick it up @samratpodder?

[2022-10-03 11:27] iluwatar commented on #2045
Ok @aitorfi

[2022-10-03 11:28] iluwatar commented on #2036
Ok @ArinCodes

[2022-10-03 11:31] iluwatar commented on #2037
To be fair, @akhilpamwani expressed interest first

[2022-10-03 11:38] iluwatar commented on #2033
I think executing `./mvnw clean install` should uncover 99% of the issues. Additionally, we can try to run each pattern using the command line e.g. `java -jar proxy.jar`, but the unit tests should mostly cover it already.

[2022-10-03 14:57] OtherHorizon commented on #187
Hi, I'm new to this project. How would i go about contributing to it?Thanks.

[2022-10-03 23:28] u7341910 commented on #1843
I am working on this. Could you assign this to me?

[2022-10-04 05:20] iluwatar commented on #187
@OtherHorizon see https://github.com/iluwatar/java-design-patterns/wiki/01.-How-to-contribute

[2022-10-04 05:21] iluwatar commented on #1843
Ok @u7341910

[2022-10-04 06:40] koriop commented on #2026
Can I take this issue?

[2022-10-04 13:11] shibicr93 commented on #1099
Hello, @iluwatar, I would like to work on this please assign this issue to me

[2022-10-04 13:17] shibicr93 commented on #1303
Hello @iluwatar , I'd like to work on this issue. If assigned, I can open a PR in 2 days.

[2022-10-04 16:59] iluwatar commented on #2026
Ok @koriop

[2022-10-04 17:00] iluwatar commented on #1099
All right, good luck @shibicr93

[2022-10-04 17:00] iluwatar commented on #1303
Assigned to you @shibicr93

[2022-10-04 17:23] iluwatar opened #2054 "Sonar analysis failing due to obsolete Node version"
This came up in a recent pull request build:

Acceptance criteria

- Node version used in the CI build has been upgraded to fix the Sonar analysis

[2022-10-04 17:43] #2034 closed

[2022-10-04 20:50] HeVictor commented on #1683
@iluwatar I'm happy to give my crack at this as mentioned from my PR for #2033 if that's alright.

[2022-10-04 21:31] m-inh opened #2056 "Add localization for Vietnamese"
I translate `README.md` file and add it as new file under `/localization/vi/` folder.

[2022-10-04 21:35] m-inh commented on #2056
#2047

[2022-10-05 05:07] KyleSongxy commented on #1762
If this problem still needs to be solved, I think I can help, can this issue be assigned to me?

[2022-10-05 05:16] tylnesh commented on #2035
Is this already fixed in master branch? I've built the current state against JDK17 and have no errors.

[2022-10-05 06:08] iluwatar commented on #1683
Sure @HeVictor

[2022-10-05 06:12] iluwatar commented on #1762
Ok @KyleSongxy, thanks for helping out

[2022-10-05 06:18] iluwatar commented on #2035
For me, it fails during naked objects integration tests

[2022-10-05 09:24] dgruntz commented on #1099
Fixed with PR #2057

[2022-10-05 12:39] alainalawson02 commented on #1971
I would like to add a new design pattern entry for event bus and help @javatlacati understand how event bus is its own design patter.  Can you please assign me? @iluwatar

[2022-10-05 18:46] JanFidor commented on #1947
@iluwatar could I pickup this issue?

[2022-10-05 18:53] JanFidor commented on #590
@iluwatar could I work on delegation?

[2022-10-06 05:48] iluwatar commented on #590
Sure, go ahead @JanFidor

[2022-10-06 06:33] akhil9281 commented on #978
I would like to work on this issue for `hacktoberfest`.

[2022-10-06 07:17] u7076185 commented on #1219
Hi @iluwatar,
We are interested to pick this up. Would you mind assigning this to me?
Thanks.

[2022-10-06 10:55] RemcoBuddelmeijer commented on #917
Bump. Will finish this issue this weekend.

[2022-10-06 11:07] ChenQixiangZzz commented on #590
@iluwatar @ohbus May I work on the subclass-sandbox?

[2022-10-06 11:10] annieS987 commented on #1305
@iluwatar Hi, can I work on this one as well?

[2022-10-06 11:12] murphShaw commented on #590
@iluwatar Can I please contribute to the factory-kit?

[2022-10-06 11:19] annieS987 commented on #590
@iluwatar Can I work on the role-object part? Cheers.

[2022-10-06 13:29] PanSem opened #2061 "Add greek localization"
I translate to greek the README.md file and add it as new file under /localization/el/ folder. Pr #2060

[2022-10-06 13:37] pchugh17 commented on #978
Let me know if contribution is needed for this. I would like to take this up or similar issues.

[2022-10-07 00:35] DateNolan commented on #393
@iluwatar Hey there, would I be able to work on this issue?

[2022-10-07 00:38] agam1610 commented on #1311
Hi can I take this issue and work on it?

[2022-10-07 00:38] DoopTheSoup commented on #394
Hi, may I attempt to get this working? It will take a little time though.

[2022-10-07 00:39] JoshuaSinglaANU commented on #1261
Hey @iluwatar, may I please pick up on this issue? I am interested in working on this.

[2022-10-07 03:20] vishhhhhhhh commented on #1260
I am happy to have a go at this task, please assign it to me :)

[2022-10-07 03:23] nairpranav331 commented on #1965
Can you specify more about this.!

[2022-10-07 05:54] Dehaoa commented on #393
@iluwatar  Hi， Can I work on it?

[2022-10-07 06:54] samratpodder commented on #978
Yes, I would like to work on it. @iluwatar

[2022-10-07 12:31] MohammadRehanPatel opened #2062 "add Filter pattern"
please give PR with Hacktoberfest badge

[2022-10-07 20:22] shibicr93 commented on #2026
@iluwatar I am willing to work on this issue

[2022-10-07 20:25] shibicr93 commented on #1297
Hello @iluwatar , I can work on this pattern if there are no takers :-)

[2022-10-07 20:29] shibicr93 commented on #1099
@iluwatar  please assign this to @dgruntz  since he has already fixed it

[2022-10-07 20:31] shibicr93 commented on #1303
to be fixed in https://github.com/iluwatar/java-design-patterns/pull/2064.

[2022-10-08 00:56] rrreynaldo commented on #1270
Hi @iluwatar, I am interested and would like to give this issue a try. Can you assign it to me? Thanks!

[2022-10-08 05:27] skullkim commented on #2062
I like to work on this issue.

[2022-10-08 07:24] MohammadRehanPatel commented on #2062
I already have code for that woth a good example

On Sat, 8 Oct 2022, 10:57 am Yunki Kim, ***@***.***> wrote:

[2022-10-08 09:49] iluwatar commented on #1219
Sure thing, assigned to you @u7076185

[2022-10-08 09:52] iluwatar commented on #590
Excellent, go ahead @murphShaw @SammanPali @murphShaw @annieS987

[2022-10-08 09:53] iluwatar commented on #1320
Ok @alainalawson02

[2022-10-08 09:58] iluwatar commented on #1311
Yes, please proceed @agam1610

[2022-10-08 10:02] iluwatar commented on #1261
Ok @JoshuaSinglaANU

[2022-10-08 10:03] iluwatar commented on #1260
Yes @vishhhhhhhh, it's assigned to you now

[2022-10-08 10:06] iluwatar commented on #393
The fastest wins, so assigned to @DateNolan

[2022-10-08 10:07] iluwatar commented on #978
Assigned to @samratpodder

[2022-10-08 10:12] iluwatar commented on #2026
@shibicr93 that's fine since the user @ghost doesn't seem to exist anymore 🤷🏻‍♂️

[2022-10-08 10:12] iluwatar commented on #1297
All right, it's yours @shibicr93

[2022-10-08 10:14] iluwatar commented on #1099
Let's keep the issue open until the PR has been merged

[2022-10-08 10:15] iluwatar commented on #1270
Ok @rrreynaldo

[2022-10-08 10:31] iluwatar commented on #2062
Ok, assigned to @MohammadRehanPatel. Can you also list an authoritative source for the pattern?

[2022-10-08 10:54] #1193 closed

[2022-10-08 10:59] u7275858 commented on #1299
Hey @iluwatar I would like to work on this pattern. Do you mind assigning it to me.

[2022-10-08 11:21] zswl110 commented on #1296
I would like to work on it

[2022-10-08 12:20] MohammadRehanPatel commented on #2062
done

On Sat, Oct 8, 2022 at 4:01 PM Ilkka Seppälä ***@***.***>
wrote:

[2022-10-08 15:05] aitorfi opened #2066 "Translate the abstract-factory readme to Spanish"
I'll translate the readme file of the abstract-factory design pattern to Spanish and place it under localization.es.abstract-factory.

[2022-10-08 15:51] natashasrivastava commented on #1300
Hey @iluwatar
Can you assign this to me?

[2022-10-08 15:55] iluwatar commented on #1299
Ok @u7275858

[2022-10-08 15:56] iluwatar commented on #1296
Yes, go ahead @zswl110

[2022-10-08 15:57] iluwatar commented on #2066
All right @aitorfi

[2022-10-08 15:58] natashasrivastava commented on #328
https://upload.wikimedia.org/wikipedia/commons/d/d8/ETL_Architecture_Pattern.jpg
@iluwatar is not found. Also, I would like to work on it.

[2022-10-08 15:59] iluwatar commented on #1300
Done @natashasrivastava, good luck

[2022-10-08 16:02] iluwatar commented on #328
Assigned to you @natashasrivastava. Sorry about the link that has stopped working, but I'm sure you can find plenty more references by searching for ETL pattern

[2022-10-08 16:07] #2045 closed

[2022-10-09 01:59] u6810889 commented on #1596
Hi @iluwatar , can I work on this issue?

[2022-10-09 04:58] Songtao-Zhu commented on #1278
I would like to work on this issue.

[2022-10-09 05:08] u7281975 commented on #590
@iluwatar Hello, can I be assigned the data-bus design pattern?

[2022-10-09 06:44] Marikattt commented on #350
Hi @iluwatar, I would like to work on this issue. Could you assign this to me if it is available?

[2022-10-09 06:55] iluwatar commented on #1596
Go ahead @u6810889

[2022-10-09 06:56] iluwatar commented on #1278
Ok @Songtao-Zhu

[2022-10-09 06:56] iluwatar commented on #590
Ok @u7281975

[2022-10-09 06:57] iluwatar commented on #350
All right, go ahead @Marikattt

[2022-10-09 11:16] ohbus commented on #1965
@nairpranav331 It is a Chinese translation error.

[2022-10-09 15:45] #2054 closed

[2022-10-09 19:09] aitorfi opened #2077 "Translate the active-object readme to Spanish"
I'll translate the readme file of the active-object design pattern to Spanish and place it under localization.es.active-object.

[2022-10-10 04:38] mhe98 commented on #1307
@iluwatar, would you mind assigning this issue to me? I would like an attempt to implement this offline concurrency pattern. Thanks!

[2022-10-10 05:50] iluwatar commented on #2077
Ok @aitorfi

[2022-10-10 06:10] iluwatar commented on #1307
Ok @mhe98

[2022-10-10 06:54] Jesonzavic commented on #249
Hello @iluwatar, I'm interested in working on this issue.

[2022-10-10 09:28] hkattt commented on #1842
Hey @iluwatar, could I work on this issue?

[2022-10-10 12:28] MohammadRehanPatel commented on #2062
please add hacktoberfest tag

On Sat, Oct 8, 2022 at 5:50 PM MOHAMMAD REHAN PATEL <
***@***.***> wrote:

[2022-10-10 15:45] iluwatar commented on #1300
It's not. Belongs to patterns of enterprise application architecture book.

[2022-10-10 15:45] iluwatar commented on #249
Ok, assigned to you @Jesonzavic

[2022-10-10 15:46] iluwatar commented on #1842
All right @hkattt, you're free to proceed

[2022-10-10 15:51] iluwatar commented on #2062
The repository has the hacktoberfest tag. I believe it's enough for the contributors to submit any pull request, and once it gets approved, the hactoberfest PR count is increased.

[2022-10-11 04:47] shivu2002a commented on #1295
Can I work on this issue?

[2022-10-11 06:17] shivu2002a commented on #187
Can I work on this issue? Thanks.

[2022-10-11 08:28] MohammadRehanPatel commented on #2062
I Learn this pattern during a course from udamy

On Sat, Oct 8, 2022 at 4:01 PM Ilkka Seppälä ***@***.***>
wrote:

[2022-10-11 12:20] kiratalreja3 commented on #606
Hi, can I work on this issue? Thanks!

[2022-10-11 13:48] seongkyu-lim opened #2082 "Translate template-method pattern readme to Korean"
I'll translate the readme file of the template-method design pattern to Korean and place it under localization/ko/template-method.

[2022-10-11 18:33] rohitgautam16 commented on #2036
Can I help in this isssue ..?

[2022-10-12 03:33] YuechenL-Kristy commented on #1298
Hi, can I work on it?

[2022-10-12 03:42] ShawnMaxShen commented on #1312
Hi, Can I work on this issue?

[2022-10-12 05:24] mdfaizanahmed786 opened #2083 "Link error: Fix broken link in "How to contribute" page."
### A broken link found in "How to contribute" page present in **New Pattern** section.
**Where?**
7th point.

[2022-10-12 06:02] VivM1 commented on #2037
Hey, its been 9 days since... do we have any upgrade ? . If not then I would like to work on this one.

[2022-10-12 10:01] aniketkumar-1907 commented on #2062
Can I work on this issue @skullkim.

[2022-10-12 11:44] u7147694 commented on #1318
Hi, could you assign this issue to me please? I am interested in fixing this issue.

[2022-10-12 12:27] TwentyVentti commented on #79
I can help work on this pattern let me know if that’s okay with you.

[2022-10-13 00:24] steph88ss commented on #1323
Hi, I would like to work on this issue. Could you assign it to me?

[2022-10-13 00:50] LambertJi commented on #1278
Could you please send it to my email(956952196@qq.com)? I want to work on this issue but I can't open it. Thank you very much.

[2022-10-13 02:43] drashan14 commented on #2062
Sir i would like to do work on this topic could you assign me this issue.

[2022-10-13 05:08] steph88ss commented on #590
@iluwatar Hi, can I be assigned the reader-writer-lock pattern?

[2022-10-13 05:18] u6949604 commented on #1309
Hi, I would like to work on this issue. Could I please be assigned?

[2022-10-13 05:21] XianWu99 commented on #590
@iluwatar Hi, can I be assigned to the data-mapper design pattern?

[2022-10-13 05:38] vikashkr-07 commented on #2083
I love to do this if you'll assign this task to me

[2022-10-13 10:48] astitva0011 commented on #2082
!assign

[2022-10-13 11:46] csankhala commented on #2083
Hi @mdfaizanahmed786 ,Would you provide more details for issue? I did not find issue any link.
Please share screenshot if possible. Thanks

[2022-10-13 14:20] JurenXu commented on #1293
Can I take this?

[2022-10-13 14:24] ZQH777 commented on #1302
Is this issue still free? Can I work on it?

[2022-10-13 15:25] JurenXu commented on #1275
Can I take this?

[2022-10-13 17:36] iluwatar commented on #2056
Let's keep it open until the PR has been merged

[2022-10-13 17:39] iluwatar commented on #606
Ok @kiratalreja3

[2022-10-13 17:40] iluwatar commented on #1295
Assigned to @shivu2002a since he was the first. @kiratalreja3 I hope you find something else that interests you

[2022-10-13 17:43] iluwatar commented on #187
Ok @Omar-ahmed314, this is assigned for you

[2022-10-13 17:44] iluwatar commented on #1298
Assigned to @YuechenL-Kristy

[2022-10-13 17:44] iluwatar commented on #1312
Ok @ShawnMaxShen

[2022-10-13 17:46] iluwatar commented on #2083
Assigned to @vikashkr-07

[2022-10-13 17:47] iluwatar commented on #1318
All right @u7147694

[2022-10-13 17:48] iluwatar commented on #79
Nice, please go ahead @TwentyVentti

[2022-10-13 17:48] iluwatar commented on #1323
Ok @steph88ss

[2022-10-13 17:49] Omar-ahmed314 commented on #187
Thank you for considering me, @iluwatar , may I know the deadline for this issue? away from the deadline of hacktoberfest

[2022-10-13 17:50] iluwatar commented on #1309
Ok @u6949604

[2022-10-13 17:51] iluwatar commented on #590
Github doesn't allow me to add any more assignees, but consider yourselves hired @steph88ss and @XianWu99

[2022-10-13 17:52] iluwatar commented on #2082
Ok @seongkyu-lim

[2022-10-13 17:54] iluwatar commented on #1302
Ok @ZQH777

[2022-10-13 17:54] iluwatar commented on #1275
Ok, you're assigned @JurenXu

[2022-10-13 17:58] iluwatar commented on #187
I'd be happy for you if you completed it during the hacktober month 😀

[2022-10-13 17:59] vikashkr-07 commented on #2083
Doing

[2022-10-13 21:15] mdfaizanahmed786 commented on #2083
Yeah sure, the link is now working! There was a broken link in [this page](https://github.com/iluwatar/java-design-patterns/wiki/01.-How-to-contribute) in the 7th point under New Pattern.

[2022-10-13 21:51] being-nitin commented on #2083
could you assign this task to me

[2022-10-13 22:58] Adrianp3623 commented on #1293
Hi there, can I take this issue? Thank you!

[2022-10-14 00:36] m-inh commented on #2056
It's been merged already @iluwatar , pls check #2047

[2022-10-14 04:29] alainalawson02 commented on #1320
Expected latest time to have complete by: 28/10/2022

[2022-10-14 05:51] csankhala commented on #2083
Great. Can we close this issue if its already fixed?

[2022-10-14 12:49] #2083 closed

[2022-10-14 12:49] mdfaizanahmed786 commented on #2083
The link is now working.

[2022-10-14 13:14] aitorfi opened #2089 "Translate the acyclic-visitor readme to Spanish"
I'll translate the readme file of the acyclic-visitor design pattern to Spanish and place it under localization.es.acyclic-visitor.

[2022-10-15 13:25] BorisBDing commented on #1312
hi, anything I can work for this issue?

[2022-10-16 02:29] Kaiyan1Zhang commented on #1322
Can I work on this issue

[2022-10-16 03:14] Kaiyan1Zhang commented on #351
May I try to implemented this issue?

[2022-10-16 06:14] Zaid-Parkar commented on #2082
Hello Sir,
I would like to contribute to this project,
I am new to hacktoctoberfest and this would be a great beginning.
Thank you...

[2022-10-16 06:14] Zaid-Parkar commented on #2077
Hello Sir,
I would like to contribute to this project,
I am new to hacktoctoberfest and this would be a great beginning.
Thank you...

[2022-10-16 06:14] Zaid-Parkar commented on #2066
Hello Sir,
I would like to contribute to this project,
I am new to hacktoctoberfest and this would be a great beginning.
Thank you...

[2022-10-16 06:14] Zaid-Parkar commented on #2062
Hello Sir,
I would like to contribute to this project,
I am new to hacktoctoberfest and this would be a great beginning.
Thank you...

[2022-10-16 06:14] Zaid-Parkar commented on #2061
Hello Sir,
I would like to contribute to this project,
I am new to hacktoctoberfest and this would be a great beginning.
Thank you...

[2022-10-16 06:14] Zaid-Parkar commented on #2056
Hello Sir,
I would like to contribute to this project,
I am new to hacktoctoberfest and this would be a great beginning.
Thank you...

[2022-10-16 06:14] Zaid-Parkar commented on #2037
Hello Sir,
I would like to contribute to this project,
I am new to hacktoctoberfest and this would be a great beginning.
Thank you...

[2022-10-16 08:24] DoopTheSoup commented on #394
@iluwatar I was looking through the past progress of this issue, and was wondering if I could get an elaboration on what you meant by "threaded messages that sends multiple stateless messages" - https://github.com/iluwatar/java-design-patterns/pull/1769/commits/1324c0d0753f1af0a816172c4eb847cad2f8c4b1#r643438460

[2022-10-16 09:04] Kshitij-200 commented on #2077
Hello Sir
I want to contribute in this project.
It will be a great beginning for me if you assign me this issue.
Thank you

[2022-10-16 14:07] Kshitij-200 commented on #2082
Hello sir,
Can you please assign me this issue.

[2022-10-16 14:17] burno1 opened #2096 "Add lombok to data-transfer-object pattern"
I noticed that the pattern is well written but is using a lot of getters and setters without need. We can add lombok to it and have it cleaner to read and understand

[2022-10-16 14:29] burno1 commented on #2096
Also, I noticed that a lot of modules in the project has the same situation, should we create one issue per each, since a module is not coupled or you suggest another approach @iluwatar

[2022-10-16 14:49] burno1 commented on #2096
I have opened 2 PRS, haven't noticed the bot who handles contributors (sorry about that)

[2022-10-16 14:54] iluwatar commented on #978
@pchugh17 the issue is freed again if you want to take it?

[2022-10-16 14:56] iluwatar commented on #978
@iluwatar I am unable to upgrade the Spring Data JPA version. It seems that Spring Version as well as the SpringBoot Version is very much outdated. To upgrade the JPA version we also require upgrading the other two which is introducing too many test failures across the majority of modules. I would suggest taking the initiative to upgrade the entire repository to the latest Spring Versions. If you

[2022-10-16 14:58] iluwatar commented on #1322
All right, please go ahead @Kaiyan1Zhang

[2022-10-16 14:59] iluwatar commented on #351
Yes @Kaiyan1Zhang

[2022-10-16 15:01] iluwatar commented on #2056
You're right @m-inh, thanks for notifying

[2022-10-16 15:01] #2056 closed

[2022-10-16 15:16] iluwatar commented on #394
@DoopTheSoup the message passing mechanism is one of the core parts of this pattern. I think there should be the sender and the message collector components. I suggest that you take a look how this has been implemented in producer-consumer pattern.

[2022-10-16 15:21] burno1 opened #2100 "abstract factory is not compliant with checkstyle"
![image](https://user-images.githubusercontent.com/39165280/196043611-d439155e-f034-4613-bde5-bc996cae9af9.png)

[2022-10-16 15:32] burno1 commented on #2100
You can assign me @iluwatar

[2022-10-16 16:08] #2066 closed

[2022-10-16 16:15] #2100 closed

[2022-10-16 16:16] burno1 commented on #2100
CircleCI is not complaining about it, must be local configuration.

[2022-10-16 16:25] #2077 closed

[2022-10-17 03:18] shivu2002a commented on #1295
@iluwatar Thank you for assigning me. What's the deadline to solve this issue?

[2022-10-17 03:28] LeseChe commented on #556
@iluwatar if @Ooi-YeeJing is inactive, may I take and continue this issue?

[2022-10-17 04:53] danfengHuang-007 commented on #214
Hi there,

I would like to try this issue, could you please assign this issue to me?

[2022-10-17 06:06] Adrianp3623 commented on #1293
@iluwatar hi, Could I take this issue? Thank you!

[2022-10-17 08:45] JurenXu commented on #1275
Thank you! I will start working on this

[2022-10-17 09:19] ArchontisKostis commented on #2062
is anyone assigned to this issue? Iwould like to work on it

[2022-10-17 11:39] MohammadRehanPatel commented on #2062
I Already Done it

On Mon, Oct 17, 2022 at 2:50 PM Archontis Kostis ***@***.***>
wrote:

[2022-10-17 13:14] burno1 opened #2107 "Add lombok to step-builder pattern"
This pattern doesn't have lombok added to it, we should add to have cleaner code.

[2022-10-17 13:18] burno1 commented on #2107
PR created, waiting for review.

[2022-10-17 16:20] ShawnMaxShen commented on #1312
@BorisBDing  bro, we can have a discussion privately. Your comment may make maintainer a little confusing.
(For maintianer, me and Boris are working together~)

[2022-10-17 16:31] iluwatar commented on #1295
I'm not too strict, but if you would like to participate in Hacktoberfest, better do it during this month

[2022-10-17 16:33] iluwatar commented on #214
Ok, done @danfengHuang-007

[2022-10-17 16:34] iluwatar commented on #1293
Yes, go ahead @Adrianp3623

[2022-10-17 17:21] iluwatar commented on #2083
Thanks for fixing this!

@all-contributors please add @mdfaizanahmed786 for docs

[2022-10-17 17:34] #2089 closed

[2022-10-18 00:00] BillyJaffray commented on #1283
Can I work on this issue? Thanks!

[2022-10-18 02:51] BorisBDing commented on #1312
Hi, Can I work on this issue?

[2022-10-18 09:39] shivu2002a commented on #1295
Yeah sure. Thank you.

[2022-10-18 14:26] JurenXu commented on #1275
Hi, Iluwatar.
I got a question, do I have to use the h2 database, or can I use MySQL instead?

[2022-10-19 00:30] annieS987 commented on #88
Hi, may I help with this issue?

[2022-10-19 07:12] rishu1601 opened #2121 "Add hindi language localization support for the design patterns"
Add the following README files:
- localization/hi/adapter/README.md
- localization/hi/factory/README.md
- localization/hi/observer/README.md

[2022-10-19 07:13] rishu1601 commented on #2121
I nominate myself to work on the issue @iluwatar

[2022-10-19 16:31] sabalanga06 commented on #1843
hello sir ,can you assign this issue to me ?

[2022-10-19 16:54] iluwatar commented on #1283
Ok @BillyJaffray

[2022-10-19 16:59] iluwatar commented on #88
Yes, thank you, go ahead @annieS987

[2022-10-19 17:00] iluwatar commented on #2121
Looking forward to the PR @rishu1601

[2022-10-19 17:02] iluwatar commented on #590
@shubhig226 please mention the pattern you'd like to work on

[2022-10-19 17:04] iluwatar commented on #1843
It's already under construction @sabalanga06, so please find something else

[2022-10-19 19:12] aitorfi opened #2124 "Translate the adapter readme to Spanish"
I'll translate the readme file of the adapter design pattern to Spanish and place it under localization.es.adapter.

[2022-10-20 03:40] rishu1601 commented on #2121
Hey @iluwatar , please review this PR: https://github.com/iluwatar/java-design-patterns/pull/2128

[2022-10-20 04:52] Jeremy-Cains-ANU commented on #88
G'day. I am also willing to have a crack at this one.

[2022-10-20 11:16] Chak-C commented on #233
Can I take on this issue?

[2022-10-20 22:31] robertvolkmann commented on #978
Created #2131 to fix the above security alert.

[2022-10-21 01:27] nakul251197 commented on #1288
I would like to work on this issue. Could you assign me this?

[2022-10-21 04:24] JoshuaSinglaANU commented on #1261
@iluwatar I am almost ready to make a PR, however, the automatic class diagram generation isn't working on my end. I have updated the parent pom.xml file to include my work and locally installed PlantUML, yet still, no class diagram is made. The wiki does not give much detail either. May I please know how to have this feature work?

[2022-10-22 06:09] iluwatar commented on #2124
Ok @aitorfi

[2022-10-22 06:14] iluwatar commented on #233
Ok @Chak-C

[2022-10-22 06:16] iluwatar commented on #1288
Yes, please go ahead @nakul251197

[2022-10-22 06:49] #2096 closed

[2022-10-22 06:51] iluwatar commented on #2096
Yes, this approach is fine @burno1

[2022-10-22 07:19] SammanPali commented on #556
Hey @iluwatar, I am working alongside @LeseChe for this implementation - would it be possible for me to also be assigned to this issue?

Thanks

[2022-10-22 11:16] m-inh opened #2140 "Translate abstract-document pattern to Vietnamese"
I would like to translate `abstract-document` pattern to Vietnamese and add it under `/localization/vi/` folder.

[2022-10-22 11:23] m-inh opened #2141 "Translate abstract-factory pattern to Vietnamese"
I would like to translate `abstract-factory` pattern to Vietnamese and add it under `/localization/vi/` folder.

[2022-10-22 11:25] dengWuuu opened #2142 "about abstract factory"
In my view, maybe AbstractFactory need a superfactory and it can include many factory.
I think the  AbstractFactory code in the project is not good enough......

[2022-10-22 17:07] iluwatar commented on #2140
Ok @m-inh

[2022-10-22 17:08] iluwatar commented on #2141
Ok @m-inh

[2022-10-22 17:21] iluwatar commented on #2142
The classic implementation consists of abstract factory interface and concrete factories that produce products through factory methods. See https://en.wikipedia.org/wiki/Abstract_factory_pattern

[2022-10-22 17:38] #2107 closed

[2022-10-22 17:42] #2082 closed

[2022-10-23 07:13] dkr19 commented on #1265
Could you please assign this to me?

[2022-10-23 11:43] JW-HUANG1111 commented on #841
Can I work on this issue?

[2022-10-23 15:56] JanFidor opened #2151 "Add Model-View-Intent design pattern"
I noticed that while MVP, MVC and MVVM have been added, it wasn't the case for MVI. I'll be happy fix that.

[2022-10-23 17:19] iluwatar opened #2152 "Broken links"
There is a nice broken links checker tool available at https://github.com/stevenvachon/broken-link-checker

After installation, one can run it against our website e.g.

`blc https://java-design-patterns.com -roe`

The results indicate 16 broken links. Let's fix them in this task.

Acceptance criteria

- The broken links reported by the tool have been fixed

[2022-10-23 17:31] iluwatar commented on #1265
Ok @dkr19

[2022-10-23 17:32] iluwatar commented on #841
Yes, go ahead @JW-HUANG1111

[2022-10-23 17:34] iluwatar commented on #2151
Thanks @JanFidor for the suggestion. Could you provide a link that explains the pattern?

[2022-10-23 17:54] JanFidor commented on #2151
Sure thing, here are 2 of the best ones I found https://apiumacademy.com/blog/model-view-intent-pattern/  , https://www.raywenderlich.com/817602-mvi-architecture-for-android-tutorial-getting-started  . The pattern was created with android in mind, so most explanations lean heavily on it with explanations. It also heavily utilizes sealed classes from kotlin, but it can still be implemented in Java

[2022-10-24 04:59] Jeremy-Cains-ANU commented on #2152
Hi, I will happily have a look at this.

[2022-10-24 06:07] shivu2002a commented on #1295
@iluwatar Hi. This pattern falls under the Relational-Structural design patterns but this category is not on the list of [categories and tags](https://github.com/iluwatar/java-design-patterns/wiki/07.-Categories-and-Tags), but there is a Structural pattern. I needed your suggestion regarding this and also about the tag that should be mentioned for this pattern. Thank you.

[2022-10-24 08:00] u6949604 commented on #1314
Hi, I would like to work on this issue. Could I please be assigned?

[2022-10-24 13:08] junnnnn777 commented on #841
Can I work on this issue? Thanks

[2022-10-24 16:52] iluwatar commented on #2151
Looks great! Thanks so much for providing the links.

[2022-10-24 16:52] robertvolkmann commented on #1929
The issue is still present in 5.4.24. To verify run `com.iluwatar.metamapping.AppTest` and look for
`
org.hibernate.HibernateException: Use of DefaultSchemaNameResolver requires Dialect to provide the proper SQL statement/command but provided Dialect [org.hibernate.dialect.H2Dialect] did not return anything from Dialect#getCurrentSchemaCommand
	at org.hibernate.engine.jdbc.env.internal.DefaultSche

[2022-10-24 16:59] iluwatar commented on #2152
Thanks @Jeremy-Cains-ANU, assigned to you now

[2022-10-24 17:02] iluwatar commented on #1314
Ok @u6949604

[2022-10-24 17:57] robertvolkmann commented on #1929
We would get rid of the HibernateException by implementing a custom SchemaNameResolver
[code]

https://docs.jboss.org/hibernate/orm/5.4/userguide/html_single/Hibernate_User_Guide.html#_table_qualifying_options

[2022-10-24 18:05] robertvolkmann commented on #1929
My advice is to close this issue because it is only some strange error message from some weird internal Hibernate implementation. The same message will also be shown for all MySQLDialects because MySQL doesn't support schemas nativley like PostgreSQL.

[2022-10-25 03:02] seongkyu-lim opened #2160 "I'll translate the readme file of the proxy design pattern to Korean"
I'll translate the readme file of the proxy design pattern to Korean and place it under localization/ko/proxy.

[2022-10-25 03:04] seongkyu-lim opened #2161 "I'll translate the readme file of the builder design pattern to Korean"
I'll translate the readme file of the builder design pattern to Korean and place it under localization/ko/builder.

[2022-10-25 03:07] seongkyu-lim opened #2162 "I'll translate the readme file of the iterator design pattern to Korean"
I'll translate the readme file of the iterator design pattern to Korean and place it under localization/ko/iterator.

---
Contributing to the repo is almost my first contribution.
And I realized that contributing to translation helped me a lot in my own learning.
Thank you for creating this opportunity! @iluwatar

[2022-10-25 06:10] junnnnn777 commented on #1308
Hello, can I work on this issue?

[2022-10-25 07:14] shivu2002a commented on #1295
Need to be reviewed #2164

[2022-10-25 07:15] shivu2002a commented on #1295
Need to be reviewed #2164

[2022-10-25 07:17] shivu2002a commented on #1295
@iluwatar #2164 Need to be reviewed

[2022-10-25 12:31] ANKUSH531 opened #2166 "java"
Add structural design patterns

[2022-10-25 15:07] dengWuuu commented on #2142
oh!! you are right.
thanks

[2022-10-25 16:19] iluwatar commented on #2160
Ok @seongkyu-lim

[2022-10-25 16:20] iluwatar commented on #2161
Ok @seongkyu-lim

[2022-10-25 16:22] iluwatar commented on #2162
Thanks for contributing back to the community @seongkyu-lim 😄 Looking forward to the next pull request!

[2022-10-25 16:24] iluwatar commented on #1308
Yes, go ahead @junnnnn777

[2022-10-25 16:25] #2166 closed

[2022-10-25 16:26] #2142 closed

[2022-10-25 17:26] m-inh commented on #2140
I have created a PR here: #2169 , pls take a look when you have time, thanks

[2022-10-26 09:17] ManviGoel26 commented on #590
@iluwatar Can I please work on Producer-Consumer?

[2022-10-26 17:11] iluwatar commented on #590
Sure, go ahead @ManviGoel26

[2022-10-26 20:12] JanFidor commented on #203
@iluwatar could I pick up this magnificent pattern?

[2022-10-26 22:43] Jeremy-Cains-ANU commented on #88
According to the C2 wiki, "That is not [FacetPattern](http://wiki.c2.com/?FacetPattern) as described here. It appears to be [FacadePattern](http://wiki.c2.com/?FacadePattern)."

All other sources point to facet being much simpler.

[2022-10-27 11:05] m-inh opened #2184 "Translate active-object pattern to Vietnamese"
I would like to translate active-object pattern to Vietnamese and add it under /localization/vi/ folder.

[2022-10-27 16:47] m-inh commented on #2141
Hi @iluwatar , I have opened a PR #2186 to close this issue, pls take a look when you have time, thanks

[2022-10-27 19:03] prasad-333 commented on #1216
I would like to try my hands.

[2022-10-27 23:53] burno1 opened #2187 "Add lombok to MVC pattern"
The pattern currently runs without lombok, I'm adding it so we can have the code more similar to new generation code

[2022-10-28 05:25] alainalawson02 commented on #1320
update: still working on this, please give us the weekend for final product. many thanks

[2022-10-28 09:22] ohbus commented on #203
⭐ Sure thing! Thanks for your interest in our project 😃

✔️ Please mention a 📆 timeline 🕙 for when can we expect 🤔 a Pull Request against this issue.

🤝  Looking forward to your contribution.
📖  Be sure to check out our [Wiki](https://github.com/iluwatar/java-design-patterns/wiki) section

[2022-10-28 09:39] danfengHuang-007 commented on #214
thanks

[2022-10-28 10:02] m-inh commented on #2184
@iluwatar I have opened 2 PR, one for this issue, one for additional refactor. Pls take a look when you have time, thanks: #2190 #2192

[2022-10-28 14:45] chirag-cyber commented on #1483
hi @iluwatar can you this task to me?

[2022-10-28 19:20] iluwatar commented on #1216
Ok @prasad-333

[2022-10-28 19:21] iluwatar commented on #2187
Ok @burno1

[2022-10-28 19:33] iluwatar commented on #2184
Ok @m-inh

[2022-10-28 19:34] iluwatar commented on #1483
Thanks @chirag-cyber, this issue is much anticipated

[2022-10-29 02:25] JoshuaSinglaANU commented on #1261
@iluwatar I've added the UML reverse wrapper to the pom.xml file, but I still can't see the class diagram. Would you know why that is?

[2022-10-29 02:27] Marikattt commented on #350
Hi @iluwatar,
I made a PR for this issue, so could you please review [this pr #2202](https://github.com/iluwatar/java-design-patterns/pull/2202)?

[2022-10-29 04:25] JoshuaSinglaANU commented on #1261
UML diagram added.

[2022-10-29 10:19] yonatankarp commented on #2033
@HeVictor can we close this issue? or are there any other dependencies that should be migrated first?

[2022-10-29 14:18] iluwatar opened #2210 "Foo bar"

[2022-10-29 14:42] iluwatar commented on #378
Duplicate of #1337

[2022-10-29 14:42] #378 closed

[2022-10-29 19:58] iluwatar opened #2215 "Explanation for Collection Pipeline"
In this issue, let's add a proper explanation for the pattern.

Acceptance criteria

- The pattern's README.md has been amended with an explanation
- The explanation consists of
  - Real world example
  - In plain words
  - Wikipedia says
  - Programmatic example

[2022-10-29 19:58] iluwatar opened #2216 "Explanation for Commander"
In this issue, let's add a proper explanation for the pattern.

Acceptance criteria

- The pattern's README.md has been amended with an explanation
- The explanation consists of
  - Real world example
  - In plain words
  - Wikipedia says
  - Programmatic example

[2022-10-29 19:58] iluwatar opened #2217 "Explanation for Command Query Responsibility Segregation (CQRS)"
In this issue, let's add a proper explanation for the pattern.

Acceptance criteria

- The pattern's README.md has been amended with an explanation
- The explanation consists of
  - Real world example
  - In plain words
  - Wikipedia says
  - Programmatic example

[2022-10-29 19:58] iluwatar opened #2218 "Explanation for Data Bus"
In this issue, let's add a proper explanation for the pattern.

Acceptance criteria

- The pattern's README.md has been amended with an explanation
- The explanation consists of
  - Real world example
  - In plain words
  - Wikipedia says
  - Programmatic example

[2022-10-29 19:58] iluwatar opened #2219 "Explanation for Data Locality"
In this issue, let's add a proper explanation for the pattern.

Acceptance criteria

- The pattern's README.md has been amended with an explanation
- The explanation consists of
  - Real world example
  - In plain words
  - Wikipedia says
  - Programmatic example

[2022-10-29 19:58] iluwatar opened #2220 "Explanation for Data Mapper"
In this issue, let's add a proper explanation for the pattern.

Acceptance criteria

- The pattern's README.md has been amended with an explanation
- The explanation consists of
  - Real world example
  - In plain words
  - Wikipedia says
  - Programmatic example

[2022-10-29 19:58] iluwatar opened #2221 "Explanation for Delegation"
In this issue, let's add a proper explanation for the pattern.

Acceptance criteria

- The pattern's README.md has been amended with an explanation
- The explanation consists of
  - Real world example
  - In plain words
  - Wikipedia says
  - Programmatic example

[2022-10-29 19:58] iluwatar opened #2222 "Explanation for Dirty Flag"
In this issue, let's add a proper explanation for the pattern.

Acceptance criteria

- The pattern's README.md has been amended with an explanation
- The explanation consists of
  - Real world example
  - In plain words
  - Wikipedia says
  - Programmatic example

[2022-10-29 19:58] iluwatar opened #2223 "Explanation for Double Buffer"
In this issue, let's add a proper explanation for the pattern.

Acceptance criteria

- The pattern's README.md has been amended with an explanation
- The explanation consists of
  - Real world example
  - In plain words
  - Wikipedia says
  - Programmatic example

[2022-10-29 19:58] iluwatar opened #2224 "Explanation for Double Checked Locking"
In this issue, let's add a proper explanation for the pattern.

Acceptance criteria

- The pattern's README.md has been amended with an explanation
- The explanation consists of
  - Real world example
  - In plain words
  - Wikipedia says
  - Programmatic example

[2022-10-29 19:59] iluwatar opened #2225 "Explanation for Double Dispatch"
In this issue, let's add a proper explanation for the pattern.

Acceptance criteria

- The pattern's README.md has been amended with an explanation
- The explanation consists of
  - Real world example
  - In plain words
  - Wikipedia says
  - Programmatic example

[2022-10-29 19:59] iluwatar opened #2226 "Explanation for Event-Based Asynchronous"
In this issue, let's add a proper explanation for the pattern.

Acceptance criteria

- The pattern's README.md has been amended with an explanation
- The explanation consists of
  - Real world example
  - In plain words
  - Wikipedia says
  - Programmatic example

[2022-10-29 19:59] iluwatar opened #2227 "Explanation for Event Driven Architecture"
In this issue, let's add a proper explanation for the pattern.

Acceptance criteria

- The pattern's README.md has been amended with an explanation
- The explanation consists of
  - Real world example
  - In plain words
  - Wikipedia says
  - Programmatic example

[2022-10-29 19:59] iluwatar opened #2228 "Explanation for Event Sourcing"
In this issue, let's add a proper explanation for the pattern.

Acceptance criteria

- The pattern's README.md has been amended with an explanation
- The explanation consists of
  - Real world example
  - In plain words
  - Wikipedia says
  - Programmatic example

[2022-10-29 19:59] iluwatar opened #2229 "Explanation for Extension Objects"
In this issue, let's add a proper explanation for the pattern.

Acceptance criteria

- The pattern's README.md has been amended with an explanation
- The explanation consists of
  - Real world example
  - In plain words
  - Wikipedia says
  - Programmatic example

[2022-10-29 19:59] iluwatar opened #2230 "Explanation for Feature Toggle"
In this issue, let's add a proper explanation for the pattern.

Acceptance criteria

- The pattern's README.md has been amended with an explanation
- The explanation consists of
  - Real world example
  - In plain words
  - Wikipedia says
  - Programmatic example

[2022-10-29 19:59] iluwatar opened #2231 "Explanation for Flux"
In this issue, let's add a proper explanation for the pattern.

Acceptance criteria

- The pattern's README.md has been amended with an explanation
- The explanation consists of
  - Real world example
  - In plain words
  - Wikipedia says
  - Programmatic example

[2022-10-29 19:59] iluwatar opened #2232 "Explanation for Front Controller"
In this issue, let's add a proper explanation for the pattern.

Acceptance criteria

- The pattern's README.md has been amended with an explanation
- The explanation consists of
  - Real world example
  - In plain words
  - Wikipedia says
  - Programmatic example

[2022-10-29 19:59] iluwatar opened #2233 "Explanation for Guarded Suspension"
In this issue, let's add a proper explanation for the pattern.

Acceptance criteria

- The pattern's README.md has been amended with an explanation
- The explanation consists of
  - Real world example
  - In plain words
  - Wikipedia says
  - Programmatic example

[2022-10-29 19:59] iluwatar opened #2234 "Explanation for Half-Sync/Half-Async"
In this issue, let's add a proper explanation for the pattern.

Acceptance criteria

- The pattern's README.md has been amended with an explanation
- The explanation consists of
  - Real world example
  - In plain words
  - Wikipedia says
  - Programmatic example

[2022-10-29 19:59] iluwatar opened #2235 "Explanation for Hexagonal Architecture"
In this issue, let's add a proper explanation for the pattern.

Acceptance criteria

- The pattern's README.md has been amended with an explanation
- The explanation consists of
  - Real world example
  - In plain words
  - Wikipedia says
  - Programmatic example

[2022-10-29 19:59] iluwatar opened #2236 "Explanation for Intercepting Filter"
In this issue, let's add a proper explanation for the pattern.

Acceptance criteria

- The pattern's README.md has been amended with an explanation
- The explanation consists of
  - Real world example
  - In plain words
  - Wikipedia says
  - Programmatic example

[2022-10-29 19:59] iluwatar opened #2237 "Explanation for Lazy Loading"
In this issue, let's add a proper explanation for the pattern.

Acceptance criteria

- The pattern's README.md has been amended with an explanation
- The explanation consists of
  - Real world example
  - In plain words
  - Wikipedia says
  - Programmatic example

[2022-10-29 19:59] iluwatar opened #2238 "Explanation for Leader Election"
In this issue, let's add a proper explanation for the pattern.

Acceptance criteria

- The pattern's README.md has been amended with an explanation
- The explanation consists of
  - Real world example
  - In plain words
  - Wikipedia says
  - Programmatic example

[2022-10-29 19:59] iluwatar opened #2239 "Explanation for Leader/Followers"
In this issue, let's add a proper explanation for the pattern.

Acceptance criteria

- The pattern's README.md has been amended with an explanation
- The explanation consists of
  - Real world example
  - In plain words
  - Wikipedia says
  - Programmatic example

[2022-10-29 19:59] iluwatar opened #2240 "Explanation for Marker Interface"
In this issue, let's add a proper explanation for the pattern.

Acceptance criteria

- The pattern's README.md has been amended with an explanation
- The explanation consists of
  - Real world example
  - In plain words
  - Wikipedia says
  - Programmatic example

[2022-10-29 19:59] iluwatar opened #2241 "Explanation for Master-Worker"
In this issue, let's add a proper explanation for the pattern.

Acceptance criteria

- The pattern's README.md has been amended with an explanation
- The explanation consists of
  - Real world example
  - In plain words
  - Wikipedia says
  - Programmatic example

[2022-10-29 19:59] iluwatar opened #2242 "Explanation for Model-View-Controller"
In this issue, let's add a proper explanation for the pattern.

Acceptance criteria

- The pattern's README.md has been amended with an explanation
- The explanation consists of
  - Real world example
  - In plain words
  - Wikipedia says
  - Programmatic example

[2022-10-29 19:59] iluwatar opened #2243 "Explanation for Model-View-Presenter"
In this issue, let's add a proper explanation for the pattern.

Acceptance criteria

- The pattern's README.md has been amended with an explanation
- The explanation consists of
  - Real world example
  - In plain words
  - Wikipedia says
  - Programmatic example

[2022-10-29 19:59] iluwatar opened #2244 "Explanation for Module"
In this issue, let's add a proper explanation for the pattern.

Acceptance criteria

- The pattern's README.md has been amended with an explanation
- The explanation consists of
  - Real world example
  - In plain words
  - Wikipedia says
  - Programmatic example

[2022-10-29 19:59] iluwatar opened #2245 "Explanation for Monad"
In this issue, let's add a proper explanation for the pattern.

Acceptance criteria

- The pattern's README.md has been amended with an explanation
- The explanation consists of
  - Real world example
  - In plain words
  - Wikipedia says
  - Programmatic example

[2022-10-29 20:00] iluwatar opened #2246 "Explanation for MonoState"
In this issue, let's add a proper explanation for the pattern.

Acceptance criteria

- The pattern's README.md has been amended with an explanation
- The explanation consists of
  - Real world example
  - In plain words
  - Wikipedia says
  - Programmatic example

[2022-10-29 20:00] iluwatar opened #2247 "Explanation for Mute Idiom"
In this issue, let's add a proper explanation for the pattern.

Acceptance criteria

- The pattern's README.md has been amended with an explanation
- The explanation consists of
  - Real world example
  - In plain words
  - Wikipedia says
  - Programmatic example

[2022-10-29 20:00] iluwatar opened #2248 "Explanation for Naked Objects"
In this issue, let's add a proper explanation for the pattern.

Acceptance criteria

- The pattern's README.md has been amended with an explanation
- The explanation consists of
  - Real world example
  - In plain words
  - Wikipedia says
  - Programmatic example

[2022-10-29 20:00] iluwatar opened #2249 "Explanation for Object Mother"
In this issue, let's add a proper explanation for the pattern.

Acceptance criteria

- The pattern's README.md has been amended with an explanation
- The explanation consists of
  - Real world example
  - In plain words
  - Wikipedia says
  - Programmatic example

[2022-10-29 20:00] iluwatar opened #2250 "Explanation for Page Object"
In this issue, let's add a proper explanation for the pattern.

Acceptance criteria

- The pattern's README.md has been amended with an explanation
- The explanation consists of
  - Real world example
  - In plain words
  - Wikipedia says
  - Programmatic example

[2022-10-29 20:00] iluwatar opened #2251 "Explanation for Partial Response"
In this issue, let's add a proper explanation for the pattern.

Acceptance criteria

- The pattern's README.md has been amended with an explanation
- The explanation consists of
  - Real world example
  - In plain words
  - Wikipedia says
  - Programmatic example

[2022-10-29 20:00] iluwatar opened #2252 "Presentation Model title incorrect"
The title of the pattern is incorrect, Presentation should be Presentation Model.

Acceptance criteria

- The title has been fixed

[2022-10-29 20:04] iluwatar opened #2253 "Explanation for Producer-Consumer"
In this issue, let's add a proper explanation for the pattern.

Acceptance criteria

- The pattern's README.md has been amended with an explanation
- The explanation consists of
  - Real world example
  - In plain words
  - Wikipedia says
  - Programmatic example

[2022-10-29 20:04] iluwatar opened #2254 "Explanation for Property"
In this issue, let's add a proper explanation for the pattern.

Acceptance criteria

- The pattern's README.md has been amended with an explanation
- The explanation consists of
  - Real world example
  - In plain words
  - Wikipedia says
  - Programmatic example

[2022-10-29 20:04] iluwatar opened #2255 "Explanation for Queue-Based Load Leveling"
In this issue, let's add a proper explanation for the pattern.

Acceptance criteria

- The pattern's README.md has been amended with an explanation
- The explanation consists of
  - Real world example
  - In plain words
  - Wikipedia says
  - Programmatic example

[2022-10-29 20:04] iluwatar opened #2256 "Explanation for Reactor"
In this issue, let's add a proper explanation for the pattern.

Acceptance criteria

- The pattern's README.md has been amended with an explanation
- The explanation consists of
  - Real world example
  - In plain words
  - Wikipedia says
  - Programmatic example

[2022-10-29 20:04] iluwatar opened #2257 "Explanation for Resource Acquisition Is Initialization"
In this issue, let's add a proper explanation for the pattern.

Acceptance criteria

- The pattern's README.md has been amended with an explanation
- The explanation consists of
  - Real world example
  - In plain words
  - Wikipedia says
  - Programmatic example

[2022-10-29 20:04] iluwatar opened #2258 "Explanation for Role Object"
In this issue, let's add a proper explanation for the pattern.

Acceptance criteria

- The pattern's README.md has been amended with an explanation
- The explanation consists of
  - Real world example
  - In plain words
  - Wikipedia says
  - Programmatic example

[2022-10-29 20:04] iluwatar opened #2259 "Explanation for Saga"
In this issue, let's add a proper explanation for the pattern.

Acceptance criteria

- The pattern's README.md has been amended with an explanation
- The explanation consists of
  - Real world example
  - In plain words
  - Wikipedia says
  - Programmatic example

[2022-10-29 20:04] iluwatar opened #2260 "Explanation for Servant"
In this issue, let's add a proper explanation for the pattern.

Acceptance criteria

- The pattern's README.md has been amended with an explanation
- The explanation consists of
  - Real world example
  - In plain words
  - Wikipedia says
  - Programmatic example

[2022-10-29 20:04] iluwatar opened #2261 "Explanation for Service Locator"
In this issue, let's add a proper explanation for the pattern.

Acceptance criteria

- The pattern's README.md has been amended with an explanation
- The explanation consists of
  - Real world example
  - In plain words
  - Wikipedia says
  - Programmatic example

[2022-10-29 20:04] iluwatar opened #2262 "Explanation for Sharding"
In this issue, let's add a proper explanation for the pattern.

Acceptance criteria

- The pattern's README.md has been amended with an explanation
- The explanation consists of
  - Real world example
  - In plain words
  - Wikipedia says
  - Programmatic example

[2022-10-29 20:04] iluwatar opened #2263 "Explanation for Step Builder"
In this issue, let's add a proper explanation for the pattern.

Acceptance criteria

- The pattern's README.md has been amended with an explanation
- The explanation consists of
  - Real world example
  - In plain words
  - Wikipedia says
  - Programmatic example

[2022-10-29 20:05] iluwatar opened #2264 "Explanation for Strangler"
In this issue, let's add a proper explanation for the pattern.

Acceptance criteria

- The pattern's README.md has been amended with an explanation
- The explanation consists of
  - Real world example
  - In plain words
  - Wikipedia says
  - Programmatic example

[2022-10-29 20:05] iluwatar opened #2265 "Explanation for Thread Local Storage"
In this issue, let's add a proper explanation for the pattern.

Acceptance criteria

- The pattern's README.md has been amended with an explanation
- The explanation consists of
  - Real world example
  - In plain words
  - Wikipedia says
  - Programmatic example

[2022-10-29 20:05] iluwatar opened #2266 "Explanation for Type-Object"
In this issue, let's add a proper explanation for the pattern.

Acceptance criteria

- The pattern's README.md has been amended with an explanation
- The explanation consists of
  - Real world example
  - In plain words
  - Wikipedia says
  - Programmatic example

[2022-10-29 20:05] iluwatar opened #2267 "Explanation for Update Method"
In this issue, let's add a proper explanation for the pattern.

Acceptance criteria

- The pattern's README.md has been amended with an explanation
- The explanation consists of
  - Real world example
  - In plain words
  - Wikipedia says
  - Programmatic example

[2022-10-29 20:09] iluwatar commented on #590
I have split up this issue into multiple independent ones e.g. "Explanation for Bridge". If you are working on some explanation, please comment on the new issue and I'll assign it to you. I'll close this task now.

[2022-10-29 20:09] #590 closed

[2022-10-29 20:35] iluwatar opened #2269 "Integrate stale bot"
There is a handy [stale bot](https://github.com/probot/stale) that can monitor issues and pull requests and mark them as stale when nothing happens for a period of time. Let's integrate it in this issue.

Acceptance criteria

- Stale bot has been integrated into the repository

[2022-10-29 20:52] ManviGoel26 commented on #2253
I have added the explanation for this design pattern in #2179

[2022-10-29 20:56] #2269 closed

[2022-10-29 21:33] XianWu99 commented on #2220
Hi, I want to take this issue(I have taken this issue before but was closed)

[2022-10-30 08:11] iluwatar opened #2273 "Translate to Arabic"
This task tracks the translation of the patterns. More information about the translation process is available at https://github.com/iluwatar/java-design-patterns/wiki/15.-Support-for-multiple-languages

Acceptance criteria

- The patterns have been translated
- The patterns can be browsed in Github and on the website https://java-design-patterns.com

[2022-10-30 08:11] iluwatar opened #2274 "Translate to Bengali (Bangla)"
This task tracks the translation of the patterns. More information about the translation process is available at https://github.com/iluwatar/java-design-patterns/wiki/15.-Support-for-multiple-languages

Acceptance criteria

- The patterns have been translated
- The patterns can be browsed in Github and on the website https://java-design-patterns.com

[2022-10-30 08:11] iluwatar opened #2275 "Translate to German"
This task tracks the translation of the patterns. More information about the translation process is available at https://github.com/iluwatar/java-design-patterns/wiki/15.-Support-for-multiple-languages

Acceptance criteria

- The patterns have been translated
- The patterns can be browsed in Github and on the website https://java-design-patterns.com

[2022-10-30 08:11] iluwatar opened #2276 "Translate to Greek"
This task tracks the translation of the patterns. More information about the translation process is available at https://github.com/iluwatar/java-design-patterns/wiki/15.-Support-for-multiple-languages

Acceptance criteria

- The patterns have been translated
- The patterns can be browsed in Github and on the website https://java-design-patterns.com

[2022-10-30 08:11] iluwatar opened #2277 "Translate to Spanish"
This task tracks the translation of the patterns. More information about the translation process is available at https://github.com/iluwatar/java-design-patterns/wiki/15.-Support-for-multiple-languages

Acceptance criteria

- The patterns have been translated
- The patterns can be browsed in Github and on the website https://java-design-patterns.com

[2022-10-30 08:11] iluwatar opened #2278 "Translate to French"
This task tracks the translation of the patterns. More information about the translation process is available at https://github.com/iluwatar/java-design-patterns/wiki/15.-Support-for-multiple-languages

Acceptance criteria

- The patterns have been translated
- The patterns can be browsed in Github and on the website https://java-design-patterns.com

[2022-10-30 08:11] iluwatar opened #2279 "Translate to Hindi"
This task tracks the translation of the patterns. More information about the translation process is available at https://github.com/iluwatar/java-design-patterns/wiki/15.-Support-for-multiple-languages

Acceptance criteria

- The patterns have been translated
- The patterns can be browsed in Github and on the website https://java-design-patterns.com

[2022-10-30 08:12] iluwatar opened #2280 "Translate to Indonesian"
This task tracks the translation of the patterns. More information about the translation process is available at https://github.com/iluwatar/java-design-patterns/wiki/15.-Support-for-multiple-languages

Acceptance criteria

- The patterns have been translated
- The patterns can be browsed in Github and on the website https://java-design-patterns.com

[2022-10-30 08:12] iluwatar opened #2281 "Translate to Japanese"
This task tracks the translation of the patterns. More information about the translation process is available at https://github.com/iluwatar/java-design-patterns/wiki/15.-Support-for-multiple-languages

Acceptance criteria

- The patterns have been translated
- The patterns can be browsed in Github and on the website https://java-design-patterns.com

[2022-10-30 08:12] iluwatar opened #2282 "Translate to Korean"
This task tracks the translation of the patterns. More information about the translation process is available at https://github.com/iluwatar/java-design-patterns/wiki/15.-Support-for-multiple-languages

Acceptance criteria

- The patterns have been translated
- The patterns can be browsed in Github and on the website https://java-design-patterns.com

[2022-10-30 08:12] iluwatar opened #2283 "Fix language folders and YAML frontmatters"
Some translation folders have been named incorrectly and are not in line with the [ISO 639-1 language codes](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes).

Additionally in this task, we are going to check that all the translated patterns conform to the updated YAML frontmatter specification described in https://github.com/iluwatar/java-design-patterns/wiki/01.-How-to-contribute

Acceptan

[2022-10-30 08:12] iluwatar opened #2284 "Translation to Marathi"
This task tracks the translation of the patterns. More information about the translation process is available at https://github.com/iluwatar/java-design-patterns/wiki/15.-Support-for-multiple-languages

Acceptance criteria

- The patterns have been translated
- The patterns can be browsed in Github and on the website https://java-design-patterns.com

[2022-10-30 08:12] iluwatar opened #2285 "Translation to Portuguese"
This task tracks the translation of the patterns. More information about the translation process is available at https://github.com/iluwatar/java-design-patterns/wiki/15.-Support-for-multiple-languages

Acceptance criteria

- The patterns have been translated
- The patterns can be browsed in Github and on the website https://java-design-patterns.com

[2022-10-30 08:12] iluwatar opened #2286 "Translation to Russian"
This task tracks the translation of the patterns. More information about the translation process is available at https://github.com/iluwatar/java-design-patterns/wiki/15.-Support-for-multiple-languages

Acceptance criteria

- The patterns have been translated
- The patterns can be browsed in Github and on the website https://java-design-patterns.com

[2022-10-30 08:12] iluwatar opened #2287 "Translation to Turkish"
This task tracks the translation of the patterns. More information about the translation process is available at https://github.com/iluwatar/java-design-patterns/wiki/15.-Support-for-multiple-languages

Acceptance criteria

- The patterns have been translated
- The patterns can be browsed in Github and on the website https://java-design-patterns.com

[2022-10-30 08:12] iluwatar opened #2288 "Translation to Vietnamese"
This task tracks the translation of the patterns. More information about the translation process is available at https://github.com/iluwatar/java-design-patterns/wiki/15.-Support-for-multiple-languages

Acceptance criteria

- The patterns have been translated
- The patterns can be browsed in Github and on the website https://java-design-patterns.com

[2022-10-30 08:12] iluwatar opened #2289 "Translation to Chinese"
This task tracks the translation of the patterns. More information about the translation process is available at https://github.com/iluwatar/java-design-patterns/wiki/15.-Support-for-multiple-languages

Acceptance criteria

- The patterns have been translated
- The patterns can be browsed in Github and on the website https://java-design-patterns.com

[2022-10-30 08:18] HeVictor commented on #2033
@yonatankarp As far as I know all of the other plugin dependencies work under Java 17 except for the current `naked-objects` pattern directory which will break, as I mentioned in the previous comment. I'm still having a crack at updating the naked objects module to the latest version using `Apache Isis` (#1683) which will solve this problem when that is completed, however it is going a little slow

[2022-10-30 08:19] iluwatar commented on #1245
Hey guys, since there are many languages incoming I've decided to split this issue into individual target languages. If you are willing to help, please look for issues such as "Translate to Chinese" and add a comment to indicate you are willing to work on it. I can then assign the issue to you.

[2022-10-30 08:19] #1245 closed

[2022-10-30 08:21] iluwatar commented on #2162
Subtask of #2282

[2022-10-30 08:23] iluwatar commented on #1965
Subtask of #2289

[2022-10-30 08:24] iluwatar commented on #2184
Subtask of #2288

[2022-10-30 08:25] iluwatar commented on #2161
Subtask of #2282

[2022-10-30 08:25] iluwatar commented on #2160
Subtask of #2282

[2022-10-30 08:25] iluwatar commented on #2141
Subtask of #2288

[2022-10-30 08:26] iluwatar commented on #2140
Subtask of #2288

[2022-10-30 08:27] iluwatar commented on #2124
Subtask of #2277

[2022-10-30 08:27] iluwatar commented on #2061
Subtask of #2276

[2022-10-30 08:30] iluwatar commented on #2033
@HeVictor thanks for the update. I think we can close this issue as completed.

[2022-10-30 08:30] #2033 closed

[2022-10-30 08:41] iluwatar commented on #2033
Besides the naked objects pattern, we need to complete #2035 #2036 #2037 before switching to Java 17 build. See https://github.com/iluwatar/java-design-patterns/wiki/19.-Java-17-transition

[2022-10-30 10:41] TwentyVentti commented on #79
Sorry I accidentally created a pull request to this repo instead of my fork. I will send an intentional pull request tomorrow.

[2022-10-30 13:42] JanFidor commented on #203
@ohbus Hi, as for 📆 timeline I should be able to make a PR in ~2-3 days, but to eer on the side of caution, it will definitely be finished within a week.

[2022-10-30 15:04] artfuldev commented on #2252
Happy to take this up.

[2022-10-30 15:32] #978 closed

[2022-10-30 15:40] #1929 closed

[2022-10-30 16:40] #1762 closed

[2022-10-30 16:54] ManviGoel26 commented on #2253
@iluwatar Requesting for a review and adding the hactoberfest tag.

[2022-10-30 17:07] #2218 closed

[2022-10-30 17:40] bhati00 commented on #2283
Hello Sir,
Its my first time to contributing open source project.
in the above task , did we just have to change readme.md file according to rule above you mentioned in a link and change the folder names to localization/language ?

[2022-10-30 17:53] iluwatar commented on #2283
Yes, that's all there is. Would you like to try it @bhati00 ?

[2022-10-30 18:03] bhati00 commented on #2283
Much appreciated your quick response ,Sir.
 Yes i do want to try.

[2022-10-30 18:10] iluwatar opened #2297 "Security vulnerability in H2 database"
The currently used H2 database version 1.4.190 has multiple security vulnerabilities. To mention a few:

1. - H2 Console before 2.1.210 allows remote attackers to execute arbitrary code via a jdbc:h2:mem JDBC URL containing the IGNORE_UNKNOWN_SETTINGS=TRUE;FORBID_CREATION=FALSE;INIT=RUNSCRIPT substring, a different vulnerability than https://github.com/advisories/GHSA-h376-j262-vhq6
2. - H2 Consol

[2022-10-30 20:22] #2160 closed

[2022-10-30 20:25] #2161 closed

[2022-10-30 20:26] #2162 closed

[2022-10-31 07:49] bhati00 commented on #2283
i made the pull request @iluwatar

[2022-10-31 08:35] bhati00 commented on #2297
@iluwatar , is solution is to update the version of H2 database or something else .
Above issue is also mentioned here officially in H2 database repo [issue](https://github.com/h2database/h2database/issues/3195).

[2022-10-31 18:27] iluwatar commented on #2297
Yes, update the version (see the acceptance criteria). Would you like to try it @bhati00 ?

[2022-10-31 18:27] PraveenNanda124 commented on #2289
hey...can u assign me this issue

[2022-11-01 01:00] bhati00 commented on #2297
yes sure @iluwatar , i would like to try.

[2022-11-01 12:24] prasad-333 commented on #2242
Raised PR# https://github.com/iluwatar/java-design-patterns/pull/2302 Kindly review.
Thanks

[2022-11-01 13:18] bhati00 commented on #2297
Sir , where i can find the details about this project , how is it developed and its architecture .
 Why we use the H2 database, is it only for the testing purpose . ?

[2022-11-01 14:00] XianWu99 commented on #2220
Sorry to bother you, but I accidentally removed myself as the issue assignee, can you assign this issue to me again. Thank you so much!

[2022-11-01 14:33] prasad-333 commented on #2243
@iluwatar Raised PR https://github.com/iluwatar/java-design-patterns/pull/2303 . Kindly review.

Thanks

[2022-11-01 14:37] bhati00 commented on #2297
Sir, i did updated the version of H2 database by changing the version of H2
in pom.xml . But it failed the test case.

On Mon, Oct 31, 2022, 23:57 Ilkka Seppälä ***@***.***> wrote:

[2022-11-02 20:22] iluwatar commented on #2289
Ok @PraveenNanda124 Which part will you translate?

[2022-11-02 20:27] iluwatar commented on #2297
After changing the H2 version, you need to fix everything so that the CI build works again @bhati00 That's the difficulty in this task.

[2022-11-03 12:30] JW-HUANG1111 commented on #841
Sorry, sir, I may not have time for this issue, Maybe some others can take it.

[2022-11-03 13:22] bhati00 commented on #2297
Sir , can you please specify a bit that, what kind of changes should i made to in order to fix everything .I've read this article for  [migrate to hibernate 2.0](https://www.h2database.com/html/migration-to-v2.html#:~:text=your%20own%20risk.-,Upgrading,of%20this%20command%20for%20details.) , and one another thing , where we did specify the details about the h2 database , in rest api we use applica

[2022-11-03 13:26] bhati00 commented on #2297
Hello Sir, Can you please specify a bit , what kind of changes should i made to in order to fix everything . I've read this article for [migration to hibernate 2.0](https://www.h2database.com/html/migration-to-v2.html#:~:text=your%20own%20risk.-,Upgrading,of%20this%20command%20for%20details.), and one another thing sir, Where did we specify the details about the h2 database , like in spring-boot w

[2022-11-03 19:21] iluwatar commented on #2297
Hmm I didn't get any errors after the upgrade. Could you just create the pull request with the updated dependency and we can check if it's just your workstation?

[2022-11-03 23:38] bhati00 commented on #2297
@iluwatar , i've made the [pull request ](https://github.com/iluwatar/java-design-patterns/pull/2298), it solves two issues , since previous one was'nt merged that's why i've commited to same branch.
I'm not getting error in my workstation Sir, its circle.ci which shows the error , **maven build failed** .

[2022-11-03 23:53] bhati00 commented on #2267
i'm intersted @iluwatar .

[2022-11-04 17:12] robertvolkmann commented on #2297
I previous tried to upgrade the H2 database but failed with some strange error message that need non-trivial investigation.

[2022-11-04 17:33] bhati00 commented on #2297
@robertvolkmann , did you just simply added the dependency or also made some another changes for upgrading the database.

[2022-11-04 19:23] robertvolkmann commented on #2297
I simply pumped the version and it failed. Therefore I expect some additional changes.

[2022-11-05 08:28] #1012 closed

[2022-11-05 14:54] #2187 closed

[2022-11-05 15:26] #2124 closed

[2022-11-06 07:48] iluwatar opened #2314 "Translation to Italian"
This task tracks the translation of the patterns. More information about the translation process is available at https://github.com/iluwatar/java-design-patterns/wiki/15.-Support-for-multiple-languages

Acceptance criteria

- The patterns have been translated
- The patterns can be browsed in Github and on the website https://java-design-patterns.com/

[2022-11-06 10:49] zhrfrd commented on #2314
I would like to take care of it.

[2022-11-08 06:02] bhati00 commented on #2297
wow , great @robertvolkmann , you've solved the issue .
i was seacrching in the project , where did the database created , @robertvolkmann  , why did we created it in domain-modal . And why did you  droped the table according to their dependency .

[2022-11-08 09:52] robertvolkmann commented on #2297
@bhati00, the H2 database is automatically created if absent.
You have to drop the tables according to their dependency. In our case, we cannot drop the table CUSTOMERS before PURCHASES because the latter still has a reference to CUSTOMERS.

[2022-11-08 18:58] #2252 closed

[2022-11-09 17:01] iluwatar commented on #1269
Closed due to inactivity

[2022-11-09 19:57] #1299 closed

[2022-11-10 22:43] StefanelStan opened #2325 "Feature Toggle mispelled comments"
A small typo error: all ready (incorrect) instead of already

[2022-11-10 23:00] StefanelStan opened #2326 "Minor enchancements to flyweight"
Minor enhancements to flyweight:
- AlchemistShopTest : line 59: use a Set<>(potions).size() than streaming
- PotionFactory - small refactoring to reduce code duplication by adding the potion after each siwtch case.

[2022-11-11 09:16] robertvolkmann commented on #2035
@iluwatar Could I work on this?

[2022-11-11 09:17] robertvolkmann commented on #2036
@iluwatar Could I work on this?

[2022-11-11 09:17] robertvolkmann commented on #983
@iluwatar Could I work on this?

[2022-11-12 21:04] iluwatar commented on #2035
@harikesh409 I'll assign @robertvolkmann to this issue as well. This is high priority and would like to see it completed soon.

[2022-11-12 21:05] iluwatar commented on #2036
@ArinCodes I'll assign this issue to @robertvolkmann as well since this is high priority.

[2022-11-12 21:06] iluwatar commented on #983
Sure @robertvolkmann, go ahead!

[2022-11-13 07:37] iluwatar opened #2329 "Fix pattern categories"
Some patterns have a small defect in the yaml frontmatter (README.md). Categories key should be renamed to category so that everything shows up correctly on the website.

Acceptance criteria

- The pattern yaml frontmatters have been checked to conform with https://github.com/iluwatar/java-design-patterns/wiki/01.-How-to-contribute

[2022-11-13 07:49] #1275 closed

[2022-11-13 07:51] #2242 closed

[2022-11-13 07:52] #2243 closed

[2022-11-13 10:19] #2329 closed

[2022-11-13 17:00] limingho456 opened #2333 "Broken linkage on Chinese localization document"
Broken linkage [Java CI with Maven](https://github.com/iluwatar/java-design-patterns/workflows/Java%20CI%20with%20Maven/badge.svg) on the following Chinese localization README file.

https://github.com/iluwatar/java-design-patterns/blob/master/localization/zh/README.md

[2022-11-14 17:23] PraveenNanda124 commented on #2289
Hello @iluwatar  can you review this please

[2022-11-15 04:21] AnantGupta001 commented on #2279
Hey, can you assign this issue to me?

[2022-11-15 12:01] KarmaTashiCat opened #2335 "Translate the aggregator-microservices readme to Spanish"
Hi all! Following [01.-How to contribute document](https://github.com/iluwatar/java-design-patterns/wiki/01.-How-to-contribute) I create this issue because I want to contribute to actually open issue #2277  translating [aggregator-microservices/README.md](https://github.com/iluwatar/java-design-patterns/blob/master/aggregator-microservices/README.md)

I will save it in a new repository fork from m

[2022-11-18 05:52] iluwatar opened #2342 "CRPT idiom"
Implement Curiously Recurring Template Pattern (CRPT) idiom in Java. See the example at https://nuah.livejournal.com/328187.html

Acceptance criteria

- CRPT pattern implemented according to guidance at https://github.com/iluwatar/java-design-patterns/wiki/01.-How-to-contribute

[2022-11-20 12:25] #2297 closed

[2022-11-20 12:39] #1261 closed

[2022-11-20 12:47] iluwatar opened #2348 "Translate to Portugese"
This task tracks the translation of the patterns. More information about the translation process is available at https://github.com/iluwatar/java-design-patterns/wiki/15.-Support-for-multiple-languages

Acceptance criteria

- The patterns have been translated
- The patterns can be browsed in Github and on the website https://java-design-patterns.com/

[2022-11-20 13:09] iluwatar commented on #2348
Duplicate of #2285

[2022-11-20 13:09] #2348 closed

[2022-11-20 13:15] #2326 closed

[2022-11-20 19:33] robertvolkmann commented on #82
@iluwatar still necessary after sunsetting the existing EIP patterns?

[2022-11-20 19:35] robertvolkmann commented on #2037
@iluwatar could you assign it to me?

[2022-11-21 16:19] iluwatar commented on #82
Thanks for noticing @robertvolkmann, I'll close this

[2022-11-21 16:19] #82 closed

[2022-11-21 16:20] iluwatar commented on #2037
Assigned to you @robertvolkmann

[2022-11-21 16:59] #983 closed

[2022-11-21 17:01] #1097 closed

[2022-11-21 17:01] #1483 closed

[2022-11-21 17:01] #1669 closed

[2022-11-23 19:03] #2283 closed

[2022-11-26 00:23] HeVictor opened #2362 "Extend naked-objects README"
Due to the decision to remove the naked-objects implementation as a part of #2336, the work that I had been doing for #1683 has become largely obsolete but I would still like to contribute the extensions I have made to the README doc itself.

[2022-11-28 11:39] Regyl commented on #2265
I'd be glad to do this @iluwatar

[2022-11-29 14:42] Pawank06 commented on #2333
Hello ! I am new in opensource and I am also familiar with java I want to use this skill in real-world project. can anyone help me too start this project or how can I solve this .

[2022-11-29 14:51] iluwatar commented on #2333
There is just a broken link in the mentioned document @Pawank06 I suppose it should be an easy fix.

[2022-11-29 15:07] limingho456 commented on #2333
You can fix it by updating the path from
`https://github.com/iluwatar/java-design-patterns/workflows/Java%20CI%20with%20Maven/badge.svg`
to
`https://github.com/iluwatar/java-design-patterns/workflows/Java%20CI/badge.svg`

[2022-11-29 15:20] #2184 closed

[2022-11-29 15:21] #2141 closed

[2022-11-29 15:21] #2140 closed

[2022-11-29 17:43] #2026 closed

[2022-11-29 19:07] iluwatar opened #2366 "Uniform handling for H2 databases"
At the moment, many of the patterns utilize H2 databases to demonstrate data access (search for `jdbc:h2`). The problem is that we don't have a unified approach. Some of the patterns use file-based database written somewhere under the home directory and some use in-memory databases. Perhaps we could use in-memory databases everywhere so the user's disk would not be cluttered? If not possible, at l

[2022-11-30 10:08] u7275858 commented on #1316
Hello @iluwatar I would like to work on this issue.

[2022-11-30 16:58] iluwatar opened #2368 "Enable the MongoDB tests in hexagonal pattern"
Currently, the tests `MongoBankTest`, `MongoTicketRepositoryTest`, and `MongoEventLogTest` are disabled supposedly because they require a real MongoDB present. Let's try to re-enable the tests either by utilizing embedded MongoDB or using mocking techniques.

Acceptance criteria

- Hexagonal MongoDB tests are enabled and working

[2022-11-30 17:02] #2035 closed

[2022-11-30 17:15] iluwatar opened #2369 "Reduce build logging"
Currrently, the build with tests enabled produces a zipped log file of about 65MB. This is a bit too large to analyze effectively. Let's try to reduce the logging a bit while keeping the most important parts.

Acceptance criteria

- Build and tests produce more compact logs