[2016-07-03 18:54] iluwatar commented on #458
:+1: for adding this to our [pattern template](https://github.com/iluwatar/java-design-patterns/wiki/02.-Pattern-template).

[2016-07-05 15:45] protopapa commented on #66
Hi! i would like to take that one. is it ok ?

[2016-07-06 14:48] sta-szek commented on #452
Is that pattern or just a reconfiguration technique?
I mean reconfiguration can be acheived by observer pattern, so here observer is a pattern and runtime reconfiguration is just a nice feature.

[2016-07-06 15:02] iluwatar commented on #66
Sure, I will change the labels.

[2016-07-06 20:12] protopapa commented on #66
Nice. Thanks!

[2016-07-08 05:03] iluwatar opened #459 "Borg design pattern"
http://python-3-patterns-idioms-test.readthedocs.io/en/latest/Singleton.html
https://www.quora.com/How-do-I-implement-a-Borg-design-pattern-in-Java

[2016-07-09 07:29] iluwatar commented on #452
It might be implemented with Observer or some other mechanism like polling.

[2016-07-12 16:48] #229 closed

[2016-07-13 15:41] iluwatar opened #460 "Asynchronous Retry pattern"
As mentioned in #451 this is the asynchronous retry pattern.

https://dzone.com/articles/asynchronous-retry-pattern

[2016-07-13 15:41] iluwatar commented on #451
Async part will be implemented in #460

[2016-07-13 15:42] iluwatar commented on #460
I will implement this.

[2016-07-14 09:20] iluwatar commented on #76
@mikulucky are you still working on this?

[2016-07-14 09:22] iluwatar commented on #183
@Alexandra-Giosan are you still working on this?

[2016-07-14 09:23] iluwatar commented on #190
@markusmo3 anything I can help you with?

[2016-07-14 09:24] iluwatar commented on #301
@geniusgeek are still working on this?

[2016-07-14 09:25] iluwatar commented on #348
@raviteja1992y are you still on working on this?

[2016-07-14 09:27] iluwatar commented on #383
@Aravamudhan are you still working on this?

[2016-07-14 09:27] iluwatar commented on #393
@kuzneana are you still working on this?

[2016-07-14 09:28] iluwatar commented on #394
@zhexuany are you making progress?

[2016-07-14 09:29] #409 closed

[2016-07-14 11:09] raviteja1992y commented on #348
@iluwatar  Yeah. I am working on this.

[2016-07-14 13:39] Aravamudhan commented on #383
@iluwatar  I apologize for not informing before.  No I am not currently working on this pattern.

[2016-07-14 15:28] andy-williams commented on #352
I can probably give this a go since I own the book anyway.

[2016-07-14 16:34] Joshua-F opened #461 "Pipeline and Filter pattern"
https://msdn.microsoft.com/en-us/library/dn568100.aspx

[2016-07-14 16:35] Joshua-F commented on #461
Nevermind already reported as an issue #82.

[2016-07-14 16:35] #461 closed

[2016-07-14 16:42] iluwatar commented on #383
It's ok. I'll change the labels to indicate this issue is free for taking again.

[2016-07-14 16:44] iluwatar commented on #352
Ok, you're good to go @andy-williams

[2016-07-16 09:48] npathai commented on #458
@iluwatar Ok I will do it.

[2016-07-17 07:06] iluwatar opened #462 "Amend Abstract Factory information"
http://stackoverflow.com/questions/2280170/why-do-we-need-abstract-factory-design-pattern/2280289#2280289

Amend applicability/known uses/consequences

[2016-07-17 09:55] pnowy opened #463 "Chain of responsiblity pattern - javax.servlet.Filter as real example is missed"
I think that on the chain of responsibility pattern on the section real word examples the most important java real word example is missed.

I suggest to add there **javax.servlet.Filter** as the best patter for the people who meet this patter the first time.

I could create the pull request if it is needed.

[2016-07-17 11:50] iluwatar commented on #463
Thanks @pnowy Please create a pull request and we'll review it.

[2016-07-17 14:11] pnowy commented on #463
Pull request has been created!

[2016-07-18 06:24] #463 closed

[2016-07-18 06:42] iluwatar opened #465 "Add pattern statistics to web site"
Show overall numbers of available patterns, categories and tags.

https://github.com/iluwatar/java-design-patterns/wiki/07.-Working-with-the-web-site

[2016-07-18 07:21] iluwatar commented on #437
https://sites.google.com/site/steveyegge2/singleton-considered-stupid

[2016-07-18 13:00] npathai commented on #458
@iluwatar Added. Closing this issue.

[2016-07-18 13:00] #458 closed

[2016-07-18 13:06] npathai commented on #452
A pattern for similar purpose: #230

[2016-07-18 13:50] iluwatar commented on #458
:+1:

[2016-07-19 08:43] iluwatar opened #466 "Monitor Object pattern"
https://en.wikipedia.org/wiki/Monitor_(synchronization)
http://www.javaworld.com/article/2077769/core-java/better-monitors-for-java.html

[2016-07-19 08:44] iluwatar opened #467 "Data Bus pattern"
http://c2.com/cgi/wiki?DataBusPattern

[2016-07-19 08:44] iluwatar opened #468 "Binding Properties pattern"
https://en.wikipedia.org/wiki/Binding_properties_pattern
http://c2.com/cgi/wiki?BindingProperties

[2016-07-19 08:45] iluwatar opened #469 "Event-based Asynchronous pattern"
https://msdn.microsoft.com/en-us/library/wewwczdw(v=vs.110).aspx

[2016-07-20 15:31] iluwatar commented on #112
Disruptor was recently mentioned in Spring blog here: https://spring.io/blog/2016/07/20/notes-on-reactive-programming-part-iii-a-simple-http-server-application

[2016-07-20 18:26] iluwatar commented on #437
http://www.yegor256.com/2016/06/27/singletons-must-die.html

[2016-07-20 18:28] iluwatar commented on #105
http://blog.eisele.net/2016/07/cqrs-with-java-and-lagom.html

[2016-07-22 05:55] markusmo3 commented on #190
@iluwatar Sorry i have been away for the an amount of time. I graduated and got a job and to be honest somehow lost a little bit of motivation when i looked at the google statistics of our website.

I have the code for this sitting somewhere, i just didnt do the finishing touches, i will look into it the next few days.

[2016-07-22 07:25] iluwatar commented on #190
@markusmo3 good to hear from you. Congratulations for your graduation and new job! We can discuss the statistics you mentioned in Gitter.

[2016-07-23 06:55] iluwatar commented on #399
@npathai maybe we can encourage discussion before implementation in https://github.com/iluwatar/java-design-patterns/wiki/01.-How-to-contribute. Also, the new label `needs discussion` should be described in the instructions here https://github.com/iluwatar/java-design-patterns/wiki/06.-Working-with-issues. After these steps I think we can close this issue.

[2016-07-23 20:37] Crossy147 commented on #459
I will work on this pattern tomorrow.

[2016-07-24 04:42] iluwatar commented on #459
Great, please go ahead.

[2016-07-24 19:17] Crossy147 commented on #459
As far as I see, there already exists a monostate pattern which actually is a borg pattern
[Monostate](https://github.com/iluwatar/java-design-patterns/tree/master/monostate)
What should i do then?

[2016-07-25 06:41] iluwatar commented on #459
Well spotted. Borg seems to be an alias for Monostate. It's also said here: http://c2.com/cgi/wiki?MonostatePattern

We should add "Also known as" section with Borg to https://github.com/iluwatar/java-design-patterns/blob/master/monostate/README.md. Would you like to do it?

[2016-07-25 07:09] Crossy147 commented on #459
yes, i will add this alias today, and open pr to close this issue.

[2016-07-25 17:13] markusmo3 commented on #428
probably a good idea to use this: https://github.com/untra/polyglot

[2016-07-27 12:47] #459 closed

[2016-07-27 19:16] iluwatar commented on #428
:+1:

[2016-07-27 19:46] iluwatar opened #473 "Serverless pattern"
http://microservices.io/patterns/deployment/serverless-deployment.html

[2016-07-29 07:11] iluwatar commented on #451
https://github.com/jhalterman/failsafe

[2016-08-01 15:31] waisuan commented on #469
Hello, @iluwatar .

**I'd like to work on this pattern, if that's okay.**

My preliminary idea of implementation is as follows:-
- Create a single AsyncManager that controls/manages a pool of running/canceled/completed threads/tasks.
- Create a simple command line client interface to interact with the AsyncManager.
- AsyncManager will handle the creation and invocation of new tasks. [Cancellations

[2016-08-02 05:51] iluwatar commented on #469
Hi @waisuan

The presented plan looks good to me. I'll change the status of the task to indicate you're working on it.

[2016-08-03 20:51] markusmo3 commented on #353
I recently had an idea about this. Rather than using tooltips (which is quite bad for disabled people or smartphone/tablet users) we could add a Question mark icon to the right of the headings and explain the different Categories and tags in detail...

I mainly want that to _really_ clarify what is meant with what category/tag so we can save the user the googling :smile:

[2016-08-03 21:04] markusmo3 opened #477 "Image Viewer doesnt work"
because the javascript part isnt loaded.
Somehow github looses the "modules" page variable and then it wont add the required scripts to the document...

I will look into it tomorow

[2016-08-05 16:07] iluwatar opened #479 "The link to principles needs to be updated"
The `README.md` text "Programming/Software Design Principles" should link to content on the same web site e.g. http://java-design-patterns.com/principles/

Note that the link needs work on http://iluwatar.github.io/java-design-patterns/ web site too.

[2016-08-05 20:48] markusmo3 commented on #477
fixed in 7a0af03680dc2f7575514975045d9aa484c4c939

[2016-08-05 20:48] #477 closed

[2016-08-05 21:24] markusmo3 commented on #479
Hmm, we have a few options here:
* sacrifice the github link (use jekyll or do a relative link to "principles/" which points to nothing on github.
* sacrifice the website by hardlinking to java-design-patterns.com/principles/
* remove link completely

[2016-08-06 20:44] markusmo3 commented on #190
Hey @iluwatar
Im wondering if you could help me with a maven thing here.
I have this issue nearly completed in [my fork](https://github.com/markusmo3/uml-reverse-mapper/tree/plantuml-support), but i need a way to now assign every subproject of java-design-patterns this jar so that it uses the plugin and thus generates the puml file.

Currently i only know the way of copy-pasting the part in the re

[2016-08-06 21:05] markusmo3 opened #480 "Enable access to website with www."
I've read a little bit about SEO and it seems that making the website work with and without www. is important. So we should try and accomplish this.

Iluwatar assigned because he manages the domain.

[2016-08-06 21:14] markusmo3 opened #481 "Change landing page directly to /patterns/"
As the title suggests we should think about changing the landing page directly to the "content".

[2016-08-06 21:18] markusmo3 opened #482 "SEO (Search Engine Optimization)"
Our github link ranks pretty high on google, but our website does not. We should try and change that.
This is a very general issue, ideas will be summed up into a task list in this original post.
- [x] Index the website @ Google Console
- [ ] Marketing, getting publicity, social media coverage, etc.
- [ ] Analyze traffic @ Google Analytics and find out more about how to make it better
- [ ] Check

[2016-08-06 21:41] npathai commented on #428
Totally up for this :+1:

[2016-08-06 23:09] dougg0k commented on #428
Hi @markusmo3 If the person who wants to translate needs any help, I'm open to help.

[2016-08-07 19:55] iluwatar commented on #190
We could try to move the plugin configuration to the parent `java-design-patterns/pom.xml`. Specify it as follows:

[code]

With this plugin configuration `urm.dot` is generated for each submodule and it contains all the classes from com.iluwatar package and its subpackages.

[2016-08-09 12:49] iluwatar commented on #341
We would like to create a blog post for each pattern. In addition to publishing the post in our blog we are going to link it to the corresponding pattern page at java-design-patterns.com

[2016-08-09 13:08] iluwatar commented on #481
Maybe we can rename the "Home" link to "Readme" and just reconfigure the front page?

[2016-08-09 13:23] iluwatar commented on #481
We should also consider reorganizing the navigation links. Now it's

`readme - faq - blog - patterns - principles`

Maybe we could use

`patterns - principles - blog - readme - faq`

[2016-08-09 13:28] iluwatar commented on #482
#480 and #481 may also improve our Google ranking.

[2016-08-09 14:43] iluwatar commented on #480
Implemented, www.java-design-patterns.com now redirects to java-design-patterns.com.

[2016-08-09 14:43] #480 closed

[2016-08-11 06:03] iluwatar opened #485 "Entity component system (ECS) pattern"
https://en.wikipedia.org/wiki/Entity_component_system

[2016-08-11 10:09] iluwatar commented on #479
Linking to a page on the same site is such a basic functionality that I feel we must develop a real solution for this other than a workaround.

[2016-08-11 12:36] markusmo3 commented on #479
those are all real solutions, everything else will be a workaround (hacking with js or jekyll).
The Problem stems from the cross-compatibility between github and the website.

I'd prefer the last to be honest. "remove link completely" because i dont think we need to link to a page that is displayed in the navbar of our website.

[2016-08-11 16:19] markusmo3 opened #486 "Support code embedding"
Probably good idea to use https://gist-it.appspot.com/

Think about compatibility when adding/removing lines from existing code. The blogpost shouldnt break then!

[2016-08-11 18:26] iluwatar commented on #486
Tested locally and gist-it seems to work fine. See https://github.com/iluwatar/java-design-patterns/pull/487 utilizing gist-it.

[2016-08-12 04:58] markusmo3 commented on #486
Yep as mentioned in gitter i have take a look allready. But i want to finalize the embedding process with templates. So that you dont have to write the really long string anymore and just something like that:
[code]

And also the commit hash thing, because we need some approach to making those code samples "static".  Static because as mentioned in gitter, we would get problems when updating the so

[2016-08-12 05:12] iluwatar commented on #486
- For static samples we could utilize normal Gist
- I've used slice command to just strip away the license headers

[2016-08-12 06:29] npathai commented on #486
I guess when something in the source changes we will have to update the pattern page as well with it. The web page content must reflect the source changes.
Any example where we would have static samples? And yes in that case we could utilize normal gist as @iluwatar has mentioned.

One thing that we will have to be strict about is file name changes. If someone changes the filename then gist-it wil

[2016-08-13 10:15] markusmo3 commented on #486
Im unsure if my point came across correctly, so let me give you an example:

Lets look at [CacheStore](https://github.com/iluwatar/java-design-patterns/blob/master/caching/src/main/java/com/iluwatar/caching/CacheStore.java)

If we want to show the reader, how the read method of a cache is implemented, it would hinder if we would display the whole file. Instead we might want to select only the `rea

[2016-08-15 09:53] #479 closed

[2016-08-15 18:16] markusmo3 commented on #481
The redirect is working, but not optimal.

@iluwatar you might be able to make a proper redirect at s3, i tried with the [s3_website plugin](https://github.com/iluwatar/java-design-patterns/blob/gh-pages/s3_website.yml#L28-L29) but it didnt work.

Could you look into that? Best would be a redirect that is direct, without the generated index.html flashing in for a split second.

[2016-08-15 18:37] npathai commented on #481
I would like to see navigation link to our gitter chat room as well.
So the order can be
`patterns - principles - blog - readme - faq - chat`

[2016-08-16 07:51] npathai commented on #486
@markusmo3 I got your point. Yes commit hash would be great. I was also wondering if we could implement a nifty webhook that comments on the PR about possible changes in gists that we have attached on webpages. But there is one problem with this, we may have attached the page at multiple locations, how will we keep all of them in sync when something changes. Manual search?

[2016-08-16 08:04] markusmo3 commented on #486
Phew, you want some heavy features! gist-it itself doesnt support comments so it would be something i would have to develop (nope, too much work for now, there is more important stuff) but im unsure if gist supports it.

To the synchronization:
I intend to only reuse the blogposts. The patternpage or any other page that wants to include that post would get another front matter variable that looks

[2016-08-16 08:34] markusmo3 commented on #481
There is a reason i removed so much from the header and footer. (like our brand, the github symbols etc)
I want everything to look very clean and organized, another (somewhat redundant) link to gitter would mess a bit with that idea.

What is the usecase of this change? I only see random/new people coming to our chat, that didnt even read the "readme" or our github page. Do we want to send those s

[2016-08-16 11:33] npathai commented on #481
@markusmo3 True. Previously home page had gitter badge so we didn't need it so much. Currently readme is not landing page, so I thought it can be an add and provide visibility to chat as well. We can wait for @iluwatar to pitch in this and then come to a decision.

[2016-08-16 11:36] npathai commented on #437
http://misko.hevery.com/2008/08/17/singletons-are-pathological-liars/

[2016-08-17 17:29] iluwatar commented on #486
:+1: for commit hashes. Sooner or later the blogs are going break otherwise.

[2016-08-17 17:37] iluwatar commented on #481
Can't we serve the patterns directly from the root java-design-patterns.com and not java-design-patterns.com/patterns? This would solve the problem without redirect.

:+1: for adding the chat link.

[2016-08-18 15:20] harshSE commented on #449
Hi @iluwatar @npathai , I would like to contribute on this issue.

[2016-08-18 15:40] iluwatar commented on #449
@harshSE go ahead, it's all yours :)

[2016-08-18 18:21] npathai commented on #449
Good to see you @harshSE. Looking forward to your long term support 😊

[2016-08-19 05:31] markusmo3 commented on #481
We could. But to be consistent we would need to change the permalinks of each pattern to the root also. And if we didnt do it it would be inconsistent url design.
[code]

I think i mentioned it in gitter allready why i dont like putting the /patterns/ page directly at root. You might want to read it there. It would just be unorganized, patterns thrown into the root directory. And inconsistent beca

[2016-08-20 06:01] iluwatar commented on #481
Thanks for explaining @markusmo3 Out of these alternatives I would revert back to the old design where we have the landing page at the root and patterns are one click away.

[2016-08-20 07:49] npathai commented on #481
Understanding the fact that this cannot be done, I am ok with it :+1:

[2016-08-20 07:55] npathai commented on #482
Are we going to update our content layout of patterns page to make it SEO friendly? The fluffycat website is doing good job here. The idea is to have pattern categories as header for table and then show all patterns of that category in tabular form. Yes maybe we will loose some flexibility here, but there can be other ways out as well. @markusmo3 @iluwatar You are better at this, so I leave it up

[2016-08-20 07:58] npathai commented on #482
http://www.tutorialspoint.com/seo/seo-optimized-metatags.htm

[2016-08-20 08:07] npathai commented on #482
https://github.com/jekyll/jekyll-seo-tag

[2016-08-20 18:12] markusmo3 commented on #482
Thanks for the links @npathai
They both add to the 4th checkmark.

I think we should primarily design our website for humans. But if e.g. a change in the html-tag usage or the addition of better 'SEO tags' (the metadata stuff) results in better page ranking then we should definitly do it! So i dont think it is worth the hassle to completely restructure the site just so some robots can read our sit

[2016-08-24 14:13] hetsketch commented on #144
hi, I think i can do it

[2016-08-25 04:44] npathai commented on #144
Sure @hetsketch go ahead :+1:

[2016-08-26 09:19] npathai commented on #473
http://pca.st/BQAH

[2016-08-29 11:37] #481 closed

[2016-08-29 15:09] markusmo3 commented on #425
resolved as of #481

[2016-08-29 15:09] #425 closed

[2016-08-30 14:12] markusmo3 commented on #190
**todo:**
Check if all images are good enough to replace the old ones and if yes remove old pictures and replace them with the pumls

[2016-09-02 13:39] #486 closed

[2016-09-02 13:40] markusmo3 commented on #486
As also described in the "gistit-html" file itself:

[code]

[2016-09-02 17:48] #403 closed

[2016-09-02 18:13] iluwatar opened #492 "Build failing due to problem in urm-maven-plugin"
The last Travis build has failed due to following error:

[ERROR] Failed to execute goal com.github.markusmo3.urm:urm-maven-plugin:1.4.0:map (default) on project promise: Execution default of goal com.github.markusmo3.urm:urm-maven-plugin:1.4.0:map failed: 3 -> [Help 1]
org.apache.maven.lifecycle.LifecycleExecutionException: Failed to execute goal com.github.markusmo3.urm:urm-maven-plugin:1.4.0:ma

[2016-09-02 19:55] markusmo3 commented on #492
* https://github.com/markusmo3/uml-reverse-mapper/commit/be4e2d784af53dd9da06d0e999eab715740a9950
* https://github.com/markusmo3/uml-reverse-mapper/commit/d70849526c4de1ace66668accfd44dba3637456a

Fixed in Version 1.4.1, tested locally, already deployed, waiting for central maven to update

[2016-09-02 22:20] markusmo3 commented on #492
This issue still persists, i will work on it another day though

[2016-09-03 11:15] #211 closed

[2016-09-03 11:16] iluwatar commented on #492
@markusmo3 is it this issue https://github.com/markusmo3/uml-reverse-mapper/issues/1 ?

[2016-09-04 08:53] markusmo3 commented on #492
no, thats another problem for another time, but because it doesnt block funtionality it is very low priority.

With the newest commit https://github.com/iluwatar/java-design-patterns/commit/fa52a7f77eb038cf7e67bf9dfa32089b1fec096b the problem seems to be gone again

[2016-09-04 08:53] #492 closed

[2016-09-13 14:51] protopapa commented on #66
Hey!It was some busy months, together with the vacations. I will come back with this soon. Is that OK ?

[2016-09-13 15:50] iluwatar commented on #66
No problem @protopapa , you can work on it when you're able.

[2016-09-18 15:24] iluwatar commented on #190
@markusmo3 I'm in the process of verifying the functionality and have some questions and comments. This is the .puml of the Abstract Document pattern.

![abstractdocument](https://cloud.githubusercontent.com/assets/582346/18616835/92db93e0-7dcb-11e6-9d25-c0a08f2d6f99.png)

- The relation between AbstractDocument and Map is containment, right? The notation I'm familiar with is something like in thi

[2016-09-18 15:38] iluwatar commented on #190
This is the .puml for Abstract Factory.

![abstractfactory](https://cloud.githubusercontent.com/assets/582346/18616934/2580cc22-7dce-11e6-86da-03987190b84e.png)

- What are the relations between App and Army, King and Castle? It's not the same containment as in Abstract Document. Is the relation between Abstract Document and Map composition and the relation here between App and Army aggregation (m

[2016-09-18 16:05] iluwatar commented on #190
For Builder pattern .puml I'm getting syntax error. Do you know what causes this?

[2016-09-18 16:27] iluwatar commented on #190
Is my understanding correct that we would use online tools to generate the images from the .puml files? I'm referring to this script https://github.com/iluwatar/java-design-patterns/blob/master/_scripts/postPumlsToServer.py

I am worried about the performance of the online image generation. For example, I have tried to generate the image from the .puml of the Hexagonal pattern multiple times witho

[2016-09-19 17:02] christofferh commented on #440
Thanks for an excellent project, I thought I should contribute something back and this one seemed like a low-hanging fruit.

Would it make sense to simply add two helper methods in AppManager, e.g. `saveAside` and `findAside`

[code]

and then either delegate `CacheStore.(get,set,invalidate)` to `cache`

[code]

or simply expose `cache` with a `CacheStore.getCache()` getter?

And then add a new ca

[2016-09-19 20:26] markusmo3 commented on #190
Okay then,

Yep, at least that is the symbol for "inner class" relation ship: It reads something like this "AbstractDocument has the inner class Map" but why it is there i have no idea. Thats why we need reviews. I thought i fixed an issue like that some time ago, maybe it creeped back up again. I'll have to look into that, yes.

This issue was put to the side again and i forgot about it :innocent

[2016-09-20 11:49] markusmo3 commented on #190
with commit d70bfca the new diagrams should be a lot simpler to review!
Just decomment (remove the hashtag #) the `reviewmode` variable in _config.yml and serve the website locally. The new diagrams are now shown on the respective pattern pages.

Proposed Future Usage on new pattern creation:
1. When pattern is finished and fully approved by the jdp staff the diagram can be generated from source a

[2016-09-20 18:50] iluwatar commented on #440
@christofferh the plan looks reasonable. Just create a pull request and we'll review.

[2016-09-21 18:37] iluwatar commented on #190
I've created issue https://github.com/markusmo3/uml-reverse-mapper/issues/5

[2016-09-21 18:43] iluwatar commented on #190
Just decomment (remove the hashtag #) the reviewmode variable in _config.yml and serve the website locally. The new diagrams are now shown on the respective pattern pages.

I will try this and review the diagrams.

[2016-09-24 20:22] iluwatar commented on #190
@markusmo3 I went through the diagrams and this issue https://github.com/markusmo3/uml-reverse-mapper/issues/7 seems to reproduce multiple times. AFAIK all the issues are on the list now https://github.com/markusmo3/uml-reverse-mapper/issues

[2016-09-25 05:27] iluwatar commented on #190
[code]

[code]

The process looks generally fine. The first step says that the diagram can be committed only when the pull request has been approved. I think this limitation should be removed and diagrams should be submitted as part of the pull request. In step 2 generation via `mvn test` feels hackish. Maybe we can map another lifecycle phase into diagram generation? In steps 4-7 I see that we ar

[2016-09-25 07:09] akhambir commented on #448
I'll implement this.

[2016-09-25 12:03] iluwatar commented on #448
This issue is reserved to @akhambir

[2016-09-25 12:11] iluwatar commented on #448
@akhambir if you have questions or want to discuss the strategies of implementing this pattern please comment here.

[2016-09-25 16:25] markusmo3 commented on #190
Thanks for your help on this point here @iluwatar
Unfortunately my Desktop PC isnt available at the moment, i can organise and think through some stuff but not code :/

The limitation can be removed, if you'd like to review the diagram early in the pull request.
I used maven test to also ensure the user has successful tests, but thats just a personal opinion. I have no problem changing it to mvn u

[2016-09-25 17:02] iluwatar commented on #179
This issue is free for taking again.

[2016-09-25 17:03] iluwatar commented on #347
This issue is free for taking again.

[2016-09-25 17:05] iluwatar commented on #62
@inbravo are you implementing this? Please let us know if you no longer work on the issue.

[2016-09-25 17:07] iluwatar commented on #197
If someone wants to work on this, the issue is free for taking.

[2016-09-25 17:08] iluwatar commented on #203
@amit2103 are you still working on this?

[2016-09-25 17:09] iluwatar commented on #76
This issue is free for taking again.

[2016-09-25 17:09] iluwatar commented on #183
This issue is free for taking again.

[2016-09-25 17:10] iluwatar commented on #301
This issue is free for taking again.

[2016-09-25 17:10] iluwatar commented on #393
This issue is free for taking again.

[2016-09-25 17:10] iluwatar commented on #394
This issue is free for taking again.

[2016-09-25 17:11] iluwatar commented on #348
@raviteja1992y how's it going? Please let us know if you are still implementing this pattern.

[2016-09-25 17:12] iluwatar commented on #352
@andy-williams how is it progressing? Please let us know if you are still working on this.

[2016-09-25 17:13] iluwatar commented on #105
This issue is free for taking again.

[2016-09-25 19:20] iluwatar opened #496 "Pipeline pattern"
https://msdn.microsoft.com/en-us/library/ff963548.aspx

[2016-09-26 03:43] inbravo commented on #62
Apologies, i forgot about it. Please allow me to finish this by End of This week......

[2016-09-26 19:02] iluwatar opened #497 "Converter pattern"
http://www.xsolve.pl/blog/converter-pattern-in-java-8/

[2016-09-28 14:59] #411 closed

[2016-09-28 15:06] #399 closed

[2016-10-02 04:36] iluwatar opened #498 "Object Mother pattern"
http://martinfowler.com/bliki/ObjectMother.html

[2016-10-02 20:00] igeligel commented on #498
Hi! Great library :+1:
I want to take this one but what is the main difference to a simple [factory pattern](https://www.tutorialspoint.com/design_pattern/factory_pattern.htm)?

Since the link you shared was working with employees i have thought for something like this:

[code]

where EmployeeName is an enumeration of names. Is this the right approach?

[2016-10-03 18:32] iluwatar opened #499 "Combinator pattern"
https://gtrefs.github.io/code/combinator-pattern/

[2016-10-03 18:43] dmitraver commented on #437
HI!

I would like to pick this one and #436 as well.

[2016-10-03 18:47] iluwatar commented on #498
@igeligel some elaboration here http://stackoverflow.com/questions/923319/what-is-an-objectmother. I'll change to labels to indicate you're working on it.

[2016-10-03 18:48] iluwatar commented on #437
@dmitraver you're good to go!

[2016-10-03 18:49] iluwatar commented on #436
Assigned to @dmitraver

[2016-10-03 18:52] igeligel commented on #498
Yeah i want to work on this. I will probably code it the next days and check for a code review here then (i will announce if i think it is ready).

[2016-10-04 15:47] ghost-60 commented on #446
Working on it

[2016-10-04 16:05] iluwatar commented on #446
Ok @ghost-60

[2016-10-04 20:35] igeligel commented on #498
I have made the first try. The only thing that has not worked yet is the PlantUML diagram. I will try to make this tomorrow and commit to the fork again. A code review would be appreciated :)

[2016-10-06 04:54] iluwatar commented on #498
Don't worry about the PlantUML diagram - it is still experimental and we don't check it when you make the pull request. ObjectAid diagram is the one you should generate, as per instructions here https://github.com/iluwatar/java-design-patterns/wiki/01.-How-to-contribute

[2016-10-06 18:08] iluwatar opened #502 "Logging framework"
Instead of printing output to `System.out` we should use a logging framework such as Log4j to allow redirecting and filtering of output. In some cases this also eases testing. The refactoring should be applied across all the patterns.

[2016-10-08 10:43] stangles commented on #465
Hi, I would like to pick up this issue. I have a few questions about it:

* Should this be a separate page on the website?
* How does this differ from the "Patterns" page that breaks the patterns down by tag count and category count?
* Should it display design pattern statistics in a static way, or should users be able to interact/manipulate an interface in some way to get statistics on a subcateg

[2016-10-08 11:03] ghost-60 commented on #496
Working on it

[2016-10-10 19:15] iluwatar commented on #496
Ok @ghost-60

[2016-10-10 19:39] iluwatar commented on #465
Hi @stangles

My idea was to put the counts (total number of patterns, total number of categories and total number of tags) on the page http://java-design-patterns.com/patterns/. I'd say these are static counts and display the same number despite the state of the page.

I'll change the labels to indicate you are working on it.

[2016-10-13 16:26] dbryla commented on #502
I'll handle this. :) I propose to go with SLF4J API and Logback implementation.

[2016-10-13 19:21] iluwatar commented on #502
@dbryla the proposal is ok for me, you are good to go.

[2016-10-15 05:36] iluwatar opened #505 "Commander pattern"
http://www.grahamlea.com/2016/08/distributed-transactions-microservices-icebergs/

[2016-10-16 10:51] karmagamer commented on #497
Working on it ! Thanks !

[2016-10-17 18:28] iluwatar commented on #497
@karmagamer ok, you're good to go.

[2016-10-17 19:54] #440 closed

[2016-10-18 04:44] #469 closed

[2016-10-18 18:01] #436 closed

[2016-10-18 18:02] #437 closed

[2016-10-20 14:16] iluwatar opened #507 "SonarQube reports bugs"
Java Design Patterns is analyzed with SonarQube.com static analysis. The analysis shows some blocker level bugs that should be fixed:

https://sonarqube.com/component_issues/index?id=com.iluwatar%3Ajava-design-patterns#resolved=false|severities=BLOCKER|types=BUG

[2016-10-20 14:17] iluwatar opened #508 "SonarQube reports code smells"
Java Design Patterns is analyzed with SonarQube.com static analysis. The analysis shows some blocker level code smells that should be fixed:

https://sonarqube.com/component_issues/index?id=com.iluwatar%3Ajava-design-patterns#resolved=false|severities=BLOCKER|types=CODE_SMELL

[2016-10-20 14:21] andreybleme commented on #508
@iluwatar Hello. I can help with this one :100:
I'm on it.

[2016-10-20 14:23] andreybleme commented on #507
@iluwatar Hello. I can help with this one :100:
I'm on it.

[2016-10-20 18:01] iluwatar commented on #507
@andreybleme great, please go ahead.

[2016-10-23 06:15] iluwatar opened #509 "Component Object pattern"
https://lkrnac.net/blog/2016/10/component-object-pattern-example/

[2016-10-23 16:07] iluwatar opened #511 "SAM pattern"
http://sam.js.org/
https://www.infoq.com/articles/no-more-mvc-frameworks

[2016-10-23 17:55] dbryla commented on #502
Should I leave System.out in applications with tests based on StdOut or should I rewrite tests?

[2016-10-23 19:39] iluwatar commented on #502
We want to migrate the tests also. If it causes trouble we can deal with it later.

[2016-10-25 05:03] karmagamer commented on #497
Hi, I am done, but I am adding class diagrams and other resources.

Is there specific timeline (Example, 15 to 30 days)  to implement a pattern ?

[2016-10-25 18:35] iluwatar commented on #497
No, there is no strict timeline. Normally we close pull requests with no activity for 30 days, but this too is negotiable.

[2016-10-26 04:28] inbravo commented on #62
It is done, i will create a pull request for review ...

[2016-10-26 13:52] sangupta commented on #508
I will take care of this.

[2016-10-27 16:21] iluwatar commented on #508
Thank you @sangupta you're good to go!

[2016-10-28 16:53] iluwatar commented on #511
https://www.infoq.com/articles/sam-lessons-learned-front-end-reactive-architectures

[2016-11-01 06:14] Daniel-Dos commented on #346
I found it here a reference of implementation :
http://www.corej2eepatterns.com/ApplicationController.htm

[2016-11-04 11:45] dbryla commented on #502
PR: https://github.com/iluwatar/java-design-patterns/pull/515

Build on travis failed:

Can we increase limit?

[2016-11-05 09:48] Amarnath510 commented on #450
@iluwatar
I want to work on this. I read the doc and I think I can do it.
I am 4 years of work ex on Java/J2EE but I am beginner to open source contributions so please help me.
Where can I start? Where to ask questions if there are any?

[2016-11-05 14:40] iluwatar commented on #450
@Amarnath510 your contribution is welcome. Please read https://github.com/iluwatar/java-design-patterns/wiki/01.-How-to-contribute first. You can ask discuss the implementation here or in the Gitter chat  https://gitter.im/iluwatar/java-design-patterns.

[2016-11-06 10:45] iluwatar commented on #341
The first pattern blog is live here: http://java-design-patterns.com/blog/build-maintainable-systems-with-hexagonal-architecture/

For an example how the blog was written see the pull request: https://github.com/iluwatar/java-design-patterns/pull/487

[2016-11-06 14:27] rakeshgeci opened #516 "State Pattern"
New Pattern
https://en.wikipedia.org/wiki/State_pattern
https://dzone.com/articles/about-design-patterns

[2016-11-06 17:47] iluwatar commented on #516
This pattern has already been implemented, see http://java-design-patterns.com/patterns/state/

[2016-11-06 17:47] #516 closed

[2016-11-07 07:23] V-K-Singh opened #517 "Staged event-driven architecture (SEDA)"
It will be very helpful if you can provide an example on SEDA
please follow the below link for more details
http://pages.cs.wisc.edu/~remzi/Classes/739/Fall2016/Papers/seda.pdf

[2016-11-07 15:29] karmagamer commented on #497
Update: still working on it. been busy with work and school. I plan to finish by this weekend. Thanks!

[2016-11-07 19:09] iluwatar commented on #517
It seems there already is an issue about SEDA. See here https://github.com/iluwatar/java-design-patterns/issues/307. @V-K-Singh can you please comment on that issue instead?

[2016-11-07 19:10] #517 closed

[2016-11-08 08:31] inbravo commented on #105
https://github.com/AxonFramework/AxonFramework is based on CQRS

[2016-11-12 08:17] thomasoss opened #518 "Decorator: Composition or Aggregation?"
Hello, I refere to decorator pattern
I think the relationship between decorator and target (in the code example between Troll und SmartTroll) ist not a composition as described in the code comment lines of class App. In a compostion both instances canncot live without the other one. But the target (Troll) could live without the decorator (Smart Troll). Consequently this is a aggregation?
Greetings

[2016-11-12 13:16] Amarnath510 commented on #450
@iluwatar
I have done a basic UML diagram in which I am presenting my classes, interfaces and their relationships.
![uml](https://cloud.githubusercontent.com/assets/4599623/20237995/2b12882e-a907-11e6-91db-a41a71330237.gif)

NOTE: I haven't followed any code conventions as of now. This is just for design discussions.

- I have created 3 Worker threads each one submitting different number of tasks

[2016-11-12 17:51] iluwatar commented on #518
Good point @thomasoss and I tend to agree with you.

Looking forward to pull request fixing this issue.

[2016-11-13 08:35] iluwatar commented on #450
@Amarnath510 according to my understanding of the pattern the design draft looks correct. The task generators produce tasks that go into a queue and the service consumes the tasks from the queue at its own rate.

[2016-11-13 11:15] iluwatar commented on #197
I've created a presentation for Hexagonal Architecture in https://github.com/iluwatar/java-design-patterns/pull/519

[2016-11-13 11:48] Amarnath510 commented on #450
@iluwatar
Thanks for the review.
Yes. The Task generators generate tasks at any rate and submit them to the queue and the ServiceExecutor executes the tasks one after the other from the Queue.
I will proceed to code and then if are any corrections we can discuss them during code review.

[2016-11-13 12:55] iluwatar commented on #450
:+1:

[2016-11-13 17:52] iluwatar commented on #183
http://krasserm.github.io/2015/01/13/event-sourcing-at-global-scale/

[2016-11-14 15:47] thomasoss commented on #518
done
Greetings Thomas

[2016-11-14 16:00] #465 closed

[2016-11-14 16:02] markusmo3 commented on #465
I quickly did this issue to get into the whole JDP thing again after i was away for a bit (again.. ^^).
Hopefully you dont mind, stangles >.<

[2016-11-14 16:05] stangles commented on #465
Nope, not at all! I didn't get around to this soon enough--glad you got it
done!

On Nov 14, 2016 11:03, "Markus Moser" <notifications@github.com> wrote:

[2016-11-15 18:24] thomasoss commented on #64
http://hillside.net/plop/plop97/Proceedings/lalanda.pdf

[2016-11-15 19:32] #518 closed

[2016-11-15 19:36] iluwatar commented on #64
:+1:

[2016-11-16 20:21] iluwatar commented on #465
Looks good @markusmo3 :+1:

[2016-11-18 18:49] #502 closed

[2016-11-19 18:45] Amarnath510 commented on #450
@iluwatar
I have completed coding. I want to send the code for review.
Can you please let me know the steps I have to do for the code review?
I have knowledge about usual "git init", "git commit" .. but it seems to be different here.

[2016-11-19 20:40] iluwatar commented on #450
The steps are described here https://github.com/iluwatar/java-design-patterns/wiki/01.-How-to-contribute. Don't hesitate to ask if you need further information.

[2016-11-20 11:07] Amarnath510 commented on #450
@iluwatar
Thanks for your help. I have submitted the code for review.

[2016-11-20 16:38] iluwatar opened #522 "Remove HTML-Proofer from build"
There's a module called HTML-Proofer doing link analysis each time gh-pages branch is built. Lately it has been failing for various reasons (e.g. https://travis-ci.org/iluwatar/java-design-patterns/builds/177235379) and I would suggest that it would be removed from the build altogether.

[2016-11-20 16:56] iluwatar opened #523 "Remote Presentation Model pattern"
https://www.youtube.com/watch?v=Bo9kRUtKkhc&list=PLPIzp-E1msrYicmovyeuOABO4HxVPlhEA&index=71

[2016-11-20 21:42] markusmo3 commented on #522
Heya there,

im against this change, but also sorry i didnt pay a lot attention to those build failures earlier.

The HTML-Proofer uncovers important problems, like absolute links in [the newest blog page](https://raw.githubusercontent.com/iluwatar/java-design-patterns/gh-pages/_posts/2016-11-03-build-maintainable-systems-with-hexagonal-architecture.md):
[code]
This will fail, on purpose and in my

[2016-11-20 23:13] mpodlodowski commented on #76
I'd like to take this one.

[2016-11-21 05:54] iluwatar commented on #76
@mpodlodowski great, you're good to go!

[2016-11-21 09:39] thomasoss commented on #77
I would like to deal with this
Greetings Thomas

[2016-11-21 19:49] iluwatar commented on #522
Ok, we can keep it if you insist but then we have to fix the current issues and react quickly when it reports errors. Also, I have modified the build sequence in https://github.com/iluwatar/java-design-patterns/commit/de7abf9e6e9c73157ef3a4e22c25d842e937eea7 to run the S3 deployment despite of HTML-Proofer errors. I don't know if this should be reverted.

[2016-11-21 19:56] iluwatar commented on #77
Yes, great @thomasoss, the issue is yours!

[2016-11-21 20:43] #522 closed

[2016-11-21 20:48] markusmo3 commented on #522
The newest build is successful again:
https://travis-ci.org/iluwatar/java-design-patterns/builds/177775274

And im fine with the s3 deployment going through even if the HTML-Proofer fails. It's just a tool for reinforcing good valid websites, but if rapid prototyping is needed it can be a hassle. This will most likely hide some issues like those internal links but thats okay, i guess ^^

[2016-11-22 17:37] iluwatar commented on #522
Good enough for me. Thanks for fixing this @markusmo3 :+1:

[2016-11-26 12:41] markusmo3 opened #524 "Page-Object source placement?"
The Page-Object patterns source code is mainly place in src/test instead of src/main, where only the App class lies.

Im really not familiar with the pattern and the implementation, but the issue is that the uml-reverse-mapper only adds src/main classes to its diagram. Due to them missing [the puml file is basically emtpy](https://github.com/iluwatar/java-design-patterns/blob/master/page-object/et

[2016-11-26 13:50] iluwatar commented on #524
I see the problem. However, this is a testing pattern and think that the source code layout was intended to be like this. Maybe @colinbut has a comment on this?

[2016-11-26 18:24] #498 closed

[2016-11-28 17:09] iluwatar commented on #450
The pattern example has been merged. The next steps would be to create a blog post or presentation about it. See https://github.com/iluwatar/java-design-patterns/issues/341 and https://github.com/iluwatar/java-design-patterns/issues/197 for more information.

[2016-11-28 17:09] #450 closed

[2016-11-30 10:50] Amarnath510 commented on #450
@iluwatar
I have few questions regarding blog creation.
I read [How to create Blog Entry](https://github.com/iluwatar/java-design-patterns/wiki/01.-How-to-contribute#blog)
Following are the steps which I want to do,
1. Should I do a pull request of branch [gh_pages](https://github.com/iluwatar/java-design-patterns/tree/gh-pages) ?
2. Then I should create a folder under _posts with name "queue-load

[2016-11-30 18:24] iluwatar commented on #408
It should be quite stable already http://junit.org/junit5/

[2016-11-30 19:06] iluwatar commented on #450
@Amarnath510 the answer to all the questions is "yes, you got it right" :smile:

[2016-12-01 15:33] Amarnath510 commented on #450
@iluwatar
:)
Sorry to bother you. But I am facing issue that is the reason I wrote step by step above.
When I do a "new pull request" at [gh-pages](https://github.com/iluwatar/java-design-patterns/tree/gh-pages) for branch **gh-pages** I got the below screen.

<img width="598" alt="untitled" src="https://cloud.githubusercontent.com/assets/4599623/20799796/54a6b668-b809-11e6-9679-c2ccf210aba6.png">

[2016-12-01 15:59] iluwatar commented on #105
http://cloud.rohitkelapure.com/2016/10/cqrs-and-event-sourcing-in-java-with.html

[2016-12-01 16:10] iluwatar opened #525 "Attach tutorial links to patterns"
In the [pattern template](https://github.com/iluwatar/java-design-patterns/wiki/02.-Pattern-template) there is section for Tutorials. Here we should list tutorials explaining the pattern. One example is here http://java-design-patterns.com/patterns/hexagonal/.

[2016-12-01 17:07] iluwatar commented on #450
Try clicking the link "compare across forks" and selecting your fork's gh-pages branch.

[2016-12-01 17:25] Amarnath510 commented on #450
@iluwatar
Thanks. Solved the issue. 👍

[2016-12-01 18:56] #62 closed

[2016-12-08 16:10] Amarnath510 commented on #450
@iluwatar
I have completed the blog. Please comment for the same.
There is a issue with the blog images. I have done the same as mentioned in the reference blog but the images are not resolving.

[2016-12-09 07:04] Amarnath510 commented on #466
@iluwatar I want to work on this.

[2016-12-11 07:41] iluwatar commented on #466
@Amarnath510 yes, please go ahead :+1:

[2016-12-13 13:38] thomasoss commented on #77
The coding is done and I also worked through the Checkstyle Pluging messages. But for using  "ObjectAid UML Explorer for Eclipse" the purchase of a license is obligatory. Is there another way to create the UMLs in the format you need?

[2016-12-13 16:45] mrcrow85 commented on #77
@thomasoss The license is only needed if you want to use the extra diagrams, the free version already has the class diagrams feature which is the diagram you need.

[2016-12-15 17:44] thomasoss commented on #77
@mrcrow85 thank you. Worked.
Now the UML is created. Looking into the existing etc folders is see xyz.urm.puml-files too. Can ObjectAid create this file. I couldn't find out how.
In the readme.md there is a pumlid: Where does this come from?
Greetings Thomas

[2016-12-15 20:55] iluwatar commented on #77
We are in the process of switching the tool used to create the UML diagrams. This is discussed in https://github.com/iluwatar/java-design-patterns/issues/190. If you want, you can try the steps proposed by @markusmo3 to generate the pumlid or optionally just leave the pumlid empty for now.

[2016-12-16 08:54] thomasoss commented on #77
... ok - the tls.urm.puml was generated by the Maven build. Because my environment is configured for Gradle I had to do the Maven build in a second Eclipse project to which I copied the source code files. And I oversaw the puml created in the etc folder.

[2016-12-16 09:05] thomasoss commented on #77
@iluwatar and @markusmo3
creation of the pumlid worked fine with your instructions. Thank you

[2016-12-19 22:12] Rzeposlaw commented on #66
Hi, I'm not sure if anybody still is doing this pattern. If it's possible I want to take it. I would be very glad if you will inform me about its availability as soon as possible. Thank you very much!

[2016-12-20 15:23] iluwatar commented on #66
@protopapa are you currently working on this or may @Rzeposlaw take it?

[2016-12-22 19:31] iluwatar commented on #190
@markusmo3 the issue list https://github.com/markusmo3/uml-reverse-mapper/issues looks better and if I understood correctly the most critical issue https://github.com/markusmo3/uml-reverse-mapper/issues/7 has been fixed? Maybe we are close to production use already or what do you think?

[2016-12-23 21:37] matthewwier commented on #499
Hi, I would like to take that, is it possible?

[2016-12-24 07:09] iluwatar commented on #499
Yes, please go ahead @matthewwier

[2016-12-28 09:04] Rzeposlaw commented on #66
Hi, I want to remind you about my question. Could I work with this pattern in this situation? :)

[2016-12-28 10:42] pikuldorota commented on #61
Hi, could I work on this one?

[2016-12-28 15:41] iluwatar commented on #66
There's no answer from @protopapa so far. I think we can assume that it is no longer under construction and you can take it. @Rzeposlaw, you're good to go!

[2016-12-28 15:42] iluwatar commented on #61
Sure, go ahead @pikuldorota :+1:

[2016-12-28 19:42] robertt240 commented on #69
Hello, I'd like to work on this pattern.

[2016-12-29 06:26] iluwatar commented on #69
That's great @robertt240, go ahead!

[2016-12-30 10:20] AlesandraSzumacher commented on #70
@iluwatar I with @marianka600 want to work on this pattern. Can we?

[2016-12-30 20:27] iluwatar commented on #70
Great, please go ahead @AlesandraSzumacher and @marianka600

[2017-01-03 17:02] iluwatar commented on #82
http://iteratrlearning.com/java/2016/12/26/pipes-and-filters-actors-akka-java.html

[2017-01-03 22:12] loren138 opened #534 "Maven Error"
I was trying to list a dependency tree for your project using ``mvn dependency:tree`` but I keep getting the following error:

I removed the ``naked-objects`` module from the main pom.xml file and then it worked for the rest of the repository so I think this is an issue in one of the pom.xml files in the ``naked-objects`` folder, but if it is an issue in my usage of the repository, please let me k

[2017-01-03 23:37] protopapa commented on #66
Sorry for disappearing.  And I just got synced, please ignore my commit. My bad and I was late.

[2017-01-04 06:17] iluwatar commented on #534
Seems to work for me (see the attached log file). Can you update to the latest source codes, run `git clean -xfd` and `mvn clean` and then `mvn dependency:tree`?

[2017-01-04 14:34] loren138 commented on #534
That is strange.  I'm running Ubuntu 16.04

`you@downloadgit:~/java-design-patterns$ mvn --version
Apache Maven 3.3.9
Maven home: /usr/share/maven
Java version: 1.8.0_111, vendor: Oracle Corporation
Java home: /usr/lib/jvm/java-8-openjdk-amd64/jre
Default locale: en_US, platform encoding: UTF-8
OS name: "linux", version: "4.4.0-57-generic", arch: "amd64", family: "unix"
you@downloadgit:~/java-desi

[2017-01-04 15:04] loren138 commented on #534
I've solved it.  I had not run `mvn install` and maven is unable to build a dependency tree with the intra-project dependencies unless the project has been installed first.

Once `mvn install` has been run for that particular version, the dependency tree for that version can be built successfully for the project as a whole.

(Thanks to SO for the tip http://stackoverflow.com/questions/7953888/how-

[2017-01-04 15:04] #534 closed

[2017-01-04 22:41] markusmo3 commented on #190
@iluwatar yes i have not noticed major issues anymore.

After a review we could decide to fully switch to puml. Then ill do all the tutorial writing in the wiki and commit the changes to the codebase.

[2017-01-06 07:44] Pauligfast commented on #179
I'd like to take it

[2017-01-07 08:15] iluwatar commented on #179
@Pauligfast ok, please go ahead.

[2017-01-10 12:39] Amarnath510 commented on #466
@iluwatar
I am working on this one. I'll be submitting the design in a week.

[2017-01-10 19:27] iluwatar commented on #466
Great @Amarnath510, I'll update the issue labels.

[2017-01-11 06:08] Amarnath510 commented on #466
@iluwatar  Could you also check the [blog post](https://github.com/iluwatar/java-design-patterns/pull/526) and review it?
I have made all the suggested changes.

[2017-01-13 11:20] iluwatar commented on #341
Another blog goes live, Queue-Based Load Leveling Pattern by @Amarnath510 :+1: The pull request can be found here https://github.com/iluwatar/java-design-patterns/pull/526.

[2017-01-14 14:41] iluwatar commented on #73
Seems to be duplicate of https://github.com/iluwatar/java-design-patterns/issues/466

[2017-01-14 14:41] #73 closed

[2017-01-15 19:49] colinbut commented on #524
The Page-Object patterns source code is mainly placed in src/test because it is predominately a test pattern as mentioned.

I'm not that really familiar with the usages of the puml file but my personal opinion is that i don't advise moving the source just to solve this uml-reverse-mapper issue as that would break the pattern intention/contract. The page objects are only used by test classes and do

[2017-01-17 14:32] Lonzak commented on #224
@iluwatar I also got the exception (

But when I opened the file I realized that I tried to download the file from the github webpage thus the **content is an HTML file and NOT the XML file**! If you do a real download it works...

[2017-01-17 19:59] iluwatar commented on #224
Thanks for sharing this @Lonzak

[2017-01-20 09:36] gangadkho commented on #525
I checked the hexagonal patterns page. Its having the tutorial link to java-design-pattern (hexagonal pattern) tutorial. Can the patterns also have tutorial links to external sites?

[2017-01-21 10:58] iluwatar commented on #525
@gangadkho that is a good question. But if we allowed links to external sites and content, would we bump into copyright issues and lawsuits?

[2017-01-21 11:34] iluwatar commented on #341
Just published [Controlling Access With Proxy Pattern](http://java-design-patterns.com/blog/controlling-access-with-proxy-pattern/).

[2017-01-21 11:53] gangadkho commented on #525
@iluwatar Would'nt that be a promotion for external sites? We are just providing the link to their websites(not copying the contents in to our website).  Does that sound correct? Correct me if I am wrong.

[2017-01-22 15:48] iluwatar commented on #525
I don't think it's that simple. For example, see http://www.internetlegalattorney.com/website-external-links-framing-liability-guide/ for potential risks.

[2017-01-23 08:12] Amarnath510 commented on #466
@iluwatar
I am occupied these days and I'll be busy for the next couple of weeks or so.
Could you please mark this pattern as "help wanted" if you need to complete this soon.
In case you are not in a hurry I can take this up after a month.

[2017-01-23 17:56] iluwatar commented on #466
@Amarnath510 I'll mark the issue free for taking. Feel free to reclaim it later.

[2017-01-24 23:50] jayant96 commented on #525
Is this issue closed or still open as three blog present in sites are linked in respective patterns?
Also what is the decision on using external links ?

[2017-01-26 09:33] PJozeph commented on #466
@iluwatar apologize to write here without any suggestion, i am code newbie at the stage of figuring out how to contribute.
the task here is the demonstrate how Hoare-style monitors is working ?

[2017-01-26 14:31] PJozeph commented on #467
@iluwatar can i work on this ?

[2017-01-26 18:47] iluwatar commented on #466
@PJozeph that is correct. To get started please read through https://github.com/iluwatar/java-design-patterns/wiki/01.-How-to-contribute.

[2017-01-26 18:47] iluwatar commented on #467
@PJozeph ok, the issue is yours.

[2017-01-27 07:27] PJozeph commented on #467
@iluwatar thanks, since i am newbie i reckon i need a bit more time, how does it work is there a deadline ?

[2017-01-28 08:03] iluwatar commented on #467
@PJozeph there is no deadline. Feel free to ask for support at https://gitter.im/iluwatar/java-design-patterns or by commenting this issue.

[2017-01-29 11:32] markusmo3 commented on #525
I dont think hyperlinking would be an issue.

Thats what i learned when the issue first came up a couple of years ago

i) they wont, its a hyperlink, in blue color and most of the times the URL is in full text
ii) might be an issue, if the linked site is infringing, but i think we can take that risk
iii) nope, unless we link to drugsites or other dubious stuff

If the added links are checked and a

[2017-01-30 18:34] iluwatar commented on #525
Thank you @markusmo3 for the statement. In light of this, I think we can start accepting links to other sites as well.

[2017-02-05 21:10] iluwatar opened #539 "Checkstyle improvements"
Currently Checkstyle does not check for type Javadocs.Rule `JavadocType` should be added. Rule that causes trouble and should be removed is `AvoidStarImport` since IntelliJ IDEA likes to organize imports automatically this way.

[2017-02-11 23:04] iluwatar commented on #190
I regenerated all the pumls and reviewed the diagrams.
- The generated UML looks perfect. Well done @markusmo3 :champagne: :champagne: :champagne:
- There is a cropping problem on the PlantUML server with large diagrams and PNG image. This problem occurs in about 10% of the patterns. To reproduce try to feed a large diagram like [this](https://github.com/iluwatar/java-design-patterns/blob/master/h

[2017-02-11 23:29] iluwatar commented on #508
@sangupta are you still working on this?

[2017-02-11 23:29] iluwatar commented on #507
@andreybleme are you still working on this?

[2017-02-11 23:31] iluwatar commented on #497
@karmagamer are you still working on this?

[2017-02-11 23:31] iluwatar commented on #496
@ghost-60 are you still working on this?

[2017-02-11 23:32] iluwatar commented on #449
@harshSE are you still working on this?

[2017-02-11 23:32] iluwatar commented on #448
@akhambir are you still working on this?

[2017-02-11 23:32] iluwatar commented on #446
@ghost-60 are you still working on this?

[2017-02-11 23:33] iluwatar commented on #381
This issue is free for taking once again.

[2017-02-11 23:34] iluwatar commented on #352
Since we received no comment this issue is free for taking again.

[2017-02-11 23:34] iluwatar commented on #348
There is no answer, so this issue is free for taking again.

[2017-02-11 23:35] iluwatar commented on #203
No answer, so this issue is free for taking once again.

[2017-02-11 23:36] iluwatar commented on #144
@hetsketch are you still working on this?

[2017-02-12 12:55] sangupta commented on #508
@iluwatar Am sorry - have been pressed for time lately. Will have sometime in March - when I should be able to lend a helping hand.

[2017-02-12 18:12] ghost-60 commented on #496
Sorry.... not yet

On Feb 12, 2017 05:02, "Ilkka Seppälä" <notifications@github.com> wrote:

[2017-02-12 18:31] Crossy147 commented on #468
Hi @iluwatar, I can take this one.

[2017-02-12 18:38] Crossy147 commented on #497
@iluwatar, if @karmagamer is not willing to finish his contribution, feel free to summon me, and then I will take it :)

[2017-02-13 15:10] iluwatar commented on #496
My question, do you still want to keep the issue or can someone else take it?

[2017-02-13 15:11] iluwatar commented on #468
Ok @Crossy147 it's yours.

[2017-02-13 15:31] ghost-60 commented on #496
Someone else can take it. Sorry.

On Feb 13, 2017 20:41, "Ilkka Seppälä" <notifications@github.com> wrote:

[2017-02-13 15:32] iluwatar commented on #496
It's ok @ghost-60. This issue is free for taking again.

[2017-02-14 15:02] hetsketch commented on #144
@iluwatar no

[2017-02-14 19:08] iluwatar commented on #144
This issue is free for taking

[2017-02-17 20:03] iluwatar opened #541 "Extension Objects pattern"
http://www.mif.vu.lt/~plukas/resources/Extension%20Objects/ExtensionObjectsPattern%20Gamma96.pdf

[2017-02-19 20:22] igroeg commented on #451
Hi, I want to give that pattern a try. Do I have any deadlines? (It's good for me to know some reasonable estimations for a patterns like this)

[2017-02-20 06:17] iluwatar commented on #451
@igroeg great, I'll mark this issue to be under construction. There are no deadlines as such but if nothing happens during few months I'll start asking questions. Feel free to ask for support by commenting on this issue or discussing it in Gitter.

[2017-02-22 03:28] rinormaloku opened #542 "CircuitBreaker pattern."
http://www.hascode.com/2017/02/resilient-architecture-circuit-breakers-for-java-hystrix-vert-x-javaslang-and-failsafe-examples/

[2017-02-22 05:00] iluwatar commented on #542
Duplicate of https://github.com/iluwatar/java-design-patterns/issues/413

[2017-02-22 05:00] #542 closed

[2017-02-22 05:00] iluwatar commented on #413
http://www.hascode.com/2017/02/resilient-architecture-circuit-breakers-for-java-hystrix-vert-x-javaslang-and-failsafe-examples/

[2017-02-23 08:20] PJozeph commented on #467
@iluwatar  sorry but cant handle with the issue,

[2017-02-24 19:58] iluwatar commented on #467
It's ok, someone else can take it.

[2017-02-25 10:49] kemitix commented on #467
I'd like to give this a go.

[2017-02-27 05:47] iluwatar commented on #467
Ok @kemitix

[2017-02-28 12:14] 9527BOM commented on #525
where is the Design description?

[2017-03-02 14:39] dheeraj-mummareddy commented on #473
I can signup for this.

[2017-03-03 13:11] wisamtb1 commented on #485
I will take care of it, I can solve it @iluwatar

[2017-03-05 18:58] kemitix commented on #467
Initial implementation of the pattern has been added: PR #544

Still to write README.md, javadoc and proper comments.

[2017-03-06 18:00] iluwatar commented on #473
It's yours @dheeraj-mummareddy :+1:

[2017-03-06 18:03] iluwatar commented on #485
Go ahead @wisamtb1 :+1:

[2017-03-08 14:51] Crossy147 commented on #497
@iluwatar are there any updates with this? I have a spare-time next weekend and I'm really willing to contribute with this pattern to finish my bachelors which is base on a contribution to your repository :)

[2017-03-08 19:12] Crossy147 commented on #468
@iluwatar can you please take a look whether this is what you meant for?
Since BiDirectional property binding requires too simple approach (properties must be equal) or too difficult approach(the converting function needs to be a checked bijection) - but this one is tricky and I don't think that it should be included here.
 I've decided to show a bit more complex but still simple one direction pro

[2017-03-08 19:35] umarov001 commented on #468
STFU STOP SPAM PLS

2017-03-08 22:13 GMT+03:00 Kamil Pietruszka <notifications@github.com>:

[2017-03-09 19:07] iluwatar commented on #497
@karmagamer is not responding so I think we can assume that she is no longer working on this. @Crossy147 feel free to proceed.

[2017-03-11 07:03] iluwatar commented on #524
@colinbut this restructuring sounds good to me since it enables uml-reverse-mapper to do its job. Would you be able to create a pull request for this?

[2017-03-12 08:37] #69 closed

[2017-03-15 20:00] squla commented on #348
@iluwatar
I can do it. But it should be simple example i.e. we get two things from db and we prepare DTO, or maybe i should present usage with rest api ?

[2017-03-16 09:30] salman-bhai commented on #197
@iluwatar can u list what all presentations are up for the taking? I'd like to contribute to one of them if possible!

[2017-03-16 09:31] salman-bhai commented on #448
Is this issue open ?

[2017-03-16 09:37] salman-bhai commented on #61
Is this still under construction?

[2017-03-16 18:58] iluwatar commented on #197
The checked ones have already been implemented.

- [ ] abstract-document
- [ ] abstract-factory
- [ ] adapter
- [ ] aggregator-microservices
- [ ] api-gateway
- [ ] async-method-invocation
- [ ] bridge
- [ ] builder
- [ ] business-delegate
- [ ] caching
- [ ] callback
- [ ] chain
- [ ] command
- [ ] composite
- [ ] dao
- [ ] data-mapper
- [ ] decorator
- [ ] delegation
- [ ] dependency-injection
-

[2017-03-16 18:59] iluwatar commented on #448
@akhambir does not answer, so I assume it is. I'm changing the labels to indicate it is free for taking.

[2017-03-16 19:00] iluwatar commented on #61
Ping @pikuldorota

[2017-03-17 06:56] pikuldorota commented on #61
Hi, I'm sorry but I wouldn't manage to finish this task.

[2017-03-17 17:26] iluwatar commented on #61
No problem @pikuldorota. The task is free for taking again.

[2017-03-18 15:29] muditporwal commented on #539
Will this suffice ?

    <module name="JavadocType"/>

Or need more customization ?

    <module name="JavadocType">
      <property name="authorFormat" value="\S"/>
    </module>

[2017-03-18 16:51] mihaildemidoff opened #547 "Incorrect history stack handling in command pattern"
Hello!

Thank you for your work.
I found one small problem in command pattern. I agree that code should be light as possible and some details may be ommited, but examples should be correct.
Problem: InvisibilitySpell and ShrinkSpell have incorrect redo and undo mechanism. For example: if you execute ShrinkSpeel 2 times Goblin will never return to Big size.
I think we should add stack of states in

[2017-03-18 17:21] iluwatar commented on #539
Is `authorFormat` necessary? My suggestion would be like this.

[code]

And remove the star import.

[code]

[2017-03-19 15:43] muditporwal commented on #539
How do we get the missing JavaDoc ? Is it ok for me to suggest javadoc in my pull request (the build is breaking at the moment) ?

[2017-03-20 05:48] iluwatar commented on #539
Yes, please suggest changes so that build works.

[2017-03-22 20:50] qpi commented on #420
Hello @iluwatar. Could You split this issue?
It would be needed as we are a group from university and for one of our course we have to participate in an open source project. So if possible we would like to take these patterns:
- Double Buffer
- Update Method
- Type Object
- Event Queue
- Service Locator

[2017-03-26 11:49] iluwatar commented on #468
@Crossy147 is there a pull request for this? I can offer insight if you show me the code.

[2017-03-26 12:01] #66 closed

[2017-03-26 17:51] neerajmahajan opened #549 ""Aggregator microservices" design pattern doesn't show exception handling"
"Aggregator microservices"  design pattern doesn't show how exception handling would be done if the one or multiple services used are down and how client calling the aggregator microservice would cope in this situation.

[2017-03-26 18:20] Crossy147 commented on #468
Nope, I've decided to wait for your approval with PR #546 first. :)

[2017-03-30 20:17] sunilmogadati commented on #507
@iluwatar Hi, I would like to take this up, if no one else is already on it.

[2017-03-31 09:37] Rzeposlaw commented on #65
Hello, can I work on this now?

[2017-04-01 05:35] iluwatar commented on #507
Yes, it seems @andreybleme is not active so you can take this.

[2017-04-01 05:36] iluwatar commented on #65
Ok @Rzeposlaw it is yours.

[2017-04-01 08:52] iluwatar opened #550 "Double Buffer pattern"
http://gameprogrammingpatterns.com/double-buffer.html

[2017-04-01 08:52] iluwatar opened #551 "Game Loop pattern"
http://gameprogrammingpatterns.com/game-loop.html

[2017-04-01 08:53] iluwatar opened #552 "Update Method pattern"
http://gameprogrammingpatterns.com/update-method.html

[2017-04-01 08:53] iluwatar opened #553 "Bytecode pattern"
http://gameprogrammingpatterns.com/bytecode.html

[2017-04-01 08:54] iluwatar opened #554 "Subclass Sandbox pattern"
http://gameprogrammingpatterns.com/subclass-sandbox.html

[2017-04-01 08:54] iluwatar opened #555 "Type Object pattern"
http://gameprogrammingpatterns.com/type-object.html

[2017-04-01 08:55] iluwatar opened #556 "Component pattern"
http://gameprogrammingpatterns.com/component.html

[2017-04-01 08:55] iluwatar opened #557 "Event Queue pattern"
http://gameprogrammingpatterns.com/event-queue.html

[2017-04-01 08:56] iluwatar opened #558 "Service Locator pattern"
http://gameprogrammingpatterns.com/service-locator.html

[2017-04-01 08:56] iluwatar opened #559 "Data Locality pattern"
http://gameprogrammingpatterns.com/data-locality.html

[2017-04-01 08:57] iluwatar opened #560 "Dirty Flag pattern"
http://gameprogrammingpatterns.com/dirty-flag.html

[2017-04-01 08:57] iluwatar opened #561 "Object Pool pattern"
http://gameprogrammingpatterns.com/object-pool.html

[2017-04-01 08:58] iluwatar opened #562 "Spatial Partition pattern"
http://gameprogrammingpatterns.com/spatial-partition.html

[2017-04-01 08:58] iluwatar commented on #420
@qpi it's done now. Please comment on the individual patterns you would like to take and I will assign them to you.

[2017-04-01 08:59] #420 closed

[2017-04-01 09:30] #77 closed

[2017-04-01 11:18] #497 closed

[2017-04-01 11:47] #539 closed

[2017-04-02 03:07] sunilmogadati commented on #507
@iluwatar Thanks. The blocker issues can be seen [here](https://sonarqube.com/component_issues?id=com.iluwatar%3Ajava-design-patterns#resolved=false|types=BUG|severities=BLOCKER).
Just submitted the [PR](https://github.com/iluwatar/java-design-patterns/pull/563). It fixes 6 of the 7 issues. The seventh seems to be by design. Please have a look and let me know.

[2017-04-02 17:48] qpi commented on #557
Hello @iluwatar I would like to take this pattern. Thanks!

[2017-04-02 17:57] Imp92 commented on #555
Hello @iluwatar I would like to take this pattern. Thanks!

[2017-04-02 18:37] ungoranita commented on #552
Hello @iluwatar I would like to take this pattern. Thanks!

[2017-04-03 04:32] iluwatar commented on #557
Ok @qpi

[2017-04-03 04:32] iluwatar commented on #555
Ok @Imp92

[2017-04-03 04:33] iluwatar commented on #552
Ok @ungoranita

[2017-04-03 08:11] gabex89 commented on #550
Hello @iluwatar, I would like to take this pattern. Thanks!

[2017-04-03 08:14] szokekristof commented on #558
Hello @iluwatar I would like to take this pattern. Thanks!

[2017-04-03 18:54] iluwatar commented on #550
Ok @gabex89

[2017-04-03 18:59] iluwatar commented on #558
Hi @szokekristof I think this issue may be a duplicate https://github.com/iluwatar/java-design-patterns/tree/master/service-locator. What do you think?

[2017-04-04 07:23] szokekristof commented on #554
Hello @iluwatar I would like to take this pattern. Thanks!

[2017-04-04 07:23] szokekristof commented on #558
Hi @iluwatar,
yes it seems the same for me as well.
In this case I take another one.
thanks

[2017-04-04 15:37] iluwatar commented on #554
Ok @szokekristof

[2017-04-04 15:38] iluwatar commented on #558
Closed as duplicate

[2017-04-04 15:38] #558 closed

[2017-04-06 02:56] abhi-agr commented on #561
I would like to work on it. Can I take this?

[2017-04-06 05:27] iluwatar commented on #561
Is it the same as https://github.com/iluwatar/java-design-patterns/tree/master/object-pool ?

[2017-04-06 16:49] abhi-agr commented on #561
Yeah seems to be same. Do you know why it came up as task again in the list as new pattern?

[2017-04-06 17:43] iluwatar commented on #561
My mistake. I will close this as duplicate.

[2017-04-06 17:43] #561 closed

[2017-04-08 05:32] abhi-agr commented on #556
Is it different from https://github.com/iluwatar/java-design-patterns/issues/509

[2017-04-09 07:35] iluwatar opened #564 "Collection Pipeline pattern"
https://martinfowler.com/articles/collection-pipeline/
https://www.ibm.com/developerworks/library/j-java8idioms2/index.html

[2017-04-16 23:06] abhi-agr commented on #564
I read the articles linked here. In java, this is inherent in Streams and Lambdas to use the collection-pipeline.

I am not sure what we can do to represent this pattern as we don't need to write any new classes / interfaces to implement. For example, to implement State pattern, I need to come up with new classes to make the flow work.

[2017-04-17 00:36] abhi-agr commented on #560
I am working on this.

[2017-04-18 05:20] iluwatar commented on #560
Ok @abhi-agr

[2017-04-18 05:22] iluwatar commented on #564
In my opinion we can just create an example that utilizes Java's lambdas and streams and explain it in light of the pattern.

[2017-04-22 12:17] #467 closed

[2017-04-23 20:06] abhishek7 commented on #553
@iluwatar, would love to work on this if no one else has claimed it yet.

[2017-04-24 16:20] 4lexis opened #567 "Marker Interface pattern"
http://jtechies.blogspot.rs/2012/07/item-37-use-marker-interfaces-to-define.html

I would love to work on this. I am new to open source projects. Didn't see marker interface pattern on your list, so can this be added? @iluwatar

[2017-04-24 19:22] SrdjanPaunovic commented on #541
Hi @iluwatar,I would like to work on this pattern.

[2017-04-25 12:51] tnarp commented on #534
When I run mvn compile, i also see the above output.
Should you add a tip in readme?

[2017-04-26 02:50] abhi-agr commented on #564
ok...thanks

[2017-04-26 03:37] slowlizard commented on #179
thanks  very  much

[2017-04-26 19:07] iluwatar commented on #553
Ok @abhishek7

[2017-04-26 19:10] iluwatar commented on #567
@4lexis it would be great addition. Will you work on this yourself?

[2017-04-26 19:10] iluwatar commented on #541
Ok @SrdjanPaunovic

[2017-04-26 19:15] iluwatar commented on #534
@tnarp `README.md` doesn't have build instructions section at the moment. If you would create a pull request for this I would consider accepting it.

[2017-04-26 21:48] 4lexis commented on #567
Yeah

[2017-04-27 04:59] iluwatar commented on #567
Ok

[2017-04-28 10:57] kapinuss opened #570 "java-design-patterns 1.16.0-SNAPSHOT is inaccessible in Maven"
Impossible to find java-design-patterns in Maven and solve this dependency from pom.file.

[2017-04-30 12:40] #570 closed

[2017-05-02 15:16] Praveer-grover commented on #508
@iluwatar I can begin on this if no one else is looking at it, to start with I was just going through delegation and builder pattern. I can create a pull request with sonar fixes for those, is it okay?

[2017-05-05 14:42] lubarinobr opened #574 "Translate to PT-BR"
I want to help in this project Translating this repo to PT-BR. Can I do this work ?

[2017-05-07 08:24] iluwatar commented on #508
@Praveer-grover this is ok, please go ahead.

[2017-05-07 13:16] szoeke commented on #562
hi @iluwatar
I'm willing to implement this pattern.

[2017-05-08 05:39] iluwatar commented on #562
Ok @szoeke

[2017-05-08 07:58] GauravAggarwal commented on #564
I would like to work on the same, have gone through the links mentioned by you and it seems pretty straight forward to implement

[2017-05-09 18:46] juanpablolvl99 commented on #574
lubarinobr, i wanna help you with the translate

[2017-05-09 19:34] iluwatar commented on #564
@abhi-agr are you working on this or is it ok for @GauravAggarwal to implement it?

[2017-05-10 16:13] abhi-agr commented on #564
I am working on it. Sorry Gaurav.

[2017-05-15 04:54] iluwatar opened #577 "Broken links"
Edward J Beckett @edwardbeckett May 11 02:55
@iluwatar Two links redirect to compromised sites... 1. http://java-design-patterns.com/principles/#liskov-substitution-principle resource [The Liskov Substitution Principle] 2. http://java-design-patterns.com/principles/#openclosed-principle [SOLID JavaScript: The Open/Closed Principle]

[2017-05-15 05:11] iluwatar opened #578 "Bug in Feature Toggle pattern"
The original code use PropertiesFeatureToggleVersion(), but for Block 3 case, it should use TieredFeatureToggleVersion().

[2017-05-15 05:12] iluwatar commented on #578
Fixed with https://github.com/iluwatar/java-design-patterns/pull/571

[2017-05-15 05:12] #578 closed

[2017-05-16 19:00] #557 closed

[2017-05-21 06:01] iluwatar opened #582 "Add example about setter dependency injection"
Dependency Injection pattern should be amended with setter dependency example.

[2017-05-21 06:02] iluwatar commented on #582
Implemented in https://github.com/iluwatar/java-design-patterns/pull/569

[2017-05-21 06:02] #582 closed

[2017-05-27 14:25] mattj256 commented on #547
@iluwatar I'd like to work on this.

The Size enumerated type has small, medium, large, and undefined.  It seems that only small and medium are ever used.  Should "large" and "undefined" be removed?  Or should the goblin start out large?

[2017-05-27 15:42] mattj256 commented on #525
These are our current links to tutorials:

- queue-load-leveling: [Queue-Based Load Leveling Pattern](http://java-design-patterns.com/blog/queue-load-leveling/)
- proxy: [Controlling Access With Proxy Pattern](http://java-design-patterns.com/blog/controlling-access-with-proxy-pattern/)
- hexagonal: [Build Maintainable Systems With Hexagonal Architecture](http://java-design-patterns.com/blog/build-

[2017-05-29 13:51] panksy2k commented on #197
Hi,

I want to re-factor Prototype pattern to avoid using new and rather only use Objet.clone(). How can I contribute / pull request?

panksy2k

[2017-05-29 17:27] guptasaloni commented on #577
i wanted to contribute..plz can u tell me exactly the what the problem is

[2017-05-29 17:41] iluwatar commented on #547
Ok @mattj256 you can start work on this. I think we can remove the unused enumerations.

[2017-05-29 17:43] iluwatar commented on #525
@mattj256 the links to tutorialspoint seem ok so we could add them.

[2017-05-29 17:47] iluwatar commented on #197
@panksy2k create a new issue describing the problem and we can start discussion there.

[2017-05-29 17:49] iluwatar commented on #577
@guptasaloni if you open the page linked above and click the mentioned links `The Liskov Substitution Principle` and `SOLID JavaScript: The Open/Closed Principle` it will redirect to some advertisements. The links should be removed or fixed.

[2017-05-29 18:42] #567 closed

[2017-05-29 19:21] panksy2k opened #584 "Prototype pattern re-factor"
Hi,

The Prototype implementations where clone() is Overridden (ElfBeast, ElfMage etc) can rather not have implementation of clone(). Instead their respective parent class (Mage, Beast) can have a general implementation of clone which creates a new instance by doing a shallow copy (Object.clone()) and then subsequently type-cast to the type of class (Mage.class or Beast.class etc) it is cloning fo

[2017-05-29 19:22] panksy2k commented on #197
ok - done that for #584

[2017-05-30 10:08] isabiq commented on #105
Hello, can I take this one?

[2017-05-31 14:40] iluwatar commented on #105
Ok @isabiq

[2017-06-02 07:02] iluwatar opened #586 "Hexagonal Architecture primary ports should have interfaces"
Extract from the comments of http://java-design-patterns.com/blog/build-maintainable-systems-with-hexagonal-architecture/:

In this task the following modifications are made:
- Add interfaces for the primary ports
- Update blog post

[2017-06-02 07:13] #507 closed

[2017-06-02 07:17] iluwatar opened #587 "SonarQube reports bugs"
The project is automatically scanned with SonarQube. The static code analysis reports several blocker and critical level issues that should be fixed.

https://sonarcloud.io/project/issues?id=com.iluwatar%3Ajava-design-patterns&resolved=false&severities=BLOCKER%2CCRITICAL&types=BUG

[2017-06-04 19:38] raviteja1992y commented on #584
Hi @panksy2k ,
Say we move the clone implementation from ElfBeast to Beast by doing this.

public Beast clone() throws CloneNotSupportedException {
    return (Beast)( super.clone() );
}

Then if we call clone method on object of ElfBeast, it will return an Object of type Beast rather than ElfBeast. That is why, clone() implementation should be in ElfBeast class rather Beast class.

[2017-06-09 18:20] prakis commented on #577
@guptasaloni are you working on this?

[2017-06-09 18:37] prakis commented on #560
@abhi-agr I implemented something similar in my scene graph code without knowing this pattern. If you need collaborator in this pattern please let me know.

[2017-06-09 18:44] prakis commented on #562
@szoeke This is pretty interesting pattern, please let me know if you need help in implementing/discussing this pattern.

[2017-06-09 18:50] prakis commented on #559
@iluwatar I like to try implementing this pattern.

[2017-06-09 18:58] prakis commented on #551
@iluwatar  this is another pattern I can contribute to.

[2017-06-10 04:10] Jahhein commented on #577
This is part of a sub-repository at

https://github.com/webpro/programming-principles/tree/265a41c3a3a624f128dd68e6126fba2f7bedbffe

How might you suggest we fix this on java-design-pattern's repository? Fork and fix it on the other repository?

[2017-06-10 05:19] iluwatar commented on #551
Ok @prakis

[2017-06-10 05:19] iluwatar commented on #559
Ok @prakis

[2017-06-10 05:28] iluwatar commented on #577
I think editing the corresponding readme files should be enough. Probably just removing the compromised links is enough for now. There's more information about the web site building process here https://github.com/iluwatar/java-design-patterns/wiki/07.-Working-with-the-web-site

[2017-06-10 09:18] dovlasim commented on #511
Hi @iluwatar . I am working on this.

[2017-06-11 07:00] Jahhein commented on #577
I have opened a pull requests on the origin repository for that page to fix these links. I simply removed them entirely there. If you wish to go an alternative route, let me know. I am in the Gitter room for java-design-patterns.

https://github.com/webpro/programming-principles/pull/24

[2017-06-11 15:00] iluwatar commented on #511
Ok @dovlasim

[2017-06-11 15:11] iluwatar opened #590 "Explanation for design patterns"
We want to present the design patterns better as the current does not reach its goal of explaining how the pattern works in a simplest possible way. I'm hugely inspired by https://github.com/kamranahmedse/design-patterns-for-humans repository.

Let's do this by adding 'Explanation' section to the patterns' `README.md` file. For an example see http://java-design-patterns.com/patterns/bridge/.

Let'

[2017-06-11 15:14] iluwatar opened #591 "Java 9 support"
Java 9 general availability is just a few months away and we should start migrating the codebase to work on top of that. This is a huge issue and needs more discussion, planning and splitting.

[2017-06-11 16:27] #541 closed

[2017-06-12 03:48] gcraig opened #592 "Effective Dating"
Objects that manage (a) expired dates for a given promotion or service as well as (b) date ranges: valid goods and services from validDate to expirationDate.

~~Something akin to page 14 of:~~

~~http://download.microsoft.com/download/4/E/3/4E36B655-568E-4D4A-B161-152B28BAAF30/Using_Date_Effective_Patterns_AX2012.pdf~~

To state the obvious, despite the MS reference, the goal is to produce a clean

[2017-06-12 03:49] gcraig commented on #592
Hey folks! =) This is my first external contribution. Please let me know if I wander off the path; nevertheless, I'm working on this new pattern and we'll see what you all think. Thank you!

[2017-06-12 04:02] gcraig commented on #592
Grace periods can be included as well as PTP (Promise to Pay), those are dates (and integer values of how many time a customer was truthful and successful) that are used in Collections and counted such that those who pay late can be evaluated and denied help in the future if they request assistance near pay days.

[2017-06-12 06:40] iluwatar commented on #592
@gcraig looks interesting. Does the paper represent single pattern or multiple? Setting the labels requires write access to the repository.

[2017-06-12 09:38] gcraig commented on #592
@iluwatar I haven't read the entire paper. I wanted to do a quick search to have some sort of artifact that I could point to in order to share the idea of (a) expiration date, (b) validDate, a generic event, i.e., promotions or sales that could be set in the future, but created early on. That of course would require, expireDate, and (c) a lone expireDate for those events that are always running bu

[2017-06-12 22:09] gcraig commented on #592
Per the Wiki and process for contribution, here is the description of an implementation I thought initially would be passable. Annotations that represent the state of a given Object with Dates (<Java8, >Java8, & JodaTime, even ISO-8601 format) and essentially a Valid flag indicating True or False status. Using Annotations allows us to flesh out this pattern without a data backend, validate that it

[2017-06-12 22:12] gcraig commented on #592
(Apologies for the non-camelcase, dunno why it is not displaying correctly; at least on my end.)

[2017-06-13 06:51] iluwatar commented on #592
Sorry, I don't want to be too difficult but I'm still unsure what is the design pattern here. The paper "describes how to use valid time state tables to store and track object history over its lifetime". Do you have better reference what it is we are trying to achieve? Usually the recognized design patterns are well known and described in some pattern catalog e.g. books, online catalogs or web sit

[2017-06-14 02:53] gcraig commented on #592
@iluwatar , no please, don't feel that way. I'm easy going. Plus, if we find out this isn't a beneficial or real pattern, then I'm ready to nuke it. The questions you bring up are valid. I'd like to do a couple things: 1. Produce a better "design" document. Nothing too crazy. Easy, quick Markdown README. 2. Also, a UML diagram. I can describe better the situation I used (and possibly dig up some o

[2017-06-15 02:33] gcraig commented on #592
@iluwatar, here is a much better resource of what I was referring to when I communicated "Effective Dating". Date ranges, dates of when products go valid, etc. It's applicable to almost every domain I've ever worked in - banking, e-commerce, insurance, HR, inventory management, etc. The first message resource I posted was rather hasty. I apologize. Here is an article with a much more detailed desc

[2017-06-15 03:49] gcraig commented on #592
If I had to sum it up, @iluwatar, it would be an OOP pattern for "Start and End Dates, with Date Ranges."

[2017-06-15 06:50] gcraig commented on #592
@iluwatar I'll create a UML diagram (migrate that to the Wiki's recommendation) and commit some working code, all to my repo, before creating a PR for you; forgive me for talking myself through the process. I want to make sure I'm correct. Thanks again for the help =)

[2017-06-16 14:31] gcraig commented on #592
@iluwatar Is it considered bad manners to ask for your private email (or other channel) in case I have a few process/policy questions? I also intend to keep minimal "touch" so as we can focus on real work. Thank you.

[2017-06-16 15:44] gcraig commented on #592
@iluwatar It simply occurred to me that this perhaps should be nuked from the repo. This is a "business" solution whereas all the patterns in this deliverable are "technical" in nature. I don't see a case for keeping "effective-dating", despite it being a valid concern and application of controlled logic. I'm trying to come up with a single reason and I'm drawing a blank. What are your thoughts? D

[2017-06-17 09:45] raviteja1992y commented on #551
@prakis are you working on it?

[2017-06-17 11:22] prakis commented on #551
@raviteja1992y  Yes, I started working on it.

[2017-06-17 16:11] raviteja1992y commented on #505
Hi @iluwatar, I read about it. I even have a bit of experience of this. I would like to work on this

[2017-06-17 20:03] raviteja1992y commented on #505
Hi @iluwatar, Are you sure that this is a pattern worth mentioning? I am not totally convinced. Because I have google searched 'commander pattern' and this doesn't seems to be famous. I may need to do some research for knowing the credibilty of this pattern.

[2017-06-21 08:46] #592 closed

[2017-07-01 12:52] saakaarv commented on #556
I would like to implement this one.

[2017-07-02 18:02] iluwatar commented on #556
Ok @saakaarv

[2017-07-03 07:51] Jahhein opened #596 "Maven hangs during `mvn clean install` for reactor pattern"
Maven seems to hang during reactor pattern's testing and will not complete.

Below is my maven version and a link to a gist of 2 run attempts. I waited for over 30 minutes on the second attempt and a it never completed.

I am not sure if this is the only pattern that does it but it happens every time.

`
$ mvn --version
Apache Maven 3.5.0 (ff8f5e7444045639af65f6095c62210b5713f426; 2017-04-03T15:39

[2017-07-03 08:02] Nish-Hub commented on #596
Can you once try changing maven version to 1.7

[2017-07-03 08:06] Jahhein commented on #596
Will do, I see a package named mvnvm that manages maven versions, do you recommend it?

[2017-07-03 08:34] Nish-Hub commented on #596
I am sorry , i meant changing version of jdk to 1.7 in maven. I believe u will find a maven.bat file.wherein u can specify the jdk version to use.

[2017-07-03 08:40] Jahhein commented on #596
I do not have a maven.bat file or a *.bat file all.

[2017-07-04 18:48] iluwatar commented on #505
@raviteja1992y it may not be so famous but another source I found is here https://www.youtube.com/watch?v=B1-gS0oEtYc. Let me know if you are working on this?

[2017-07-05 02:42] Jahhein commented on #596
Also want to add that maven was installed via homebrew. I will take into consideration this is an issue with my system for now and look further into fixing it. However if someone can let me know if they have the same issue, it'll save me a lot of time.

[2017-07-13 02:15] mookkiah commented on #587
Can I work on this issue?

[2017-07-15 14:32] iluwatar commented on #587
@mookkiah ok

[2017-07-17 23:25] mookkiah commented on #587
@iluwatar In com.iluwatar.dao.DbCustomerDao.getAll() we are returning stream so the resources (connection, prepared statement and resultset) are should be available until stream is used by the consumer. If we close in finally, we are getting error "The object is already closed".
I think we should just add //NOSONAR to ignore. This is not a blocker as we are closing connection when stream is closed

[2017-07-18 08:19] iluwatar commented on #587
@mookkiah the proposed solution is fine

[2017-07-22 23:07] breezefaith opened #600 "What software or plugin did you use in your project?"
as the title.Now I tried GreenUML,UML Lab,RSA and AmaterasUML,but felt unsatisfied.

[2017-07-25 04:37] ryantheleach opened #601 "Model View ViewModel MVVM?"
Anyone experienced with using Model View View Model?

https://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93viewmodel

popularised by Microsoft, in use in Knockout.js

I was wondering if it had a Java analog, considering it's been used on .net.

[2017-07-25 10:14] iluwatar opened #602 "Simplify Multiton implementation"
The implementation could be simplified as commented here: http://java-design-patterns.com/patterns/multiton/#comment-3432626979

[2017-07-25 10:27] iluwatar commented on #600
For UML diagrams? It is stated in https://github.com/iluwatar/java-design-patterns/wiki/01.-How-to-contribute.

[2017-07-25 12:41] breezefaith commented on #600
thank you

[2017-07-25 20:22] revg commented on #577
Both links work fine for me

[2017-07-27 18:20] #600 closed

[2017-07-28 02:28] ryantheleach commented on #577
That's because they have been replaced already.

@iluwatar This can probably be closed.

[2017-07-29 17:32] iluwatar commented on #577
@ryantheleach @revg thanks for notifying and thank to @Jahhein for fixing this issue. I'm closing it now.

[2017-07-29 17:32] #577 closed

[2017-07-29 17:46] #105 closed

[2017-07-30 07:41] prakis commented on #551
Hello Raviteja( @raviteja1992y ), I got very busy with my office work if you are interested to implement this pattern please go ahead.

[2017-07-30 17:08] raviteja1992y commented on #551
even i am not working on this

[2017-07-30 19:12] iluwatar commented on #551
Ok, the issue is free for taking again

[2017-08-01 05:38] iluwatar commented on #591
There is now branch called `java9` where we aim to make the project work with JDK9. Pull requests helping towards that goal will be gratefully accepted.

[2017-08-03 12:05] gopinath-langote commented on #348
@iluwatar
Is anyone still working on it? I can take it up for development.

[2017-08-03 12:26] gopinath-langote commented on #602
@iluwatar  - I am interested in same. Is it ok If I took the different example that the example you have its code?

[2017-08-04 05:02] iluwatar commented on #348
@squla are you still working on it?

[2017-08-04 05:02] iluwatar commented on #602
Ok @gopinath-langote

[2017-08-05 10:25] iluwatar commented on #348
@gopinath-langote no reply from @squla so I guess we can transfer the issue for you to work on.

[2017-08-05 20:01] radresian commented on #183
I lead a financial trade project in which we implemented Event Sourcing Pattern. Our project is in production. I would like to implement an example of this pattern here. Could you please add the under construction tag for me.

[2017-08-07 02:25] mibac138 opened #606 "Robot pattern"
This is a _test_ code pattern
https://academy.realm.io/posts/kau-jake-wharton-testing-robots/

[2017-08-08 18:52] iluwatar commented on #183
Ok @radresian

[2017-08-09 09:38] gopinath-langote commented on #348
@iluwatar I am working on this.

[2017-08-09 15:48] mibac138 opened #607 "Searching for patterns doesn't work as expected"
When using the search box on the [patterns](http://java-design-patterns.com/patterns/) site I wanted to see the Prototype pattern.

I started writing:
- `p` - not much changed
- `r` - the same
- `o` - every pattern disappeared
- this continues until `p`
- `p` - 3 patterns appear: `Naked Objects` (how?), `Property` and `Prototype`
- `e` - still 3 patterns appearing

Why does searching act so weird?

[2017-08-10 05:41] iluwatar commented on #348
Ok @gopinath-langote

[2017-08-10 05:43] iluwatar commented on #607
Ping @markusmo3

[2017-08-11 12:31] gopinath-langote commented on #596
@Jahhein : Looks like Test was failing / waiting in code as per log.

`Running com.iluwatar.reactor.app.ReactorTest` Here, Logging stopped.

Have you reached to the problem? why is this happening?

[2017-08-12 13:54] iluwatar commented on #550
This issue is free for taking again

[2017-08-12 13:55] iluwatar commented on #562
This issue is free for taking again

[2017-08-12 13:55] iluwatar commented on #555
This issue is free for taking again

[2017-08-12 13:57] iluwatar commented on #552
This issue is free for taking again

[2017-08-12 14:22] iluwatar commented on #590
Changed https://github.com/iluwatar/java-design-patterns/wiki/02.-Pattern-template a bit. There is no diagram anymore. Explanation section was added.

[2017-08-18 12:34] Jahhein commented on #596
@gopinath-langote Maven should report errors, test passes and fails. However maven hangs. Process hanging in computing means is just doesn't finish or the process is halted.

Why this occurs no one knows or hasn't told me. No one has also informed me if they were able to replicate the issue either.

[2017-08-18 19:20] iluwatar commented on #596
Can you run the test in debugger or add some log statements to see where it hangs exactly?

[2017-08-18 20:21] Jahhein commented on #596
@iluwatar Sure, any suggestions on logging it exactly? It's maven, so all I can think of is verbose output of maven?

[2017-08-19 08:01] iluwatar commented on #596
@Jahhein can you pull the latest source code and run the tests again on your computer and post the output?

[2017-08-21 00:12] Jahhein commented on #596
@iluwatar Re-running now. I decided to re-install maven via homebrew and perhaps it'll make a difference. I don't have any maven related shell variables either.

[2017-08-21 03:46] Jahhein commented on #596
@iluwatar Success! Thank you.

I've updated my gists above with a new output log of reactor and another file of the the last few lines of an entire project build with maven.

The entire project now builds on my system! Time to check this off as closed. 👍

[2017-08-21 05:35] iluwatar commented on #596
Ok, closing the issue. Please reopen if the issue reoccurs.

[2017-08-21 05:35] #596 closed

[2017-08-22 07:27] iluwatar commented on #348
Puml id missing

[2017-08-22 08:56] gopinath-langote commented on #348
@iluwatar Added Piml id to README.md

[2017-08-23 15:37] markusmo3 commented on #607
Its black magic, i dont understand myself ^^
Anyone is free to try and fix it!

Here some important parts:
* it uses elasticlunr.com
* https://github.com/iluwatar/java-design-patterns/blob/gh-pages/search_index.json
* https://github.com/iluwatar/java-design-patterns/blob/gh-pages/static/js/search.js
* https://github.com/iluwatar/java-design-patterns/blob/98827c9537ef868fda01868b2f6dc91d28b2a36c/pa

[2017-08-23 18:44] iluwatar commented on #607
Thanks @markusmo3 looks like nice puzzle :smile:

[2017-08-28 20:10] laubera commented on #555
Hey, @iluwatar  I would like to take this pattern. Thanks.

[2017-08-29 17:01] iluwatar commented on #555
@laubera ok

[2017-08-29 21:18] MartyIX opened #621 "Missing synchronized keyword"
Hi,

https://github.com/iluwatar/java-design-patterns/blob/master/object-pool/src/main/java/com/iluwatar/object/pool/ObjectPool.java#L58 - the method should also be `synchronized`.

Best regards,
Martin

[2017-09-01 00:49] danielsiwiec commented on #621
I'm happy to submit a PR for this

[2017-09-01 03:58] danielsiwiec commented on #607
I took a stab at this and realized that replacing it with Lunr which supports wildcard searches makes it possible to search by shorter substrings.

Additionally, I removed the index boosts on certain fields, as they were never used anyway - they don't affect what is being returned by the query, only the score field in the result items and so far, this field isn't used by this application

[2017-09-01 05:56] #621 closed

[2017-09-02 16:07] lodenrogue commented on #552
I've used a similar pattern in the past when designing a game entity system. An additional interface I found useful for the entity class is a render() method. To abstract view from logic.

The entity interface then looks like this:
Entity
+ update()
+ render()

[2017-09-02 17:28] tg9963 opened #626 "Why should this be volatile? Is there any reason?"
https://github.com/iluwatar/java-design-patterns/blob/6c9e005a799fddd0200b4276d96b338dcb13b488/singleton/src/main/java/com/iluwatar/singleton/ThreadSafeDoubleCheckLocking.java#L36

[2017-09-03 04:08] moguzozcan commented on #452
Hi @iluwatar
The link you provided directs to https://docs.microsoft.com/tr-tr/azure/architecture/patterns/ that now. Could you renew the link?

[2017-09-03 06:58] iluwatar commented on #452
The original link seems to have disappeared. Here is one pointer: http://www.lakshmikanth.com/design-patterns-runtime-reconfiguration-pattern/

[2017-09-03 07:32] iluwatar commented on #552
@lodenrogue would you like to try implementing this one?

[2017-09-03 07:48] iluwatar commented on #626
`instance` is null checked on line https://github.com/iluwatar/java-design-patterns/blob/master/singleton/src/main/java/com/iluwatar/singleton/ThreadSafeDoubleCheckLocking.java#L59 and this is not inside synchronized block so some other thread may update it simultaneously. Volatile keyword is used here to guarantee accurate visibility to the latest state of the variable across threads.

[2017-09-03 08:47] #183 closed

[2017-09-03 09:31] iluwatar commented on #591
The Java 9 build fails with the following output:
[build.txt](https://github.com/iluwatar/java-design-patterns/files/1272821/build.txt)

[2017-09-03 09:45] iluwatar commented on #591
List of changes for Java 9: https://docs.oracle.com/javase/9/whatsnew/toc.htm

[2017-09-03 09:51] iluwatar commented on #591
The following commands install the Oracle's JDK9 EA on Ubuntu.

[code]

I also had to edit .bashrc and set
`export JAVA_HOME=/usr/lib/jvm/java-9-oracle/`

After which Java version displays as follows
[code]

[2017-09-03 13:30] lodenrogue commented on #552
Sure. I'll try to work on it.

[2017-09-03 18:53] iluwatar commented on #552
Ok @lodenrogue

[2017-09-04 15:25] rastdeepanshu commented on #460
Is it free for taking? I would like to work on this.

[2017-09-04 21:22] rastdeepanshu commented on #456
Can I work on this pattern if no one else is working? Also is there a deadline to complete it?

[2017-09-05 05:10] iluwatar commented on #456
Ok @rastdeepanshu go ahead. No strict deadlines. Please ask for help if you are stuck.

[2017-09-06 13:28] rastdeepanshu commented on #456
@iluwatar I have created a service which can throttle based on time i.e. a service is accessible for a number of times per second. Any other calls more than the allowed calls are rejected.

Is that something of interest?

[2017-09-06 14:37] iluwatar commented on #456
@rastdeepanshu that sounds like a great example.

[2017-09-06 15:34] CoXier opened #628 "Adapter pattern in Arrays.asList"
First of all thank you for this awesome repo. In `adapter` pattern section, you mention `Arrays.asList` does like this.

[code]
So `List` is expected by the client?

[code]
So `E[] a` is adaptee in the pattern? Am I right?

[2017-09-07 09:46] rastdeepanshu commented on #456
@iluwatar I am getting this error while building the project:

`Failed to execute goal com.github.markusmo3.urm:urm-maven-plugin:1.4.4:map (default) on project throttling: /Users/drastogi/java-design-patterns/throttling/etc/throttling.urm.puml
`

I am not sure what needs to be done. Can you tell?

[2017-09-07 13:54] rastdeepanshu commented on #456
@iluwatar Awaiting review

[2017-09-08 08:03] tzutalin commented on #65
@Rzeposlaw,
   It will be nice to explain the difference between active object pattern and event-driven-architecture/event-asynchronous.

[2017-09-11 19:31] #456 closed

[2017-09-11 21:58] llorllale commented on #451
Hi, @igroeg @iluwatar is this issue still being worked on?

[2017-09-11 21:59] llorllale commented on #460
Hi @iluwatar , what else is expected of this pattern aside from not blocking and returning a `Future`?

[2017-09-12 04:28] iluwatar commented on #451
Ping @igroeg

[2017-09-12 04:37] iluwatar commented on #460
I guess we need a service that sometimes fails to demonstrate the retry. Then a great theme for the example...

[2017-09-12 05:38] npathai commented on #511
https://www.linkedin.com/pulse/introducing-sam-pattern-alternative-mvc-jean-jacques-dubray

[2017-09-12 14:58] gopinath-langote opened #631 "Partial Response pattern"
Pattern where an API lets clients specify the structure of the response.

http://yaoganglian.com/2013/07/01/partial-response/

[2017-09-12 14:58] gopinath-langote commented on #631
@iluwatar: I am picking this up for development.

[2017-09-12 15:33] iluwatar commented on #631
Ok @gopinath-langote

[2017-09-12 17:46] piyushchaudhari04 commented on #352
@iluwatar I will work on this pattern

[2017-09-12 20:04] iluwatar commented on #352
Ok @piyushchaudhari04

[2017-09-13 01:08] danielsiwiec commented on #591
I'll take a look at this issue

[2017-09-13 04:57] iluwatar commented on #591
Ok @danielsiwiec

[2017-09-13 05:10] #607 closed

[2017-09-14 17:15] urielatzmon commented on #496
can I take it?

[2017-09-14 19:51] iluwatar commented on #496
Sure @urielatzmon go ahead

[2017-09-17 12:58] steeeeets opened #635 "Can't get h2 jar package in IntelliJ"
After import the project into my IntelliJ, I found there is an issue that JdbcDataSource can't be imported in java-design-patterns/dao/src/main/java/com/iluwatar/dao/App.java. After specify the version in pom, the jar package can be downloaded and the issue is gone.

I'm a newbie to Maven, not sure what is wrong, but following dependency works.
Can anyone let me know if this is a real issue?
\<dep

[2017-09-18 13:57] mookkiah commented on #508
Updated sonarqube url
https://sonarcloud.io/project/issues?id=com.iluwatar%3Ajava-design-patterns&resolved=false&severities=BLOCKER&types=CODE_SMELL

@Praveer-grover Are you still working on these issues? Let me know if you want me to share some modules?

[2017-09-19 05:52] iluwatar commented on #508
Ping @Praveer-grover

[2017-09-19 16:42] danielsiwiec commented on #591
@iluwatar the PR above makes `mvn test` pass. Tested with Java 9ea14-zulu

[2017-09-19 17:16] reegnz opened #638 "Add Virtual Field Pattern"
Hi,
Related to #52, I would like you to rethink adding this pattern.
In #52 I think it was mistakenly though that the original reporter wanted the stateful solution included.

What I propose is to include the following:
http://mail.openjdk.java.net/pipermail/lambda-dev/2012-August/005455.html

That mail also references a mail by Brian Goetz endorsing this style of pattern, even giving it the name

[2017-09-19 19:44] isabiq commented on #65
I think the two patterns have some similarities but they are different in many aspects. The main goal of the event asynchronous is to hide the complexity of a multi-threaded design. Normally, a user want to execute his tasks asynchronously so he delegates the tasks to another objects that control and supervise the execution of these tasks. For me, The pattern has a really narrow use case, and I se

[2017-09-21 05:24] iluwatar commented on #635
Could not reproduce. Can you share the version of your IDE and the exact steps you do?

[2017-09-21 10:51] dosdebug commented on #508
@mookkiah Are you planning to completely work on this ticket or you need a helping hand? ;)

[2017-09-21 15:08] dosdebug commented on #547
@iluwatar A Goblin initially starts with `NORMAL` size. Casting a shrink spell will make it `SMALL`. What if a shrink spell is casted again? Should size be cyclic e.g. `Small -> Normal -> Large -> Small`? Or, if Goblin is already `SMALL`, casting shrink spell should not work?

[2017-09-21 15:39] dosdebug commented on #635
@steeeeets Can not reproduce either. Please specify maven version you currently are using as well.

[2017-09-21 15:54] dosdebug commented on #628
@CoXier Term `Adaptee` in this particular scenario means, something which needs an adaptation or say modification. `Target` is the type to be adapted or modified to. So, `asList` method is using the adapter pattern to modify `Adaptee` i.e. `T... a` to `Target` as `List<T>` .

`E[] a` is not an `Adaptee` in this scenario as per my understanding since `ArrayList` is not an Adapter but `asList` metho

[2017-09-21 17:53] iluwatar commented on #547
@dosdebug I would say shrink spell makes smaller until the smallest possible (SMALL) after which it has no effect.

[2017-09-21 18:55] mookkiah commented on #508
Either way is fine for me. As @Praveer-grover is not responding, I will look at sonarqube reported issues in prototype module (maybe this weekend). @dosdebug, you are welcome to help another module. Please just comment so we don't step on each other.

[2017-09-22 02:26] dosdebug commented on #508
@mookkiah I will be working on `dao` and `naked-objects-dom` then.

[2017-09-22 02:26] dosdebug commented on #547
@iluwatar Sure, a PR is submitted to you. Please see when you have time.

[2017-09-23 06:36] #631 closed

[2017-09-23 07:07] iluwatar opened #643 "Intermittent test failure in Throttling pattern"
See https://travis-ci.org/iluwatar/java-design-patterns/builds/278878833

[2017-09-23 07:08] iluwatar commented on #643
Ping @rastdeepanshu

[2017-09-23 10:30] rastdeepanshu commented on #643
@iluwatar i'll take a look.

[2017-09-27 21:45] danielsiwiec commented on #591
What else is needed for this issue to be resolved?

On Tue, Sep 12, 2017 at 9:59 PM Ilkka Seppälä <notifications@github.com>
wrote:

[2017-09-28 00:28] danielsiwiec commented on #562
@iluwatar I'll take a stab at this

[2017-09-28 02:59] wl020814 opened #649 "newer's question about syntax"
hello,i am a newer. i've seen the code:
       Callback c = () -> LOGGER.info("I'm done now.");

Is it the same as :
     Callback c = new Callback(){
     @override
     public void call(){
             LOGGER.info("I'm done now.");
    }
}

Thanks for help. where could i get the syntax?

[2017-09-28 06:01] iluwatar commented on #562
Ok @danielsiwiec

[2017-09-28 16:33] dosdebug commented on #649
@wl020814 Yes, it's same but with lambdas. You can read more about [Lambda Expressions](https://docs.oracle.com/javase/tutorial/java/javaOO/lambdaexpressions.html)

[2017-09-29 05:34] #649 closed

[2017-09-29 05:42] iluwatar commented on #591
- We should switch to using JDK9 at some point. When is the proper time? Does Travis support it already? The Travis build file should be modified for this and `java9` branch merged to master.
- How do we utilize the new Java 9 features? Separate issues should be created.

[2017-09-30 06:38] iluwatar commented on #638
Ok @reegnz agreed. I'll reopen #52. Please comment on it if you'd like to implement it.

[2017-09-30 06:39] iluwatar commented on #52
Reopened, see #638

[2017-09-30 06:39] #638 closed

[2017-09-30 15:38] reegnz commented on #52
I will implement an example for this. But first I need to go read your contribution guidelines.

[2017-09-30 19:09] #348 closed

[2017-09-30 19:37] iluwatar commented on #52
Ok @reegnz

[2017-10-01 12:48] #626 closed

[2017-10-01 12:51] iluwatar commented on #574
This is about translating the web site, right? I'm not sure if it has any mechanisms in place to support multiple languages. Maybe @markusmo3 can comment on this?

[2017-10-01 22:01] codinghog commented on #176
I can help you out with most EIP patterns, starting from this one.

[2017-10-02 04:47] iluwatar commented on #176
Thanks @codinghog go ahead :+1:

[2017-10-02 07:28] swhittaker opened #650 "Double-checked locking more antipattern than pattern"
While some JVMs may do the expected thing, a memory model following the java specification may fail in multiple ways.

There are some way to make it work, such as using volatile and final field declarations.

The following links contained more detail:
https://www.cs.umd.edu/~pugh/java/memoryModel/DoubleCheckedLocking.html
https://www.javaworld.com/article/2074979/java-concurrency/double-checked-lo

[2017-10-04 14:21] markusmo3 commented on #574
I reviewed this request a while ago, as i was messaged via email.

It would be quite the big deal to make the website work with multiple languages and i dont have a lot of time atm. It would theoretically be possible with jekyll and i'd be grateful if anyone else wants to help on this issue.

[2017-10-06 13:32] lubarinobr commented on #574
Ok, I'll study some possible solution and post here before we start.

[2017-10-08 13:30] tomyy opened #653 "Searching/Filtering at http://java-design-patterns.com/patterns/ doesn't work"
* I tried to search for "abstract": all patterns a shown, no indication that anything was searched
* I tried to restrict the categories to 'Creational': still all patterns are shown
* I tried to restrict the tags to 'Gang of Four': still all patterns are shown

To make sure that it is not my browser I tried to do this with Mozilla Firefox 56.0, Google Chrome 61.0.3163.100 and Microsoft Edge 40.150

[2017-10-08 14:17] aldaircruz commented on #653
I have the same issue, I got those errors:

![imagem](https://user-images.githubusercontent.com/17972991/31317532-78664386-ac3a-11e7-8ae5-6a51c900aedb.png)

![imagem](https://user-images.githubusercontent.com/17972991/31317534-96ddaff2-ac3a-11e7-9036-f134ab1ba54e.png)

[2017-10-08 20:22] iluwatar commented on #607
@danielsiwiec see https://github.com/iluwatar/java-design-patterns/issues/653 Any idea what is going on?

[2017-10-08 20:24] iluwatar commented on #653
Thanks for reporting @tomyy and @aldaircruz We are looking into it.

[2017-10-15 18:46] codinghog commented on #173
I can work on this one.
Sources:
- http://www.enterpriseintegrationpatterns.com/patterns/messaging/Sequencer.html
- http://camel.apache.org/splitter.html

[2017-10-16 05:25] #176 closed

[2017-10-16 05:26] iluwatar commented on #173
Ok @codinghog

[2017-10-18 04:11] dungnart commented on #653
I can not do any Search/Filter on http://java-design-patterns.com/patterns/ site. Please check it. Thank you !

[2017-10-22 01:03] nathancyam commented on #653
It seems if the patterns' content contains any braces, it breaks JSON parsing. I've got a PR here (https://github.com/iluwatar/java-design-patterns/pull/657) that adds the `url_encode` filter to ensure this doesn't happen again.

The build seems to be breaking, but it looks like Travis can't resolve certain URLs.

[2017-10-22 19:18] #173 closed

[2017-10-22 19:26] #653 closed

[2017-10-22 19:45] codinghog commented on #114
Since I've completed Splitter recently I can work now on this one.

[2017-10-23 08:07] clanghout opened #658 "Researching Build Breakage"
Dear developers of the iluwatar/java-design-patterns project,

We are MSc students from the Delft University of Technology doing research on why builds break in open source projects. To do this, we are analyzing Travis build statistics and build history of java-design-patterns.

By analyzing the build history of java-design-patterns, we found the following:
* The project has 4.5% failing builds in

[2017-10-23 17:41] iluwatar commented on #114
Ok @codinghog

[2017-11-01 09:00] #658 closed

[2017-11-01 11:39] dhsrocha commented on #574
You are not alone @lubarinobr . I'll join you in this cause! :)

[2017-11-01 12:58] jonatasemidio commented on #574
I was reading this comments and after looking for some @github solution I've found one discussion and described one possible pattern to use. At least in this first moment.

This is just a way to organize our README.me files in different languages: https://github.com/jonatasemidio/multilanguage-readme-pattern

With this approach we can add independent translated files in each "design pattern folder

[2017-11-02 02:58] lubarinobr commented on #574
@dhsrocha Thanks
@jonatasemidio excelent I think that this can a good option to translate but for now. When we can talk about it ?

[2017-11-02 18:41] wcoder commented on #601
For implementation MVVM pattern needs abstraction of View

Video about implementation basic MVVM on example of Java Swing:
https://www.youtube.com/watch?v=-IIXlqF94WA

Exists a lot of examples for Android.
for Swing: https://github.com/vyshkov/mvvm

[2017-11-02 23:58] ryantheleach commented on #601
WPF on C# also uses this pattern extensively.

[2017-11-03 09:11] wcoder commented on #601
Exactly, because .NET has native (in the language) implementation of MVVM (used in WPF, UWP, Xamarin and etc.)

[2017-11-03 10:43] jonatasemidio commented on #574
We can talk any time here  (;D) !

The point is, we need to ask for one of the responsible for this repo to add in the [wiki](https://github.com/iluwatar/java-design-patterns/wiki) one more page to define how to contribute with new languages and define one tag to use in translation problems.

[2017-11-05 18:17] iluwatar commented on #643
https://s3.amazonaws.com/archive.travis-ci.org/jobs/297472315/log.txt?X-Amz-Expires=30&X-Amz-Date=20171105T181140Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJRYRXRSVGNKPKO5A/20171105/us-east-1/s3/aws4_request&X-Amz-SignedHeaders=host&X-Amz-Signature=673ea97270fea2a3704c49a677d2d9c2ae9abcadce308545a49b2784928bd785

[2017-11-11 09:16] Krandelbord opened #666 "Is it threadsafe ?"
Seems like lastServedId field from LoadBlanacer.class is shared among all instances.
I think this is not threadsafe and will crash when mutiple threads will try to increment it.

https://github.com/iluwatar/java-design-patterns/blob/390c33e36e82b558e8cab6028d96e49c0a20da9f/monostate/src/main/java/com/iluwatar/monostate/LoadBalancer.java#L39

[2017-11-14 08:01] adiaholic commented on #72
i've read about different Messaging designs,
what am i supposed to do next to contribute ?

[2017-11-14 08:11] codinghog commented on #72
Start by reading https://github.com/iluwatar/java-design-patterns/wiki/01.-How-to-contribute

@adiaholic If you want to contribute to EIP, let me know. I covered some of the EIP here so I can help you.

@iluwatar This issue is marked as (EIP) but EIP Messaging Patterns in general contain different patterns covered by other issues here. See: http://www.enterpriseintegrationpatterns.com/patterns/mes

[2017-11-17 09:22] npathai commented on #666
@Krandelbord You are correct. It is not thread safe as field is being shared without synchronization. Can you raise a PR with the fix?

[2017-11-18 09:03] Mathias83 commented on #666
Perhaps change to atomicInteger?!

[2017-11-19 11:09] Krandelbord commented on #666
If I use AtomicInteger then I have to make reading, comparing, incrementing, and setting to zero as one atomic operation.
It will end up in something like that
[code]
Doesn't look good. So I decided to make method synchronized.

[2017-11-19 17:43] #114 closed

[2017-11-19 17:55] iluwatar commented on #72
Ok, closing as duplicate

[2017-11-19 17:55] #72 closed

[2017-11-20 14:26] iluwatar opened #669 "Abstract Factory improvements"
hello! I was checking abstract factory examples on the web, and noticed many state the "factory of factories" part, but I couldn't find any factory of factories in your example. Is that on purpose? Am I just not finding it? Shouldn't there be a (for example) FactoryMaker.getFactory(FactoryType) that returns a concrete KingdomFactory?

Rodolfo Forte @Tschis

[2017-11-20 14:27] iluwatar commented on #669
https://github.com/iluwatar/java-design-patterns/commit/4450000a83839b4c36454443e91bdc0e5b111602

[2017-11-20 14:27] #669 closed

[2017-11-20 14:48] iluwatar commented on #643
https://travis-ci.org/iluwatar/java-design-patterns/builds/304766483?utm_source=email&utm_medium=notification

[2017-11-21 05:36] Mathias83 commented on #666
Is Volatile a Solution?!

[2017-11-24 05:39] wangyudongdom opened #670 "Java-design-patterns are very helpful, want to apply good design-patterns to WisdomTool REST Client, can you give some valuable advice?"
Java-design-patterns are very helpful, want to apply good design-patterns to[ WisdomTool REST Client](https://github.com/wisdomtool/rest-client), can you give some valuable advice?
Thanks

[2017-11-25 05:10] zafarella opened #672 "Consider adding another badge"
@iluwatar as this project is open-source, I was thinking why not add https://bestpractices.coreinfrastructure.org
as a badge. It will be like cool both standardization + learning for readers.
You have to create the project there and add the badge.

Others probably also can contribute whenever you create it.

[2017-11-25 05:19] zafarella opened #673 "add free static code analyzer"
@iluwatar  what do you think of adding https://about.sonarcloud.io/
it's free for open-source. IMHO, valuable addition

[2017-11-27 06:24] iluwatar opened #674 "SonarQube update"
Hi,

About 6 months ago, we renamed SonarQube.com to SonarCloud. The URL of the service changed from https://sonarqube.com to https://sonarcloud.io.

I am contacting you because we noticed that you are still using the old URL (sonarqube.com) to point to the service when you run analyses. Typically, this is set through the "sonar.host.url" property in your build scripts, or in your CI tool configur

[2017-11-27 06:45] fleaLi opened #675 "event-asynchronous pattern class diagram is error"
The ThreadCompleteListener can't find “notifyOfThreadComplete” method

[2017-11-27 20:34] fluxw42 commented on #666
No, ```volatile``` is not suitable for cases where you want to read-update-write as an atomic operation; access to a volatile variable never has the potential to block: you're only ever doing a simple read or write ([source](https://www.javamex.com/tutorials/synchronization_volatile.shtml)).

[2017-11-28 07:09] iluwatar commented on #673
We already have it, see https://sonarcloud.io/dashboard?id=com.iluwatar%3Ajava-design-patterns. Related https://github.com/iluwatar/java-design-patterns/issues/674

[2017-11-28 07:10] iluwatar commented on #675
Link to the diagram, please?

[2017-11-28 07:50] fleaLi commented on #675
https://github.com/iluwatar/java-design-patterns/blob/master/event-asynchronous/etc/event-asynchronous.png

[2017-11-28 13:39] zafarella commented on #673
:+1
Closing as dup.

[2017-11-28 13:39] #673 closed

[2017-11-28 20:13] #190 closed

[2017-11-29 08:38] SferaDev commented on #674
Just editing https://github.com/iluwatar/java-design-patterns/blob/master/.travis.yml#L20 should work unless you want to add the Travis Add-on.

[2017-12-04 08:52] piyushchaudhari04 commented on #443
hi @iluwatar i am interested in implementing this pattern

[2017-12-06 19:44] #352 closed

[2017-12-06 19:45] iluwatar commented on #443
Ok @piyushchaudhari04

[2017-12-09 20:29] #666 closed

[2017-12-11 09:29] besok opened #677 "Pattern : trampoline. Is it needed?"
Hi!
I have not found a pattern Trampoline in the list.
I want to discuss adding this pattern to list.

Will be it right?
I can do it if it is possible.

[2017-12-11 18:41] iluwatar commented on #677
Can you please provide links to the pattern?

[2017-12-11 18:51] besok commented on #677
Shure.
Wiki - https://en.wikipedia.org/wiki/Trampoline_(computing) (high-level programming)
good example - https://medium.com/@johnmcclean/trampolining-a-practical-guide-for-awesome-java-developers-4b657d9c3076
stackoverflow - https://stackoverflow.com/questions/189725/what-is-a-trampoline-function

2017-12-11 21:42 GMT+03:00 Ilkka Seppälä <notifications@github.com<mailto:notifications@github.com>

[2017-12-11 20:04] iluwatar commented on #677
The links look good to me. Who would like to implement?

[2017-12-12 03:14] besok commented on #677
I can do it if you don't mind.

[2017-12-12 16:09] iluwatar commented on #677
Ok @besok

[2017-12-12 16:37] besok commented on #677
ok. In 1-2 week this pattern weil be in pull request.

[2017-12-16 14:38] davidsusu opened #681 "AbstractDocument: price or partner?"
On the diagram of `AbstractDocument`, `HasPrice.getPartner()` should be `HasPrice.getPrice()`.

[2017-12-21 10:40] jujis008 commented on #681
@iluwatar if no one help on this I would like to fix this one

[2017-12-21 14:04] iluwatar commented on #681
Ok @jujis008

[2017-12-25 09:51] iluwatar commented on #672
I have no previous experience in the "CII Best Practices Badge Program". I see they have some [criteria](https://github.com/coreinfrastructure/best-practices-badge/blob/master/doc/criteria.md) that has to be met for a project to "self-certify". I briefly looked at it and it seems that we are already passing all their tests. So if you @zafarella or somebody else want to work on this and get us the

[2017-12-25 10:20] iluwatar commented on #52
@reegnz are you still implementing this?

[2017-12-25 10:20] iluwatar commented on #65
@Rzeposlaw  are you still implementing this?

[2017-12-25 10:21] iluwatar commented on #70
@AlesandraSzumacher and @marianka600  are you still implementing this?

[2017-12-25 10:21] iluwatar commented on #76
@mpodlodowski  are you still implementing this?

[2017-12-25 10:23] iluwatar commented on #179
@Pauligfast  are you still implementing this?

[2017-12-25 10:24] iluwatar commented on #446
This issue is free for taking again

[2017-12-25 10:25] iluwatar commented on #449
This issue is free for taking again

[2017-12-25 10:25] iluwatar commented on #451
This issue is free for taking again (ping @llorllale)

[2017-12-25 10:26] iluwatar commented on #468
@Crossy147  are you still implementing this?

[2017-12-25 10:27] iluwatar commented on #473
@dheeraj-mummareddy  are you still implementing this?

[2017-12-25 10:27] iluwatar commented on #485
@wisamtb1  are you still implementing this?

[2017-12-25 10:27] iluwatar commented on #496
@urielatzmon  are you still implementing this?

[2017-12-25 10:27] iluwatar commented on #499
@matthewwier  are you still implementing this?

[2017-12-25 10:28] iluwatar commented on #508
Hey @mookkiah and @dosdebug are you guys still working on this?

[2017-12-25 10:28] iluwatar commented on #511
@vladislavsimic  are you still implementing this?

[2017-12-25 10:32] #547 closed

[2017-12-25 10:32] iluwatar commented on #552
@lodenrogue  are you still implementing this?

[2017-12-25 10:32] iluwatar commented on #553
@abhishek7  are you still implementing this?

[2017-12-25 10:32] iluwatar commented on #554
@szokekristof  are you still implementing this?

[2017-12-25 10:33] iluwatar commented on #555
@laubera  are you still implementing this?

[2017-12-25 10:33] iluwatar commented on #556
@saakaarv  are you still implementing this?

[2017-12-25 10:33] iluwatar commented on #559
@prakis  are you still implementing this?

[2017-12-25 10:33] iluwatar commented on #560
@abhi-agr  are you still implementing this?

[2017-12-25 10:34] iluwatar commented on #562
@danielsiwiec  are you still implementing this?

[2017-12-25 10:34] iluwatar commented on #587
@mookkiah  are you still implementing this?

[2017-12-25 10:35] iluwatar commented on #602
@gopinath-langote  are you still implementing this?

[2017-12-25 10:39] ghost-60 commented on #446
Sorry, no.

On Dec 25, 2017 3:55 PM, "Ilkka Seppälä" <notifications@github.com> wrote:

[2017-12-25 10:40] reegnz commented on #52
Slowly but surely.

[2017-12-25 10:55] danielsiwiec commented on #562
@iluwatar sorry, no - I got side tracked into other things. Please take me off of it for the time being.

[2017-12-25 15:07] llorllale commented on #451
Please assign to me, @iluwatar

[2017-12-25 17:21] prakis commented on #560
Sorry I am not working on this, I got busy with my work.

[2017-12-26 00:07] mookkiah commented on #587
@iluwatar This issue can be closed as there is no other sonarqube issue as per the criteria.

[2017-12-26 00:17] mookkiah commented on #508
I will work on prototype module.

[2017-12-26 05:21] saakaarv commented on #556
Sorry, No, You can make this issue free for implementation again.

[2017-12-26 12:56] gopinath-langote commented on #602
@iluwatar : Give me some time. Sorry, couldn't get time to work on this. Please reopen this issue for enhancement so that someone else can also work on this.

Thanks.

[2017-12-26 16:22] iluwatar commented on #562
This issue is free for taking again

[2017-12-26 16:23] iluwatar commented on #451
Ok @llorllale

[2017-12-26 16:24] iluwatar commented on #560
This issue is free for taking again

[2017-12-26 16:25] iluwatar commented on #587
True, well done @mookkiah :+1:

[2017-12-26 16:25] #587 closed

[2017-12-26 16:26] iluwatar commented on #556
This issue is free for taking again

[2017-12-26 16:26] iluwatar commented on #602
This issue is free for taking again

[2017-12-26 16:28] #672 closed

[2017-12-26 17:30] zafarella opened #683 "List of issues to satisfy the missing badge requirements [coreinfrastructure.org]"
Per #672

Following needs to be addressed in https://bestpractices.coreinfrastructure.org/projects/1503
per the requirements on sections below:
* `Change Control`
*  `Reporting`
* `Quality`
* 	`Security`
* 	`Analysis`

[2017-12-26 19:39] lodenrogue commented on #552
No sorry. Got busy. Please make it available for others

[2017-12-27 08:22] iluwatar commented on #552
This issue is free for taking again

[2017-12-27 15:39] #628 closed

[2017-12-27 21:08] ThatGuyWithTheHat commented on #675
May I take this issue?

[2017-12-27 21:13] ThatGuyWithTheHat opened #685 "Dev Wiki IDE instructions do not work on windows 10"
When following the instructions [here](https://github.com/iluwatar/java-design-patterns/wiki/12.-IDE-instructions) the check styles plugin does not show up. Even after I restart my computer and ensure the plugin is installed. This is an issue with *Eclipse* and *IntelliJ* so I don't expect anyone to fix it. If someone has found a workaround it might be helpful to add that to the instructions.

The

[2017-12-29 00:34] ThatGuyWithTheHat commented on #675
I am a bit confused. What should the .png look like?

[2017-12-29 12:27] iluwatar commented on #675
I think the method name has changed. `ThreadCompleteListener#notifyOfThreadComplete` no longer exists. The current version of the class has a different method, see here https://github.com/iluwatar/java-design-patterns/blob/master/event-asynchronous/src/main/java/com/iluwatar/event/asynchronous/ThreadCompleteListener.java. So you should just update the class diagram. We have used http://www.objecta

[2017-12-29 12:28] iluwatar commented on #675
Go ahead @ThatGuyWithTheHat, just ask if you need more help.

[2017-12-29 13:58] zafarella opened #686 "Add circuit breaker pattern"

[2017-12-29 14:17] zafarella commented on #686
actually, dup of https://github.com/iluwatar/java-design-patterns/issues/413

[2017-12-29 14:17] #686 closed

[2017-12-29 19:45] dheeraj-mummareddy commented on #473
@iluwatar yes I can still implement this. sorry, this did not show up in my issues list.

[2017-12-30 01:33] amogozov commented on #408
@iluwatar I would like to give it a try!

[2017-12-30 07:53] #451 closed

[2017-12-30 08:03] iluwatar commented on #473
@dheeraj-mummareddy thanks, let's keep it `under construction` then. Sorry, only people with write access can be added to assignees list.

[2017-12-30 08:05] iluwatar commented on #408
Ok @amogozov

[2017-12-30 08:40] #675 closed

[2018-01-01 14:42] #408 closed

[2018-01-02 09:48] dosdebug commented on #508
@iluwatar No Sir, not working on this.

[2018-01-05 02:23] lotsabackscatter opened #694 "Remove redundant explicit super() constructor calls"
The super() calls (taking no arguments) are inserted during compile time, so just make the code more verbose than required.

One example is found in the [HeroStat ](https://github.com/iluwatar/java-design-patterns/blob/master/value-object/src/main/java/com/iluwatar/value/object/HeroStat.java#L40) class.

[2018-01-06 05:16] james-a-roland commented on #694
@iluwatar I'll take this if no one else has

[2018-01-06 08:22] iluwatar commented on #694
@james-a-roland there is a pull request about this, see https://github.com/iluwatar/java-design-patterns/pull/695. But I have a feeling it does not solve all redundant calls to `super()`. Either work with @jonatasemidio by reviewing the PR or create your own PR that resolves all the cases. I will assign the issue to you.

[2018-01-07 19:57] #674 closed

[2018-01-07 21:42] abhishek7 commented on #553
@iluwatar apologies for the delay, did not have a chance to make additional progress on it. Feel free to give it to someone else. If I do have time, I'll open up a PR and reference the issue accordingly.

[2018-01-08 05:53] iluwatar commented on #553
The issue is free to take again

[2018-01-08 05:57] #681 closed

[2018-01-08 11:54] jonatasemidio commented on #694
Hi @james-a-roland and @iluwatar,
Do you know what type of unit test can I include to check this other cases?

[2018-01-09 06:14] iluwatar commented on #694
I would probably just `grep` through all `super` occurrences

[2018-01-10 00:25] pbougrier commented on #650
@swhittaker is right. See in his first link, the authors of the declaration (Joshua Bloch, Doug Lea...). They're recognized by the Java community as Gurus, and they tell us the double check pattern is dangerous. Delete the page or put it in a new section called "antipatterns".

[2018-01-10 18:48] iluwatar commented on #650
Thanks for pointing this out. The articles seem credible and we should follow their advice. This affects Double Checked Locking pattern and one example of Singleton.

We don't have antipatterns section so the correct action would be to delete those examples. I will accept PR that does it.

[2018-01-10 18:54] iluwatar commented on #643
@rastdeepanshu it still sometimes fails, will you try to solve it?

[2018-01-10 21:07] rastdeepanshu commented on #643
@iluwatar I'll take a look.

[2018-01-11 06:27] iluwatar commented on #564
@abhi-agr are you still working on this?

[2018-01-12 00:54] swhittaker commented on #650
I think it would be a shame to simply remove the examples. As it is a known pattern, and now established anti-pattern, I think it still belongs here, preserved in a new anti pattern section as suggested by @pbougrier, with an explanation as to why it is not recommended for use.

At the least, a Consequences section could be added (similar to singleton) with the reasons to not use it included, alon

[2018-01-12 05:04] james-a-roland commented on #694
@iluwatar - Pull request can be found here https://github.com/iluwatar/java-design-patterns/pull/697

[2018-01-12 06:27] iluwatar commented on #650
Yes, I guess we could do that (explain it should not be used) and add `antipattern` tag to http://java-design-patterns.com/patterns/ page.

[2018-01-12 08:18] Auffahrend commented on #650
Guys, did you read the articles to the end? The Double Checked Locking was considered to be broken before JMM of java 1.5. In 1.5 they changed the semantics of `volatile`. If you make your "singleton" (or whatever you are double-checking) `volatile` it works fine.
I would suggest updating the description with notes on using `volatile` and required version of java.

[2018-01-12 12:09] swhittaker commented on #650
@Auffahrend please note that the links also state that unless all the fields in the resource being protected are themselves immutable (final) then those fields also need to be declared volatile.

To my mind, even if this works, having this restriction imposed on the fields of a class just to provide lazy loading when constructing it is untenable as it introduces maintenance and performance implica

[2018-01-12 12:28] Auffahrend commented on #650
@swhittaker well, in case of "if we should" clearly describing pros and cons and requirements of pattern's implementation becomes even more important.
Also please note, that is not just lazy loading when this pattern is usable. We use it in cache engine of web service, double checking presence of a cached value. It prevents concurrent web requests of duplicating DB requests or perform duplicate ca

[2018-01-12 13:09] swhittaker commented on #650
Ok, so with a bit more research I've uncovered this [stackoverflow post](https://stackoverflow.com/questions/3578604/how-to-solve-the-double-checked-locking-is-broken-declaration-in-java) where the accepted answer has an example for how to safely use DCL when in use for **lazy loading**. It seems like this _may_ no longer be an anti-pattern (but the way in which it is often incorrectly implemented

[2018-01-12 13:12] jonatasemidio commented on #694
@iluwatar, another consideration... I know that grep can find all occurrences, but we might have some samples that super() calls some father's constructors.

Hi @james-a-roland, To solve #694 ... How did you checked all super() occurrences?

[2018-01-12 13:52] olcbean commented on #694
I used `grep 'super()'`

[2018-01-12 17:27] james-a-roland commented on #694
Same as @olcbean - any calls to super() called from a custom constructor were deleted. Since all objects are POJO's, I think this is a safe operation.

[2018-01-12 20:00] jonatasemidio commented on #694
So... In this case, we can use #697 instead of #695

[2018-01-13 20:26] #694 closed

[2018-01-16 19:21] iluwatar opened #699 "Intermittent failure in Balking pattern"
See Travis log https://api.travis-ci.org/v3/job/329176022/log.txt

[2018-01-16 19:37] iluwatar commented on #699
Ping @Rzeposlaw, care to investigate?

[2018-01-17 09:14] 15838028035 opened #700 "could you give a code format template file in project ?"
could you give a code format template file in project ?  when i use eclipse (4.5.2) ,checkstyle(6.16.0),
i do like this:
Right click java-design-patterns project in Project Explorer and choose Checkstyle - Create formatter profile

but eclipse not alert dialog for me to save file , could you add checkstyle code format template ?

[2018-01-19 00:50] 15838028035 commented on #685
i have the same problem , i use windows 7  ,eclipse 4.5.2 , checkstyle 6.10

[2018-01-19 00:56] 15838028035 commented on #700
@iluwatar  could you help me ?

[2018-01-19 11:45] olcbean commented on #508
Note :
The problem with the `dao` seems to be cause by the fact that SonarQube does not support `@Nested` : SQ currently ignores any `@Nested` classes, in other words it does not verify if there is a test within or not.

[2018-01-19 12:25] zhengzhanpeng commented on #699
Why this is messy when I open the Travis log?

[2018-01-20 04:48] zhengzhanpeng opened #701 "a new design pattern : efficient-cache"
I have an idea for building an efficient cache design to solve the problem of needing to calculate the same situation frequently in some scenarios. I'm working on it. I am annotating now, the function has been achieved.I hope I can get your approval.

[2018-01-23 00:08] sharmin03 commented on #699
@iluwatar I would like to work on it :)

[2018-01-23 06:34] 15838028035 opened #703 "ci problem could you help me ?"
i see this project used travis-ci ,   build successfully .
now i have two project on github , project-common-core, project-A,
this all maven project ,  projectA dependies project-common-core,

when i use travis-ci build project-A,  build failure, the error message is that

can't find project-comon-core  some class?  what should i do ?
@iluwatar

[2018-01-23 06:44] namannigam commented on #703
@15838028035 I am not sure how is it related to the repository here. But you can make sure that `project-A` relies on a released version of `project-common-core`. Else you might want to build both of them sequentially when pulled under the same remote directory.

[2018-01-23 06:50] 15838028035 commented on #703
Hi,   my project is maven project  !   i  have write   project-A relies on a released version of project-common-core,

how can i write .travis.yml, next is my  yml config

language: java

jdk:
  - oraclejdk8

after_success:
- mvn   cobertura:cobertura  sonar:sonar -Dsonar.host.url=https://sonarqube.com -Dsonar.login=$SONAR_TOKEN
notifications:
  email:
    - 15838028035@163.com

could you  help me

[2018-01-23 21:23] iluwatar commented on #699
Ok @sharmin03

[2018-01-24 02:28] 15838028035 opened #704 "ci problem could you help me ?"
@iluwatar
Hi , i have a project on github , i add  ci ,sonar  , but sonar build file ,could you help me ?

my project next:
https://github.com/15838028035/bsweb-common-core

.travis.yml content:

language: java

jdk:
  - oraclejdk8

after_success:
- mvn   cobertura:cobertura  sonar:sonar -Dsonar.host.url=https://sonarcloud.io   -Dsonar.login=$SONAR_TOKEN  -X
notifications:
  email:
    - 158380280

[2018-01-24 08:24] 15838028035 commented on #704
@iluwatar  could you help me ?

[2018-01-26 03:17] yunhenk opened #707 "about prototype's clone method"
Hi, this is the code in the prototype pattern.And I wonder why this clone() method creates a new object rather than clone itself? Thanks.

public class OrcBeast extends Beast {

  public OrcBeast() {}

  @Override
  public Beast clone() throws CloneNotSupportedException {
    return new OrcBeast();
  }

  @Override
  public String toString() {
    return "Orcish wolf";
  }

}

[2018-01-27 15:29] mookkiah commented on #707
I just created a pull request (https://github.com/iluwatar/java-design-patterns/pull/709/files) which uses copy constructor. Added an instance variable to represent the clone operation.

[2018-01-28 08:12] iluwatar commented on #704
I recommend following the tutorial at https://about.sonarcloud.io/get-started/. The issue is not related to this project so I'm closing it.

[2018-01-28 08:12] #704 closed

[2018-01-28 08:19] 15838028035 commented on #704
Okay thanks

发自我的 iPhone

[2018-01-29 05:23] #707 closed

[2018-01-29 05:26] yunhenk commented on #707
mookkiah fixed the method, users are expected to implement the copy method by making deep copy

[2018-01-29 18:28] iluwatar commented on #707
@yunhenk thanks for noticing this

[2018-02-03 14:39] besok opened #712 "New pattern:CircuitBreaker"
I couldn't found a pattern "CircuitBreaker" for reactive systems.
Could I implement this?

The common idea - a control pattern for service state .
Breaker can be with 3 states
-> half open - if the service is normal and breaker cheks the service availability and then swith state.
-> open - if the service is failure and breaker must return fast reject
-> close - if the service is normal and request

[2018-02-03 22:54] waisuan commented on #560
@iluwatar

Hello. I would like to work on this particular pattern. I'll be drawing up inspiration from https://www.takeupcode.com/podcast/89-design-patterns-dirty-flag/ .

Is that alright?

[2018-02-05 18:24] iluwatar commented on #712
Duplicate. See https://github.com/iluwatar/java-design-patterns/issues/413 and https://github.com/iluwatar/java-design-patterns/issues/414

[2018-02-05 18:24] #712 closed

[2018-02-12 16:49] Leowbattle commented on #485
@wisamtb1 Are you still implementing this?

[2018-02-12 19:32] iluwatar commented on #485
There's no reply so I assume it is free for taking again. @Leowbattle would you like to implement it?

[2018-02-13 01:03] fredsjones opened #715 "Currently used version of logback contains a security vulnerability"
In our exploration of your project we found that it is currently using version 1.1.7 of logback which is vulnerable to Arbitrary Code Execution.  A configuration can be turned on to allow remote logging through interfaces that accept untrusted serialized data. Authenticated attackers on the adjacent network can exploit this vulnerability to run arbitrary code through the deserialization of custom

[2018-02-13 04:02] nagarro-bhavya commented on #350
Hi, Can I work on this one?

[2018-02-13 04:02] MohitNarula commented on #413
Hi .. can I work on this one ?

[2018-02-17 14:54] iluwatar commented on #350
Ok @nagarro-bhavya

[2018-02-17 14:55] iluwatar commented on #413
Ok @MohitNarula

[2018-02-18 01:28] karmagamer commented on #562
I'd like to try to implement this. This looks interesting. @iluwatar

[2018-02-20 11:36] waisuan commented on #560
Kindly take a look at my pull request and lemme know if I've missed out on something. Thanks! @iluwatar

[2018-02-23 09:23] anthonycampbell commented on #602
@iluwatar  - I am working on it.

[2018-02-25 06:23] iluwatar commented on #562
Ok @karmagamer

[2018-02-25 06:27] iluwatar commented on #602
Ok @anthonycampbell

[2018-02-25 06:46] #677 closed

[2018-02-25 06:51] iluwatar opened #721 "Incorporate clarity-bot"
https://clarity-bot.com/ is an architectural analysis tool that helps when reviewing pull requests. The tool is free to use for open source projects.

[2018-02-26 11:52] npathai opened #722 "Ambassador Pattern"
https://docs.microsoft.com/en-us/azure/architecture/patterns/ambassador

[2018-02-27 04:22] karmagamer commented on #562
@iluwatar I am on it. I will update you once I am finished,

[2018-02-27 07:44] tliecau commented on #562
@karmagamer  please let me know if you need help with implementing or something with this pattern. I would love to help

[2018-02-28 21:16] karmagamer commented on #562
@tliecau Sure buddy, so far it's coming along fine. I will update you in a week if I am stuck or need help.

[2018-03-04 19:50] anthonycampbell commented on #602
Hey, I am having trouble. I do not really understand what "Creating an enum (e.g. Nazgul) with the getName method" means. I see the enum in NazgulName. Is this person talking about a different enum? I am wondering because they say "e.g Nazgul" rather than NazgulName. I am not sure I see how putting an Enum in getName() would simplify things. If there is a better place for me to ask this questions

[2018-03-04 20:17] iluwatar commented on #602
My understanding is that `Nazgul` should be implemented as enum instead of class to make the example simpler.

[2018-03-04 20:50] anthonycampbell commented on #602
I might understand better now. Like basically replace the word class in Nazgul.java with the word enum, and then fix the errors, and refactor so that it all still works. Is that right?

[2018-03-06 06:27] iluwatar commented on #602
You are on the right track. We are trying to create enum based Multiton (see enum based Singleton here https://github.com/iluwatar/java-design-patterns/blob/master/singleton/src/main/java/com/iluwatar/singleton/EnumIvoryTower.java). The method `getName` is not important, it's only there for the test.

[2018-03-06 06:49] anthonycampbell commented on #602
I think I got it now. Seems very simple. I will post here again if I have more trouble for some reason. Thank you.

[2018-03-07 19:54] iluwatar commented on #643
@rastdeepanshu any progress?

[2018-03-07 20:05] iluwatar commented on #112
http://lmax-exchange.github.io/disruptor/

[2018-03-09 05:26] harshitrathod commented on #722
@npathai According to me this pattern is just extended use of proxy pattern. Here at edge service, we are putting our logic for the proxy which hides actual Application and also provides us extendibility to put our circuit breaking and other logic in that.
Eg. Hibernate Transaction management uses proxy pattern in which it provide extendibility to provide support for commits/roll-back
Let me know

[2018-03-10 11:38] iluwatar opened #725 "SonarCloud badge URL changing"
Hi,

About a month ago, we deployed new built-in badges on SonarCloud:
News: https://about.sonarcloud.io/news/2018/02/05/new-project-badges.html
Tweet: https://twitter.com/sonarcloud/status/960790516936867840
As explained in the news, the URL for those new badges is different from the old one - which we will remove on Monday April, 2nd (so in a month from now).

I'm contacting you because we notic

[2018-03-11 12:54] #701 closed

[2018-03-11 19:24] #602 closed

[2018-03-15 19:46] iluwatar opened #727 "Intermittent test failure in Balking pattern"
See Travis log https://travis-ci.org/iluwatar/java-design-patterns/builds/353446296

[2018-03-18 17:33] Deathnerd opened #728 "Add language to Readme snippets for highlighting"
Hello,

First off, awesome repo. I love having this handy for self-study or looking up things in a pinch. Very well done, guys!

While reading through some of the `Readme.md` files though, I've noticed a lack of syntax highlighting in the code samples. See [the chain pattern for an example](https://github.com/iluwatar/java-design-patterns/tree/master/chain). This is trivial to add as GitHub suppor

[2018-03-18 17:34] Deathnerd commented on #728
Gah. It appears I can't add labels to this issue. I was going to label it as `Enchancement` and `Question`

[2018-03-19 18:05] sreebasavamanju commented on #727
i think in local it was successfully passed tests!

[2018-03-21 16:21] allanneves commented on #725
Hi,
    Did they provide you with the new URL pattern? It looks like that even in the SonarSource repo they are still using the old URL (search for quality gate):

     https://raw.githubusercontent.com/SonarSource/sonar-java/master/README.md

[2018-03-22 15:37] iluwatar commented on #728
Thanks @Deathnerd. Have you checked the web site http://java-design-patterns.com/patterns/chain/ that is generated from the `README.md` files? The web site is the primary display of the site. Browsing Github can be a bit crude.

[2018-03-22 15:37] iluwatar commented on #727
Yes, it happens only now and then.

[2018-03-23 15:05] Deathnerd commented on #728
@iluwatar I have! That was actually my first exposure to the repository. However in that page you linked, it suffers from the same problem: No syntax highlighting. I'm assuming that Jekyll is used for both the GH Pages and the Amazon S3 version of the site, yes? I haven't done much with Jekyll, but a quick Googlin' tells me that it should by default (I hope) Jekyll 3 comes with the `rouge` highlig

[2018-03-24 13:48] iluwatar commented on #728
@Deathnerd you are right, syntax highlighting is missing. Jekyll is used for GH pages and AWS version. If you have made or are going to make we would gladly accept a patch that would add the syntax highlighting. Note that there are some instructions for getting started with JDP web site development here https://github.com/iluwatar/java-design-patterns/wiki/07.-Working-with-the-web-site.

[2018-03-24 13:49] iluwatar commented on #728
If you are working on this, I will add the `under construction` label here, yes?

[2018-03-24 15:28] iluwatar commented on #591
Tried the branch with openjdk-9 but the build fails with
[code]

[2018-03-24 22:43] Deathnerd commented on #728
@iluwatar Yeah I'll get this under way sometime soon. Probably tomorrow :)

[2018-03-25 21:27] javatlacati commented on #591
I hope this pom from my project can help you.

https://github.com/javatlacati/datastrructureskotlin/blob/Java9/pom.xml

[2018-03-26 03:34] namannigam commented on #591
@iluwatar There is a sample shared at [SO-46084751](https://stackoverflow.com/questions/46084751/how-to-express-dependency-in-maven-on-java-ee-features-for-transition-to-java-9/46086920#46086920) on how to add the --add-modules to compiler args. Still curious to know what modules are you actually adding explicitly? (Reason being, one could look at the [JEP-320](http://openjdk.java.net/jeps/320) an

[2018-03-26 05:10] iluwatar commented on #728
Ok @Deathnerd

[2018-03-28 05:45] Deathnerd commented on #728
@iluwatar PRs #731 and #730 address these changes both for the site pages and the patterns respectively

[2018-03-29 03:58] Deathnerd commented on #452
@iluwatar I get an error page when visiting your most recent link

[2018-03-31 06:46] iluwatar opened #733 "Consistent naming and tagging for EIP patterns"
Some of the EIPs have used naming convention beginning with eip-xxx. Apply this naming to all EIPs to make them consistent.

Also should check that EIPs at http://java-design-patterns.com/patterns/ have consistent categories and tags.

[2018-03-31 06:57] #728 closed

[2018-03-31 07:04] iluwatar commented on #452
Yes, same for me. It seems to be broken at the moment. I couldn't find alternative links.

[2018-03-31 07:15] iluwatar commented on #727
Duplicate of https://github.com/iluwatar/java-design-patterns/issues/699

[2018-03-31 07:15] #727 closed

[2018-03-31 07:27] iluwatar commented on #643
Flaky test disabled in https://github.com/iluwatar/java-design-patterns/commit/17ea0b17f68e6d20917dfd2937db28de83d9bf27. Still needs to be fixed.

[2018-03-31 07:27] iluwatar commented on #699
Flaky test disabled in https://github.com/iluwatar/java-design-patterns/commit/17ea0b17f68e6d20917dfd2937db28de83d9bf27. Still needs to be fixed.

[2018-04-05 10:28] iluwatar opened #734 "Acyclic Visitor pattern"
http://condor.depaul.edu/dmumaugh/OOT/Design-Principles/acv.pdf

[2018-04-07 07:39] frealgagu opened #737 "No version tag for 1.19"
There is no version tag for version 1.19.0. Has someone forgotten to add it?

[2018-04-07 10:40] iluwatar commented on #737
Sorry, forgot to push it. It's there now.

[2018-04-07 10:40] #737 closed

[2018-04-07 18:24] kfragkedaki opened #738 "Request for contribution"
I found interesting your project and I'd like to contribute to this. Is there anything that needs improvement?

[2018-04-08 07:39] iluwatar commented on #738
Look into issues list https://github.com/iluwatar/java-design-patterns/issues. Some of the major categories are Java 9 support, new patterns, quality improvements, pattern descriptions, blogs, presentations. See wiki (https://github.com/iluwatar/java-design-patterns/wiki) for some general instructions.

[2018-04-08 17:01] #473 closed

[2018-04-10 15:20] zm1060 opened #741 "VVIP"
VGA

[2018-04-12 18:02] #733 closed

[2018-04-13 14:39] liushaotao opened #745 "com.github.sbrannen under have a little jar can not find"
com.github.sbrannen under have a little jar can not find，where are these from,Are these  yourself compile.thank you

[2018-04-13 19:29] Argyro-Sioziou commented on #734
Hello! @giorgosmav21 and I are a team from Athens University of Economics and Business. We have an assignment to contribute to a project. Can we work on this issue?

[2018-04-16 08:48] Willem-van-den-Berg commented on #499
Sure...its free

On Sun, 15 Apr 2018, 23:21 asavelev1, <notifications@github.com> wrote:

[2018-04-17 04:54] iluwatar commented on #499
@matthewwier does not seem to be active on this so @asavelev1 it is ok to start on this

[2018-04-17 15:24] Deathnerd commented on #733
I know this issue is closed, but for those of us who are a little slow... What does EIP mean exactly?

[2018-04-18 06:41] javatlacati opened #746 "Utility class"
I've seen something called "Utility class" to hold only utility functions, their design is similar to [class for constants](http://www.javapractices.com/topic/TopicAction.do?Id=2).

You can find a good example in lombok: https://projectlombok.org/features/experimental/UtilityClass

is that considered a design pattern?

[2018-04-18 06:55] javatlacati commented on #601
Yes it's nicely used as part of [Dukescript](http://dukescript.com/) and you can experiment with it using DEW: https://github.com/jtulach/dew

[2018-04-19 17:04] iluwatar commented on #733
Enterprise Integration Patterns, see the book by mr. Hohpe https://en.wikipedia.org/wiki/Enterprise_Integration_Patterns

[2018-04-19 17:13] iluwatar commented on #746
I would not consider it as a design pattern. It is more like convention to separate common code. It should be noted that there are downsides with utility classes. They are not object oriented but procedural code, and depending on static functions creates hardwired dependencies which makes code hard to test.

[2018-04-25 13:19] david415 commented on #307
SEDA is totally different from other event driven models. i recommend reading the SEDA paper.

[2018-04-30 07:55] pelmegov commented on #449
Hi @iluwatar @npathai , I would like to contribute on this issue.

[2018-04-30 12:43] iluwatar commented on #449
Ok @pelmegov

[2018-05-03 02:46] vin94 commented on #119
can u please close this issue as I dont see any description

[2018-05-03 19:52] vin94 commented on #167
pls close the issue

[2018-05-03 19:53] vin94 commented on #156
pls close the issue

[2018-05-04 06:02] ryantheleach commented on #156
http://camel.apache.org/messaging-mapper.html

[2018-05-04 06:02] ryantheleach commented on #167
http://camel.apache.org/routing-slip.html

[2018-05-04 06:03] ryantheleach commented on #119
http://www.enterpriseintegrationpatterns.com/patterns/messaging/CommandMessage.html

[2018-05-04 06:09] ryantheleach commented on #746
I've seen a unit testable version, where the utility class contains 0 state, has an interface for unit tests, but otherwise is comprised only of what could be static functions, if not for the instance needed to be able to mock the data.

I'd say that this (create a really thin interface, around an otherwise static object) could make for a decent pattern, even if it's considered somewhat of an anti

[2018-05-07 19:11] iluwatar commented on #746
Thanks @ryantheleach those are good arguments. If someone wants to try implementing this we can consider adding it to the catalog.

I guess one could invoke the private constructor anyway using reflection.

[2018-05-16 07:17] npathai commented on #560
Closing this issue. PR successfully merged.

[2018-05-16 07:17] #560 closed

[2018-05-16 07:43] npathai commented on #746
@iluwatar I agree with you, I would not consider this a pattern as well.

[2018-05-17 17:51] #746 closed

[2018-06-01 16:48] okinskas commented on #722
@harshitrathod despite this seeming like an extension of proxy as you stated, is it still viable to create an example? If so I would be interested in doing so.

[2018-06-02 01:44] challa209 opened #754 "raj"

[2018-06-02 08:50] okinskas commented on #551
I'd like to pick up this pattern 👍

[2018-06-02 11:00] calvinspider commented on #734
@iluwatar hello,is this project still continuing？Can I join in and work on this issue?

[2018-06-03 10:52] iluwatar commented on #722
Yes, go ahead @okinskas

[2018-06-03 10:53] #754 closed

[2018-06-03 10:53] iluwatar commented on #551
Ok @okinskas

[2018-06-03 10:56] iluwatar commented on #734
@calvinspider this issue is already assigned to @Argyro-Sioziou and @giorgosmav21. You should negotiate with them if you want to help.

[2018-06-03 11:07] iluwatar commented on #643
Unfortunately the fix did not work. See https://api.travis-ci.org/v3/job/384940670/log.txt. Reopening this issue.

[2018-06-04 12:42] mohanaraosv commented on #439
I would like to work on this pattern

[2018-06-06 16:57] iluwatar commented on #439
Ok @mohanaraosv

[2018-06-07 11:41] htpbackup opened #756 "What's the difference between “API Gateway” and “Aggregator Microservices”? Isn't it the same?"
[API Gateway](http://java-design-patterns.com/patterns/api-gateway/)

[Aggregator Microservices](http://java-design-patterns.com/patterns/aggregator-microservices/)

[2018-06-07 18:18] nikhilbarar commented on #466
I'd like to implement this. Please let me know if its still open

[2018-06-07 18:18] nikhilbarar commented on #509
I'd like to implement this. Please let me know if its still open

[2018-06-07 18:49] iluwatar commented on #466
Yes, go ahead @nikhilbarar

[2018-06-07 18:49] iluwatar commented on #509
Ok @nikhilbarar

[2018-06-09 13:38] npathai commented on #722
@harshitrathod Yeah it makes sense. It is almost (if not exactly) same as Remote Proxy pattern.

[2018-06-10 19:15] nikhilbarar commented on #509
PR #757 Please let me know if any changes are required. Thanks

[2018-06-13 06:36] nikhilbarar opened #758 "Configurable Converter Pattern"
Basic idea of a converter is to convert a source class into a target class. There's an approach which extends this behaviour and provides a way to create configurable converters using an collection of populators and enums.

Converter creates instances of beans and populators instantiate those instances using source object. Each Converter can contains list of populators.

Any set of populators can

[2018-06-13 06:53] nikhilbarar opened #759 "Components in a Java Server Page"
In a standard spring mvc application, a page is created by providing a mapping for its request in a Controller class which returns a jsp view which the server converts into HTML and sends to some browser.

There's another approach which allows you to define a page as a list of reusable components. Each component has its own controller and view (jsp).

The view (jsp) of the parent page will have a

[2018-06-13 17:12] iluwatar commented on #758
Any links to references where this pattern is mentioned?

[2018-06-13 17:16] iluwatar commented on #759
Do you have a name or reference for this pattern?

[2018-06-13 17:19] nikhilbarar commented on #758
We're using this in our project on SAP Hybris. This is the closest match i could find https://hybrisinstructive.blogspot.com/2017/12/converters-and-populators-in-hybris.html

[2018-06-14 10:14] VivekVinushanth opened #760 "Singleton Double Locking"
Why the static variable is volatile in double locking check.That might lead to un atomic actions still right?

[2018-06-14 16:46] iluwatar commented on #760
The volatile keyword guarantees visibility of changes to variables across threads. So if some thread has already initialized the singleton instance it is guaranteed to be visible in check https://github.com/iluwatar/java-design-patterns/blob/master/singleton/src/main/java/com/iluwatar/singleton/ThreadSafeDoubleCheckLocking.java#L59

[2018-06-17 07:13] nikhilbarar commented on #460
Can i pick this up?

[2018-06-17 07:16] nikhilbarar commented on #485
Can i work on this?

[2018-06-17 13:53] VivekVinushanth commented on #760
Thank you for clarification

[2018-06-20 05:53] nikhilbarar commented on #759
Hi, any updates on this?

[2018-06-20 05:53] nikhilbarar commented on #758
Hi, any updates on this?

[2018-06-22 02:06] gdiazs commented on #759
There are some aproachs ( sorry for my english guys)  that match with you said ( if I understood well :) )

Like apache wicket, taperstry and even jsf . All they are component based pattern. Apache wicket its the most lightweight I guess.

[2018-06-23 10:10] nikhilbarar commented on #564
Can i pick it if it's still open

[2018-06-24 06:57] DovahYol opened #761 "ThreadSafeDoubleCheckLocking.java: Instantiating by Reflection call will be successful if you do that firstly"
https://github.com/iluwatar/java-design-patterns/blob/987994f0fe5747e5524bc43c3b2000bee478c0c3/singleton/src/main/java/com/iluwatar/singleton/ThreadSafeDoubleCheckLocking.java#L43-L45
Instance will be null, and you can create a singleton object by reflection without an exception.

[2018-06-24 15:31] ernestasdeveloper commented on #758
Hi Nikhilbarar, I am curious to ask why you are using that solution instead of already built libraries like Dozer Mapper?

[2018-06-28 07:06] 15838028035 opened #762 "how can i find the url Quality Gate from README.md from sonar.io?"
Hi , i have buildm install  a sonar  in my compute, i want to add the quality gate to readMe.md.

how can i find the url Quality Gate from  README.md  from sonar.io?
https://sonarcloud.io/api/project_badges/measure?project=com.iluwatar%3Ajava-design-patterns&metric=alert_status

could you help me ?

[2018-06-28 08:28] #734 closed

[2018-07-01 18:38] npathai commented on #762
@15838028035 Sorry didn't understand your question. Can you please ask this question on gitter chatroom?
Closing this issue for now. Reopen in case there is a problem.

[2018-07-01 18:38] #762 closed

[2018-07-01 18:51] npathai commented on #760
@VivekVinushanth Read [Java Concurrency In Practice](https://www.amazon.com/Java-Concurrency-Practice-Brian-Goetz/dp/0321349601) for in-depth clarification on volatile, synchronized, etc.

Closing this issue for now.

[2018-07-01 18:51] #760 closed

[2018-07-01 18:54] npathai commented on #721
@iluwatar Good idea. Even I was looking for some bot to automatically comment a list of todos as soon as PR is raised. Let's investigate this.

[2018-07-01 19:15] nikhilbarar commented on #564
PR #757 Please let me know if any changes are required. Thanks.

[2018-07-04 09:29] gpqhl0071 commented on #635
我猜想你的h2 jar包，应该下载中途失败了，所以maven不会重新去下载，检查下maven本地仓库中的目标jar是否下载完整。

[2018-07-05 10:38] DiscipleOfShinku opened #764 "Categories and tags selection"
When I select desired categories and tags, read about one of provided patterns and want to return to the same filtered patterns list, I have to move back in a browser history (because the "Patterns" link in the main menu loads the page from scratch). Further, checkboxes save their states except for "categories" and "tags" chekboxes themselves and all patterns are loading, so I have to click on one

[2018-07-06 11:16] fengdada1 commented on #635
oh god

[2018-07-06 15:31] frealgagu opened #765 "When the version is going to change to 1.20?"
There is no version 1.20 yet.

[2018-07-07 05:41] iluwatar commented on #759
@nikhilbarar The link looks like a tutorial on how to create a new page with Hybris framework. As such I don't see how it would fit the definition of a pattern. I agree with @gdiazs that there are multiple approaches for doing this, basically one per framework. Design patterns are framework agnostic, although a framework or library can implement a pattern.

[2018-07-07 05:48] iluwatar commented on #460
Ok @nikhilbarar

[2018-07-07 05:49] iluwatar commented on #485
Ok @nikhilbarar

[2018-07-07 05:52] iluwatar commented on #761
Yes, that is true. But I think that is the way the code is supposed to work. It allows creating one and only one instance, right?

[2018-07-07 06:01] iluwatar commented on #758
@nikhilbarar have you seen this https://xsolve.software/blog/converter-pattern-in-java-8/? Is it similar to what you are trying to achieve? See also https://java-design-patterns.com/patterns/data-mapper/ and https://java-design-patterns.com/patterns/converter/

[2018-07-07 06:09] DovahYol commented on #761
Actually you can create another instance via `ThreadSafeDoubleCheckLocking.getInstance()`, or as many instances as possible via reflection.

[2018-07-08 06:56] #722 closed

[2018-07-08 07:11] iluwatar opened #766 "The web site should use https"
At the moment java-design-patterns.com uses http and browser gives nasty warning when trying to access the site. We should take into use https protocol to get rid of the warning.

[2018-07-08 07:32] iluwatar commented on #564
Ok @nikhilbarar

[2018-07-08 10:54] mobiuscog commented on #766
As you're hosted on AWS Cloudfront, you could either use the free SNI Custom SSL (https://aws.amazon.com/cloudfront/custom-ssl-domains/) or look to add a LetsEncrypt SSL certificate (https://letsencrypt.org/getting-started/)

[2018-07-11 02:46] 15838028035 opened #770 "how can i set checkstyle.xml in sonarcloud.io?"
how can i set checkstyle.xml in sonarcloud.io?

[2018-07-11 03:39] a894164233 commented on #766
You can try.([https://certbot.eff.org/ ](https://certbot.eff.org/ )) It is easier.

[2018-07-12 19:42] #635 closed

[2018-07-12 19:46] iluwatar commented on #765
True, will produce it soon

[2018-07-13 01:33] 15838028035 opened #771 "how can i config my eclipse ?"
hi , i use eclipse ,   see it :

    Download Eclipse from https://eclipse.org/downloads/ Choose Eclipse IDE for Java Developers or Eclipse IDE for Java EE Developers
    Import the project File - Import - Existing Maven projects - point to the project root folder
    Configure Checkstyle plugin Window - Preferences - Checkstyle - New - External Configuration File -> Name it and point to checkstyl

[2018-07-16 05:53] npathai commented on #741
It is not clear what this issue is about, so closing it for now.

[2018-07-16 05:53] #741 closed

[2018-07-16 05:55] npathai commented on #738
I think we can close this issue now.
@kfragkedaki Let us know if you have any further questions.

[2018-07-16 05:55] #738 closed

[2018-07-16 18:50] MohitNarula commented on #438
hi @iluwatar

Can I pick up this one ?

[2018-07-18 03:16] 15838028035 opened #772 "how can i jump code to anothere java code in sonar.cloud.io pages ?"
how can i jump code to anothere java code in sonar.cloud.io pages ?

could you help me  @bellingard

[2018-07-18 06:20] 15838028035 opened #773 "it should be add sonarlint check code before commit code ?"
it should be add sonarlint check code before commit code ?

@bellingard

[2018-07-18 18:40] awesomefei opened #775 "Implement Retry pattern with exponential backoff"
In practice, we often retry with exponential backoff to avoid making traffic congestion/server load worse, would be nice to implement this option.

Also, I would like to implement this.

[2018-07-19 06:24] 15838028035 opened #776 "could you help me imporove my project code coverage ?"
Hi ,i have a project on github ,  could you help me imporove my project code coverage ?

the project is:

https://github.com/15838028035/microservice-common-util.git

@iluwatar

[2018-07-19 18:19] iluwatar commented on #761
Can someone verify this?

[2018-07-19 18:28] iluwatar commented on #771
Sorry, I don't follow you. Can you send a screenshot what happens?

[2018-07-19 18:32] iluwatar commented on #438
Ok @MohitNarula

[2018-07-19 18:33] iluwatar commented on #772
Looks more like a Sonarcloud issue than related to this project so closing it now.

[2018-07-19 18:33] #772 closed

[2018-07-19 18:38] iluwatar commented on #775
Yes, I agree. Go ahead @awesomefei

[2018-07-19 18:39] iluwatar commented on #776
Sorry, issues here should be related to this project. You could try asking the same question at https://gitter.im/iluwatar/java-design-patterns

[2018-07-19 18:39] #776 closed

[2018-08-01 07:37] iluwatar commented on #351
@abhi-agr you can write the implementation from scratch or utilize @npathai's solution if you wish. Will you work on this?

[2018-08-01 16:47] abhi-agr commented on #351
I am planning to work on this. But I think I need to compare different strategies - OSGI and JPF to find out the better implementation.

Let me come up with a design and later I can move to implementation

[2018-08-03 20:02] mitchellirvin opened #778 "Implement Iterator for Binary Search Tree"
The current iterator implementation is only against a List. I think the beauty/power of an iterator is best exemplified in its implementation against more complex data structures. I'd like to implement an Iterator over a BST (for starters).

[2018-08-03 20:03] mitchellirvin commented on #778
I've started work on this issue preemptively!

[2018-08-07 09:24] alongigi opened #780 "active object"

[2018-08-07 15:06] IAmPramod commented on #780
Can you provide more description for the same?

[2018-08-07 19:25] iluwatar commented on #351
Ok @abhi-agr

[2018-08-07 19:31] iluwatar commented on #778
Ok @mitchellirvin

[2018-08-07 19:42] iluwatar commented on #780
Duplicate of https://github.com/iluwatar/java-design-patterns/issues/65

[2018-08-07 19:42] #780 closed

[2018-08-10 02:55] yushouling opened #781 "ClassCastException was throwed in App.java#52"
The row that has an exception was:
hayes.accept(conUnix); // Hayes modem with Unix configurator

Because of ConfigureForUnixVisitor didn't implements HayesVisitor.

#java-design-patterns/acyclic-visitor

[2018-08-10 19:43] iluwatar commented on #586
@7agustibm added the interfaces for primary ports. The blog post still needs to be updated.

[2018-08-15 05:43] harshsri2208 commented on #771
@iluwatar you can follow the video in this link:
https://youtu.be/WIzzHeWukUU

[2018-08-15 05:46] harshsri2208 commented on #756
@htpbackup refer this link : https://dzone.com/articles/microservice-pattern-api-gateway

[2018-08-15 14:32] npathai commented on #781
@iluwatar That is not a bug, it is expected to happen. I will change the log level and use `instanceof` instead to resolve the confusion.

[2018-08-15 14:34] npathai commented on #761
@iluwatar Sure. I will have a look at it.

[2018-08-16 05:58] while1do commented on #549
Cann't we consider

`    try (CloseableHttpClient httpClient = HttpClients.createDefault()) {
      HttpGet httpGet = new HttpGet("http://localhost:51515/information");
      try (CloseableHttpResponse httpResponse = httpClient.execute(httpGet)) {
        response = EntityUtils.toString(httpResponse.getEntity());
      }
    } catch (IOException e) {
      LOGGER.error("Exception caught.", e);

[2018-08-20 03:54] bordoisila1 opened #784 "Minor Checkstyle issues"
com.iluwatar.acyclicvisitor.ZoomVisitor.java and com.iluwatar.retry.Retry.java have Checkstyle warnings.

[2018-08-21 05:51] npathai commented on #784
PR #787 has been merged. Closing this issue now.

[2018-08-21 05:51] #784 closed

[2018-08-21 05:54] npathai commented on #756
Before closing this issue, this question can be made part of FAQ.

[2018-08-30 07:27] npathai commented on #778
Great work @mitchellirvin. Closing this issue now.

[2018-08-30 07:27] #778 closed

[2018-08-31 02:05] 15838028035 opened #789 "it would be nice to use docker build this project , could that support it ?"
it would be nice to use docker build this project , could that support it ?

[2018-09-01 09:11] 15838028035 commented on #789
@bellingard

[2018-09-02 19:50] iluwatar commented on #789
Yes, it would be quite easy to add that but the real question is why would one want to do that?

[2018-09-02 23:29] 15838028035 commented on #789
I think it is a good demo for developer   To learn docker !  Use docker !

发自我的 iPhone

[2018-09-03 16:33] earroyoron opened #790 "Hexagonal architecture pattern is wrong implemented"
Not sure, really

 can the model have dependencies of repository classes?

com.iluwatar.hexagonal.domain.LotteryService has a dependency on LotteryTicketRepository

[2018-09-09 07:47] npathai commented on #564
Merged succesfully, closing this. Thanks @nikhilbarar :+1:

[2018-09-09 07:47] #564 closed

[2018-09-09 15:07] iluwatar commented on #790
Yes, it can. `LotteryTicketRepository` is one of the driven ports. See for example the slides 10-11 on this presentation https://www.slideshare.net/fabricioepa/hexagonal-architecture-for-java-applications

[2018-09-10 12:06] andrievsky commented on #790
[code]
Why are you instantiating a list if you could iterate over the numbers HashSet?

[2018-09-11 10:01] andrievsky commented on #790
@iluwatar https://github.com/iluwatar/java-design-patterns/pull/793

[2018-09-11 10:27] npathai commented on #789
IMHO I don't think there is any need for docker. We should not make this project kitchen sink for everything.

[2018-09-11 10:48] npathai commented on #789
IMHO there is no need for docker.

[2018-09-16 18:54] #789 closed

[2018-09-17 15:10] frealgagu commented on #765
I guess is better to wait for October, right?

[2018-09-19 08:24] LyndonArmitage opened #795 "module/output.txt & module/error.txt change on build"
First off great project here, thanks for spending time collating all this information! :+1:

Something very minor I noticed when building the project locally with `mvn clean package` is that the files:

`module/output.txt` and `module/error.txt` end up being change to not include the MIT licence.

Perhaps they should be removed with `git rm` and then added to the ignore file as they are generated

[2018-09-21 17:28] iluwatar commented on #765
Yes, the next milestone has been set to 30th September

[2018-09-21 17:32] iluwatar commented on #795
@LyndonArmitage thanks for the improvement suggestion. I think those files could be removed from git and added to `.gitignore`. I would be glad to accept pull request for this.

[2018-09-24 09:15] LyndonArmitage commented on #795
See PR: #796

[2018-09-25 19:46] iluwatar commented on #781
Well done @npathai Thank you!

[2018-09-25 19:46] #781 closed

[2018-09-25 19:50] #795 closed

[2018-09-29 07:46] AnaghaSasikumar commented on #775
Hi, is this done?

[2018-09-29 09:29] AnaghaSasikumar commented on #775
Created pull request #797 in case it's still needed. I am new to open source, would really appreciate any feedback. I used this source to do it: https://cloud.google.com/storage/docs/exponential-backoff

[2018-09-29 11:48] IAmPramod commented on #761
I think we can create multiple instances of a singleton class only in case of lazy initialization as in the above example.
If we change that to eager initialization, this check will be sufficient to create multiple instances of this class.

[2018-09-30 18:55] iluwatar commented on #766
https://medium.com/@itsmattburgess/hosting-a-https-website-using-aws-s3-and-cloudfront-ee6521df03b9

[2018-10-05 09:18] #765 closed

[2018-10-06 07:14] AnaghaSasikumar commented on #562
Hi, is this done?
I have been working on something for the last few days and it is working...if it's not done can I submit a PR?

[2018-10-06 08:55] AnaghaSasikumar commented on #562
Ok sure @karmagamer i'll give it a shot then 👍😀

[2018-10-11 20:10] joseph-mccarthy commented on #685
I have not had an issue. Could you please provide some more information?

[2018-10-11 20:12] joseph-mccarthy commented on #703
How is this even related? Could this issue be closed? @iluwatar

[2018-10-13 14:55] iluwatar opened #798 "Recognize contributors"
We should follow this nice specification to recognize our contributors https://github.com/kentcdodds/all-contributors

[2018-10-13 14:58] iluwatar commented on #703
Yes, I agree @joseph-mccarthy, it's not related. So let's close this issue.

[2018-10-13 14:58] #703 closed

[2018-10-13 15:41] #683 closed

[2018-10-13 16:43] iluwatar commented on #766
Implemented. The web site is now served using HTTPS. Try http://java-design-patterns.com, it will redirect to https://java-design-patterns.com.

[2018-10-13 16:43] #766 closed

[2018-10-13 17:13] iluwatar opened #799 "Master-Worker pattern"
https://docs.gigaspaces.com/sbp/master-worker-pattern.html

[2018-10-14 07:50] pierDipi commented on #103
The link provided is incorrect.

[2018-10-14 11:36] AnaghaSasikumar commented on #799
So, are we looking to implement this using Gigaspace or w/o it? I've never used Gigaspace before, if it's the latter, I'd like to give this a shot.

[2018-10-15 06:55] npathai commented on #798
We should implement this :+1: Great find.

[2018-10-15 10:08] IAmPramod commented on #103
@iluwatar @pierDipi I think the domain is no longer maintainted.
we can use https://www.linkedin.com/pulse/open-sehttps://vladmihalcea.com/the-open-session-in-view-anti-pattern/ssion-view-pattern-hamed-hatami/ and

[2018-10-21 05:41] iluwatar commented on #799
No need for Gigaspace. Please go ahead @AnaghaSasikumar

[2018-10-21 05:56] iluwatar commented on #103
Thanks @IAmPramod :+1:

[2018-10-21 18:14] #643 closed

[2018-10-22 22:44] staillebois commented on #524
I implemented the proposed solution by @colinbut and I created 2 sub-modules. @iluwatar I create a pull request for this.

[2018-10-24 09:22] joimxjtuse opened #813 "Delegation vs. Proxy"
i can not distinguish these patterns, are these the same?

PrinterController or PrinterProxy.

while define Proxy,
"can provide additional logic", just this??

[2018-10-24 09:29] joimxjtuse commented on #813
i think Delegation a variant of Proxy.

[2018-10-24 20:18] #524 closed

[2018-10-27 08:02] iluwatar commented on #813
They are quite similar conceptually but there are differences. In proxy pattern we use inheritance to provide a proxy object that appears in place of the original object. The delegation pattern is all about composition - the work is delegated to the composed object.

[2018-10-28 12:10] AnaghaSasikumar commented on #799
Created #816 pull request

[2018-10-28 12:11] AnaghaSasikumar commented on #562
PR #797

[2018-10-29 02:06] joimxjtuse commented on #813
thanks @iluwatar, I think while design in real environment, we can choose Delegation or Proxy by this:
   1. We choose Delegation/Proxy because 'Caller.java' do not want to know anything about the change of DelegationA/ProxyA/RealA/RealAA;
   2. In Delegation, we may change 'RealA.java/RealAA.java'(DelegationA.java nearly never be  changed), we want hide this action;
   3. In Proxy, 'RealA.java/Re

[2018-11-03 06:50] iluwatar opened #817 "Maven build failing"
Currently building the project's master branch with Maven fails with error message `Error: Could not find or load main class org.apache.maven.surefire.booter.ForkedBooter`

It seems to be caused by a bug in the OpenJDK 8 as described here https://stackoverflow.com/questions/53010200/maven-surefire-could-not-find-forkedbooter-class?noredirect=1&lq=1

[2018-11-03 07:08] iluwatar commented on #817
I used the workaround described here https://issues.apache.org/jira/browse/SUREFIRE-1588?focusedCommentId=16671777&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-16671777

[2018-11-04 04:56] eicky opened #818 "有小伙伴要买阿里云的服务器的吗？新用户购买贼便宜，最低99一年，参团购买https://m.aliyun.com/act/team1111/#/share?params=N.FF7yxCciiM.gr5x2rst"
有小伙伴要买阿里云的服务器的吗？新用户购买贼便宜，最低99一年，参团购买https://m.aliyun.com/act/team1111/#/share?params=N.FF7yxCciiM.gr5x2rst

[2018-11-04 17:58] #818 closed

[2018-11-04 18:04] iluwatar commented on #508
There are still 4 blockers and 37 criticals. See https://sonarcloud.io/project/issues?id=com.iluwatar%3Ajava-design-patterns&resolved=false&severities=BLOCKER%2CCRITICAL&types=CODE_SMELL. This issue is free for taking, if someone would like to help.

[2018-11-04 18:06] iluwatar opened #819 "SonarQube reports bugs"
There are 2 critical level bugs found by SonarQube.

https://sonarcloud.io/project/issues?id=com.iluwatar%3Ajava-design-patterns&resolved=false&severities=BLOCKER%2CCRITICAL&types=BUG

[2018-11-04 18:08] iluwatar opened #820 "SonarQube reports security issues"
SonarQube reports 9 critical level security issues.

https://sonarcloud.io/project/issues?id=com.iluwatar%3Ajava-design-patterns&resolved=false&severities=BLOCKER%2CCRITICAL&types=SECURITY_HOTSPOT

[2018-11-05 10:40] trumvekhuya commented on #820
Can i take this @iluwatar ?

[2018-11-05 14:33] npathai commented on #820
I was working on this, but @trumvekhuya you can go ahead with this :+1:

[2018-11-06 02:08] trumvekhuya commented on #820
okay, thank @npathai

[2018-11-06 13:32] olcbean commented on #508
Hm.... there is something strange here. I just opened one of the `Blockers` : https://sonarcloud.io/project/issues?id=com.iluwatar%3Ajava-design-patterns&open=AVfejjZoPl_GJI-SB0qL&resolved=false&severities=BLOCKER and although the analysis is run on `October 24, 2018, 10:43 PM Version 1.21.0-SNAPSHOT` SonarCloud is displaying outdated source code : from 2 years ago instead of the one fixed in #810

[2018-11-13 10:50] IAmPramod commented on #508
@iluwatar I will start working on this and raise a PR shortly.

[2018-11-13 10:59] IAmPramod commented on #819
@iluwatar I will take a look at this.

[2018-11-17 13:51] jrxxjr opened #822 "About the Builder Pattern - good first issue"
I made a new way to use the pattern builder, i want to commit, but i'm not allowed, i made the project fork. Please give permission for me ?

[2018-11-18 19:31] iluwatar commented on #508
Ok @IAmPramod

[2018-11-18 19:32] iluwatar commented on #819
Ok @IAmPramod

[2018-11-18 19:35] iluwatar commented on #822
You should not try to commit directly into this repository. You create a fork repository and make changes there. When ready, you create a pull request from your fork into this repository.

[2018-11-19 18:55] jrxxjr commented on #822
I created the pull request, but and now ?

[2018-11-20 21:41] jrxxjr commented on #822
I have a question and a problem The classes I created do not give an error in my local build, nor in Travis, in the Build Builder Pattern section, which is where my change was.
Here's the error I found in Travis's output:
java.io.FileNotFoundException: /home/travis/build/iluwatar/java-design-patterns/naked-objects/dom/log4j.properties (No such file or directory)
Attached log of Travis build.
[log.

[2018-11-20 21:44] jrxxjr commented on #822
Another question, can i only create new items in existing Design Patterns, or can i also make small improvements to existing source codes ?

[2018-11-22 22:37] pierDipi commented on #347
Awesome repository! Can I work on this pattern?

[2018-11-25 19:21] kanwarpreet25 commented on #556
Hi @iluwatar  , I am working over it. Branch named "component" created. Will raise the pull request once completed.

[2018-12-02 20:38] iluwatar commented on #556
Ok @kanwarpreet25

[2018-12-17 03:03] 15838028035 opened #833 "how to use sonar scaner html , js codes ?"
how to use sonar scaner html , js codes ?

[2018-12-18 09:56] zhangyuejia opened #834 "Maven build fail - Project "image-microservice" pom.xml lack of version field"
Hi. When I run "mvn eclipse:eclipse" in the base path to convert to eclipse project.
An error occur and it's error info as below.

`[ERROR] Failed to execute goal org.apache.maven.plugins:maven-eclipse-plugin:2.10:eclipse (default-cli) on project image-microservice: Execution default-cli of goal org.apache.maven.plugins:maven-eclipse-plugin:2.10:eclipse failed: For artifact {org.springframework.bo

[2018-12-22 21:01] #833 closed

[2018-12-22 21:15] neerajmahajan commented on #834
Hi,

This error is coming, because 'spring-boot-dependencies' dependency is redeclared inside dependencyManagement section of image-microservice project without specifying it's version.  This dependency has already a version in the top parent pom.xml (https://github.com/iluwatar/java-design-patterns/blob/master/pom.xml).

To correct this issue remove dependencyManagement section from  java-design-

[2018-12-22 21:38] #562 closed

[2019-01-07 06:39] FDU-SE-LAB opened #836 "Your project iluwatar/java-design-patterns is using buggy third-party libraries [WARNING]"
Hi, there!
We are a research team working on third-party library analysis. We have found that some widely-used third-party libraries in your project have major/critical bugs, which will degrade the quality of your project. We highly recommend you to update those libraries to new versions.
We have attached the buggy third-party libraries and corresponding jira issue links below for you to have more

[2019-01-07 21:19] metal4g commented on #601
@ryantheleach MVVM is perfectly used in JAVA in projects using the zkoss framework. For example https://www.zkoss.org/zkdemo/getting_started/mvvm

[2019-01-12 12:36] TaninIvan commented on #552
Hello, @iluwatar
May I have a try on this?

[2019-01-13 18:03] iluwatar opened #838 "Buggy dependencies"
Hi, there!
We are a research team working on third-party library analysis. We have found that some widely-used third-party libraries in your project have major/critical bugs, which will degrade the quality of your project. We highly recommend you to update those libraries to new versions.
We have attached the buggy third-party libraries and corresponding jira issue links below for you to have more

[2019-01-13 18:42] iluwatar commented on #552
Ok @TaninIvan

[2019-01-25 09:41] jitianxia68 opened #840 "data-bus why AbstractDataType.java keep a dataBus"
DataType as the data to transfer, just is the data,  it  can  transfer by any dataBus,  so , it can not keep the dataBus.

[2019-01-28 01:58] ranvirgraol opened #841 "Client-Server (Sockets) pattern"
Client-Server communication over sockets is old concept. Plan to build something simple with either sockets or using GRPC.

[2019-01-28 22:03] ddunig2 commented on #549
Has this issue been resolved?

[2019-02-01 06:58] IAmPramod commented on #549
@ddunig2 I don't see a PR against this. If you want to resolve, you can go ahead.

[2019-02-01 06:59] IAmPramod commented on #841
@ranvirgraol Can you elaborate a bit more on this?

[2019-02-04 06:28] #775 closed, assigned to nobody

[2019-02-07 01:14] lprone opened #845 "Unnecesary return"
https://github.com/iluwatar/java-design-patterns/blob/55c75799831716b6248ceefa1315881e7f90806b/spatial-partition/src/main/java/com/iluwatar/spatialpartition/QuadTree.java#L58

you can change this block
`
    if (!this.boundary.contains(p)) {
      return;
    } else {
`

to this other most clear:
`
    if (this.boundary.contains(p)) {
`

[2019-02-07 01:22] lprone opened #846 "static enum"
https://github.com/iluwatar/java-design-patterns/blob/55c75799831716b6248ceefa1315881e7f90806b/facade/src/main/java/com/iluwatar/facade/DwarvenMineWorker.java#L89

Enums don't need to be defined as a static. Can change it to :
`
enum Action {
`

[2019-02-08 05:04] markbolster12 opened #847 "AbstractFactory Confusing methods"
In the App class of the abstract-factory pattern, there are several methods which seemingly only serve to confuse readers.
Is there a point to having a method that returns a King, from a passed in KingdomFactory?
[code]

[2019-02-08 05:09] markbolster12 commented on #846
It might be best just to put a comment saying so if needed. It doesn't really matter if it's there or not. It actually might be clearer to have it.
[Java Reference on Enums](https://docs.oracle.com/javase/specs/jls/se7/html/jls-8.html#jls-8.9)

[2019-02-08 05:12] markbolster12 commented on #845
I don't really think this is an issue at all. This is a code style suggestion, and in my opinion, both are equally clear.

[2019-02-08 19:17] talipkorkmaz commented on #438
Is there any development?

[2019-02-09 07:21] AnaghaSasikumar commented on #555
PR #848

[2019-02-10 13:30] stasbar opened #850 "Local and Remote database synchronization pattern"
Hello.
I'm looking for design pattern for local and remote database synchronization.
Here is the case, and I think it's quite common.
User can use my app locally, without connecting to cloud services.
So for now there is only local database.
Then the user decides to create cloud account. And now the data must be synchronized on both databases, additionally user can connect more that one device wit

[2019-02-11 09:58] kanwarpreet25 commented on #556
Hi @iluwatar  : Pull request raised for this issue

[2019-02-11 12:37] alonsoir commented on #105
Where is the asynchronous message exchanger that connects the command manager with the query manager? Shouldn't the command manager be an event engine? Come on, let the commands be saved as events rather than as tuples in a relational engine. On the query manager side, it should listen to the asynchronous message broker to feed this part of the architecture so that both sides are synchronized, rig

[2019-02-12 09:08] isabiq commented on #105
Hi, to answer your questions you can take a look at [Greg Young - CQRS, Task Based UIs, Event Sourcing agh!](http://codebetter.com/gregyoung/2010/02/16/cqrs-task-based-uis-event-sourcing-agh/).

[2019-02-13 08:40] kanwarpreet25 commented on #508
@iluwatar  Is this available ?

[2019-02-13 09:43] kanwarpreet25 commented on #508
@IAmPramod  Are you still working on this ?

[2019-02-13 10:28] kanwarpreet25 commented on #508
Hi @iluwatar  : Pull request raised for this

[2019-02-13 20:42] iluwatar commented on #847
Apparently the method you mentioned is used in the tests. If you have a vision how to make the example clearer I would be glad to accept the pull request.

[2019-02-13 20:44] iluwatar commented on #846
Well spotted @lprone. I will gladly accept a pull request that removes the unnecessary `static`.

[2019-02-13 20:46] iluwatar commented on #845
Yes, just create a pull request and we can improve the style.

[2019-02-13 20:47] iluwatar commented on #438
@MohitNarula are you still working on this? If not, @talipkorkmaz can pick this up.

[2019-02-13 20:52] iluwatar commented on #850
Without knowing your application details my first choices would be database replication and/or database dumps. Depends on the database vendor how this works.

[2019-02-13 21:05] #799 closed

[2019-02-13 21:47] lprone commented on #845
Fixing issue #846

[2019-02-15 08:39] kanwarpreet25 commented on #756
Hi @npathai  I will get it done

[2019-02-15 17:56] #846 closed

[2019-02-15 18:00] #756 closed

[2019-02-15 18:43] kanwarpreet25 commented on #845
Hi @iluwatar
I can take this up

[2019-02-15 18:56] kanwarpreet25 commented on #700
Hi @15838028035
To enable checkstyle in your project.
1) Go to Windows->Preferences->Checkstyle->New
2) Select External Configuration file from type .
3) Browse-> java-design-patterns folder-> checkstyle.xml -> Give name to your configuration->Ok.
4) Now right click on your project-> properties->Checkstyle
5) Enable checkstyle active for this project and select the configuration from the dropdown

[2019-02-16 20:50] iluwatar commented on #845
Ok @kanwarpreet25

[2019-02-16 20:53] #845 closed

[2019-02-17 10:39] AnaghaSasikumar commented on #505
PR #857

[2019-02-18 10:47] alonsoir opened #858 "No compiles with jdk 10"
java -version
java version "10.0.1" 2018-04-17
Java(TM) SE Runtime Environment 18.3 (build 10.0.1+10)
Java HotSpot(TM) 64-Bit Server VM 18.3 (build 10.0.1+10, mixed mode)

[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time:  5.678 s
[INFO] Finished at:

[2019-02-19 05:53] jjjimenez100 commented on #496
Hello. Can I take on this issue and make a PR?

[2019-02-19 08:48] alonsoir commented on #858
Ok, i switched to jdk8 and now it is compiling, with some tests errors, but it is not this issue. Closing it.

[2019-02-19 08:48] #858 closed

[2019-02-19 08:53] alonsoir opened #860 "Twin project is failing because its tests."
$ mvn --version
Apache Maven 3.6.0 (97c98ec64a1fdfee7767ce5ffb20918da4f719f3; 2018-10-24T20:41:47+02:00)
Maven home: /usr/local/Cellar/maven/3.6.0/libexec
Java version: 1.8.0_172, vendor: Oracle Corporation, runtime: /Library/Java/JavaVirtualMachines/jdk1.8.0_172.jdk/Contents/Home/jre
Default locale: es_ES, platform encoding: UTF-8
OS name: "mac os x", version: "10.14.2", arch: "x86_64", family: "

[2019-02-19 09:28] abdesamie opened #861 "Didn't get the point"
I don't understand the utility of this pattern, please could you give a real world example, as i see it just simple CRUD in-memory operations? Where the performance improvements is ?

[2019-02-20 06:03] iluwatar commented on #496
Ok @jjjimenez100

[2019-02-20 06:08] iluwatar commented on #861
Which pattern are you talking about?

[2019-02-20 08:31] abdesamie commented on #861
Ah sorry i thought i posted it in the correct repo, anyway :
I talked about DATA-TRANSFER-OBJECT design pattern, from the example i could not deduce what the problem to be resolved and how
https://github.com/iluwatar/java-design-patterns/tree/master/data-transfer-object

[2019-02-20 20:34] iluwatar commented on #861
DTOs are used to decrease the amount of (possibly expensive) calls to the data provider interface. The client needs to do only single call and is provided with an aggregate object containing the data.

I agree that the example may be a bit simplistic with only single API and single customer data type.

[2019-02-23 17:55] gavenkoa commented on #88
http://wiki.c2.com/?FacetPattern

[2019-02-23 17:56] gavenkoa commented on #88
https://stackoverflow.com/questions/30164108/what-is-facet-design-pattern

[2019-02-23 18:02] gavenkoa opened #862 "Add Role pattern"
https://hillside.net/plop/plop97/Proceedings/riehle.pdf
http://wiki.c2.com/?RoleObject

[2019-02-25 04:20] markbolster12 commented on #847
One way I think that would make sense, is to alter the test. The test would instead of creating 2 factories and then testing those factories with a method never actually used (and which isn't obviously useful), the test would create the 2 factories, and then create 2 versions of App, calling createKingdom for each factory, and doing the tests like
assertTrue(app1.getKing() instanceof ElfKing);

On

[2019-02-25 13:44] #861 closed

[2019-02-25 13:44] abdesamie commented on #861
Thanks for clarification

[2019-03-13 17:53] JimMinor commented on #862
Anyone is working on this?

[2019-03-13 22:05] jwheeler31 commented on #584
@panksy2k @ghost,
Adding `clone()` method (`copy()` in this case), fights inheritance/polymorphism. Any sort of instantiation of an abstract class should throw a compile-time error. The current implementation should stand as is (only a concrete class is instantiated). If `Beast` were to have any attributes to be initialized, it should be done via constructor inheritance.

[2019-03-24 18:29] iluwatar commented on #847
I'd vote for the second option - sounds very clear

[2019-03-24 18:31] iluwatar commented on #862
No, it's free for taking. Assigned to you @JimMinor now.

[2019-04-07 12:39] HelloCoCooo opened #868 "Dependency Conflict: duplicate classes "org.apache.commons.logging.LogFactory" in different JARs, have different implementations"
Hi, in **java-design-patterns-1.20.0** (**api-gateway\api-gateway-service** module), duplicate classes with the same fully-qualified name _**org.apache.commons.logging.LogFactory**_ are included in two different libraries, i.e., **org.slf4j:jcl-over-slf4j:1.7.16** and **commons-logging:commons-logging:1.2**.

According to _"first declaration wins"_ class loading strategy, only this class in **_org

[2019-04-07 12:47] HelloCoCooo commented on #868
Code snippet of **_<org.apache.commons.logging.LogFactory: org.apache.commons.logging.LogFactory getFactory()>_** in _**org.slf4j:jcl-over-slf4j:jar:1.7.16:compile**_ (loaded version):
![01](https://user-images.githubusercontent.com/46306510/55683799-534bcb80-5976-11e9-800a-a3b00a00cafa.png)

Code snippet of **_<org.apache.commons.logging.LogFactory: org.apache.commons.logging.LogFactory getFactor

[2019-04-07 12:47] HelloCoCooo commented on #868
May I pull a request to fix it?
Thanks for your attention.

[2019-04-11 12:12] HelloCoCooo commented on #868
@iluwatar May I pull a request to fix it?
Thanks for your attention.

[2019-04-13 14:03] alvigar commented on #862
I would like to do this

[2019-04-14 05:59] iluwatar commented on #868
Thanks @HelloCoCooo for the finding. I'll be glad to accept your pull request.

[2019-04-14 05:59] iluwatar commented on #862
@JimMinor are you working on it?

[2019-04-14 09:42] JimMinor commented on #862
@iluwatar Not yet, i only studied the docs. I can leave it to @alvigar.

[2019-04-14 13:15] npathai opened #870 "Strangler pattern"
Incrementally migrate a legacy system by gradually replacing specific pieces of functionality with new applications and services. As features from the legacy system are replaced, the new system eventually replaces all of the old system's features, strangling the old system and allowing you to decommission it.

https://docs.microsoft.com/en-us/azure/architecture/patterns/strangler

[2019-04-14 13:16] npathai opened #871 "Sidecar pattern"
Deploy components of an application into a separate process or container to provide isolation and encapsulation. This pattern can also enable applications to be composed of heterogeneous components and technologies.

This pattern is named Sidecar because it resembles a sidecar attached to a motorcycle. In the pattern, the sidecar is attached to a parent application and provides supporting features

[2019-04-14 13:19] lilangelrey99 commented on #871
Really?

On Sun, Apr 14, 2019, 8:18 AM Narendra Pathai <notifications@github.com>
wrote:

[2019-04-14 19:10] iluwatar commented on #862
@alvigar it's yours now, please go ahead!

[2019-04-18 02:00] lihongjie0209 opened #873 "Unit of Work pattern is Too simplified"
unit-of-work/src/main/java/com/iluwatar/unitofwork/StudentDatabase.java

how can u save a complex object graph with a simple `modify` call?

should `modify` update everything in object graph?

[code]

[2019-04-21 12:58] spaniard96 opened #874 "org.slf4j.Logger unresolved import"
In **com.iluwatar.adapter.FishingBoat.java** the follwing imports are unresolved:
* `import org.slf4j.Logger;`
* `import org.slf4j.LoggerFactory;`

[2019-04-24 18:27] andreazube opened #875 "Wrong UML in observer"
The UML diagram presented in the Observer pattern description is wrong.

The multiplicity between Weather and WeatherType is stated to be 0..1, but that is not the case in the code, since you can't create a Weather object without associating it with a WeatherType (the costructor sets the type to "sunny", timepasses() _changes_ that value, but there is no way to remove the type.

Therefore, the cor

[2019-04-25 04:44] havanagrawal commented on #550
I'd love to take this up

[2019-04-25 04:45] havanagrawal commented on #496
If this is inactive, I'd love to take this up

[2019-04-25 13:10] tomaszwojciechowski opened #876 "AppTest for dependency-injection returns WARNINGs"
Is it wanted result?

`15:04:12.785 [main] INFO com.iluwatar.dependency.injection.Tobacco - AdvancedSorceress smoking SecondBreakfastTobacco
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by com.google.inject.internal.cglib.core.$ReflectUtils$2 (file:/C:/Users/User/.m2/repository/com/google/inject/guice/4.0/guice-4.0.jar) to method java.lang.ClassLo

[2019-04-28 18:28] iluwatar commented on #496
Yes, it seems so. Please go ahead @havanagrawal

[2019-05-05 21:30] swathisprasad commented on #874
Hi, I checked this file and I see no problem with the imports. Am I missing something here?

[2019-05-12 13:05] pzawitowski commented on #553
Hi @iluwatar, if nobody is working on this then I can try to implement this pattern.

[2019-05-13 10:54] id4us commented on #874
@spaniard96 , I dont see the problem either.

[2019-05-15 17:16] navishsharma commented on #819
@IAmPramod : Are you working on this?

[2019-05-16 08:03] abhi52 commented on #876
Not able to reproduce this. There was no warning for me in this test class.

[2019-05-19 08:29] iluwatar commented on #553
Ok @pzawitowski

[2019-05-19 08:37] iluwatar commented on #874
Closing the issue, since there seems to be no problem with the import

[2019-05-19 08:37] #874 closed

[2019-05-19 08:38] iluwatar commented on #819
Ping @IAmPramod

[2019-05-19 08:40] iluwatar commented on #876
Not able to reproduce either. Closing this issue.

[2019-05-19 08:40] #876 closed

[2019-05-23 14:56] id4us commented on #860
I see the same issue and seems to be caused by Mockito ```timeout(2000).atLeastOnce()``` . It is highly likely that mockito verify has a bug method  with Junit5.
I am happy to fix the tests.

[2019-06-02 13:31] matheusrc commented on #819
I am willing to take a look at this issue if @IAmPramod doesn't answer. I'm on the hunt for a "good first issue" :)

[2019-06-03 04:54] iluwatar commented on #819
Go ahead @matheusrc the issue is yours

[2019-06-05 19:52] sajankumarma opened #883 "Dirty Flag pattern Issue"
https://github.com/iluwatar/java-design-patterns/blob/fedc2d9e47cb2b44aa4ea23aed9d117bbd4ed069/dirty-flag/src/main/java/com/iluwatar/dirtyflag/App.java#L60

Creating object of World class inside Thread's Run method doesn't make sense, as every time it is creating new object and reading the file. It should be outside this thread's run method.

for now it is like this
    executorService.scheduleAtF