[2019-06-09 20:11] HaydenMeloche commented on #449
@iluwatar Can I take over this issue?

[2019-06-10 06:42] iluwatar commented on #449
@pelmegov are you still working on this? Please comment or @HaydenMeloche takes it over.

[2019-06-11 15:23] ranjeet-floyd commented on #883
@iluwatar  I want take this.  Thanks

[2019-06-12 05:13] iluwatar commented on #883
Ok @ranjeet-floyd

[2019-06-15 13:11] ranjeet-floyd commented on #449
@iluwatar  Can i take this please ?. Raised PR https://github.com/iluwatar/java-design-patterns/pull/888

[2019-06-16 01:25] ranjeet-floyd commented on #449
@iluwatar  Please review PR https://github.com/iluwatar/java-design-patterns/pull/888.  Thanks

[2019-06-16 07:15] ranjeet-floyd commented on #559
@iluwatar  Can i take this please ?. Raised PR for same https://github.com/iluwatar/java-design-patterns/pull/889.  Thanks

[2019-06-26 10:34] Rocangus commented on #883
Is this fixed already?

[2019-06-27 13:07] iluwatar commented on #449
Ok @ranjeet-floyd

[2019-06-27 13:07] iluwatar commented on #559
Ok @ranjeet-floyd

[2019-06-30 17:51] IAmTheUnderTaker commented on #428
I think we should. I not sure he's tryna get spotlight though. Thonk....

[2019-07-01 12:22] ranjeet-floyd opened #892 "Kappa Architecture - Where Everything Is A Stream"
http://milinda.pathirage.org/kappa-architecture.com/
Ref : https://github.com/milinda/kappa-architecture.com.

[2019-07-03 12:20] 1170200227 opened #893 "Factory Method"
The class ElfBlacksmith and OrcBlacksmith implements the interface Blacksmith in the factory method. They complete the method manufactureWeapon. But we can modify this method with static. So we don't generate too much memory when we call factory method.

[2019-07-03 12:50] guozix opened #894 "Question About Interpreter Pattern"
I have examined the code in Interpreter pattern. This example parse the specified string and output the expected computing result. But I don't really get the meaning of using this pattern in soving this problem. I have known that interpreter pattern can be used to parse expression. So can you provide another clearer example for demonstrating the purpose of this pattern?

[2019-07-03 13:25] 1171430615 commented on #894
This pattern is particularly cumbersome when used with regular expressions

[2019-07-03 13:27] 1171430615 commented on #893
This improvement is somewhat similar to the singleton pattern

[2019-07-06 21:34] lebel-louisjacob opened #895 "typo in FYI comment at "java-design-pattern/acyclic-visitor""
From here:
https://github.com/iluwatar/java-design-patterns/blob/fedc2d9e47cb2b44aa4ea23aed9d117bbd4ed069/acyclic-visitor/src/main/java/com/iluwatar/acyclicvisitor/App.java#L50

The comment should be:
[code]

[2019-07-08 13:38] 1170300627 opened #897 "A new way for implement the Builder Pattern"
I wan to attach a fork with my idea for this project

[2019-07-08 13:40] 1170300627 opened #898 "A new way for Factory Method"
I wan to attach a fork with my idea for this project

[2019-07-09 06:12] ranjeet-floyd commented on #892
@iluwatar  Can i take this ?. Thanks

[2019-07-09 10:46] iluwatar commented on #892
Go ahead @ranjeet-floyd

[2019-07-09 12:39] medkhelifi commented on #860
Is this issue still open?

[2019-07-09 12:41] medkhelifi commented on #898
Describe your idea in this issue.

[2019-07-11 18:00] foxt7ot opened #900 "Code is not justifiable with the example statement (Factory Pattern)"
As stated in an example

So my understanding is this that there will be only one Blacksmith who will cater the requirement of both Orcs and Elves but the code specified in the example tells me different story by looking at the code I am understanding that there are 2 different Blacksmith who have expertise in their area, I mean ElvisBlacksmith knows how to create elves weapon and OrcBlacksmith in

[2019-07-12 00:56] OAkala commented on #883
Is this issue already resloved?

[2019-07-15 14:08] iluwatar commented on #897
Can you describe your idea?

[2019-07-15 14:17] iluwatar commented on #900
In my opinion this is self-explanatory. If the orcs need weapons OrcBlacksmith is created. If the elves need weapons ElfBlacksmith is created. These are two different instances of Blacksmith interface.

[2019-07-19 05:19] saksham93 commented on #895
I am working on this issue.

[2019-07-19 05:25] iluwatar commented on #895
Ok @saksham93

[2019-07-19 05:43] saksham93 commented on #895
Pull Request raised

[2019-07-19 11:07] Blackgard commented on #847
До и ш

[2019-07-21 14:35] iluwatar commented on #466
This issue is free for taking again

[2019-07-21 14:39] iluwatar commented on #499
This issue is free to take again

[2019-07-21 14:41] iluwatar commented on #509
This issue is free for taking again

[2019-07-21 14:45] iluwatar commented on #551
This issue is free for taking again

[2019-07-24 18:56] iluwatar opened #902 "java.awt.AWTError"
Got this error when building the project on Ubuntu 18.

-------------------------------------------------------
 T E S T S
-------------------------------------------------------
Running com.iluwatar.model.view.presenter.FileSelectorPresenterTest
Tests run: 6, Failures: 0, Errors: 0, Skipped: 0, Time elapsed: 0.208 sec - in com.iluwatar.model.view.presenter.FileSelectorPresenterTest
Running com.il

[2019-07-24 18:58] iluwatar commented on #902
The fix is to edit the accessibility.properties file for OpenJDK
`sudo vim /etc/java-8-openjdk/accessibility.properties`
Comment out the following line:
`assistive_technologies=org.GNOME.Accessibility.AtkWrapper`

[2019-07-24 18:58] #902 closed

[2019-07-24 19:09] #555 closed

[2019-07-24 19:32] iluwatar opened #903 "CI build is failing"
![image](https://user-images.githubusercontent.com/582346/61822672-d0864800-ae62-11e9-9572-148ee10f8b26.png)

[2019-07-24 19:34] iluwatar opened #904 "Project removed from sonarcloud"
https://sonarcloud.io/dashboard?id=com.iluwatar%3Ajava-design-patterns

-> The requested project does not exist.
Either it has never been analyzed successfully or it has been deleted.

[2019-07-27 08:04] ptrax commented on #903
I think this is because you're using Travis CI's Xenial build environment, which seems to not allow you to install anything less than java 9 now. The choices are; upgrade to jdk 9+ or use the Trusty build environment.

I went ahead and made a PR with the fix (using Trusty build environment). Build passes.
https://github.com/iluwatar/java-design-patterns/pull/911

[2019-07-28 11:22] #903 closed

[2019-07-28 12:02] iluwatar opened #912 "Web site update failing"
See log https://travis-ci.org/iluwatar/java-design-patterns/builds/564609653

The problem seems to be related to s3_website and Java version

[2019-07-28 12:40] #508 closed

[2019-07-28 12:46] iluwatar commented on #841
https://en.wikipedia.org/wiki/Client%E2%80%93server_model

[2019-07-28 12:47] iluwatar commented on #840
Sorry I don't understand what is the problem

[2019-07-29 18:09] #505 closed

[2019-07-29 18:19] #868 closed

[2019-07-29 18:21] #875 closed

[2019-07-29 18:28] #860 closed

[2019-07-29 21:53] alonsoir commented on #860
Yes, it is working. Thank you guys.

-------------------------------------------------------
 T E S T S
-------------------------------------------------------
Running com.iluwatar.twin.AppTest
23:53:00.101 [Thread-2] INFO com.iluwatar.twin.GameItem - draw
23:53:00.104 [Thread-2] INFO com.iluwatar.twin.BallItem - doDraw
23:53:00.104 [Thread-2] INFO com.iluwatar.twin.BallItem - move
23:53:00.356 [T

[2019-07-29 22:02] ptrax commented on #912
I made a PR to take care of the Java issue, but a bunch of other errors came up with SSL errors in the HTML-Proofer and "Access key can't be null" errors in the s3_website push. I'll have to look into that.

[2019-07-29 22:06] alonsoir opened #914 "async-method-invocation tests are failing"
-------------------------------------------------------
 T E S T S
-------------------------------------------------------
Running com.iluwatar.async.method.invocation.AppTest
00:02:43.640 [executor-2] INFO com.iluwatar.async.method.invocation.App - Task completed with: test
00:02:43.686 [main] INFO com.iluwatar.async.method.invocation.App - Some hard work done
00:02:43.736 [executor-4] INFO com.i

[2019-07-30 04:57] iluwatar commented on #912
There's more information about the web site update at https://github.com/iluwatar/java-design-patterns/wiki/07.-Working-with-the-web-site

[2019-07-30 05:02] iluwatar commented on #912
@ptrax I merged the PR and it seems that the web site update system now works. See https://java-design-patterns.com it has the deployed commit information on the bottom of the screen. The access keys you mentioned are defined in the `secure` fields of [.travis.yml](https://github.com/iluwatar/java-design-patterns/blob/gh-pages/.travis.yml)

[2019-07-30 05:04] ptrax commented on #912
Thanks @iluwatar, I had just realized a few minutes ago that the access tokens weren't working since the PR came from my fork which didn't have access to those secure environment variables. Figured a post-merge build would work!

[2019-07-30 05:07] iluwatar opened #915 "Fix broken links"
The html-proofer that is included in Travis build indicates that we have some broken links.

[code]

See full log at https://travis-ci.org/iluwatar/java-design-patterns/builds/565304449

[2019-07-30 05:09] iluwatar commented on #912
Well done for fixing this, much appreciated @ptrax :+1:

[2019-07-30 05:09] #912 closed

[2019-07-30 05:12] iluwatar commented on #914
Could not reproduce, but that doesn't mean it's not broken

[2019-08-04 14:12] #883 closed

[2019-08-14 14:25] kpatrzek commented on #915
Hi @iluwatar
I try to reproduce the bug but I can't. Somebody fix it ? please.
Best regards.

[2019-08-15 07:13] RemcoBuddelmeijer opened #917 "Store and Process Stream Processing - Makes Stream Processing easy"
Simple, yet very powerful and versatile design for stream processing applications, design pattern made/modified by Jakob Jenkov; based on mainstream stream processing API's like Kafka Streams or RxJava.
Ref: [http://tutorials.jenkov.com/data-streaming/store-and-process.html](http://tutorials.jenkov.com/data-streaming/store-and-process.html)

Part of Data Streaming series.

[2019-08-21 18:58] iluwatar commented on #904
Recreated the project to sonarcloud.io. Can be found at https://sonarcloud.io/dashboard?id=iluwatar_java-design-patterns

Updated the badge in `README.md` in commit https://github.com/iluwatar/java-design-patterns/commit/085e47b50dd57be368a3d0baff4af205b2ec3af0
Added `.sonarcloud.properties` configuration file in commit https://github.com/iluwatar/java-design-patterns/commit/11c055055934d1a78e1b98

[2019-08-21 18:58] #904 closed

[2019-08-22 11:33] RemcoBuddelmeijer commented on #917
@iluwatar Can I pick this up?

[2019-08-22 13:35] iluwatar commented on #917
Sure @RemcoBuddelmeijer please go ahead

[2019-08-31 18:11] #449 closed

[2019-09-03 18:52] #553 closed

[2019-09-04 07:39] Azureyjt commented on #893
@iluwatar May I pick this up?

[2019-09-05 01:41] Azureyjt commented on #761
@iluwatar May I pick this up?

[2019-09-05 04:15] iluwatar commented on #761
@Azureyjt please go ahead

[2019-09-05 06:04] Azureyjt commented on #761
PR created. Please kindly review it :) @iluwatar

[2019-09-05 11:36] snehalatapandit commented on #915
@iluwatar ,
Hi, can I look at this change?

[2019-09-05 19:24] iluwatar commented on #915
Yes @snehalatapandit

[2019-09-06 03:28] Azureyjt commented on #447
@iluwatar May I pick up this one?

[2019-09-06 06:56] iluwatar commented on #447
@Azureyjt please go ahead

[2019-09-07 17:37] #898 closed

[2019-09-07 18:13] #761 closed

[2019-09-09 06:23] snehalatapandit commented on #914
Hi,
Verified the issue. The issue seems to be similar to IssueID #860. However, the issue is not reproducible,

[2019-09-09 10:20] snehalatapandit commented on #834
Hi,
Maven build is still failing.
I have found below modules in which the spring-boot-dependencies are redeclared in the 'dependencyManagement' section due to which the mavel build fails :
1. 'aggregator-microservices\aggregator-service\pom.xml'
2. 'aggregator-microservices\information-microservice\pom.xml'
3. 'aggregator-microservices\inventory-microservice\pom.xml'
4. 'api-gateway\image-microser

[2019-09-09 10:24] snehalatapandit opened #922 "Tests failing in Twin module."
----------------------
 T E S T S
-------------------------------------------------------
Running com.iluwatar.twin.AppTest
15:50:58.934 [Thread-2] INFO com.iluwatar.twin.GameItem - draw
15:50:58.939 [Thread-2] INFO com.iluwatar.twin.BallItem - doDraw
15:50:58.939 [Thread-2] INFO com.iluwatar.twin.BallItem - move
15:50:59.189 [Thread-2] INFO com.iluwatar.twin.GameItem - draw
15:50:59.189 [Thread-2

[2019-09-10 17:28] iluwatar commented on #922
Could not reproduce

[2019-09-18 10:19] Margular opened #924 "How to implement abstract document pattern in golang"
golang has no generics, and if using interface{} it's not easy, so how to implement abstract document pattern in golang? It's difficult to define interface Document such as:
[code]

but this is not good approach because the types in children are no relationship.

[2019-09-18 16:49] hbothra15 opened #925 "Need to update doc/code for adapter pattern"
As mentioned in Adapter doc Captain class should be implementing RowingBoat, but in sample code i.e.
https://github.com/iluwatar/java-design-patterns/blob/master/adapter/src/main/java/com/iluwatar/adapter/Captain.java
Captain class actually doesn't extends.

Although It is small, and if required I can fix the doc, but still would require author to give his/her input before I do the same.

[2019-09-18 21:12] felipebraga commented on #925
You could open a PR to fix this.

[2019-09-19 05:28] hbothra15 commented on #925
On it

[2019-09-19 18:43] iluwatar commented on #925
@hbothra15 which document are you referring to?

[2019-09-19 18:59] hbothra15 commented on #915
Hi @iluwatar, it seems this is again failing for different link
https://travis-ci.org/iluwatar/java-design-patterns/builds/583292258
In https://github.com/iluwatar/java-design-patterns/tree/master/partial-response credit section we are providing link for Partial Response in RESTful API Design and its respective URL is no more active and gives Page Not found error, hence Automagic is also failing

[2019-09-20 05:07] iluwatar commented on #925
@hbothra15 you are right. Documentation and implementation are not in sync.

[2019-09-20 05:09] #925 closed

[2019-09-20 05:11] iluwatar commented on #915
Please go ahead @hbothra15

[2019-09-20 09:50] hbothra15 commented on #900
Hi @foxt7ot
As mentioned in 2nd line i.e
`Depending on the customer at hand the right type of blacksmith is summoned`
We will have two blacksmith.
If it helps you can imagine we have a small Factory/Shop where we have this two blacksmith working and as per requirement we give job to the respective Blacksmith.

I hope that helps.

[2019-09-20 19:59] hbothra15 commented on #915
Done, and created a PR for the same

[2019-09-26 16:00] ormalka12 commented on #871
Hi, @npathai  I would like to take this pattern. Thanks!

[2019-09-26 16:00] ormalka12 commented on #841
Hi, @iluwatar I would like to take this pattern. Thanks!

[2019-09-27 06:01] #820 closed

[2019-09-27 06:01] #819 closed

[2019-09-28 04:05] npczwh opened #929 "half-sync-half-async pattern need to enhance"
In the App class of half-sync-half-async pattern, the workers in threadpool is still running when the main thread has finished. This also makes the AppTest less effective (after the test, we expect to see task results, but we get nothing because junit will terminate jvm when the main thread has finished).
To improve on it, we can add a close method to the AsynchronousService class and call the met

[2019-09-28 13:30] iluwatar commented on #871
Yes, go ahead @ormalka12

[2019-09-28 13:33] iluwatar commented on #841
Ok @ormalka12

[2019-09-30 15:20] #559 closed

[2019-09-30 15:27] #915 closed

[2019-09-30 15:33] #929 closed

[2019-09-30 15:44] iluwatar opened #933 "Github reports security vulnerabilities"
![image](https://user-images.githubusercontent.com/582346/65894272-266ef300-e3b2-11e9-9f71-046923607de6.png)

![image](https://user-images.githubusercontent.com/582346/65894326-3dade080-e3b2-11e9-920b-b524d0edbfda.png)

[2019-09-30 16:45] hbothra15 commented on #933
HI @iluwatar
I would like to take this up

[2019-10-01 18:31] iluwatar commented on #933
Ok @hbothra15

[2019-10-01 18:34] #922 closed

[2019-10-02 08:39] palash25 opened #938 "Add a real world examples section"
Hi :wave: thank you for putting this project together.

I wanted to suggest an addition to each of the patterns that might be beneficial for newbie devs like me would be to add a "Real World Examples" section (with links to OSS projects that use the design pattern) just below the applicability / when to use section.

Even though most of the descriptions are quite straightforward and well explained

[2019-10-02 13:29] iluwatar commented on #938
Hi @palash25 it's always good to hear feedback. What comes to "real world examples" section we already have that, at least in theory. See the pattern template in wiki here https://github.com/iluwatar/java-design-patterns/wiki/02.-Pattern-template. Many patterns may just not have any examples yet, but additions are always welcome.

[2019-10-02 14:22] #938 closed

[2019-10-03 17:09] perwramdemark opened #939 "WARNING when building project"
When building project with mvn install you get below warning. You need to setup the JXR plugin to get ride of this for multi-module projects.

[INFO] --- maven-pmd-plugin:3.6:pmd (pmd) @ abstract-factory ---
[WARNING] Unable to locate Source XRef to link to - DISABLED
Unable to locate Source XRef to link to - DISABLED

[2019-10-03 17:33] perwramdemark commented on #834
I can fix this one!

[2019-10-03 18:46] iluwatar commented on #834
Ok @perwramdemark

[2019-10-03 18:50] #834 closed

[2019-10-03 18:58] iluwatar opened #941 "Java 11 support: Maven version"
This task is part of the Java 11 transition plan https://github.com/iluwatar/java-design-patterns/wiki/16.-Java-11-Transition

Find out what is the minimum Maven version that supports Java 11. Hopefully this information can be found on the Maven web site somewhere.

[2019-10-03 18:59] perwramdemark commented on #939
I can fix it!

[2019-10-03 19:07] iluwatar opened #943 "Java 11 support: Maven plugin upgrade"
This task is part of the Java 11 transition plan https://github.com/iluwatar/java-design-patterns/wiki/16.-Java-11-Transition

We need to update the Maven plugins used in the build to versions that support Java 11. The plugins include at least

- maven-compiler-plugin
- jacoco-maven-plugin
- maven-checkstyle-plugin
- maven-surefire-plugin
- maven-pmd-plugin
- license-maven-plugin

[2019-10-03 19:12] iluwatar opened #944 "Java 11 support: Get rid of compiler warnings"
This task is part of the Java 11 transition plan https://github.com/iluwatar/java-design-patterns/wiki/16.-Java-11-Transition

In this task we run the regular build and inspect the compiler output for warnings. We are especially interested in deprecation warnings, those are going to break things when Java version is updated. The target of the task is to get rid of as many warnings as possible.

[2019-10-03 19:15] iluwatar commented on #939
Nice @perwramdemark, go ahead!

[2019-10-03 19:15] perwramdemark commented on #943
I'll fix..

[2019-10-03 19:17] iluwatar commented on #943
Thanks @perwramdemark, go ahead

[2019-10-04 01:01] zd-zero opened #946 "Update the link of the Principle Keep things DRY 3rd resource "Don't Repeat Yourself""
Currently, on the Resources of [Keep Things Dry](https://java-design-patterns.com/principles/#keep-things-dry) section, it is linked to `http://programmer.97things.oreilly.com/wiki/index.php/Don't_Repeat_Yourself`
but now it doesn't exist anymore and redirects to `https://www.oreilly.com/`.

[2019-10-04 05:21] iluwatar commented on #941
![image](https://user-images.githubusercontent.com/582346/66183018-eb094880-e67f-11e9-84eb-a66b36b008b8.png)

[2019-10-04 05:21] #941 closed

[2019-10-04 05:30] iluwatar opened #948 "Java 11 support: Run the build on JDK 11"
This task is part of the Java 11 transition plan https://github.com/iluwatar/java-design-patterns/wiki/16.-Java-11-Transition

In this task we run the regular build entirely on the newer JDK 11 in a way that lets us gather all errors instead of stopping the build to the first failure (see https://blog.codefx.org/java/planning-your-java-9-update/). Report the list of errors under this issue.

[2019-10-04 05:35] iluwatar opened #949 "Java 11 support: Run the project against Java 11 runtime"
This task is part of the Java 11 transition plan https://github.com/iluwatar/java-design-patterns/wiki/16.-Java-11-Transition

Build the project using the old JDK 8, but try to run some of the pattern examples we have against a newer Java 11 runtime (see https://blog.codefx.org/java/planning-your-java-9-update/). Record the errors under this issue.

[2019-10-04 05:44] iluwatar opened #950 "Java 11 support: JDeps"
This task is part of the Java 11 transition plan https://github.com/iluwatar/java-design-patterns/wiki/16.-Java-11-Transition

There’s a tool, JDeps, that’s part of the JDK 11 that you can run with a flag of -jdkinternals to check to see if a set of classes is using something it shouldn’t. Run JDeps on the project and its dependencies (see https://blog.codefx.org/tools/jdeps-tutorial-analyze-java-

[2019-10-04 06:16] josediego commented on #946
I'll be glad to help with this.

[2019-10-04 08:45] sohilladhani commented on #946
I think it has moved to https://www.oreilly.com/library/view/97-things-every/9780596809515/ch30.html.

[2019-10-04 13:37] ba-nyar-naing commented on #946
I'm new come here and can you let me create a PR with above link?

[2019-10-05 05:44] haridevelops commented on #933
is this still work in progress or shall i pick up ? @hbothra15 @iluwatar

[2019-10-05 09:02] yashsugandh commented on #944
I'll get rid of it.

[2019-10-05 09:30] zd-zero commented on #946
Closing the issue as it is already resolved.
https://github.com/webpro/programming-principles/pull/28

[2019-10-05 09:30] #946 closed

[2019-10-05 10:46] iluwatar commented on #933
Ping @hbothra15

[2019-10-05 11:19] iluwatar commented on #946
Thanks @zd-zero for taking care of this :+1:

[2019-10-05 11:24] #943 closed

[2019-10-05 12:33] perwramdemark commented on #944
@iluwatar compiling project with java 8 I don't get any other compiler warnings.

[2019-10-05 14:33] iluwatar commented on #944
Yes, I can confirm. We can close this issue.

[2019-10-05 14:33] #944 closed

[2019-10-05 15:03] #939 closed

[2019-10-05 15:04] iluwatar commented on #939
Related to https://github.com/iluwatar/java-design-patterns/issues/944

[2019-10-05 15:08] iluwatar opened #954 "Java 11 support: Get rid of JavaEE, Corba and JavaFX"
This task is part of the Java 11 transition plan https://github.com/iluwatar/java-design-patterns/wiki/16.-Java-11-Transition

Java EE, Corba and JavaFX have been deprecated in newer JDK versions. Are there any dependencies to those in this project? If there is, we should get rid of them. (see https://blog.codefx.org/java/java-9-migration-guide/)

[2019-10-05 15:31] iluwatar opened #955 "Java 11 support: Modules"
This task is part of the Java 11 transition plan https://github.com/iluwatar/java-design-patterns/wiki/16.-Java-11-Transition

Java 9 introduces the Java Platform Module System. How should it be utilized in this project? In this task we create a plan what kind of modules are going to be created. Would it be possible to start without modules i.e. let everything belong to the default 'unnamed' modul

[2019-10-05 15:35] iluwatar opened #956 "Java 11 support: URLClassLoader"
This task is part of the Java 11 transition plan https://github.com/iluwatar/java-design-patterns/wiki/16.-Java-11-Transition

Casting to URLClassLoader no longer works in newer Java versions. Do we have that in this project? In that case we should get rid of it.

Links:
https://blog.codefx.org/java/java-9-migration-guide/

[2019-10-05 15:43] iluwatar commented on #52
@reegnz how slowly? I will mark this issue ready for taking again.

[2019-10-05 15:45] iluwatar commented on #65
This issue is free again

[2019-10-05 15:45] iluwatar commented on #70
This issue is free again

[2019-10-05 15:46] iluwatar commented on #76
This issue is free again

[2019-10-05 15:46] iluwatar commented on #179
Issue available again

[2019-10-05 15:47] iluwatar commented on #350
Issue available

[2019-10-05 15:47] iluwatar commented on #351
Issue free again

[2019-10-05 15:48] iluwatar commented on #413
Issue is free

[2019-10-05 15:48] iluwatar commented on #438
The task is free

[2019-10-05 15:49] iluwatar commented on #439
The task is free for anyone to work on

[2019-10-05 15:49] iluwatar commented on #443
The issue is free

[2019-10-05 15:50] iluwatar commented on #460
This task is free

[2019-10-05 15:51] iluwatar commented on #468
This task is free

[2019-10-05 15:51] iluwatar commented on #485
The issue is free

[2019-10-05 15:51] iluwatar commented on #496
The issue is free

[2019-10-05 15:52] iluwatar commented on #511
The task is free to take

[2019-10-05 15:52] iluwatar commented on #552
The task is free to take

[2019-10-05 15:53] iluwatar commented on #554
The task is free to take

[2019-10-05 15:57] iluwatar commented on #591
Plans shifter to Java 11 support https://github.com/iluwatar/java-design-patterns/wiki/16.-Java-11-Transition

[2019-10-05 15:57] #591 closed

[2019-10-05 15:58] iluwatar commented on #862
The task is free to take again

[2019-10-05 15:58] iluwatar commented on #892
The issue is free to take

[2019-10-05 16:00] #895 closed

[2019-10-05 18:02] jarpit96 commented on #956
I just checked in the project, there is no usage of URLClassLoader.

[2019-10-05 19:26] jarpit96 commented on #954
Hi, I have created a pull request for this issue.

[2019-10-05 19:51] jarpit96 commented on #549
Hi, I am raising a PR for this, where ClientProtocolException is caught and  the error log statements are updated.

[2019-10-05 19:52] reegnz commented on #52
No problem. I don't develop Java nowadays.

[2019-10-05 19:52] iluwatar commented on #956
Thanks @jarpit96 for checking this. In that case we can close this issue.

[2019-10-05 19:52] #956 closed

[2019-10-05 19:59] jarpit96 commented on #549
https://github.com/iluwatar/java-design-patterns/pull/958

[2019-10-05 20:00] jarpit96 commented on #954
https://github.com/iluwatar/java-design-patterns/pull/957

[2019-10-06 02:14] ryantheleach commented on #954
A lot of this stuff has just been migrated to community projects...

Shouldn't J-EE move to Jakarta? I didn't think J-EE was truly deprecated.
JavaFX to https://openjfx.io/

[2019-10-06 09:05] perwramdemark commented on #948
Lets give it a try..

[2019-10-06 10:31] gaurav9822 commented on #933
@iluwatar Want to take this issue. Is there anything else we need to do apart from upgrading the concerned dependencies?

[2019-10-06 12:42] jjjimenez100 commented on #496
Hi. I'll continue working on this one (for real now). Just forked the repository. Will have you pinged when the PR's up.

Thanks!

[2019-10-06 14:27] iluwatar commented on #954
@ryantheleach yes, I agree that stuff should be moved and not totally removed. Maybe an inaccurate term there in the issue subject..

[2019-10-06 14:28] iluwatar commented on #948
Ok @perwramdemark

[2019-10-06 14:31] iluwatar commented on #933
@gaurav9822 update the dependencies and after that verify that build and tests still work

[2019-10-06 14:35] iluwatar commented on #496
@jjjimenez100 ok the second time's a charm, or how it goes :smirk:

[2019-10-06 15:16] gaurav9822 commented on #933
@iluwatar I have raised a ticket on Spring JIRA.
URL - https://jira.spring.io/projects/DATAJPA/issues/DATAJPA-1610?filter=allopenissues

Also, after discussing with Spring developers, they have told to upgrade spring-boot as well in order to support spring-data 1.11.

[2019-10-06 15:19] iluwatar commented on #954
Links:
https://blog.codefx.org/java/java-9-migration-guide/#Dependencies-On-Java-EE-Modules
https://jaxenter.com/jdk-11-java-ee-modules-140674.html

[2019-10-06 15:29] iluwatar commented on #549
Exception handling was improved, but the original issue still remains unsolved

[2019-10-06 15:41] iluwatar commented on #933
Makes sense, those artifacts are probably dependent of each other. It's worth trying at least.

[2019-10-06 15:43] iluwatar commented on #549
Under investigation by @jarpit96

[2019-10-06 16:08] #954 closed

[2019-10-06 16:11] iluwatar opened #961 "Java 11 support: Runtime layout"
This task is part of the Java 11 transition plan https://github.com/iluwatar/java-design-patterns/wiki/16.-Java-11-Transition

Java runtime layout has drastically changed in JDK9. Do we have dependencies to old runtime such as rt.jar tools.jar or dt.jar? Report the findings under this issue.

Links:
https://blog.codefx.org/java/java-9-migration-guide/

[2019-10-06 16:13] jarpit96 commented on #549
@iluwatar @ddunig2 To implement fallback pattern, is returning default literals/constants sufficient ?

[2019-10-06 16:15] iluwatar opened #962 "Java 11 support: Xbootclasspath"
This task is part of the Java 11 transition plan https://github.com/iluwatar/java-design-patterns/wiki/16.-Java-11-Transition

Option -Xbootclasspath has been removed. Do we have this in this project? Report findings under this issue.

Links:
https://blog.codefx.org/java/java-9-migration-guide/

[2019-10-06 16:18] iluwatar opened #963 "Java 11 support: java.version syntax"
This task is part of the Java 11 transition plan https://github.com/iluwatar/java-design-patterns/wiki/16.-Java-11-Transition

System property `java.version` syntax has been changed, earlier 1.x now something like 9.x.x. Does something in this project depend on the old format? Report findings under this issue.

Links:
https://blog.codefx.org/java/java-9-migration-guide/

[2019-10-06 16:21] jarpit96 commented on #962
We don't have any usages of -Xbootclasspath in the project.

[2019-10-06 16:22] iluwatar opened #964 "Java 11 support: Upgrade dependencies"
This task is part of the Java 11 transition plan https://github.com/iluwatar/java-design-patterns/wiki/16.-Java-11-Transition

Upgrade project dependencies so that they support Java 11. Most of the dependencies can be found in main `pom.xml` dependencyManagement section.

Links:
https://www.infoq.com/articles/upgrading-java-8-to-12/ and https://winterbe.com/posts/2018/08/29/migrate-maven-projects-

[2019-10-06 16:26] iluwatar opened #965 "Java 11 support: Sun imports"
This task is part of the Java 11 transition plan https://github.com/iluwatar/java-design-patterns/wiki/16.-Java-11-Transition

Check if we are importing sun.* or com.sun.* These imports need to be replaced since they don't work in newer JDK versions anymore.

[2019-10-06 16:27] iluwatar commented on #965
Imports `sun.*` or `com.sun.*` not found in the project.

[2019-10-06 16:27] #965 closed

[2019-10-06 16:29] iluwatar opened #966 "Java 11 support: Currency formats"
This task is part of the Java 11 transition plan https://github.com/iluwatar/java-design-patterns/wiki/16.-Java-11-Transition

Do we use currency formats that could cause problems, as described in https://winterbe.com/posts/2018/08/29/migrate-maven-projects-to-java-11-jigsaw/? Report findings under this issue.

[2019-10-06 17:17] iluwatar commented on #962
Thanks for looking into this. We can mark this fixed.

[2019-10-06 17:17] #962 closed

[2019-10-06 17:23] #424 closed

[2019-10-06 17:29] iluwatar commented on #964
Also see if https://github.com/iluwatar/java-design-patterns/issues/838 can be closed after the dependency update

[2019-10-06 17:30] #822 closed

[2019-10-06 17:31] #817 closed

[2019-10-06 17:32] #790 closed

[2019-10-06 17:32] iluwatar commented on #773
There is now SonarQube analysis run on each incoming pull request

[2019-10-06 17:32] #773 closed

[2019-10-06 17:34] #771 closed

[2019-10-06 17:34] #770 closed

[2019-10-06 17:36] #759 closed

[2019-10-06 17:36] #758 closed

[2019-10-06 17:37] #700 closed

[2019-10-06 17:38] #685 closed

[2019-10-06 17:44] iluwatar commented on #574
Related issue https://github.com/iluwatar/java-design-patterns/issues/428
Support for multiple languages is on our roadmap, but the work has not yet started https://github.com/iluwatar/java-design-patterns/wiki/13.-Roadmap

[2019-10-06 17:45] #840 closed

[2019-10-06 17:47] #924 closed

[2019-10-06 17:48] #900 closed

[2019-10-06 17:48] #897 closed

[2019-10-07 05:51] iluwatar commented on #549
I would probably display an error message to the user in case one of the microservices does not respond or some other fault occurs

[2019-10-07 16:17] iluwatar commented on #966
Hello @mgabor6 :wave: I think it's a good first issue. Please go ahead with the check.

[2019-10-07 16:23] iluwatar opened #969 "Repository pattern logging is broken"
While running the Repository pattern example I noticed that logging doesn't work. It should log some things to standard output, see for example here https://github.com/iluwatar/java-design-patterns/blob/master/repository/src/main/java/com/iluwatar/repository/App.java#L74

[2019-10-07 16:35] iluwatar opened #970 "Single logging framework should be enforced"
As aligned in https://github.com/iluwatar/java-design-patterns/wiki/10.-Technology-selections we should use Slf4j API with Logback implementation as logging framework. However, some patterns are still using log4j. In this issue we migrate them to Logback.

[2019-10-07 17:04] erikgajdos1997 commented on #969
Hello, so the issue is to repair logging in repository pattern?
If yes, can i take this issue to do?

[2019-10-07 18:42] iluwatar commented on #969
Yes and yes @erikgajdos1997

[2019-10-07 18:48] erikgajdos1997 commented on #969
Can you assign me to this issue? @iluwatar

[2019-10-07 20:35] jarpit96 commented on #549
#971

[2019-10-07 20:36] jarpit96 commented on #549
I have added fall backs in Aggregator Service when other microservices fail. Default error messages (Product Title and Inventory) are returned to the user.

[2019-10-07 21:04] jarpit96 commented on #961
I just checked the project, there are no usages for such old runtime jar.

[2019-10-07 21:35] perwramdemark commented on #948
@iluwatar would it be possible to setup CI build with JDK11?

[2019-10-07 21:45] lauramurinova commented on #970
Hello, I would like to try and solve the issue.

[2019-10-08 04:46] #933 closed

[2019-10-08 04:55] iluwatar commented on #961
Thanks @jarpit96, we can then check this completed :heavy_check_mark:

[2019-10-08 04:55] #961 closed

[2019-10-08 04:59] iluwatar commented on #970
Thanks @lauramurinova, go ahead

[2019-10-08 06:21] #496 closed

[2019-10-08 11:15] erikgajdos1997 commented on #969
I send pull request, just need review

[2019-10-08 15:06] iluwatar opened #973 "Java 11 support: Update Travis to build on JDK 11"
This task is part of the Java 11 transition plan https://github.com/iluwatar/java-design-patterns/wiki/16.-Java-11-Transition

The purpose is to update the Travis CI build to use JDK 11, instead of the old JDK 8.

[2019-10-08 15:06] iluwatar commented on #948
Added issue https://github.com/iluwatar/java-design-patterns/issues/973 where this is resolved

[2019-10-08 15:09] #969 closed

[2019-10-08 15:27] mgabor6 commented on #966
Thanks! I've checked the code base specifically for currency formatting, and there are no usage of it. Although there is possible, that the same could occur at general number or date formatting, because they both depends on Locale, so I've started to dive into Java 11 formatting, and will write some tests for these.

[2019-10-08 15:30] #447 closed

[2019-10-08 15:31] iluwatar commented on #966
Ok @mgabor6 let us know how it goes :+1:

[2019-10-08 16:26] lubarinobr commented on #574
Good @iluwatar , @jonatasemidio May you help me with this Job ? We need to think the better solution to do it.

[2019-10-08 19:02] iluwatar commented on #574
I think the scope of this would be to 1) translate the web site texts 2) translate the readmes 3) create mechanisms on the web site to switch language of 1 and 2.

[2019-10-08 19:06] iluwatar commented on #574
The problem is that the original web site developer @markusmo3 hasn't been active anymore and we need to find a new core team member for this task. The person we are looking for needs to have some Jekyll and Ruby skills...

[2019-10-09 00:22] JasonSarwar commented on #973
Can I try this out?

[2019-10-09 04:57] iluwatar commented on #973
Go ahead @JasonSarwar

[2019-10-09 05:23] iluwatar commented on #963
The only reference is in `naked-objects/webapp/pom.xml` where the value is written to war manifest. AFAIK this should not be a problem.

[2019-10-09 05:23] #963 closed

[2019-10-09 06:36] Azureyjt commented on #554
@iluwatar May I pick up this issue?

[2019-10-09 12:45] lubarinobr commented on #574
I understand, I not have any skills with Jekyll or Ruby, But I think we can translate the readmes only to begin the process to translate the contents.

[2019-10-09 14:22] iluwatar commented on #554
Sure go ahead @Azureyjt

[2019-10-10 15:52] iluwatar commented on #574
As this is a bigger roadmap item, I intend to write a preliminary plan how to implement it. I'll let you know when it's ready for comments.

[2019-10-10 18:26] PalAditya commented on #413
Hi, wondering if I could take this issue up since it's free? Would love to contribute to this awesome repository 😄

[2019-10-10 18:46] iluwatar commented on #413
Wonderful @PalAditya, please go ahead. Looking forward to your pull request.

[2019-10-10 19:34] iluwatar commented on #948
Build with JDK11 from current master branch (commit 90ea4506caa653711f69fabb99ee7ac26c4ecce7) produces the following output.

![image](https://user-images.githubusercontent.com/582346/66600101-6fdaf180-ebad-11e9-894c-79c277a725a3.png)

The modules that are failing
- service-layer
- naked-objects
- repository
- layers
- cqrs
- eip-wire-tap
- eip-splitter
- eip-aggregator
- trampoline

Full build ou

[2019-10-10 19:41] iluwatar commented on #948
Let's continue from here in other issues

[2019-10-10 19:41] #948 closed

[2019-10-10 19:50] iluwatar opened #976 "Java 11 support: Build with JDK11"
This task is part of the Java 11 transition plan https://github.com/iluwatar/java-design-patterns/wiki/16.-Java-11-Transition

Configure Maven plugins to use Java 11 and verify that build works using JDK11 (see https://winterbe.com/posts/2018/08/29/migrate-maven-projects-to-java-11-jigsaw/ and https://www.baeldung.com/maven-java-version)

[2019-10-10 19:52] iluwatar commented on #948
See https://github.com/iluwatar/java-design-patterns/issues/976
@perwramdemark will you work on that?

[2019-10-10 20:25] iluwatar commented on #950
E.g. `/usr/lib/jvm/java-11-openjdk-amd64/bin/jdeps -jdkinternals async-method-invocation/target/async-method-invocation-1.22.0-SNAPSHOT.jar`

[2019-10-10 20:51] iluwatar commented on #973
See `.travis.yml` in https://github.com/iluwatar/java-design-patterns/pull/959

[2019-10-11 04:24] iluwatar commented on #950
Get the list of jars to be inspected
`find -name "*-1.22.0-SNAPSHOT.jar" > list.txt`

Check the jars with the following scritpt
[code]

No violations were found in the check.

[2019-10-11 04:24] #950 closed

[2019-10-11 15:51] iluwatar commented on #970
Ok @lauramurinova and thanks for notifying

[2019-10-11 16:44] iluwatar commented on #973
Set Travis to build on both openjdk8 and openjdk 11 in commits https://github.com/iluwatar/java-design-patterns/commit/795b6be17d270e93ccfc871fa4976f052c33a181 and https://github.com/iluwatar/java-design-patterns/commit/71f26c3e59f45d0e62b7137a75705a522d43cdec

[2019-10-11 16:44] #973 closed

[2019-10-11 17:18] iluwatar commented on #970
Assigned to @jjjimenez100

[2019-10-11 17:24] iluwatar opened #977 "Remove maven-pmd-plugin from project"
We are using SonarCloud for static source code analysis so maven-pmd-plugin is included really for no particular reason. Let's remove it from the project.

[2019-10-11 17:43] iluwatar commented on #976
@lbroman @perwramdemark working on this?

[2019-10-11 17:51] lbroman commented on #976
PR #975 should take care of this. Building through the project now, will push the PR in a few minutes.

[2019-10-11 18:09] Shumyk commented on #977
Hello.
Can I claim this? :)

[2019-10-11 18:13] iluwatar commented on #977
Sure @Shumyk I'll assign it to you

[2019-10-11 19:06] iluwatar opened #978 "Security alert in spring-data-jpa"
Github reports security alert in spring-data-jpa dependency. It should be upgraded in this task.

![image](https://user-images.githubusercontent.com/582346/66677909-5603e200-ec73-11e9-961f-5d77bd1bc771.png)

[2019-10-11 19:14] iluwatar commented on #976
This issue no longer needs to be resolved as we are already JDK11 compliant

[2019-10-11 19:16] iluwatar commented on #964
This issue can be closed as we are already JDK11 compliant

[2019-10-11 19:16] #964 closed

[2019-10-11 19:23] iluwatar commented on #976
Sorry, wrong issue I was editing. Reopened.

[2019-10-11 19:48] Mistral commented on #978
Can I do this task?

[2019-10-11 19:54] lbroman commented on #976
In my PR #980 I have left language source and target at 8 for the naked-objects/dom module. This is because java 11 bytecode breaks the datanucleus enhancer, even if they claim that 5.2 should support java 11 bytecode.
I have tried fiddling with the datanucleus dependency versions because the module uses datanucleus core 5 and apis from 4 so I thought that might be the problem. However, bumping up

[2019-10-11 20:20] iluwatar commented on #978
Go ahead @Mistral

[2019-10-11 21:32] bsshashank commented on #978
Sorry did not see that it was already assigned.

[2019-10-11 23:30] JasonSarwar commented on #973
I was a little late on the draw. Sorry about that!

[2019-10-12 04:11] jjjimenez100 commented on #970
PR: https://github.com/iluwatar/java-design-patterns/pull/982

[2019-10-12 05:52] iluwatar opened #983 "Java 11 support: Naked Objects pattern"
In issue https://github.com/iluwatar/java-design-patterns/issues/976 JDK11 build was taken to use but one problem related to Naked Objects pattern remains. Issue description from @lbroman:

I have tried fiddling with the datanucleus dependency versions because the module uses datanucleus core 5 and apis from 4 so I thought that might be the problem. However, bumping up the versions breaks other st

[2019-10-12 05:54] iluwatar commented on #976
I created follow-up task https://github.com/iluwatar/java-design-patterns/issues/983 about the datanucleus issue you described @lbroman. As such I think this issue can be closed. Many thanks for the hard work you've done so far :+1:

[2019-10-12 05:54] #976 closed

[2019-10-12 10:00] #977 closed

[2019-10-12 14:12] iluwatar commented on #949
No need to do this anymore since we have already transitioned to JDK11

[2019-10-12 14:12] #949 closed

[2019-10-12 14:25] iluwatar opened #984 "Java 11 support: Start using var"
This task is part of the Java 11 transition plan https://github.com/iluwatar/java-design-patterns/wiki/16.-Java-11-Transition

Start using local-variable type inference (var). It is a nice example of syntactic sugar that helps reduce boilerplate code (see https://www.infoq.com/articles/upgrading-java-8-to-12/ and https://winterbe.com/posts/2018/09/24/java-11-tutorial/)

It's a huge task to do this

[2019-10-12 14:31] Anurag870 commented on #984
I am working on this

[2019-10-12 14:32] iluwatar opened #985 "Java 11 support: Collections convenience methods"
This task is part of the Java 11 transition plan https://github.com/iluwatar/java-design-patterns/wiki/16.-Java-11-Transition

Convenience Factory Methods for Collections make it significantly easier to create collections like lists, maps and sets (see https://winterbe.com/posts/2018/09/24/java-11-tutorial/#collections)

Where this makes sense, refactor existing code to use the new factory methods

[2019-10-12 14:53] leonmak commented on #985
I would like to help with this :)

[2019-10-12 15:08] iluwatar opened #987 "Java 11 support: Utilize new methods"
This task is part of the Java 11 transition plan https://github.com/iluwatar/java-design-patterns/wiki/16.-Java-11-Transition

This is a refactoring ticket where we start to utilize new Java 11 functionality.

1) Collecting to unmodifiable collections is possible using the new Collector for Streams operations to put the results into an immutable collection (see https://www.infoq.com/articles/upgra

[2019-10-12 15:19] iluwatar opened #988 "Java 11 support: HttpClient"
This task is part of the Java 11 transition plan https://github.com/iluwatar/java-design-patterns/wiki/16.-Java-11-Transition

Patterns Aggregator Microservices and API Gateway are currently using Apache HttpClient in their implementation. Java 11 provides its own HttpClient and we should switch to that instead to get rid of unnecessary external dependencies.

Links:
https://winterbe.com/posts/201

[2019-10-12 15:27] oconnelc commented on #988
I'd be interested in looking into this, can I go ahead and try?

[2019-10-12 15:53] iluwatar opened #989 "Package patterns into executable jars"
The design pattern applications are easy to run within an IDE but it would be nice to be able to run them effortlessly having only the jar files.

In this task we are going to add and configure maven-assembly-plugin to package the patterns into executable jars, so that they can later be run like `java -jar pattern.jar`.

Links:
https://www.baeldung.com/executable-jar-with-maven

[2019-10-12 15:56] iluwatar commented on #984
Ok @Anurag870

[2019-10-12 16:07] iluwatar commented on #988
Ok @oconnelc

[2019-10-12 16:36] eater-of-souls commented on #989
I think I'll try my hand at this

[2019-10-12 16:42] oconnelc commented on #988
Which version of JDK should I compile against? Should I use Oracle or Openjdk?

[2019-10-12 17:09] iluwatar commented on #989
Sure @eater-of-souls :smiling_imp:

[2019-10-12 17:10] iluwatar commented on #988
We have just switched to openjdk11

[2019-10-12 20:00] oconnelc opened #993 "The pipeline project is not compiling in Eclipse"
After cloning the repo and opening the pipeline project Eclipse shows red errors indicating the project cannot compile:

The error is because of the layout of the project: after the src/main/java and
src/test/java. The directory was: src/main/java/com.iluwatar.pipeline. It should be src/main/java/com/iluwatar/pipeline

[2019-10-12 20:13] zbeach commented on #984
I'd also like to work on this!

[2019-10-12 20:16] iluwatar commented on #984
@Anurag870 could you state which patterns will you be working on? @zbeach can then look at some others.

[2019-10-13 00:36] leonmak commented on #987
HI I would like to work on this, noticed it was combined from a few tickets, do I make a PR for each?

[2019-10-13 01:54] Anurag870 commented on #984
@zbeach I will keep updating the list here:

abstract-document
abstract-factory
acyclic-visitor
adapter
aggregator-microservices

[2019-10-13 07:55] iluwatar commented on #987
Let's use the same gradual approach as we are doing in https://github.com/iluwatar/java-design-patterns/issues/984. You can do the refactoring for a single pattern or many. We'll then track the progress with a checklist.

@leonmak ok, you're good to go

[2019-10-13 13:31] iluwatar opened #996 "Sonar analysis in master branch is failing"
![image](https://user-images.githubusercontent.com/582346/66716392-f7a34480-edd5-11e9-9dbe-efcc02fa7d24.png)

[2019-10-13 13:32] iluwatar commented on #996
![image](https://user-images.githubusercontent.com/582346/66716496-fcb4c380-edd6-11e9-9d2b-91395c546dab.png)

[2019-10-13 20:15] #996 closed

[2019-10-13 20:42] #970 closed

[2019-10-14 07:40] gvsharma commented on #984
I would like to work on this?

[2019-10-14 10:36] besok commented on #862
I can take it if nobody minds.

[2019-10-14 13:42] hbothra15 commented on #893
I would like to take this up

[2019-10-14 16:06] iluwatar commented on #984
Ok @gvsharma, just declare what patterns you will be working on so the work won't conflict with @Anurag870 and @zbeach

[2019-10-14 16:17] gvsharma commented on #984
I will work on below patterns
[ ] serverless
[ ] service-layer
[ ] service-locator
[ ] singleton
[ ] state
[ ] step-builder
[ ] strategy
[ ] template-method
[ ] thread-pool
[ ] throttling

[2019-10-14 16:50] iluwatar commented on #862
Thanks @besok go ahead

[2019-10-14 16:54] iluwatar commented on #893
Ok @hbothra15

[2019-10-14 16:59] iluwatar opened #1001 "Intermittent test failure in Spatial Partition pattern"
![image](https://user-images.githubusercontent.com/582346/66769142-09134c00-eebd-11e9-9a90-e694dac91be5.png)

[2019-10-14 17:28] oconnelc opened #1002 "Checkstyle->Create Formatter-Profile in Eclipse fails with error."
With the following versions:

- Eclipse: Version: 2019-09 R (4.13.0)

- Eclipse Checkstyle Project: Eclipse Checkstyle 8.18.0.201903231603

When following the instructions at: https://github.com/iluwatar/java-design-patterns/wiki/12.-IDE-instructions on the step: "Right click java-design-patterns project in Project Explorer and choose Checkstyle - Create formatter profile" an error popup is shown

[2019-10-14 18:33] #413 closed

[2019-10-14 18:45] iluwatar commented on #482
Issue has been splitted in https://github.com/iluwatar/java-design-patterns/wiki/17.-Search-Engine-Optimization

[2019-10-14 18:45] #482 closed

[2019-10-14 19:34] afflato commented on #1001
Fixed intermittent issue #1001

[2019-10-14 19:36] oconnelc opened #1007 "JUnit5 test are not able to run in Eclipse"
Steps to recreate:

1. In Eclipse, select a unit test to run by right-clicking and selecting: "Run Configurations." Select a JUnit execution and ensure that the JUnit5 runner is selected:
![image](https://user-images.githubusercontent.com/1112973/66777789-ecb0e880-ee97-11e9-9bf2-ace877c11bd2.png)

1. Click the Run button.

1. The following error is shown:
![image](https://user-images.githubusercon

[2019-10-14 19:37] PalAditya commented on #511
Hi, I would like to pick up this pattern next. Seems pretty interesting, and I am thinking of implementing it as a two-player game simulation. Should I go ahead? 😄

[2019-10-14 20:46] Smirne commented on #1001
Didn't see @afflato already took this, sorry!

[2019-10-15 04:49] iluwatar commented on #1002
@oconnelc thanks for reporting this. I will update the wiki page with this information.

[2019-10-15 05:18] iluwatar commented on #511
@PalAditya sounds interesting, please go ahead :blush:

[2019-10-15 12:43] jjjimenez100 opened #1009 "Redundant dependency declarations on child poms"
I've noticed that there are redeclaration of dependencies (e.g: junit 5 engine/mockito) on our modules. I don't think we'll be needing those since they are already specified on the parent pom.

Might be a good idea to have an issue that will do cleanups on child poms. Wdyt? @iluwatar

[2019-10-15 16:02] iluwatar commented on #1009
@jjjimenez100 yes I think we should clean up. Can you point out some example where this redeclaration occurs?

[2019-10-15 16:15] #988 closed

[2019-10-15 16:22] #993 closed

[2019-10-15 16:34] #1001 closed

[2019-10-15 16:51] hbothra15 commented on #893
hi @1170200227,
Just wanted to confirm are you looking to see somthing as below
`  private static Map<WeaponType, OrcWeapon> weaponProtoType = new HashMap<>(WeaponType.values().length);
  {
    for (WeaponType type : WeaponType.values()) {
      weaponProtoType.put(type, new OrcWeapon(type));
    }
  }
  @Override
  public Weapon manufactureWeapon(WeaponType weaponType) {
    return weaponProtoTyp

[2019-10-15 17:28] iluwatar commented on #556
This issue is free to take again

[2019-10-15 17:46] iluwatar opened #1010 "SonarCloud reports bugs"
The project is using SonarCloud static code analysis. The latest results are showing that it has found several blocker and critical severity bugs. In this task those are fixed or marked as false positives. To mark false positives, `SuppressWarnings` annotation should be used in code as explained in the linked documentation.

Links:
[Blocker and critical severity bugs in SonarCloud](https://sonarcl

[2019-10-15 17:51] iluwatar opened #1011 "SonarCloud reports vulnerabilities"
The project is using SonarCloud static code analysis. The latest results are showing that it has found several blocker level vulnerabilities. In this task those are fixed or marked as false positives. To mark false positives, `SuppressWarnings` annotation should be used in code as explained in the linked documentation.

Links:
[Blocker and critical severity vulnerabilities in SonarCloud](https://s

[2019-10-15 17:54] iluwatar opened #1012 "SonarCloud reports issues"
The project is using SonarCloud static code analysis. The latest results are showing that it has found several blockers and critical severity code smells (major, minor, and info level we ignore). In this task, those are fixed or marked as false positives. To mark false positives, SuppressWarnings annotation should be used in code as explained in the linked documentation.

Links:
[Blocker and criti

[2019-10-16 01:39] jjjimenez100 commented on #1009
Looking at the parent pom, we already have the `mockito-core` dependency specified in [here](https://github.com/iluwatar/java-design-patterns/blob/master/pom.xml#L276).

Some of the child poms like [this](https://github.com/iluwatar/java-design-patterns/blob/master/decorator/pom.xml#L43) and [this] (https://github.com/iluwatar/java-design-patterns/blob/master/observer/pom.xml#L48) seem to redeclar

[2019-10-16 05:34] iluwatar commented on #1009
I think that example is just how Maven's dependency management works (see https://maven.apache.org/guides/introduction/introduction-to-dependency-mechanism.html#Dependency_Management)

[2019-10-16 10:59] PalAditya commented on #511
Hi, @iluwatar , I have had something come up in real life and I don't think I would be able to help out with this right now. I guess it would be better if you could unassign me and set the task as free again so that someone else could take it up, and I could carry on with this if nobody else has taken it up yet by the time I'm back.

Really sorry about this 😅

[2019-10-16 14:54] hbothra15 commented on #893
Hi @1171430615
Any feedback on above comment

[2019-10-16 15:22] #554 closed

[2019-10-16 15:24] iluwatar commented on #511
No problem @PalAditya, welcome back any time!

[2019-10-16 16:49] Azureyjt commented on #550
@iluwatar May I take this issue?

[2019-10-16 16:53] iluwatar commented on #550
Ok @Azureyjt

[2019-10-17 07:47] kaiwinter commented on #1007
Instead of inserting `junit-platform-commons` in each of the ~120 module poms a better fix would be to just update JUnit 5 to the most current version...

[2019-10-17 07:59] lbroman commented on #1007
Does this fix the problem?

I suggested in my PR (not visible here) that a better aproach might also be to upgrade the last junit 4 projects to jupiter and then pull the jupiter dependencies up to the root pom.

[2019-10-17 08:37] kaiwinter commented on #1007
Yes it does, because JUnit 5.5.2 transitively pulls junit-platform-commons 1.5.2:

![jupiter-5 5 2](https://user-images.githubusercontent.com/110982/66992341-f5890080-f0c9-11e9-8756-edc81336beab.PNG)

[2019-10-17 09:28] lbroman commented on #1007
Tried updating to 5.5.2 and it broke the maven build, current version dates back to 2017...
junit-platform-commons is in the current dependency tree also, but 1.0.2.

Also noticed I cannot reproduce this issue on Eclipse EE but only on Eclipse Java, so is problably eclipse edition related. Will test this by managing the junit-platforms-commons version instead and see what that might bring.

[2019-10-17 13:13] kaiwinter commented on #1007
Updating to 5.5.2 works for me. In addition `junit-jupiter-api` have to be added in the parent pom because `spring-boot-dependencies` imports and old version of this.

Now the tests run on the command line as well as from eclipse. I'll submit a pull request.

![command line](https://user-images.githubusercontent.com/110982/67011635-4ad80880-f0f0-11e9-948c-3e28e1cecfbe.PNG)

![eclipse](https://user

[2019-10-17 13:36] oconnelc commented on #1007
Another option is to switch to TestNG.

[2019-10-17 17:57] iluwatar opened #1016 "Checkstyle should use google_checks.xml"
At the moment maven-checkstyle-plugin in main pom.xml has been configured to use custom rules defined in checkstyle.xml. However there shouldn't be many modifications compared to the builtin google_checks.xml and it would be beneficial to start using this so that own rules wouldn't have to be maintained.

[2019-10-17 18:00] #1007 closed

[2019-10-17 20:21] kaiwinter commented on #1016
Why does the `maven-checkstyle-plugin` in the root pom use an execution? As a consequence running `mvn checkstyle:checkstyle-aggregate` on the command line doesn't use this configuration...

[2019-10-17 23:05] ykayacan commented on #1012
Can I take this issue?

[2019-10-17 23:41] oconnelc commented on #1011
I would like to take a look, if no one else is interested.

[2019-10-18 00:04] oconnelc commented on #1011
I just submitted #1017 to address.

[2019-10-18 00:17] oconnelc commented on #1010
I started taking a look at these errors and I think the first one will be a false positive. Specifically the rule: "Loops should not be infinite" in the file "api-gateway/.../java/com/iluwatar/api/gateway/ApiGateway.java" Based on the documentation in the above link, it seems like there are two options:

1. Add the following annotation:
`@SuppressWarnings("squid:S2189")`
but this causes a Java com

[2019-10-18 05:45] iluwatar commented on #1016
I think the source of the configuration has been the instructions on the plugin's web site https://maven.apache.org/plugins/maven-checkstyle-plugin/usage.html, see "Checking for Violations as Part of the Build"

[2019-10-18 05:46] iluwatar commented on #1012
Sure @ykayacan

[2019-10-18 18:53] iluwatar commented on #1011
Ok @oconnelc

[2019-10-18 18:58] #1011 closed

[2019-10-18 18:59] iluwatar commented on #1016
Ok @kaiwinter

[2019-10-18 19:24] iluwatar commented on #1010
Hmm where do you see the error after adding the annotation? Is it in the Maven output or IDE? Tried that with Maven but did not get any warnings.

[2019-10-18 19:33] oconnelc commented on #1010
I was seeing it on the IDE. (I keep stumbling on the Eclipse annoyances).
If it's not showing up in Maven, I'll just leave it as is.

On Fri, Oct 18, 2019, 15:27 Ilkka Seppälä <notifications@github.com> wrote:

[2019-10-18 20:37] iluwatar commented on #1010
Ok, let's try to proceed with `SuppressWarnings`

[2019-10-19 13:56] oconnelc commented on #1010
It turns out the warning is a setting in Eclipse. Selecting Window->Preferences and navigating to the Java compiler options and changing the value of:
`Unhandled Token in @SuppressWarnings` to ignore. By default this is warn.
![image](https://user-images.githubusercontent.com/1112973/67146172-7117b880-f256-11e9-857e-14e31bd7e0c1.png)

[2019-10-19 15:40] oconnelc commented on #1010
I just pushed #1020 to address.

[2019-10-19 15:41] #1016 closed

[2019-10-19 15:46] iluwatar opened #1021 "Checkstyle reports warnings"
In issue https://github.com/iluwatar/java-design-patterns/issues/1016 we switched using Checkstyle's builtin google_checks.xml. The new ruleset finds over 6k warnings. In this issue we try fix those gradually, one pattern at a time. If you want to help, please comment on the issue which patterns will you be working on. We will follow the progress using the following table.

[x] abstract-document
[

[2019-10-19 19:19] iluwatar commented on #1010
The latest scan shows two critical issues left. See the screenshot:

![image](https://user-images.githubusercontent.com/582346/67150293-6f81db00-f2be-11e9-84b3-4ce1c3b96310.png)

[2019-10-19 19:23] oconnelc commented on #1010
That's weird. I know I made those changes. I'll make sure they weren't
missed in the commit.

On Sat, Oct 19, 2019, 15:22 Ilkka Seppälä <notifications@github.com> wrote:

[2019-10-19 19:27] iluwatar opened #1022 "IDE instructions should be updated"
IDE instructions in Wiki are no longer up to date after we did the Checkstyle configuration change in https://github.com/iluwatar/java-design-patterns/issues/1016. Describe the updated instructions for each IDE in this ticket.

Links:
https://github.com/iluwatar/java-design-patterns/wiki/12.-IDE-instructions

[2019-10-20 06:26] #1010 closed

[2019-10-20 15:38] kaiwinter commented on #1022
In the current Eclipse nothing needs to be configured. I just imported the maven project and everything seems to be set up correctly:
![checkstyle-config](https://user-images.githubusercontent.com/110982/67161993-39953300-f360-11e9-80b0-6798ef5b978c.PNG)

[2019-10-20 15:57] #550 closed

[2019-10-20 16:10] iluwatar commented on #1022
Thanks for the tip @kaiwinter. I now tried to update the instructions for Eclipse and IntelliJ. At least it looks much simpler now. Let me know if there's something wrong or missing.

[2019-10-20 16:25] iluwatar commented on #966
@mgabor6 any news?

[2019-10-21 07:34] Azureyjt commented on #892
@iluwatar May I work on this issue?

[2019-10-21 13:17] tejashreeegithub commented on #983
hi,
please can u help me to run naked objects pattern project.. please.. i am new to maven. i tried to build naked objects project. Seperate jars are getting created for dom,fixture,integtests and webapp folder and also simpleapp.war inside webapps/target. How do i run this war file?
I installed tomcat also..

[2019-10-21 18:10] iluwatar commented on #892
Ok @Azureyjt

[2019-10-21 18:26] iluwatar commented on #983
@tejashreeegithub there are many ways but probably easiest is to use the executable jar. First build it with `mvn clean package` and then in the webapp/target you can run `java -jar naked-objects-webapp-1.22.0-SNAPSHOT-jetty-console.jar`

[2019-10-21 18:28] iluwatar commented on #983
One way to resolve this issue could be to try to update the whole pattern. The instructions can be found on the Apache Isis website https://isis.apache.org/guides/ugfun/ugfun.html#_ugfun_getting-started_simpleapp-archetype.

[2019-10-22 02:33] Azureyjt commented on #892
Thanks iluwatar. And I'm afraid that I need to study the background first since I'm not very familiar with big data system and streaming process. So it may take a little bit more time.

[2019-10-22 05:09] iluwatar commented on #892
No problem. Thanks for looking into this.

[2019-10-22 05:58] tejashreeegithub commented on #983
One small help.. what could be the output of it.? Actually i was able to see sc
<img width="839" alt="nakedObjectsPage" src="https://user-images.githubusercontent.com/56831314/67261555-d4a41f00-f4be-11e9-903e-6efdc3a9ed56.png">
But can we see any naked objects structure using this url localhost:8081.

Please help me in how this project shows up as result

[2019-10-22 08:46] kaiwinter commented on #1022
Looks good to me. This can be omitted I think:

This is done automatically IMHO.

[2019-10-22 18:14] iluwatar commented on #983
You can click the links there in the web app to go deeper. Learn more about Apache Isis and naked objects pattern by reading https://isis.apache.org/guides/ugfun/ugfun.html

[2019-10-22 18:16] iluwatar commented on #1022
Ok, thanks for input @kaiwinter. With these talks I'll close the issue.

[2019-10-22 18:16] #1022 closed

[2019-10-23 19:29] Anurag870 commented on #987
@iluwatar I will work on the following patterns:
unit-of-work
value-object
visitor

[2019-10-23 19:32] Anurag870 commented on #892
@iluwatar I would like to take it up. Please assign this to me.

[2019-10-24 04:58] iluwatar commented on #987
Ok @Anurag870

[2019-10-24 05:01] iluwatar commented on #892
Great @Anurag870, it's done

[2019-10-24 15:51] akrystian commented on #1009
Can I take this issue?

[2019-10-24 16:23] iluwatar commented on #1009
Ok @akrystian

[2019-10-24 17:25] akrystian commented on #1009
I found two probably not needed dependencies:
- `spring-boot-dependencies`
- `javassist`

I can try remove it.

[2019-10-25 03:59] #1009 closed

[2019-10-26 06:17] iluwatar opened #1037 "Error when building from submodule directories"
When running `mvn clean install` from project's submodules, the following error message is outputted

[code]

Building from the submodules should work as well as building from the multimodule root.

[2019-10-26 08:04] gvsharma commented on #984
Done with changes. Thank you

[2019-10-26 17:43] #1037 closed

[2019-10-26 18:00] #862 closed

[2019-10-26 18:17] besok commented on #438
IF no objections i will sign myself up

[2019-10-26 18:27] iluwatar commented on #438
Ok @besok

[2019-10-26 19:10] iluwatar opened #1046 "Description front matter missing from pattern pages"
[Jekyll front matter](https://jekyllrb.com/docs/front-matter/) is used to add attributes to web pages on our web site. All the patterns have their front matter defined in `README.md` but `description` is missing from there. `description` is used to add HTML meta tag to the pattern's web page as can be seen here: https://github.com/iluwatar/java-design-patterns/blob/gh-pages/_includes/head.html#L8

[2019-10-26 20:21] iluwatar commented on #955
Currently all the patterns belong to the unnamed module since they have not been modularized. The next step would be to add `module-info.java` to each of the patterns to make them real modules.

[2019-10-26 20:21] #955 closed

[2019-10-26 20:25] iluwatar opened #1047 "Arrange the patterns into modules"
Currently all the patterns belong to the default unnamed module. To make them real Java modules, we need to add `module-info.java` to each of the patterns.

Links:
https://www.baeldung.com/java-9-modularity
http://tutorials.jenkov.com/java/modules.html

Progress tracking:
[x] abstract-document

[2019-10-27 06:54] iluwatar commented on #966
The result of the investigation was that Java currencies are not used in the project.

[2019-10-27 06:54] #966 closed

[2019-10-27 14:30] leonmak commented on #987
I would like to work on:

- [] abstract-document
- [] collection-pipeline
- [] commander
- [] composite
- [] converter

[2019-10-27 14:41] leonmak commented on #987
Also would like to work on:
- [ ] dao
- [ ] double-dispatch
- [ ] facade
- [ ] flyweight

[2019-10-27 14:54] Anurag870 commented on #987
Also checked in code after checking

typeobjectpattern, tolerantreader, twin, trampoline

[2019-10-27 20:11] iluwatar commented on #987
Ok @leonmak
@Anurag870 do you mean that code for those patterns has already been refactored?

[2019-10-28 02:08] leonmak commented on #987
cool, thanks.
some more which I've worked on:
- [ ] hexagonal
- [ ] iterator
- [ ] layers
- [ ] leader-election
- [ ] observer
- [ ] page-object
- [ ] partial-response
- [ ] sample-application
- [ ] servant
- [ ] service-layer
- [ ] thread-pool

[2019-10-28 15:24] iluwatar opened #1052 "Move website into another repository"
Currently the web site source code is in the `gh-pages` branch of this repository. This is because originally the web site was served as Github pages. It still is nowadays, but the main site is https://java-design-patterns.com served from AWS S3 and Cloudfront.

In this task we move the web site's source code and build logic into new repository. We also drop the Github pages web site as unnecessar

[2019-10-29 20:28] #341 closed

[2019-10-29 20:29] #353 closed

[2019-10-29 20:32] iluwatar commented on #428
Moved to https://github.com/iluwatar/java-design-patterns-web/issues/3

[2019-10-29 20:32] #428 closed

[2019-10-29 20:33] iluwatar commented on #574
Moved to https://github.com/iluwatar/java-design-patterns-web/issues/3

[2019-10-29 20:33] #574 closed

[2019-10-29 20:37] #586 closed

[2019-10-29 20:41] iluwatar commented on #764
Issue moved to https://github.com/iluwatar/java-design-patterns-web/issues/4

[2019-10-29 20:41] #764 closed

[2019-10-29 20:44] iluwatar commented on #590
Issue moved to https://github.com/iluwatar/java-design-patterns-web/issues/5

[2019-10-29 20:46] iluwatar commented on #1046
Issue moved to https://github.com/iluwatar/java-design-patterns-web/issues/6

[2019-10-30 06:30] #893 closed

[2019-10-31 11:31] leonorader commented on #1021
I would like to work on singleton, strategy and visitor patterns! :)

[2019-10-31 12:29] leonorader commented on #1021
So I submitted #1054 :)

[2019-11-01 18:03] #549 closed

[2019-11-02 08:03] Azureyjt commented on #454
@iluwatar May I work on this issue?

[2019-11-02 11:12] iluwatar commented on #454
Ok @Azureyjt

[2019-11-02 12:56] iluwatar opened #1055 "Parameterized Specification"
Specification pattern example shows simple use of hard-coded specifications. To add another specification one needs to edit the code and add new class for it.

In this task we extend the example so that "parameterized specification" is also demonstrated. It is described in mr. Fowler's paper as specification that can be built without programming.

Links:
https://martinfowler.com/apsupp/spec.pdf
ht

[2019-11-03 12:11] mgabor6 commented on #966
Hey @iluwatar . Sorry for the hiatus, I had ongoing projects, and they just ended. From now on I'll have some spare time to dive into Java 11 formatting if needed.

[2019-11-03 12:32] iluwatar commented on #966
@mgabor6 no problem. I think there's nothing to investigate in this issue anymore, but please look into other tasks if you find something interesting.

https://github.com/iluwatar/java-design-patterns/issues

[2019-11-05 13:17] mgabor6 commented on #966
Thanks :)

[2019-11-07 03:58] Azureyjt commented on #551
@iluwatar May I pick this up?

[2019-11-07 05:27] iluwatar commented on #551
Ok @Azureyjt

[2019-11-08 06:24] #454 closed

[2019-11-09 05:31] Anurag870 commented on #892
@iluwatar Kappa Architecture requires log-based storage such as Kafka or Pulsar and a stream processing engine such as Spark or Flink. Having a basic running Java example would mean setting up these systems as well.

Even writing UML diagrams for it may not be very suitable.

I was thinking if I can add draw.io image and xml for this along with some description. If you feel it is off our scope, we

[2019-11-09 07:22] iluwatar commented on #892
The approach we used in Hexagonal Architecture was to have multiple implementations of data store. There was an in-memory data store and then with some additional configuration you could switch to Mongo database.

[2019-11-09 16:54] anuragagarwal561994 commented on #1021
Hey I have picked up ambassador, async-method-invocation, balking, bridge, builder in https://github.com/iluwatar/java-design-patterns/pull/1058

[2019-11-09 16:59] Anurag870 commented on #892
Sure will look at that

[2019-11-09 17:14] anuragagarwal561994 commented on #1021
@iluwatar picked up business-delegate, bytecode and caching in https://github.com/iluwatar/java-design-patterns/pull/1059

[2019-11-09 17:31] anuragagarwal561994 commented on #1021
@iluwatar picked up callback, chain, circuit-breaker (missing from above list) in https://github.com/iluwatar/java-design-patterns/pull/1060

[2019-11-09 17:59] anuragagarwal561994 commented on #1021
@iluwatar picked up collection-pipeline, command, commander in https://github.com/iluwatar/java-design-patterns/pull/1061

[2019-11-09 19:07] anuragagarwal561994 commented on #1021
@iluwatar picked up converter, cqrs in https://github.com/iluwatar/java-design-patterns/pull/1063

[2019-11-09 19:44] anuragagarwal561994 commented on #1021
@iluwatar picked up guarded-suspension, half-sync-half-async, hexagonal in https://github.com/iluwatar/java-design-patterns/pull/1064

[2019-11-09 19:53] anuragagarwal561994 commented on #1021
@iluwatar picked up intercepting-filter, interpreter, iterator in https://github.com/iluwatar/java-design-patterns/pull/1065

[2019-11-09 20:03] anuragagarwal561994 commented on #1021
@iluwatar picked up api-gateway, lazy-loading, leader-election in https://github.com/iluwatar/java-design-patterns/pull/1066

[2019-11-09 20:21] anuragagarwal561994 commented on #1021
@iluwatar picked up dao data-bus data-locality data-mapper data-transfer-object decorator in https://github.com/iluwatar/java-design-patterns/pull/1067

[2019-11-09 20:30] anuragagarwal561994 commented on #1021
@iluwatar picked up delegation dependency-injection dirty-flag double-buffer double-checked-locking double-dispatch in https://github.com/iluwatar/java-design-patterns/pull/1068

[2019-11-09 20:53] anuragagarwal561994 commented on #1021
@iluwatar picked up eip-* in https://github.com/iluwatar/java-design-patterns/pull/1069, event-* in https://github.com/iluwatar/java-design-patterns/pull/1070 and execute-around, extension-objects in https://github.com/iluwatar/java-design-patterns/pull/1071

[2019-11-09 21:10] anuragagarwal561994 commented on #1021
@iluwatar picked up all that begins with `r` in https://github.com/iluwatar/java-design-patterns/pull/1072

[2019-11-09 21:34] anuragagarwal561994 commented on #1021
@iluwatar picked up all remainig that begins with t, u and v in https://github.com/iluwatar/java-design-patterns/pull/1073 and https://github.com/iluwatar/java-design-patterns/pull/1074

[2019-11-10 07:01] anuragagarwal561994 commented on #987
@iluwatar picked up ambassador async-method-invocation balking bridge builder in https://github.com/iluwatar/java-design-patterns/pull/1076

[2019-11-10 07:01] anuragagarwal561994 commented on #984
@iluwatar picked up ambassador async-method-invocation balking bridge builder in https://github.com/iluwatar/java-design-patterns/pull/1076

[2019-11-10 18:06] iluwatar commented on #989
This issue is free to take again

[2019-11-11 03:29] anuragagarwal561994 commented on #1021
@iluwatar picked up facade factory-kit spatial-partition state step-builder in https://github.com/iluwatar/java-design-patterns/pull/1077

[2019-11-11 03:40] anuragagarwal561994 commented on #1021
@iluwatar picked up feature-toggle fluentinterface flux flyweight front-controller in https://github.com/iluwatar/java-design-patterns/pull/1078

[2019-11-11 03:50] anuragagarwal561994 commented on #1021
@iluwatar picked up semaphore servant serverless service-layer service-locator in https://github.com/iluwatar/java-design-patterns/pull/1079

[2019-11-11 03:57] anuragagarwal561994 commented on #1021
@iluwatar picked up abstract-document abstract-factory acyclic-visitor adapter aggregator-microservices in https://github.com/iluwatar/java-design-patterns/pull/1080

[2019-11-11 03:58] anuragagarwal561994 commented on #1021
Not able to find faq.md anywhere.

[2019-11-11 04:04] anuragagarwal561994 commented on #987
@iluwatar picked up remaining b-c in https://github.com/iluwatar/java-design-patterns/pull/1081

[2019-11-11 04:04] anuragagarwal561994 commented on #984
@iluwatar picked up remaining b-c in https://github.com/iluwatar/java-design-patterns/pull/1081

[2019-11-11 09:13] hbothra15 commented on #989
Before taking this up, I would Like to know do we want to add this for all patterns right
for e.g If I want to run abstract-pattern then I need to run `java -jar abstractpattern.jar`

[2019-11-11 16:33] MaVdbussche commented on #1055
I would like to work on this issue if it is still available.

[2019-11-11 19:30] anuragagarwal561994 commented on #1021
@iluwatar picked up naked-objects null-object object-mother object-pool observer queue-load-leveling in https://github.com/iluwatar/java-design-patterns/pull/1082

[2019-11-12 05:24] iluwatar commented on #989
That's correct @hbothra15.

[2019-11-12 05:25] iluwatar commented on #1055
Go ahead @MaVdbussche

[2019-11-12 06:26] jjjimenez100 commented on #1021
Let me pick up the one for pipeline (and see if I can do the remaining and not being worked by others)

[2019-11-12 10:49] anuragagarwal561994 commented on #1021
@jjjimenez100
If you are using IntelliJ I can share with you my code style file so that there is consistency in correcting checkstyle errors.

[2019-11-12 12:38] trjoshjimenez commented on #1021
Sounds like a good idea. :smile: Maybe we can have it uploaded with the gitter room or whatsoever you can suggest?

[2019-11-12 12:39] jjjimenez100 commented on #1021
Sounds like a good idea. :smile: Maybe we can have it uploaded in the gitter room or whatsoever you can suggest?

[2019-11-12 18:51] anuragagarwal561994 commented on #987
@iluwatar picked up starting with a in https://github.com/iluwatar/java-design-patterns/pull/1084

[2019-11-12 18:51] anuragagarwal561994 commented on #987
@iluwatar picked up from t-v in https://github.com/iluwatar/java-design-patterns/pull/1085

[2019-11-12 18:52] anuragagarwal561994 commented on #984
@iluwatar picked up starting with a in https://github.com/iluwatar/java-design-patterns/pull/1084
@iluwatar picked up from t-v in https://github.com/iluwatar/java-design-patterns/pull/1085

[2019-11-13 06:20] iluwatar commented on #1021
Yeah that was a typo, sorry :grin:

[2019-11-13 08:11] anuragagarwal561994 commented on #1021
@jjjimenez100 are you working on it, I have shared the file in gitter room.

[2019-11-13 15:09] #197 closed

[2019-11-13 15:25] iluwatar opened #1086 "Microkernel architecture"
This is a big architectural pattern where the system consists of core and plugin modules.

Links:
- https://medium.com/@priyalwalpita/software-architecture-patterns-microkernel-architecture-97cee200264e
- the attached document
[Software-Architecture-Patterns.pdf](https://github.com/iluwatar/java-design-patterns/files/3841915/Software-Architecture-Patterns.pdf)

[2019-11-13 15:31] iluwatar opened #1087 "Space-based architecture"
In this big architectural pattern distributed shared memory is utilized to provide almost infinite scalability.

Links:
- https://en.wikipedia.org/wiki/Space-based_architecture
- The attached document
[Software-Architecture-Patterns.pdf](https://github.com/iluwatar/java-design-patterns/files/3841952/Software-Architecture-Patterns.pdf)

[2019-11-13 17:58] MaVdbussche commented on #1055
I have written the code, the tests and updated the README, but I need help when it comes to the UML diagram. How should i proceed to update it ? Am I correct in assuming that the .ucls file dynamically generates a .png image representing the class diagram ? I understand that this file should be edited from an Eclipse plugin; are you aware of any other way to edit it ?
I am of course open to the id

[2019-11-14 05:59] iluwatar commented on #1055
Yes, we currently use the Eclipse plugin to create the class diagram. I'm not aware of alternate methods, it has to be used from Eclipse IDE. However, if the class diagram is missing it doesn't prevent accepting the pull request. We can add the class diagram later. In the future I'm hoping to integrate https://github.com/iluwatar/uml-reverse-mapper to generate the class diagrams from code automati

[2019-11-14 10:18] hbothra15 commented on #989
Then please do assign this to me will shortly raise MR for 1 of the package and if that's good will do the same for rest

[2019-11-14 12:04] bglmmz commented on #179
Leader/Followers pattern locates which folder?

[2019-11-14 16:38] besok commented on #499
I can take it if nobody minds

[2019-11-14 20:08] iluwatar commented on #989
Ok @hbothra15

[2019-11-14 20:10] iluwatar commented on #179
It's not implemented yet

[2019-11-14 20:25] iluwatar commented on #499
Ok @besok

[2019-11-15 07:03] anuragagarwal561994 commented on #1021
@iluwatar for the remaining PR https://github.com/iluwatar/java-design-patterns/pull/1090 and https://github.com/iluwatar/java-design-patterns/pull/1091

[2019-11-15 09:55] MaVdbussche commented on #1055
@iluwatar I have created a PR for this issue at https://github.com/iluwatar/java-design-patterns/pull/1088. Please do not hesitate to give me your feedback on it :)

[2019-11-16 12:29] iluwatar opened #1093 "Composite Specification"
Specification pattern example now shows use of hard-coded and parameterized specifications. In this task we extend the example so that "composite specification" is also demonstrated. It is described in mr. Fowler's paper below.

Links:
https://martinfowler.com/apsupp/spec.pdf
https://java-design-patterns.com/patterns/specification/
https://github.com/iluwatar/java-design-patterns/tree/master/speci

[2019-11-16 12:30] #1055 closed

[2019-11-16 12:40] MaVdbussche commented on #1093
I felt like this one was coming ;) I would be glad to work on it !

[2019-11-16 12:40] #551 closed

[2019-11-16 12:43] iluwatar commented on #1093
Wonderful @MaVdbussche, please go ahead :+1:

[2019-11-16 14:05] iluwatar commented on #1021
Great job on this @anuragagarwal561994 @leonorader @jjjimenez100 and other. Since commit https://github.com/iluwatar/java-design-patterns/commit/8747f1fd7a420353f1d0772aa682559baa177256 we are enforcing the Checkstyle rules during the build i.e. the build fails if the rules are not respected.

[2019-11-16 14:06] #1021 closed

[2019-11-17 11:40] MaVdbussche commented on #1093
@iluwatar I have created a PR for this issue at https://github.com/iluwatar/java-design-patterns/pull/1094.

[2019-11-17 12:27] #1093 closed

[2019-11-17 13:07] dgruntz opened #1095 "Decorator: Composition instead of Aggregation"
In issue #518 it was proposed to change the relationship between decorator and target (in the code example between Troll und SmartTroll) from a composition to an aggregation with the argumentation that in a composition both instances cannot live without the other one. I disagree with this argumentation and I just checked the UML spec from OMG (available at https://www.omg.org/spec/UML/2.5.1/). An

[2019-11-17 13:48] numbernine9 opened #1097 ""Unknown host repository-estatio.forge.cloudbees.com" issue"
Hi, this is Masaki Mizobuchi.
I faced the below error when I build the projects. So, I report is.

**Unknown host repository-estatio.forge.cloudbees.com** is shown when I execute the commnad `mvn eclipse:eclipse`.
It seems that [(http://repository-estatio.forge.cloudbees.com/snapshot/)] is closed host.

Error message is below.

[2019-11-17 14:25] dgruntz opened #1099 "Template Method"
As statet in the referenced tutorial [Template-method Pattern Tutorial](https://www.journaldev.com/1763/template-method-design-pattern-in-java)
I would add a note in the pattern description that the template method should be declared `final`.

And I would change the code accordingly.

[2019-11-18 06:41] Azureyjt commented on #552
@iluwatar May I pick up this issue?

[2019-11-18 17:04] iluwatar commented on #1095
Thanks for the extensive explanation. Looking at the source code, I see that `ClubbedTroll` really can't exist without `Troll`. So you are right, it is a bug and should be fixed.

[2019-11-18 17:16] iluwatar commented on #1097
Confirmed, I can repeat this.

[2019-11-18 17:23] dgruntz commented on #1095
well, don't be bedazzled by an extensive explanation ;-)

The argument raised in issue #518 was a symmetric one, i.e. it was stated that the `Troll` could also live without the `ClubbedTroll` and that therefore the association is an aggregation instead of a composition. Stated in #518, for a composition both instances, the whole and the part, cannot live without each other. Obviously, the `Clubbed

[2019-11-18 17:27] dgruntz commented on #1095
Closed with commit #1096.

[2019-11-18 17:27] #1095 closed

[2019-11-18 17:30] iluwatar commented on #1099
Yes, I agree with you.

[2019-11-18 17:51] iluwatar commented on #552
Ok @Azureyjt

[2019-11-25 16:47] eacdev opened #1107 "Factory method always returns the same instance of a weapon"
https://github.com/iluwatar/java-design-patterns/blob/a9c3df78ee6f51f1678a9521d74b93e127e734e2/factory-method/src/main/java/com/iluwatar/factory/method/OrcBlacksmith.java#L39

Let's say you tell it to get you a WeaponType.AXE, it will always return the same instance of weapon won't it?

If you have an army of orcs, you give each of them a different axe of course. You can't give the same axe to eve

[2019-11-25 17:01] #1107 closed

[2019-11-26 06:03] #499 closed

[2019-11-26 06:12] iluwatar commented on #1107
@eacdev it's not a bug, it's designed that way.

[2019-12-01 13:07] #552 closed

[2019-12-06 17:03] anuragagarwal561994 commented on #987
@iluwatar picked all c-e in https://github.com/iluwatar/java-design-patterns/pull/1111 and https://github.com/iluwatar/java-design-patterns/pull/1112

[2019-12-06 17:03] anuragagarwal561994 commented on #984
@iluwatar picked all c-e in https://github.com/iluwatar/java-design-patterns/pull/1111 and https://github.com/iluwatar/java-design-patterns/pull/1112

[2019-12-07 10:27] iluwatar opened #1113 "Generate class diagrams dynamically"
The current class diagrams for the design patterns have been generated with an Eclipse plugin. In the long run we want to get rid of this and make the class diagram IDE agnostic.

In this task we take into trial use [uml-reverse-mapper](https://github.com/iluwatar/uml-reverse-mapper) Maven plugin. First it can be used for a limited set of patterns so we get more experience how it behaves and what

[2019-12-07 18:51] #1113 closed

[2019-12-10 04:20] anuragagarwal561994 commented on #984
@iluwatar picked all f in https://github.com/iluwatar/java-design-patterns/pull/1115

[2019-12-10 04:21] anuragagarwal561994 commented on #987
@iluwatar picked all f in https://github.com/iluwatar/java-design-patterns/pull/1115

[2019-12-16 12:12] anuragagarwal561994 commented on #987
@iluwatar picked remaining g,h,i in https://github.com/iluwatar/java-design-patterns/pull/1116

[2019-12-16 12:12] anuragagarwal561994 commented on #984
@iluwatar picked remaining g,h,i in https://github.com/iluwatar/java-design-patterns/pull/1116

[2019-12-26 19:53] saksham93 commented on #1047
I am working on this issue.

[2019-12-28 14:39] anuragagarwal561994 commented on #987
@iluwatar picked all s in https://github.com/iluwatar/java-design-patterns/pull/1120

[2019-12-28 14:39] anuragagarwal561994 commented on #984
@iluwatar picked all s in https://github.com/iluwatar/java-design-patterns/pull/1120

[2019-12-28 18:47] anuragagarwal561994 commented on #984
@iluwatar picked all q-r in https://github.com/iluwatar/java-design-patterns/pull/1121

[2019-12-28 18:47] anuragagarwal561994 commented on #987
@iluwatar picked q-r in https://github.com/iluwatar/java-design-patterns/pull/1121

[2019-12-29 11:26] anuragagarwal561994 commented on #984
@iluwatar picked all p in https://github.com/iluwatar/java-design-patterns/pull/1122

[2019-12-29 11:27] anuragagarwal561994 commented on #987
@iluwatar picked all p in https://github.com/iluwatar/java-design-patterns/pull/1122

[2019-12-29 11:58] iluwatar commented on #1047
Ok @saksham93

[2019-12-29 12:42] #989 closed

[2020-01-02 00:48] npczwh commented on #179
@iluwatar , I'd like to take this

[2020-01-03 06:17] baocaixue opened #1125 "why define a inner class"
https://github.com/iluwatar/java-design-patterns/blob/310ae50248413c19978e6dcc8811ef6356619ac0/singleton/src/main/java/com/iluwatar/singleton/InitializingOnDemandHolderIdiom.java#L60

why not define a static final field instead of inner class

[2020-01-03 06:18] #1125 closed

[2020-01-04 11:56] liuc-ai commented on #1099
That‘s right.

[2020-01-06 20:35] iluwatar commented on #179
Ok @npczwh

[2020-01-12 20:50] javatlacati opened #1141 "The 7-1 Pattern"
Type: Architectural
Source: https://sass-guidelin.es/#the-7-1-pattern

Basically, you have all your partials stuffed into 7 different folders and a single file at the root level which imports them all to be compiled.

If you check the [sass template for the 7-2 pattern](https://github.com/HugoGiraudel/sass-boilerplate) you will see that the project is pretty much structured as follows:

![7%20in%2

[2020-01-18 18:56] iluwatar commented on #1141
Nice way to organize Sass but I don't think this is a Java Design Pattern exactly.

[2020-01-21 03:01] karthikmucheli opened #1161 "Aggregator Microservices"
Credits link in Aggregator Microservices is responded with a blank page.
The current link is http://blog.arungupta.me/microservice-design-patterns/

[2020-01-21 15:17] iluwatar commented on #1161
Thanks for reporting @karthikmucheli. Would you like to create a pull request for that?

[2020-01-30 06:44] yichen88 opened #1163 "ImperativeProgramming does not demonstracte Imperative-style in CollectonsPipeline Pattern"

[2020-02-01 06:43] iluwatar commented on #1163
Apparently you are talking about this https://github.com/iluwatar/java-design-patterns/blob/master/collection-pipeline/src/main/java/com/iluwatar/collectionpipeline/ImperativeProgramming.java? Could you provide a more detailed description what is missing?

[2020-02-01 13:26] 2w0lil opened #1174 "ha"
hehe

[2020-02-01 13:27] 2w0lil opened #1175 "hehe"
haha

[2020-02-01 13:52] Sxtanna commented on #1163
Am I missing something, or is this an example of purely declarative programming?

[2020-02-02 18:53] #1174 closed

[2020-02-05 05:12] iluwatar commented on #1163
I think you are correct. The imperative style has been lost in recent refactoring. It should look more like https://github.com/iluwatar/java-design-patterns/blob/4904d7eea047b5b924dcf33092ed887300f44d10/collection-pipeline/src/main/java/com/iluwatar/collectionpipeline/ImperativeProgramming.java

[2020-02-26 04:32] npczwh commented on #984
@iluwatar, updated the below patterns in #1190:
layers
lazy-loading
leader-election

[2020-02-28 05:26] Morty-se opened #1191 "There are several CVEs in the project dependencies"
I noticed some of your libraries contained CVEs. I suggest updating their versions to increase the security of your project. The following is a detailed content.
* **Vulnerable Library Version:** net.sourceforge.htmlunit : htmlunit : 2.22
  **CVE ID:** [CVE-2020-5529](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-5529)
  **Import Path:** page-object/sample-application/pom.xml, page-objec

[2020-02-29 06:03] Tarptaeya opened #1192 "Inversion of control principle is mentioned twice"
<img width="1454" alt="Screenshot 2020-02-29 at 11 31 21 AM" src="https://user-images.githubusercontent.com/22481002/75601999-17b67480-5ae7-11ea-97d8-1f76ecdf0001.png">

[2020-02-29 12:07] Meccota commented on #466
Is this issue still open? I saw there are commits, if it needs implementation I would like to take it

[2020-02-29 15:50] kaifeng-h opened #1193 "Inconsistent library versions notice."
Hi. I have implemented a tool to detect library version inconsistencies. Your project have 2 inconsistent libraries.

Take org.assertj:assertj-core for example, this library is declared as version 2.0.0 in naked-objects/dom, 3.9.1 in acyclic-visitor and etc... Such version inconsistencies may cause unnecessary maintenance effort in the long run. For example, if two modules become inter-dependent,

[2020-02-29 20:59] RudolfBun commented on #1086
@iluwatar  Can I work on this issue?

[2020-02-29 22:32] LeonoraGy commented on #347
I'd like to work on this pattern.

[2020-03-03 12:03] protyay opened #1206 "Event Aggregator pattern can be made more granular with emitting notification to specific observers"
The current implementation of the event -aggregator source code chooses to notify all the observers whenever an event source emits an event.
This is can be made more granular with letting the subscriber subscribe with the aggregator for a specific type of event and then ONLY it should be notified in case , such an event is emitted.

I would like to contribute a working version of these example, ma

[2020-03-07 11:13] #1163 closed

[2020-03-11 11:09] Seeyn commented on #1175
???

[2020-03-12 17:00] krisz7118 commented on #460
I'd like to work on this pattern.

[2020-03-21 17:34] Sanaebadi97 opened #1211 "Add a few more design patterns"
tnx for your idea . is a good idea ..you can complete it with added :
1.model-view-view-model
2.model-view-intent

[2020-03-23 17:18] Ali-Jaber opened #1213 "Microservice Tutorials"
I suggestion add series to explained microservies patterns

[2020-03-23 20:09] iluwatar commented on #1192
Fixed with commit https://github.com/iluwatar/programming-principles/commit/15fb5838cdc54f93d898fe894492afe4ea2368cc

[2020-03-23 20:10] #1192 closed

[2020-03-23 20:31] iluwatar commented on #466
@Meccota yes please go ahead

[2020-03-23 20:40] iluwatar commented on #1086
Yes @RudolfBun go ahead

[2020-03-24 01:59] npczwh commented on #1047
@iluwatar @saksham93  In current implementation (ex. abstract-document), we created module-info.java in the code folder (src/main/java/com.iluwatar.abstractdocument),  but my idea suggests to put it in module's source root (src/main/java). And the OpenJDK Guide (http://openjdk.java.net/projects/jigsaw/quick-start) gives the same suggestion. I'd like to know what you think of this. Should we change

[2020-03-25 11:57] happyfeetw commented on #1213
I don't think this is a sort of patterns. Would you give a more specific explanation or definition of "microservices patterns" please?

[2020-03-25 18:41] iluwatar commented on #347
Thanks  @LeonoraGy go ahead

[2020-03-25 19:06] iluwatar commented on #1206
Sounds good @protyay :+1: I'll assign the issue to you. I'm looking forward to your pull request.

[2020-03-25 19:17] #1175 closed

[2020-03-25 19:18] iluwatar commented on #460
Go ahead @krisz7118

[2020-03-26 19:07] iluwatar commented on #1211
@Sanaebadi97 thanks for the suggestion. Could you create new issues for each of the new patterns? The description needs to include a link to a definitive source where the pattern is well described so that it can be implemented easily.

[2020-03-26 19:16] #179 closed

[2020-03-26 19:30] iluwatar commented on #1047
@npczwh @saksham93 I think you're right. The module-info.java should be at the source root (src/main/java).
https://stackoverflow.com/questions/46061428/where-to-place-module-info-java-using-java-9

[2020-03-27 09:05] Sanaebadi97 opened #1215 "add Model-View-ViewModel Design Pattern"
Intro to the Model-View-ViewModel Design Pattern

https://dzone.com/articles/model-view-viewmodel-design

https://www.journaldev.com/20292/android-mvvm-design-pattern

[2020-03-27 09:07] Sanaebadi97 opened #1216 "add MVI(Model-View-Intent) Pattern"
MVI - a Reactive Architecture Pattern

https://medium.com/mindorks/mvi-a-reactive-architecture-pattern-45c6f5096ab7

https://medium.com/code-yoga/mvi-model-view-intent-pattern-in-android-98c143d1ee7c

[2020-03-27 09:07] Sanaebadi97 commented on #1211
Ok, See [this](https://github.com/iluwatar/java-design-patterns/issues/1215#issue-588988342) and [this](https://github.com/iluwatar/java-design-patterns/issues/1216#issue-588989214)!

[2020-03-28 18:12] iluwatar commented on #1213
@Ali-Jaber please describe the patterns in more detail including the relevant links where the patterns are described in more detail so they can be implemented.

[2020-03-28 18:26] #1161 closed

[2020-03-29 18:05] iluwatar commented on #1211
Thanks @Sanaebadi97, I think we can now close this issue since it has been split into the two new ones.

[2020-03-29 18:05] #1211 closed

[2020-03-31 07:54] aly-jaber opened #1217 "SOLID Principles"
Can you to and examples in details  about SOLID Principles please
Thanks for your effort

[2020-03-31 16:33] iluwatar opened #1218 "Arrange, Act, Assert pattern"
AAA is a way to structure your unit tests so they're easier to read, maintain, and enhance.

Reference: https://blog.ncrunch.net/post/arrange-act-assert-aaa-testing.aspx

[2020-03-31 19:27] Meccota commented on #346
@iluwatar Is this issue free to take? I'd like to work on this

[2020-03-31 20:03] iluwatar commented on #346
@Meccota yes, go ahead

[2020-04-03 15:09] nanlliu commented on #1218
hi im a beginner. can u elaborate more? so what should be done?

[2020-04-04 13:34] kwbr commented on #1218
For me it sounds just like a different name for Given-When-Then.
https://en.wikipedia.org/wiki/Given-When-Then

[2020-04-04 21:45] mohanaraosv opened #1219 "Rule engine design pattern"
**Description:**
The Rules design pattern is a behavioral design pattern that enables the encapsulation of business rules into isolated, reusable units. This pattern allows for the dynamic application of business logic at runtime and promotes the separation of concerns, making the system more modular and easier to maintain.

**Main Elements of the Pattern:**
1. **Rule Interface**: Defines the cont

[2020-04-07 03:48] npczwh commented on #1218
I think you are right. You can also look at it as a reformulation of the Four-Phase Test pattern.
https://martinfowler.com/bliki/GivenWhenThen.html

[2020-04-08 10:00] npczwh commented on #1218
@iluwatar , I'd like to take this

[2020-04-08 18:14] mohanaraosv commented on #1219
I will work on this.

[2020-04-09 19:01] iluwatar commented on #1218
Ok @npczwh

[2020-04-09 19:02] iluwatar commented on #1219
Great @mohanaraosv

[2020-04-12 23:03] anuragagarwal561994 commented on #984
@iluwatar picked all m in https://github.com/iluwatar/java-design-patterns/pull/1220

[2020-04-12 23:03] anuragagarwal561994 commented on #987
@iluwatar picked all m in https://github.com/iluwatar/java-design-patterns/pull/1220

[2020-04-14 14:27] npczwh commented on #984
@iluwatar, updated the below patterns in #1222:
object-mother
object-pool
observer

[2020-04-15 11:16] sasipriya1506 opened #1223 "Java"
Supet

[2020-04-16 07:27] gnehsuy opened #1224 "1元秒杀！Flink 从入门到进阶，大厂必备的大数据前沿技术，42 讲带你轻松通关！(1元优惠仅限4月16日晚24点以前)，点此获取☞"
![10ce3ae3d1c98a93cb98236ceca5548](https://user-images.githubusercontent.com/13401581/79427134-c14db880-7ff6-11ea-85b6-1673381fb087.png)

[2020-04-16 07:49] gnehsuy opened #1225 "分布式技术一站通关！大厂面试真题 + 业务场景实践，点此获取☞"
![405953a2b1c00040130c3bf00fc4546](https://user-images.githubusercontent.com/13401581/79429179-c3fddd00-7ff9-11ea-8d75-08ef7d88d69a.png)

[2020-04-16 08:14] gnehsuy opened #1226 "spark实战课程，点此获取☞"
![33d4ce739f72c28921b6430e25cc4a9](https://user-images.githubusercontent.com/13401581/79431634-4c31b180-7ffd-11ea-8146-cbb89a22ccdc.png)

[2020-04-18 13:53] oneslideicywater opened #1227 "How to Build the whole project with maven"
can you add more document about building the project with maven?
I want to build the whole project with only one command,so that I can
browse the code in IDE

[2020-04-26 12:09] #1223 closed

[2020-04-27 13:24] anancds commented on #1227
mvn clean package -DskipTest

[2020-05-06 07:53] gagan-kolakaluri opened #1230 "Design Patterns"

[2020-05-06 07:56] #1230 closed

[2020-05-06 16:59] jasciiz opened #1231 "no comment should in json"
in naked-objects, there are comments in
dom/src/main/java/domainapp/dom/app/homepage/HomePageViewModel.layout.json , but we can not add any comment in it.

[2020-05-07 03:47] Hrighter commented on #556
Hi，I wrote a demo of component pattern and raised a pull request.

[2020-05-07 07:47] ZhouSky commented on #870
Hi, I'd like try to write a simple demo for this pattern.

[2020-05-08 08:40] jasciiz commented on #351
please check it.

[2020-05-10 08:23] SaptarshiBasu-programmer opened #1236 "This is my new Repo"

[2020-05-11 02:39] MingjiaLi666 commented on #1216
working on it

[2020-05-11 19:24] venkatrs-ch197 commented on #1217
Hi,
Please find the below link for SOLID Principles document along with examples
[https://github.com/venkatrs-ch197/solid-principles](url)

[2020-05-13 12:56] npczwh commented on #203
@iluwatar  I'd like to take this

[2020-05-13 15:24] venkatrs-ch197 commented on #984
Hi,

I'd like to work on **[ ] module** pattern.
Can I proceed with this?

[2020-05-17 18:50] #1218 closed

[2020-05-17 18:54] iluwatar commented on #1231
Sorry, I don't understand what the problem is. Please clarify.

[2020-05-17 18:55] iluwatar commented on #1231
Your PR doesn't make any sense https://github.com/iluwatar/java-design-patterns/pull/1232

[2020-05-17 18:55] #1231 closed

[2020-05-17 19:23] iluwatar opened #1241 "Travis build status does not show on incoming pull requests"
Recently the Travis check has been missing in the incoming pull requests.

[2020-05-18 05:32] Smssyed8 opened #1242 "Facing build issue after importing as existing maven projects."

[2020-05-18 05:37] Smssyed8 opened #1243 "Facing build issue after importing as existing projects"
![image](https://user-images.githubusercontent.com/4586741/82177490-3e6e9500-98f7-11ea-9f02-0757cf77b916.png)

Observed below
- Plugin execution not covered by lifecycle configuration: com.iluwatar.urm:urm-maven-
 plugin:1.4.8:map (execution: default, phase: process-classes)
- Plugin execution not covered by lifecycle configuration: org.commonjava.maven.plugins:directory-
 maven-plugin:0.3.1:direc

[2020-05-18 05:38] Smssyed8 commented on #1243
refered
https://github.com/actiontech/dble/issues/297

[2020-05-18 05:39] Smssyed8 commented on #1242
No description added, so closing this issue

[2020-05-18 05:39] #1242 closed

[2020-05-18 05:43] Smssyed8 commented on #1243
The added xml above is not displaying in commment

  <pluginExecutions>
    <pluginExecution>
      <pluginExecutionFilter>
        <groupId>com.iluwatar.urm</groupId>
        <artifactId>urm-maven-plugin</artifactId>
        <versionRange>1.4.8</versionRange>
        <goals>
          <goal>map</goal>
        </goals>
      </pluginExecutionFilter>
      <action>
        <ignore />
      </action

[2020-05-18 07:22] venkatrs-ch197 commented on #984
Hi @iluwatar,

Can you please look into my pull request #1238 and let me know if any changes required.

Thanks,
Venkat

[2020-05-22 22:50] pshirley commented on #590
:@iluwatar OK if I work on an explanation for Mediator?

[2020-05-24 13:57] iluwatar commented on #870
Yes @ZhouSky go ahead

[2020-05-26 11:59] xiaod-dev opened #1245 "Translation to other languages"
#I think this is a very nice repo to learn java design patterns.But as I see, there still no translations for other languages.So I want to join this repo and **translate this into chinese** if It's possible.(I' m a Chinese)

[2020-05-27 16:00] iluwatar opened #1246 "Service Mesh pattern"
**Description:**
The Service Mesh design pattern is a dedicated infrastructure layer for managing service-to-service communication within a microservices architecture. It aims to address the complexities associated with the growing number of services by providing observability, security, and reliability without altering application code. The main elements of the pattern include:

1. **Service Disc

[2020-05-31 07:01] #1236 closed

[2020-05-31 07:03] iluwatar commented on #1216
Ok @MingjiaLi666

[2020-05-31 07:07] iluwatar commented on #1217
I would suggest making a pull request against https://github.com/iluwatar/programming-principles. This way the principles can be published to https://java-design-patterns.com/principles/ page @venkatrs-ch197

[2020-05-31 07:40] iluwatar commented on #203
Ok @npczwh

[2020-05-31 07:52] iluwatar commented on #590
Thanks @pshirley go ahead. Your contribution is warmly welcome!

[2020-05-31 07:58] iluwatar commented on #1245
@xiaod-dev this is a roadmap item we haven't started to implement yet. See https://github.com/iluwatar/java-design-patterns/wiki/13.-Roadmap.

For these kind of larger roadmap items we usually design it first into the wiki https://github.com/iluwatar/java-design-patterns/wiki and then chop it into smaller pieces to make it implementable.

@xiaod-dev if you're interested to take on this kind of big

[2020-05-31 08:24] iluwatar commented on #871
@ormalka12 still working on this?

[2020-05-31 12:44] cloudeswift commented on #873
It.s seems better to add a final prefix before String delete, modify, insert。
`public interface IUnitOfWork<T> {
  String INSERT = "INSERT";
  String DELETE = "DELETE";
  String MODIFY = "MODIFY";`

[2020-05-31 16:32] ormalka12 commented on #871
I sorry no:(

בתאריך יום א׳, 31 במאי 2020, 11:25, מאת Ilkka Seppälä ‏<
notifications@github.com>:

[2020-06-02 03:04] xiaod-dev commented on #1245
You mean I should edit the wiki first?It's seems I have no right to do this. And another problem, I don't know the organize rules of translate files...

[2020-06-02 14:39] iluwatar commented on #1245
Yes, @xiaod-dev we need to plan how the internationalization will be implemented. Can you try editing the wiki again? I updated the access rights so that anyone can edit. What comes to the organization rules this is what we need to design and document among other things.

[2020-06-02 14:39] iluwatar commented on #1245
@xiaod-dev here's an example roadmap item that was designed earlier https://github.com/iluwatar/java-design-patterns/wiki/16.-Java-11-Transition.

[2020-06-07 04:10] xiaod-dev commented on #1245
I write a first simple version of "15.-Support-for-multiple-languages".Help me review it if there is something missing or wrong. I think we should just use one method to organize our translated files.
https://github.com/iluwatar/java-design-patterns/wiki/15.-Support-for-multiple-languages

[2020-06-07 09:18] iluwatar commented on #1245
Thanks for working on this @xiaod-dev. In this design document we need to envision how we want the end result to look like. We have multiple ways how the user can approach the repository:

1. Browse the Github repository directly https://github.com/iluwatar/java-design-patterns
2. Use the web site https://java-design-patterns.com

For 1) one option is to use links to translations like described he

[2020-06-07 12:40] xiaod-dev commented on #1245
Actually,I don't know how the website works.It seems like it is a static web project and use the original docs from this repo. Is it use github io?
I find a previous issue on the java-design-patterns-web repo.https://github.com/iluwatar/java-design-patterns-web/issues/3
Is there any chance that we could use gitlocalize to translate?

[2020-06-07 14:58] iluwatar commented on #1245
Yes, that's correct. The web site is a static one generated with Jekyll and uses the markdown files from the repository. The site is served from AWS S3 and uses CloudFront CDN.
At first glance I think gitlocalize looks good and we could try it out. Yes, https://github.com/iluwatar/java-design-patterns-web/issues/3 is related issue.

[2020-06-10 07:39] tranvantriet opened #1253 "Issue build with java 8"
Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.8.1:compile (default-compile) on project abstract-factory: Fatal error compiling: invalid flag: --module-path -> [Help 1]

[2020-06-11 15:54] MiJack commented on #1245
It seems that the website gitlocalize provide a good experience for the translation. If gitlocalize can provide a Jekyll plugin, we can use it for the multi-language website.

[2020-06-14 17:07] iluwatar commented on #1241
Fixed, moved from Travis to Github Actions

[2020-06-14 17:10] iluwatar commented on #1241
Sonar analysis still needs to be integrated with Github Actions
https://sonarcloud.io/dashboard?id=iluwatar_java-design-patterns

[2020-06-14 19:17] iluwatar commented on #1241
Added Sonar analysis

[2020-06-14 19:38] #1241 closed

[2020-06-14 19:45] iluwatar commented on #1012
This issue is free for taking again.

[2020-06-15 02:36] IAmPramod commented on #873
@cloudeswift variables of interface are final static by default. This PR is not required https://stackoverflow.com/questions/2430756/why-are-interface-variables-static-and-final-by-default

[2020-06-25 18:29] katy246 commented on #1227
If resolved, please consider closing @oneslideicywater

[2020-06-26 03:28] oneslideicywater commented on #1227
my jdk version is 8u221,so there's still an jdk version problem caused by :

`project abstract-factory: Fatal error compiling: 无效的标记: --module-path -` ,that' `module-info.java` in `abstract-factory` project, which means `invalid token: --module-path`。

[2020-07-03 02:32] hjcui commented on #1253
you need jdk 11 to support var

[2020-07-04 09:07] #870 closed

[2020-07-04 09:42] iluwatar commented on #871
This issue is free for taking again.

[2020-07-04 12:15] iluwatar opened #1258 "Functional core, imperative shell pattern"
https://www.destroyallsoftware.com/screencasts/catalog/functional-core-imperative-shell

[2020-07-04 18:35] iluwatar commented on #1227
@oneslideicywater the project requires JDK 11 to build

[2020-07-04 18:37] iluwatar commented on #1253
Yes, the project requires JDK 11 to build

[2020-07-06 06:55] #1227 closed

[2020-07-06 15:50] iluwatar commented on #347
@LeonoraGy are you still working on this pattern?

[2020-07-06 15:52] iluwatar commented on #346
@Meccota are you still working on this?

[2020-07-06 15:58] iluwatar commented on #203
@npczwh are you still working on this?

[2020-07-06 15:59] iluwatar commented on #199
This issue is free for taking again.

[2020-07-06 16:06] iluwatar commented on #460
@krisz7118 are you working on this?

[2020-07-06 16:09] iluwatar commented on #452
Here's link to PDF that describes the pattern: https://download.microsoft.com/download/B/B/6/BB69622C-AB5D-4D5F-9A12-B81B952C1169/CloudDesignPatternsBook-PDF.pdf

[2020-07-06 16:10] iluwatar commented on #448
@salman-bhai still interested to work on this?

[2020-07-06 16:14] #438 closed

[2020-07-06 16:19] iluwatar commented on #351
@jasciiz are you still working on this?

[2020-07-06 16:21] iluwatar commented on #917
@RemcoBuddelmeijer are you still workin on this?

[2020-07-06 16:22] #914 closed

[2020-07-06 16:24] iluwatar commented on #892
@Anurag870 still working on this?

[2020-07-06 16:26] #850 closed

[2020-07-06 16:27] iluwatar commented on #841
@ormalka12 still working on this?

[2020-07-06 16:34] iluwatar commented on #584
Under construction by https://github.com/jasciiz

[2020-07-06 16:38] iluwatar commented on #511
This issue is free for taking again.

[2020-07-06 16:40] iluwatar commented on #466
@Meccota are you working on this?

[2020-07-06 16:41] #1253 closed

[2020-07-06 16:43] iluwatar commented on #1245
@xiaod-dev are you working on this? Let me know if you need assistance.

[2020-07-06 16:44] iluwatar commented on #1243
Can some Eclipse user confirm this bug?

[2020-07-06 16:45] iluwatar commented on #1219
@mohanaraosv are you working on it?

[2020-07-06 16:46] iluwatar commented on #1216
@MingjiaLi666 still working on it?

[2020-07-06 16:46] #1213 closed

[2020-07-06 16:47] iluwatar commented on #1206
@protyay are you still working on this?

[2020-07-06 16:48] #1141 closed

[2020-07-06 16:51] iluwatar commented on #1047
@saksham93 are you still working on this?

[2020-07-06 16:52] iluwatar commented on #1046
Meta tags were implemented in web site code

[2020-07-06 16:52] #1046 closed

[2020-07-06 16:58] iluwatar commented on #978
@Mistral are you working on this?

[2020-07-06 17:09] saksham93 commented on #1047
@iluwatar  I got busy with something else but I will continue working on this as from tomorrow. Is that fine?

[2020-07-06 18:20] iluwatar commented on #1047
Yes, sure @saksham93

[2020-07-06 19:46] protyay commented on #1206
@iluwatar Hi Sorry, Got busy w/ my day job. I'm still interested but might need some time, especially with the pandemic around.

[2020-07-07 07:33] xiaod-dev commented on #1245
I think we can use gitlocalize.The website shows that  GitLocalize can work with any static site generators including Jekyll.
https://docs.gitlocalize.com/file_formats.html
and I forked this repo into my own git account to initialize it in GitLocalize.The repo url is https://github.com/xiaod-dev/java-design-patterns.
I try to translated the root readme doc in chinese.The url is https://github.com/

[2020-07-07 08:12] iluwatar commented on #1245
@xiaod-dev since you're working on big important feature I'll add you as a collaborator. Then you should be able to initialize GitLocalize with the main repository.

Yes, I'm ok to start with that

Yes, you have my full support. Just let me know what's needed.

[2020-07-07 09:21] xiaod-dev commented on #1245
It seems that only the owner of repository can initialize GitLocalize. bPlease help me initialize GitLocalize through this site:gitlocalize.com. And add me as a member of Team(Moderator)

[2020-07-07 09:44] iluwatar commented on #1245
Ok, done. It started syncing now.

![image](https://user-images.githubusercontent.com/582346/86762754-871d1180-c04f-11ea-9f04-6394fab86b7d.png)

[2020-07-07 10:01] iluwatar commented on #1245
I added a couple of chapters to https://github.com/iluwatar/java-design-patterns/wiki/15.-Support-for-multiple-languages

[2020-07-07 15:37] iluwatar opened #1260 "Compose Method pattern"
https://www.informit.com/articles/article.aspx?p=1398607

[2020-07-07 15:42] iluwatar opened #1261 "Collecting Parameter pattern"
https://wiki.c2.com/?CollectingParameter

[2020-07-07 16:04] iluwatar opened #1262 "Service to Worker pattern"
https://www.oreilly.com/library/view/j2ee-design-patterns/0596004273/re05.html

[2020-07-07 16:06] iluwatar opened #1263 "View Helper pattern"
Description:
The View Helper design pattern aims to separate the business logic from the presentation layer by using helper components to handle processing and formatting. This enhances the maintainability and modularity of the code by promoting a clear separation of concerns.

Main Elements of the Pattern:
- **View Helper**: A component that performs complex formatting or data processing tasks.
-

[2020-07-07 16:07] iluwatar opened #1264 "Composite View pattern"
https://www.oracle.com/technetwork/java/compositeview-137722.html

[2020-07-07 16:11] iluwatar opened #1265 "Asynchronous Page pattern"
https://books.google.fi/books?id=x-7_W0P9KGsC&pg=PT108#v=onepage&q&f=false

[2020-07-07 16:13] iluwatar opened #1266 "Caching Filter pattern"
https://www.oreilly.com/library/view/j2ee-design-patterns/0596004273/re08.html

[2020-07-07 16:15] iluwatar opened #1267 "Resource Pool pattern"
https://codeburst.io/mastering-some-advanced-design-patterns-resource-pool-7197edf1d1cc

[2020-07-07 16:17] iluwatar opened #1268 "Composite Entity pattern"
https://en.wikipedia.org/wiki/Composite_entity_pattern

[2020-07-07 16:20] iluwatar opened #1269 "Data Transfer Hash pattern"
https://www.oreilly.com/library/view/j2ee-design-patterns/0596004273/re12.html

[2020-07-07 16:22] iluwatar opened #1270 "DAO Factory pattern"
https://www.oracle.com/java/technologies/dataaccessobject.html

[2020-07-07 16:26] iluwatar opened #1271 "Procedure Access Object pattern"
https://www.oreilly.com/library/view/j2ee-design-patterns/0596004273/re19.html

[2020-07-07 16:27] iluwatar opened #1272 "PK Block Generator pattern"
https://www.oreilly.com/library/view/j2ee-design-patterns/0596004273/re20.html

[2020-07-07 16:29] iluwatar opened #1273 "Stored Procedures for Primary Keys pattern"
https://books.google.fi/books?id=x-7_W0P9KGsC&pg=PT173#v=onepage&q&f=false

[2020-07-07 16:30] iluwatar opened #1274 "Table Inheritance pattern"
### Description
The Table Inheritance design pattern involves modeling a class hierarchy in a relational database. Each class in the hierarchy is mapped to its own table. The main elements of this pattern include:

- **Class Hierarchy Representation**: Each class in the hierarchy has its own table.
- **Primary Key**: All tables share a common primary key.
- **Relationships**: Tables are related th

[2020-07-07 16:31] iluwatar opened #1275 "Serialized Entity pattern"
https://www.oreilly.com/library/view/j2ee-design-patterns/0596004273/re21.html

[2020-07-07 16:32] iluwatar opened #1276 "Tuple Table pattern"
https://www.oreilly.com/library/view/j2ee-design-patterns/0596004273/re24.html

[2020-07-07 16:43] iluwatar opened #1277 "Service Adapter pattern"
http://ommolketab.ir/aaf-lib/axkwht7wxrhvgs2aqkxse8hihyu9zv.pdf chapter 9.2

[2020-07-07 16:44] iluwatar opened #1278 "Session Facade pattern"
### Description:
Implement the Session Facade design pattern to simplify interactions between clients and complex subsystems within our project. The Session Facade pattern provides a unified interface to a set of interfaces in a subsystem, making it easier for clients to use the system by reducing the number of interactions required. This pattern promotes loose coupling and enhances scalability an

[2020-07-07 16:47] iluwatar opened #1279 "Transactional Context pattern"
http://ommolketab.ir/aaf-lib/axkwht7wxrhvgs2aqkxse8hihyu9zv.pdf chapter 10.1

[2020-07-07 16:49] iluwatar opened #1280 "Optimistic Concurrency pattern"
http://ommolketab.ir/aaf-lib/axkwht7wxrhvgs2aqkxse8hihyu9zv.pdf chapter 10.2

[2020-07-07 16:49] iluwatar opened #1281 "Pessimistic Concurrency pattern"
http://ommolketab.ir/aaf-lib/axkwht7wxrhvgs2aqkxse8hihyu9zv.pdf chapter 10.2

[2020-07-07 16:50] iluwatar opened #1282 "Lockable Object pattern"
http://ommolketab.ir/aaf-lib/axkwht7wxrhvgs2aqkxse8hihyu9zv.pdf chapter 10.3

[2020-07-07 16:51] iluwatar opened #1283 "Lock Manager pattern"
http://ommolketab.ir/aaf-lib/axkwht7wxrhvgs2aqkxse8hihyu9zv.pdf chapter 10.3

[2020-07-07 16:51] iluwatar opened #1284 "Version Number pattern"
http://ommolketab.ir/aaf-lib/axkwht7wxrhvgs2aqkxse8hihyu9zv.pdf chapter 10.3

[2020-07-07 16:58] iluwatar opened #1285 "J2EE message distribution patterns"
http://ommolketab.ir/aaf-lib/axkwht7wxrhvgs2aqkxse8hihyu9zv.pdf chapter 11.3 ->

[2020-07-07 17:12] iluwatar opened #1286 "Producer Consumer pattern"
https://dzone.com/articles/producer-consumer-pattern

Also in book "Java Concurrency in Practice"

[2020-07-07 17:15] iluwatar commented on #79
Described in book "Patterns of Enterprise Application Architecture" by Fowler

[2020-07-07 17:17] iluwatar opened #1287 "Class Table Inheritance pattern"
https://www.sourcecodeexamples.net/2018/05/class-table-inheritance-pattern.html

[2020-07-07 17:18] iluwatar opened #1288 "Client Session State pattern"
https://dzone.com/articles/practical-php-patterns/practical-php-patterns-client

[2020-07-07 17:20] iluwatar opened #1289 "Coarse-Grained Lock pattern"
https://www.youtube.com/watch?v=-35OPiQwd8k

[2020-07-07 17:22] iluwatar opened #1290 "Concrete Table Inheritance pattern"
http://thierryroussel.free.fr/java/books/martinfowler/www.martinfowler.com/isa/leafTableInheritance.html

[2020-07-07 17:23] iluwatar opened #1291 "Data Mapper pattern"
https://en.wikipedia.org/wiki/Data_mapper_pattern
https://www.sourcecodeexamples.net/2018/04/data-mapper.html

[2020-07-07 17:28] iluwatar opened #1292 "Database Session State pattern"
https://www.youtube.com/watch?v=nXBNY7GK--A

[2020-07-07 17:29] iluwatar opened #1293 "Dependent Mapping pattern"
https://www.sourcecodeexamples.net/2018/05/dependent-mapping-pattern.html

[2020-07-07 17:32] iluwatar opened #1294 "Domain Model pattern"
https://inviqa.com/blog/architecture-patterns-domain-model-and-friends

[2020-07-07 17:33] iluwatar opened #1295 "Embedded Value pattern"
https://www.youtube.com/watch?v=6n5O5mCdnew

[2020-07-07 17:34] iluwatar opened #1296 "Foreign Key Mapping pattern"
https://www.sourcecodeexamples.net/2018/05/foreign-key-mapping-pattern.html

[2020-07-07 17:36] iluwatar opened #1297 "Gateway pattern"
https://stackoverflow.com/questions/4422211/what-is-the-difference-between-facade-and-gateway-design-patterns

[2020-07-07 17:37] iluwatar opened #1298 "Identity Field pattern"
https://www.sourcecodeexamples.net/2018/05/identity-field-pattern.html

[2020-07-07 17:38] iluwatar opened #1299 "Identity Map pattern"
https://www.sourcecodeexamples.net/2018/04/identity-map-pattern.html
https://en.wikipedia.org/wiki/Identity_map_pattern

[2020-07-07 17:39] iluwatar opened #1300 "Implicit Lock pattern"
## Description
The Implicit Lock design pattern ensures that only one thread can execute a particular section of code at a time without requiring explicit lock management by the developer. This is particularly useful in environments where multiple threads need to interact with shared resources, preventing data corruption and ensuring consistency. The pattern leverages synchronized methods or block

[2020-07-07 17:42] iluwatar opened #1301 "Inheritance Mappers pattern"
https://books.google.fi/books?id=vqTfNFDzzdIC&pg=PA303#v=onepage&q&f=false

[2020-07-07 17:43] iluwatar opened #1302 "Layer Supertype pattern"
https://www.sitepoint.com/the-layer-supertype-pattern-encapsulating-common-implementation-in-multi-tiered-systems/

[2020-07-07 17:45] iluwatar opened #1303 "Mapper pattern"
https://books.google.fi/books?id=vqTfNFDzzdIC&pg=PA473#v=onepage&q&f=false

[2020-07-07 17:46] iluwatar opened #1304 "Metadata Mapping pattern"
https://www.sourcecodeexamples.net/2018/04/metadata-mapping-pattern.html

[2020-07-07 17:48] iluwatar opened #1305 "Money pattern"
### Description
The Money design pattern, as described by Martin Fowler, provides a way to encapsulate monetary values and their associated currencies. This pattern helps in handling calculations and operations involving money in a clear and reliable manner, avoiding common issues like rounding errors and ensuring currency consistency.

Key Elements of the Money Pattern:
- Encapsulation of a monet

[2020-07-07 17:51] iluwatar opened #1306 "Optimistic Offline Lock pattern"
https://books.google.fi/books?id=vqTfNFDzzdIC&pg=PA416#v=onepage&q&f=false

[2020-07-07 17:54] iluwatar opened #1307 "Pessimistic Offline Lock pattern"
### Description
The Pessimistic Offline Lock design pattern ensures that only one process can access a particular resource at a time, preventing concurrent modifications and ensuring data consistency. This pattern is particularly useful in distributed systems where multiple processes might attempt to modify the same data. By locking resources before making changes, this pattern avoids conflicts an

[2020-07-07 17:55] iluwatar opened #1308 "Query Object pattern"
https://www.hojjatk.com/2018/08/query-object-pattern.html

[2020-07-07 17:57] iluwatar opened #1309 "Record Set pattern"
https://books.google.fi/books?id=vqTfNFDzzdIC&pg=PA508#v=onepage&q&f=false
https://wiki.c2.com/?RecordSet

[2020-07-07 18:00] iluwatar opened #1310 "Registry pattern"
https://www.martinfowler.com/eaaCatalog/registry.html
https://stackoverflow.com/questions/16744424/whats-the-difference-between-singleton-and-registry-design-pattern
https://wiki.c2.com/?RegistryPattern

[2020-07-07 18:01] iluwatar opened #1311 "Remote Facade pattern"
https://martinfowler.com/eaaCatalog/remoteFacade.html
https://stackoverflow.com/questions/20527419/remote-facade-pattern-vs-facade-pattern
https://www.youtube.com/watch?v=fBSiUo_cVDQ

[2020-07-07 18:02] iluwatar opened #1312 "Row Data Gateway pattern"
https://www.sourcecodeexamples.net/2018/04/row-data-gateway.html

[2020-07-07 18:04] iluwatar opened #1313 "Separated Interface pattern"
https://www.youtube.com/watch?v=d3k-hOA7k2Y

[2020-07-07 18:05] iluwatar opened #1314 "Serialized LOB pattern"
https://martinfowler.com/eaaCatalog/serializedLOB.html
https://www.youtube.com/watch?v=NnT1iZuSlR4

[2020-07-07 18:06] iluwatar opened #1315 "Server Session State pattern"
https://books.google.fi/books?id=vqTfNFDzzdIC&pg=PA458#v=onepage&q&f=false

[2020-07-07 18:08] iluwatar opened #1316 "Single Table Inheritance pattern"
https://www.martinfowler.com/eaaCatalog/singleTableInheritance.html
https://books.google.co.in/books?id=vqTfNFDzzdIC&pg=PA278&redir_esc=y#v=onepage&q&f=false

[2020-07-07 18:09] iluwatar opened #1317 "Special Case pattern"
http://www.codinghelmet.com/articles/reduce-cyclomatic-complexity-special-case

[2020-07-07 18:11] iluwatar opened #1318 "Table Data Gateway pattern"
https://www.martinfowler.com/eaaCatalog/tableDataGateway.html
https://en.wikipedia.org/wiki/Table_data_gateway
https://www.sourcecodeexamples.net/2018/04/table-data-gateway.html

[2020-07-07 18:12] iluwatar opened #1319 "Table Module pattern"
https://inviqa.com/blog/architecture-patterns-domain-model-and-friends

[2020-07-07 18:13] iluwatar opened #1320 "Template View pattern"
### Description:
The Template View design pattern is aimed at creating a consistent structure for rendering views, ensuring that the core layout and styling are maintained while allowing for specific content to be dynamic. This pattern is particularly useful for web applications where views share a common framework but differ in the specific data or content they present. The main elements of the T

[2020-07-07 18:14] iluwatar opened #1321 "Transaction Script pattern"
https://dzone.com/articles/transaction-script-pattern

[2020-07-07 18:16] iluwatar opened #1322 "Transform View pattern"
https://www.martinfowler.com/eaaCatalog/transformView.html
https://books.google.fi/books?id=vqTfNFDzzdIC&pg=PA361#v=onepage&q&f=false

[2020-07-07 18:18] iluwatar opened #1323 "Two Step View pattern"
https://books.google.fi/books?id=vqTfNFDzzdIC&pg=PA365#v=onepage&q&f=false
https://ranjithabalaraman.wordpress.com/category/patterns-of-enterprise-application-architecture/web-presentation-pattern/two-step-view/
http://thierryroussel.free.fr/java/books/martinfowler/www.martinfowler.com/isa/htmlRenderer.html

[2020-07-11 06:50] ormalka12 commented on #841
No, sorry

בתאריך יום ב׳, 6 ביולי 2020, 19:27, מאת Ilkka Seppälä ‏<
notifications@github.com>:

[2020-07-11 14:06] mohanaraosv commented on #1219
I didn't get a chance to work on this, But I would like to contribute to this let it be on my name.

[2020-07-12 12:35] npczwh commented on #203
@iluwatar  I've been busy at work these days. It will take me one or two more months to finish this issue. Is that ok?

[2020-07-12 14:50] RemcoBuddelmeijer commented on #917
@iluwatar I had a bit of a break, but I will continue with it some time later.

[2020-07-13 17:16] maheshsv commented on #1323
Can I take this issue

[2020-07-13 17:16] maheshsv commented on #1323
To work on

[2020-07-13 17:24] maheshsv commented on #1322
Can I work on it pls?

[2020-07-14 12:12] iluwatar commented on #841
This issue is free for taking again.

[2020-07-14 12:13] iluwatar commented on #1219
Ok @mohanaraosv, let me know if you require assistance

[2020-07-14 12:15] iluwatar commented on #203
Ok @npczwh, let me know if you need help

[2020-07-14 12:15] iluwatar commented on #917
Ok @RemcoBuddelmeijer, let me know if you need help

[2020-07-14 12:16] iluwatar commented on #1323
Ok @maheshsv

[2020-07-14 12:17] iluwatar commented on #1322
Yes @maheshsv, please go ahead

[2020-07-19 08:10] ashishtrivedi16 commented on #1321
Hey! can I start working on this issue?

[2020-07-19 08:29] iluwatar commented on #1321
@ashishtrivedi16 yes, please go ahead

[2020-07-19 15:57] RemcoBuddelmeijer commented on #917
@iluwatar No need, I forgot about this PR due to volume of work. Reminder helped me.

[2020-07-21 15:33] ravening opened #1324 "Inheritence in Command pattern"
I see that the `Command` is a class instead of `interface` and all the target actions extends this class.
Typically `Command` should be interface and the targets should implement the interface.
So should we rewrite the command pattern to implement interface rather than using inheritance?

[2020-07-21 15:50] ravening commented on #1286
Can I work on this?

[2020-07-21 15:58] ravening commented on #1286
Looks like this pattern already exists in the code

[2020-07-21 16:36] iluwatar commented on #1324
Yes, I agree that would be the typical scenario and in this case it would suit the example fine.

[2020-07-21 16:38] iluwatar commented on #1286
Yes, it seems it was already implemented in https://github.com/iluwatar/java-design-patterns/issues/271. Closing this as duplicate.

[2020-07-21 16:38] #1286 closed

[2020-07-22 13:49] iluwatar commented on #1324
@ravening let's leave the issue open if somebody wants to implement it

[2020-07-22 16:12] ravening commented on #1324
@iluwatar I can work on it if you are ok with it.
Should I write separate classes/interfaces or rewrite the existing abstract classes with interfaces?

[2020-07-22 16:52] iluwatar commented on #1324
I think you can modify the existing

[2020-07-24 13:25] iluwatar commented on #79
https://www.vertabelo.com/blog/orms-under-the-hood/

[2020-07-24 13:39] iluwatar opened #1325 "Anti-Corruption Layer pattern"
https://docs.microsoft.com/en-us/azure/architecture/patterns/anti-corruption-layer

[2020-07-24 13:41] iluwatar opened #1326 "Asynchronous Request-Reply pattern"
https://docs.microsoft.com/en-us/azure/architecture/patterns/async-request-reply

[2020-07-24 13:42] iluwatar commented on #300
https://docs.microsoft.com/en-us/azure/architecture/patterns/backends-for-frontends

[2020-07-24 13:42] iluwatar opened #1327 "Bulkhead pattern"
https://docs.microsoft.com/en-us/azure/architecture/patterns/bulkhead

[2020-07-24 13:44] iluwatar opened #1328 "Chroreography pattern"
https://docs.microsoft.com/en-us/azure/architecture/patterns/choreography

[2020-07-24 13:46] iluwatar opened #1329 "Claim-Check pattern"
https://docs.microsoft.com/en-us/azure/architecture/patterns/claim-check
Please notice that this is a cloud pattern and should be implemented using cloud technologies (see https://github.com/iluwatar/java-design-patterns/wiki/10.-Technology-selections)

[2020-07-24 13:47] iluwatar commented on #441
https://docs.microsoft.com/en-us/azure/architecture/patterns/compensating-transaction

[2020-07-24 13:48] iluwatar commented on #120
https://docs.microsoft.com/en-us/azure/architecture/patterns/competing-consumers

[2020-07-24 13:48] iluwatar commented on #442
https://docs.microsoft.com/en-us/azure/architecture/patterns/compute-resource-consolidation

[2020-07-24 13:49] iluwatar opened #1330 "Deployment Stamps pattern"
https://docs.microsoft.com/en-us/azure/architecture/patterns/deployment-stamp

[2020-07-24 13:50] iluwatar commented on #183
https://docs.microsoft.com/en-us/azure/architecture/patterns/event-sourcing

[2020-07-24 13:51] iluwatar commented on #199
https://docs.microsoft.com/en-us/azure/architecture/patterns/external-configuration-store

[2020-07-24 13:51] iluwatar commented on #443
https://docs.microsoft.com/en-us/azure/architecture/patterns/federated-identity

[2020-07-24 13:51] iluwatar commented on #444
https://docs.microsoft.com/en-us/azure/architecture/patterns/gatekeeper

[2020-07-24 13:52] iluwatar opened #1331 "Gateway Aggregation pattern"
https://docs.microsoft.com/en-us/azure/architecture/patterns/gateway-aggregation
Please notice that this is a cloud design pattern and should be implemented using cloud technologies (see https://github.com/iluwatar/java-design-patterns/wiki/10.-Technology-selections)

[2020-07-24 13:53] iluwatar opened #1332 "Gateway Offloading pattern"
https://docs.microsoft.com/en-us/azure/architecture/patterns/gateway-offloading
Please notice that this is a cloud design pattern that should be implemented using cloud technologies (see https://github.com/iluwatar/java-design-patterns/wiki/10.-Technology-selections)

[2020-07-24 13:54] iluwatar opened #1333 "Gateway Routing pattern"
https://docs.microsoft.com/en-us/azure/architecture/patterns/gateway-routing

[2020-07-24 13:55] iluwatar opened #1334 "Geode pattern"
https://docs.microsoft.com/en-us/azure/architecture/patterns/geodes
Please notice that this is a cloud design pattern that should be implemented using cloud technologies (see https://github.com/iluwatar/java-design-patterns/wiki/10.-Technology-selections)

[2020-07-24 13:55] iluwatar commented on #445
https://docs.microsoft.com/en-us/azure/architecture/patterns/health-endpoint-monitoring

[2020-07-24 13:55] iluwatar commented on #446
https://docs.microsoft.com/en-us/azure/architecture/patterns/index-table

[2020-07-24 13:56] iluwatar commented on #447
https://docs.microsoft.com/en-us/azure/architecture/patterns/leader-election

[2020-07-24 13:56] iluwatar commented on #448
https://docs.microsoft.com/en-us/azure/architecture/patterns/materialized-view

[2020-07-24 13:57] iluwatar commented on #82
https://docs.microsoft.com/en-us/azure/architecture/patterns/pipes-and-filters

[2020-07-24 13:57] iluwatar commented on #449
https://docs.microsoft.com/en-us/azure/architecture/patterns/priority-queue

[2020-07-24 13:58] iluwatar commented on #161
https://docs.microsoft.com/en-us/azure/architecture/patterns/publisher-subscriber

[2020-07-24 13:59] iluwatar commented on #450
https://docs.microsoft.com/en-us/azure/architecture/patterns/queue-based-load-leveling

[2020-07-24 13:59] iluwatar commented on #453
https://docs.microsoft.com/en-us/azure/architecture/patterns/scheduler-agent-supervisor

[2020-07-24 14:00] iluwatar opened #1335 "Sequential Convoy pattern"
https://docs.microsoft.com/en-us/azure/architecture/patterns/sequential-convoy
Please notice that this is a cloud design pattern that should be implemented using cloud technologies (see https://github.com/iluwatar/java-design-patterns/wiki/10.-Technology-selections)

[2020-07-24 14:01] iluwatar commented on #454
https://docs.microsoft.com/en-us/azure/architecture/patterns/sharding

[2020-07-24 14:01] iluwatar commented on #871
https://docs.microsoft.com/en-us/azure/architecture/patterns/sidecar

[2020-07-24 14:02] iluwatar commented on #455
https://docs.microsoft.com/en-us/azure/architecture/patterns/static-content-hosting

[2020-07-24 14:02] iluwatar commented on #870
https://docs.microsoft.com/en-us/azure/architecture/patterns/strangler

[2020-07-24 14:03] iluwatar commented on #456
https://docs.microsoft.com/en-us/azure/architecture/patterns/throttling

[2020-07-24 14:03] iluwatar commented on #457
https://docs.microsoft.com/en-us/azure/architecture/patterns/valet-key

[2020-07-25 08:39] maheshsv commented on #1311
I can take this , started working on it

[2020-07-25 09:44] iluwatar commented on #1311
Thanks @maheshsv, go ahead

[2020-07-25 10:36] iluwatar opened #1336 "Domain-Oriented Microservice Architecture (DOMA)"
https://eng.uber.com/microservice-architecture/

[2020-07-25 17:23] mohanaraosv commented on #441
I hope you have considered segregating cloud and EIP patterns

[2020-07-25 18:19] iluwatar opened #1337 "xUnit test patterns"
http://xunitpatterns.com/List%20of%20Patterns.html

http://martinfowler.com/books/meszaros.html

[2020-07-26 08:33] iluwatar commented on #441
Interested to hear your ideas, how would you segregate them? At the moment we have categories and tags for the patterns that can be used to distinguish for example cloud patterns and enterprise integration patterns.

[2020-07-26 13:00] iluwatar opened #1338 "Logging in API Gateway"
At the moment api-gateway pattern does not use a proper logger as in other examples. In this issue we fix that.

[2020-07-26 16:24] iluwatar opened #1339 "Service Layer logging broken"
At the moment the Service Layer pattern example does not produce log output at all.

[2020-07-26 17:01] naruto-uzamaki opened #1340 "Model-View-ViewModel"
It is a Design pattern widely implemented in Android Community.Please add this DP also.

[2020-07-26 17:14] iluwatar commented on #1340
It's already planned, see https://github.com/iluwatar/java-design-patterns/issues/1215

[2020-07-26 17:14] #1340 closed

[2020-07-26 19:08] amit1307 commented on #1338
I can work on it, if you would like it to assign it to me?

[2020-07-26 19:54] iluwatar commented on #1338
Thanks @amit1307 please go ahead

[2020-07-27 13:51] #1339 closed

[2020-07-27 17:55] iluwatar commented on #59
@all-contributors please add @iluwatar for code

[2020-07-27 18:03] iluwatar commented on #59
@all-contributors please add @iluwatar for projectManagement

[2020-07-27 18:47] iluwatar commented on #59
@all-contributors update @iluwatar for maintenance blog content doc ideas infra review

[2020-07-27 18:47] iluwatar commented on #59
@all-contributors please add @iluwatar for maintenance blog content doc ideas infra review

[2020-07-28 15:07] iluwatar commented on #798
@all-contributors please add @bernardosulzbach for code

[2020-07-28 15:10] iluwatar commented on #798
@all-contributors please add @yusufaytas for code

[2020-07-28 16:37] iluwatar commented on #798
@all-contributors please add @ankurkaushal for code

[2020-07-28 16:40] iluwatar commented on #798
@all-contributors please add @pitsios-s for code

[2020-07-28 16:42] iluwatar commented on #798
@all-contributors please add @llitfkitfk for content

[2020-07-28 16:49] iluwatar commented on #798
@all-contributors please add @vehpsr for code

[2020-07-28 16:50] iluwatar commented on #798
@all-contributors please add @mookkiah for code

[2020-07-28 16:50] iluwatar commented on #798
@all-contributors please add @llorllale for code

[2020-07-28 16:51] iluwatar commented on #798
@all-contributors please add @igeligel for code

[2020-07-28 16:52] iluwatar commented on #798
@all-contributors please add @hbothra15 for code

[2020-07-28 16:52] iluwatar commented on #798
@all-contributors please add @giorgosmav21 for code

[2020-07-28 16:52] iluwatar commented on #798
@all-contributors please add @oconnelc for code

[2020-07-28 16:53] iluwatar commented on #798
@all-contributors please add @npczwh for code

[2020-07-28 16:53] iluwatar commented on #798
@all-contributors please add @leogtzr for code

[2020-07-28 16:54] iluwatar commented on #798
@all-contributors please add @hannespernpeintner for code

[2020-07-28 16:55] iluwatar commented on #798
@all-contributors please add @dgruntz for code

[2020-07-28 16:55] iluwatar commented on #798
@all-contributors please add @christofferh for code

[2020-07-28 16:56] iluwatar commented on #798
@all-contributors please add @AnaghaSasikumar for code

[2020-07-28 16:56] iluwatar commented on #798
@all-contributors please add @waisuan for code

[2020-07-28 16:57] iluwatar commented on #798
@all-contributors please add @perwramdemark for code

[2020-07-28 16:57] iluwatar commented on #798
@all-contributors please add @leonmak for code

[2020-07-28 16:58] iluwatar commented on #798
@all-contributors please add @kanwarpreet25 for code

[2020-07-28 16:58] iluwatar commented on #798
@all-contributors please add @MSaifAsif for code

[2020-07-28 16:59] iluwatar commented on #798
@all-contributors please add @Alwayswithme for code

[2020-07-28 16:59] iluwatar commented on #798
@all-contributors please add @ranjeet-floyd for code

[2020-07-28 16:59] iluwatar commented on #798
@all-contributors please add @mitchellirvin for code

[2020-07-28 17:00] iluwatar commented on #798
@all-contributors please add @kirill-vlasov for code

[2020-07-28 17:00] iluwatar commented on #798
@all-contributors please add @joningiwork for code

[2020-07-28 17:00] iluwatar commented on #798
@all-contributors please add @jarpit96 for code

[2020-07-28 17:01] iluwatar commented on #798
@all-contributors please add @hoangnam2261 for code

[2020-07-28 17:01] iluwatar commented on #798
@all-contributors please add @fanofxiaofeng for code

[2020-07-28 17:02] iluwatar commented on #798
@all-contributors please add @dmitraver for code

[2020-07-28 17:02] iluwatar commented on #798
@all-contributors please add @besok for code

[2020-07-28 17:03] iluwatar commented on #798
@all-contributors please add @baislsl for code

[2020-07-28 17:03] iluwatar commented on #798
@all-contributors please add @akrystian for code

[2020-07-28 17:04] iluwatar commented on #798
@all-contributors please add @Rzeposlaw for code

[2020-07-28 17:04] iluwatar commented on #798
@all-contributors please add @LuigiCortese for code

[2020-07-28 17:04] iluwatar commented on #798
@all-contributors please add @Juaanma for code

[2020-07-28 17:05] iluwatar commented on #798
@all-contributors please add @7agustibm for code

[2020-07-28 17:05] iluwatar commented on #798
@all-contributors please add @yosfik for code

[2020-07-28 17:05] iluwatar commented on #798
@all-contributors please add @vanogrid for code

[2020-07-28 17:06] iluwatar commented on #798
@all-contributors please add @valdar-hu for code

[2020-07-28 17:06] iluwatar commented on #798
@all-contributors please add @staillebois for code

[2020-07-28 17:07] iluwatar commented on #798
@all-contributors please add @sankypanhale for content

[2020-07-28 17:07] iluwatar commented on #798
@all-contributors please add @prafful1 for content

[2020-07-28 17:08] iluwatar commented on #798
@all-contributors please add @pnowy for code

[2020-07-28 17:08] iluwatar commented on #798
@all-contributors please add @lbroman for code

[2020-07-28 17:09] iluwatar commented on #798
@all-contributors please add @kaiwinter for code

[2020-07-28 17:09] iluwatar commented on #798
@all-contributors please add @jjjimenez100 for code

[2020-07-28 17:09] iluwatar commented on #798
@all-contributors please add @dzmitryh for code

[2020-07-28 17:10] iluwatar commented on #798
@all-contributors please add @christophercolumbusdog for code

[2020-07-28 17:10] iluwatar commented on #798
@all-contributors please add @anthonycampbell for code

[2020-07-28 17:10] iluwatar commented on #798
@all-contributors please add @amogozov for code

[2020-07-28 17:11] iluwatar commented on #798
@all-contributors please add @alexsomai for code

[2020-07-28 17:11] iluwatar commented on #798
@all-contributors please add @MaVdbussche for code

[2020-07-28 17:11] iluwatar commented on #798
@all-contributors please add @Harshrajsinh for code

[2020-07-28 17:12] iluwatar commented on #798
@all-contributors please add @Deathnerd for code

[2020-07-28 17:12] DavidCanlla commented on #798
Fuck off with the spam

El mar., 28 jul. 2020 19:00, Ilkka Seppälä <notifications@github.com>
escribió:

[2020-07-28 17:12] iluwatar commented on #798
@all-contributors please add @Anurag870 for code

[2020-07-28 17:12] iluwatar commented on #798
@all-contributors please add @Amarnath510 for code

[2020-07-28 18:03] amit1307 commented on #1338
Hey, I was trying to start on this one but might need some more info if that's okay.

My understanding of this issue is that we don't have any logger configured for `api-gateway` but after it seems like there is nothing logged at all by any modules under `api-gateway`. So is the requirement here is to add logger as well as the logs or just the logger? Could you please clarify that?

[2020-07-29 14:03] iluwatar commented on #1338
True, there's only a couple of `e.printStackTrace()` currently. I think it would be good to add some basic logging in addition to adding the library. Just so that it's easy to follow the general steps from the output.

[2020-07-29 14:10] iluwatar opened #1444 "Filterer pattern"
https://blog.tlinkowski.pl/2018/filterer-pattern/
https://www.javacodegeeks.com/2019/02/filterer-pattern-10-steps.html

[2020-07-29 16:55] iluwatar commented on #798
@all-contributors please add @trautonen for code

[2020-07-29 17:03] iluwatar commented on #798
@all-contributors please add @yorlov for code

[2020-07-29 17:05] iluwatar commented on #798
@all-contributors please add @varunu28 for code

[2020-07-29 17:06] iluwatar commented on #798
@all-contributors please add @PalAditya for code

[2020-07-29 17:08] iluwatar commented on #798
@all-contributors please add @grzesiekkedzior for code

[2020-07-29 17:11] iluwatar commented on #798
@all-contributors please add @sivasubramanim for code

[2020-07-29 17:12] iluwatar commented on #798
@all-contributors please add @d4gg4d for code

[2020-07-29 17:13] iluwatar commented on #798
@all-contributors please add @vertti for code

[2020-07-29 17:16] iluwatar commented on #798
@all-contributors please add @Bobo1239 for content

[2020-07-29 17:17] iluwatar commented on #798
@all-contributors please add @Jahhein for content

[2020-07-29 17:18] iluwatar commented on #798
@all-contributors please add @iamrichardjones for content

[2020-07-29 17:20] iluwatar commented on #798
@all-contributors please add @rachelcarmena for content

[2020-07-29 17:21] iluwatar commented on #798
@all-contributors please add @zd-zero for content

[2020-07-29 17:23] iluwatar commented on #798
@all-contributors please add @webpro for content

[2020-07-29 17:25] iluwatar commented on #798
@all-contributors please add @hbothra15 for design

[2020-07-29 17:54] iluwatar commented on #798
I think I've now listed all the contributors to the system. Note that also contributions to these repositories affect this system and the web site https://java-design-patterns.com

[2020-07-29 17:58] #798 closed

[2020-07-29 18:02] iluwatar commented on #1245
@all-contributors please add @xiaod-dev for translation

[2020-07-30 05:59] webpro commented on #798
Thank you, but when you start to recognize contributors I think it might be more appropriate to start the page at https://java-design-patterns.com/principles/ with a clear statement saying where this content is originally coming (cloned) from.

[2020-07-30 13:04] iluwatar commented on #798
Thanks @webpro, it's a great suggestion, and I'll make that happen. There's already your name at the bottom of the page but I also think it's good to state the origins at the top too. I created a new issue about this https://github.com/iluwatar/programming-principles/issues/2

[2020-08-01 02:56] charlesfinley opened #1462 "arrange-act-assert Unit Test Corrections"
Minor correction to the unit tests in arrange-act-assert module. The expected/actual params for assertEquals are reversed.

[2020-08-01 03:01] charlesfinley commented on #1462
https://github.com/iluwatar/java-design-patterns/pull/1463

PR submitted to correct this.

[2020-08-01 07:40] #1462 closed

[2020-08-01 08:07] iluwatar commented on #798
@all-contributors please add @MananS77 for review

[2020-08-01 08:45] iluwatar commented on #798
@all-contributors please add @nishant- for code

[2020-08-01 09:48] iluwatar commented on #798
@all-contributors please add @raja-peeyush-kumar-singh for code

[2020-08-01 09:57] iluwatar opened #1468 "Functional implementation of Command pattern"
Command pattern has been implemented in traditional style using classes. In modern Java it's possible to pass around method references. Command pattern example should be amended to demonstrate modern style implementation.

[2020-08-01 11:15] iluwatar opened #1469 "Functional implementation of Strategy pattern"
Strategy has been implemented using Java classes. In modern Java about the same can be achieved by passing methods. Let's amend the Strategy example with functional style implementation.

[2020-08-01 11:28] iluwatar commented on #1002
Wiki updated https://github.com/iluwatar/java-design-patterns/wiki/12.-IDE-instructions

[2020-08-01 12:19] maheshsv commented on #1469
Please assign to me thx

[2020-08-01 12:22] iluwatar commented on #1047
After a bit of reconsideration I've decided not to implement the module infos since it doesn't bring any benefit. In the commit above I remove the existing `module-info.java` files.

[2020-08-01 12:22] #1047 closed

[2020-08-01 12:30] iluwatar commented on #1469
Ok @maheshsv

[2020-08-03 13:30] iluwatar commented on #798
@all-contributors please add @charlesfinley for review

[2020-08-03 14:49] ravening commented on #1468
@iluwatar I just made changes to the command pattern to use interfaces rather than abstract classes. I can probably work on this also. Please assign to me if you are ok with it

[2020-08-03 15:38] amit1307 commented on #1338
Sure, thanks for the info. I should get back in 1-2 days with something.

[2020-08-03 15:42] ravening commented on #1326
I can work on this

[2020-08-03 16:50] iluwatar commented on #1468
Ok @ravening

[2020-08-03 16:51] iluwatar commented on #1326
Yes @ravening

[2020-08-03 17:37] iluwatar opened #1473 "Aggregator Microservices tests broken"
Running the `AggregatorTest` produces

[code]

[2020-08-04 14:50] #1324 closed

[2020-08-04 18:02] mkrzywanski commented on #1444
Hello, I would like to work on this if it is free.

[2020-08-04 18:08] iluwatar commented on #1444
Yes, go ahead @mkrzywanski

[2020-08-06 16:05] iluwatar opened #1477 "Factory pattern"
At the moment we have Factory Method, Abstract Factory and Factory Kit but we are lacking basic Factory. Let's implement that in this ticket.

[2020-08-07 17:41] vINCENT8888801 commented on #987
Hi, I am new to this project. May I work on [ ] null-object?

[2020-08-08 00:52] anuragagarwal561994 commented on #984
@iluwatar picked remaining in https://github.com/iluwatar/java-design-patterns/pull/1479

[2020-08-08 00:54] anuragagarwal561994 commented on #987
@iluwatar picked remaining patterns in https://github.com/iluwatar/java-design-patterns/pull/1479

[2020-08-08 18:37] iluwatar commented on #987
Ok @anuragagarwal561994

[2020-08-08 19:22] vINCENT8888801 commented on #590
Hello, I referred to your other explanation and come up with this private data class explanation. Would love to have some comment and advice. #1482

[2020-08-08 19:35] #984 closed

[2020-08-08 19:35] anuragagarwal561994 commented on #987
@iluwatar finally is it time that we close this :D

[2020-08-08 19:37] iluwatar commented on #987
@anuragagarwal561994 I really think so 😄 I'm grateful for your persistent effort on this 👍🏻

[2020-08-08 19:37] #987 closed

[2020-08-08 19:40] iluwatar opened #1483 "Update/replace Naked Objects example"
Naked Objects example has been implemented using a very old Apache Isis version. In this task we'll replace it with an example generated using the latest Isis.

Apache Isis framework: https://isis.apache.org/

[2020-08-09 13:38] amit1307 commented on #1338
Hey, have raised the PR to add some logs. Please let me know if you have any feedback on the change.

[2020-08-09 14:03] amit1307 commented on #1473
I have bit of an idea about this issue:
1. Tests are running fine it's just a warning.
2. The warning is caused by an older version of mockito, if we see the warning stack it shows 1.10 which is very old.
3. Enforcing any mockito version >= 2.23.4 should fix this issue.
4. More info https://github.com/mockito/mockito-cglib/issues/1

Happy to fix it if you would like it assign to me.

[2020-08-09 14:58] iluwatar opened #1486 "Upgrade mockito"
The current version declared in the main `pom.xml` is very old:

[code]

Let's try to upgrade it to a newer version in this task.

[2020-08-09 14:58] iluwatar commented on #1473
Many thanks @amit1307 for looking into this. Yes, I agree it seems to be just a warning. I created a new ticket about upgrading mockito version, see https://github.com/iluwatar/java-design-patterns/issues/1486. Please comment there if you want to work on it.

[2020-08-09 14:59] #1473 closed

[2020-08-09 16:32] amit1307 commented on #1486
I can look into it if you can assign it to me please.

[2020-08-09 18:31] iluwatar commented on #1486
Ok @amit1307

[2020-08-10 07:48] maheshsv commented on #1469
Do we need to implement Strategy Pattern using Lambda Expressions in Java 8

[2020-08-10 12:49] iluwatar commented on #1469
Yes, that would be great addition to this pattern example

[2020-08-10 13:27] #1338 closed

[2020-08-11 05:12] maheshsv commented on #1469
ok can i create a branch and work on it, ?

[2020-08-11 14:00] #1321 closed

[2020-08-11 14:28] iluwatar commented on #1469
Go ahead @maheshsv

[2020-08-11 21:01] charlesfinley commented on #1486
If you are going to upgrade Mockito, you should probably consider upgrading the entire repo to JUnit 5. It will be a big update but it's worthwhile as JUnit 5 has some nice improvements.

[2020-08-13 10:11] viveksb007 commented on #1310
Hi @iluwatar
I would like to work on it.

[2020-08-13 15:42] iluwatar commented on #1310
Ok @viveksb007

[2020-08-15 09:50] ToxicDreamz commented on #1012
I would like to take this issue.

[2020-08-15 11:04] ToxicDreamz commented on #1012
Through out checking the files causing issues on SonarCloud, I've encountered test cases that are not properly named to the functionality that they are to be tested against.

Example`

In-correct naming convention of a test method.

Correct naming convention of a test method.

A test method should describe what its testing directly in the naming, I will rename the test cases that I find throughout

[2020-08-15 17:53] iluwatar commented on #798
@all-contributors please add @xdvrx1 for review

[2020-08-15 17:57] iluwatar commented on #1012
Ok @ToxicDreamz, assigned to you. I agree with your comment regarding test naming.

[2020-08-15 18:00] viveksb007 commented on #1310
Hi @iluwatar,

I understood that Registry Pattern is similar to `Multiton` pattern, the only difference is no restrictions on numbers of objects.
In simple words, it stores <key, object> and there is no restriction on number of objects stored.

So I am thinking of creating a `CustomerRegistry` which will store customer objects (with `customerId` as key) and provide a global access to them. It requ

[2020-08-15 18:04] ToxicDreamz commented on #1012
I've already finished with the issue.

Request to run another SonarCloud report after merging, to see what else remains, and whether or not they can be modified so issues do not come up again.

[2020-08-16 12:10] iluwatar commented on #1310
I've understood that typically Registry pattern is implemented with separated interface and implementation. Basically there's two methods in the registry object: One to add objects to the registry and another to query them. It's also good to demonstrate how testing is handled in the pattern. To your question whether Factory should be used or not, I would not create one. I think initializing the re

[2020-08-17 16:10] iluwatar commented on #798
@all-contributors please add @xdvrx1 for ideas

[2020-08-18 17:18] iluwatar commented on #1245
@xiaod-dev are you still working on this, and do you need assistance?

[2020-08-19 01:47] xiaod-dev commented on #1245
@iluwatar yeah, I got some problems here. The Gitlocalize shows application error when I try to access this [url](https://gitlocalize.com/repo/4984/zh) .Can you visit this page successfully? I send emails and send messages through their homepage,also submit a [issue](https://github.com/gitlocalize/feedback/issues/87) but still got no responses.....

[2020-08-19 17:17] iluwatar commented on #1245
@xiaod-dev yes, it shows me the application error as well when visiting the above url.

[2020-08-19 17:21] iluwatar commented on #1245
In the settings view there's an option to delete a language. Should we try deleting and adding it again? The translations so far can be accessed from git history anyway.
![image](https://user-images.githubusercontent.com/582346/90668948-81733800-e259-11ea-9f15-22000826e021.png)

[2020-08-20 07:56] xiaod-dev commented on #1245
@iluwatar yeah, I think we can have a try. And if it doesn't work, may be we can delete the hole project in gitlocalize and add it again?

[2020-08-21 01:55] xiaod-dev commented on #1245
Ah...In that way,I think temporarily I have to translate and send pull request manually...

[2020-08-21 14:32] iluwatar opened #1500 "Use the same JUnit version everywhere"
At the moment there are some modules that are still using JUnit 4. Most of the codebase uses JUnit 5, but even with that there are different versions. For example `unit-of-work` and `partial-response` declare their own versions.

In this ticket let's try to apply the same version of JUnit 5 everywhere upgrading from JUnit 4 where needed.

## This issue has been partially addressed using #1542 and

[2020-08-22 10:30] iluwatar opened #1503 "Introduce Lombok to get rid of boilerplate"
[Project Lombok](https://projectlombok.org/) enables using of annotations to generate code. Let's introduce it to the project to reduce amount of boilerplate. In the first stage we could utilize the simplest annotations like `@Getter @Setter @Slf4j @ToString @EqualsAndHashCode`. I think the more advanced ones sacrifice code readability and should be avoided.

[2020-08-24 15:30] amit1307 commented on #1486
Hey, sorry I was out of the town for few days and came back this week. Just catching up the stuff. I should get back with some progress soon. Hope that's fine.

[2020-08-24 21:23] stefanbirkner commented on #1500
@ToxicDreamz FYI: I created #1505 which removes the dependency of `subclass-sandbox` to Rule, which is a JUnit 4 only feature.

[2020-08-25 13:35] ToxicDreamz commented on #1500
@stefanbirkner Okay, thank you for the heads up. I'll wait for @iluwatar to merge that PR, until I continue with that module.

[2020-08-25 14:41] iluwatar commented on #1500
It's merged now

[2020-08-25 23:19] amit1307 commented on #1503
Hello @iluwatar, I can work on this issue if its still unassigned?

[2020-08-26 18:21] #1486 closed

[2020-08-26 18:22] iluwatar commented on #1503
Sure @amit1307, go ahead

[2020-08-27 03:51] sumanthsumu1418 opened #1508 "Jaca design patterns"

[2020-08-29 07:06] #1508 closed

[2020-08-29 12:58] iluwatar opened #1510 "Improvements needed to Circuit Breaker"
I suggest we make several improvements to the Circuit Breaker pattern:
- Make `CircuitBreaker` more generic so that it doesn't need to be modified when applied to new services (see https://java-design-patterns.com/principles/#openclosed-principle)
- Make `MonitoringService` call couple of different remote services to demonstrate usage of `CircuitBreaker`
- Make `CircuitBreaker` delay algorithm con

[2020-08-29 14:55] samilAyoub commented on #1477
@iluwatar do you mean simple Factory?

[2020-08-29 15:29] iluwatar commented on #1477
Yes @samilAyoub, would you like to implement that?

[2020-08-29 17:26] samilAyoub commented on #1477
@iluwatar yes, i'll give it a try

[2020-09-01 06:19] ramazansakin commented on #52
Hi @iluwatar ,

I can add a simple app for virtual-pattern but when I studied the code a little, I saw some files that need to be added. How can I create these files. Or if I just add the sample project, would it be enough?

[2020-09-01 13:37] iluwatar commented on #52
What files do you mean? I expect that implementing this pattern brings quite many new files anyway. You're not talking about source code files, are you?

[2020-09-01 13:42] ramazansakin commented on #52
I made a png file for uml diagrams but not similar with other samples and .puml file and also I saw a block almost every sample as "The MIT License
 * Copyright © 2014-2019 Ilkka Seppälä".
Is this necessary to add any sample ?

[2020-09-01 14:33] iluwatar commented on #52
puml file is autogenerated from code. From that you can generate the image and it will be similar as in other pattern examples.

Similarly there is a license checker plugin in the project that will add the missing licenses for you.

[2020-09-02 09:01] ramazansakin commented on #52
@iluwatar  Yes, I saw the other samples, and I researched a little and I found plantUml plugin and I tried to generate them but still I can not auto generate them. Also, I researched about auto generating for uml and png part but still could not. I implement a sample for virtual field pattern and also blackboard but just left etc folders

[2020-09-02 16:57] iluwatar commented on #52
Can you give a link to your code? I could take a look.

[2020-09-04 18:49] jporwal05 commented on #1326
@ravening I can help if you would like. I am new to this project and would like to contribute. Do let me know.

[2020-09-04 21:21] aryanveer commented on #1243
Hi @Smssyed8 , can you mention the steps followed to build the project in eclipse? I was having the same issue, but I managed to rectify the errors.

[2020-09-05 17:32] aryanveer commented on #1243
Please assign this issue to me.

[2020-09-05 17:34] iluwatar commented on #1243
Ok @aryanveer

[2020-09-05 19:16] swarajsaaj commented on #1313
Can I implement this pattern?

[2020-09-06 06:24] swarajsaaj commented on #1510
Can I pick this one?

[2020-09-06 16:35] #1477 closed

[2020-09-06 16:53] iluwatar commented on #1313
Sure @swarajsaaj, go ahead!

[2020-09-06 17:04] iluwatar commented on #1333
Duplicate of https://github.com/iluwatar/java-design-patterns/issues/297

[2020-09-06 17:04] #1333 closed

[2020-09-06 17:08] iluwatar commented on #1510
Thanks @swarajsaaj, please go ahead

[2020-09-06 17:09] samilAyoub commented on #1336
@iluwatar I can give this a try.

[2020-09-06 17:10] iluwatar commented on #1336
Great @samilAyoub, go ahead

[2020-09-09 10:43] ramazansakin commented on #52
@iluwatar , I forked the project and added a module as virtual-field, and I can not push my changes its getting denied error. Some permission problems or anything else ?

[2020-09-12 16:13] iluwatar commented on #52
There shouldn't be any problems if you are trying to push to your forked repository. I can imagine that it fails if you are trying to push to the master repository - that's only allowed for collaborators.

[2020-09-12 16:58] #847 closed

[2020-09-13 14:18] swarajsaaj commented on #1510
@iluwatar Here is my proposed approach for the requested improvements, please provide your thoughts :
1. `CircuitBreaker` will be refactored to an interface, with a `DefaultCircuitBreaker` implementation (with current time-based logic)
2. Introduce a `RemoteService` interface with `call()` method, which will be injected in `CircuitBreaker` implementation class and can be executed for any `RemoteSe

[2020-09-13 14:25] #1313 closed

[2020-09-14 04:21] swarajsaaj commented on #1282
Can I work on this issue?

[2020-09-26 05:50] PalAditya commented on #1320
Hi @iluwatar , I would like to work on this issue if possible please
If I understand correctly, all this pattern is concerned with is creating a dynamic HTML page content based on markups, and ensuring that processing logic is delegated to the Java application, not the html page, right?
Would replicating the model shown in the link by a templating engine like Thymeleaf (with a little more added co

[2020-09-26 10:04] iluwatar commented on #1267
Duplicate of Object Pool

[2020-09-26 10:04] #1267 closed

[2020-09-26 10:08] iluwatar commented on #1282
Go ahead @swarajsaaj

[2020-09-26 11:04] amit1307 commented on #1503
Sorry for the delay, have just started on this issue. Since it's going to be a big change so I am thinking to do it in smaller chunks, please let me know if that's okay and here is the first PR: https://github.com/iluwatar/java-design-patterns/pull/1527

[2020-09-27 13:47] mookkiah commented on #1500
Using JUnit 5 in Trampoline module. PR #1529 created.

[2020-10-01 16:57] ohbus commented on #1503
Can I take it up @amit1307

[2020-10-01 17:23] amit1307 commented on #1503
Sorry @ohbus it's in progress on my side and I am kind of in the middle of it so not sure it would be a good idea for you to take it up.

[2020-10-01 17:46] ohbus opened #1536 "Add Caching of SonarCloud packages"
- [x] Add Caching of SonarCloud packages to make build time faster and more efficient

[2020-10-01 17:50] ohbus opened #1537 "CI and PR builder are failing due to this error."
Stacktrace:
[code]

[2020-10-01 21:36] carousel commented on #1503
Hi everybody,

I am very familiar with Lombok and I use it often. I can work on this issue @iluwatar so feel free to assign issue to me also.

[2020-10-02 06:02] ohbus commented on #1503
Sure No problem. Go ahead!

[2020-10-02 12:19] anuragagarwal561994 commented on #1012
@iluwatar happy to be back again :)
Can I help with this issue?

[2020-10-02 14:38] viveksb007 commented on #1332
Hey @iluwatar
I would like to work on it.

[2020-10-04 11:37] iluwatar commented on #1320
@PalAditya yes, I agree with your analysis. It should be sufficient to demonstrate how a templating engine is typically used to render HTML pages.

[2020-10-06 14:57] Shrirang97 commented on #462
Can you explain the issue?

[2020-10-06 19:21] Shrirang97 commented on #1335
Assigned it to me!

[2020-10-06 20:36] Borumer commented on #1334
I'll take this up

[2020-10-07 05:00] dieuph commented on #1483
Hi @iluwatar, I'll take it up.

[2020-10-07 17:27] Shrirang97 commented on #1329
Can you assigned this to me? I have already worked upon Azure Cloud Technologies by using this pattern.

[2020-10-08 13:55] JuanfPuebla opened #1551 "Describe de forma clara y concisa lo que hace Consulte el problema que resuelve, si está disponible"
tengo cambios algunas palabras y error gramatical

Descripción de la solicitud de extracción

    Describe los principales cambios que vienen con la solicitud de extracción.
    Se proporciona cualquier información adicional relevante

    Para obtener instrucciones detalladas de contribución, consulte https://github.com/iluwatar/java-design-patterns/wiki/01.-How-to-contribute

[2020-10-08 13:57] JuanfPuebla commented on #1099
Asi es.

[2020-10-09 15:08] kelumsampath commented on #1297
Hi @iluwatar! can I work on this issue?

[2020-10-10 07:32] sgarg5794 commented on #1503
Hi @iluwatar ,
I have 3 years of work experience in micro services development where i have worked on lombok , Can i take up this issue if it is still unassigned?

[2020-10-10 07:34] sgarg5794 commented on #1537
Hi Ohbus ,
Can i pickup this issue if it is still unassigned?

[2020-10-10 07:35] sgarg5794 commented on #1500
I want to work on this issue if its is still unassigned .

[2020-10-10 09:03] ilhan-mstf commented on #1270
Hi, I would like to work on this issue. Can you assign it to me?

[2020-10-10 15:51] #1536 closed

[2020-10-11 06:09] ohbus commented on #1537
This has been resolved here [**`21ca47`**](https://github.com/iluwatar/java-design-patterns/commit/21ca47a22e4115a232b857343a90a5885302bdac)

Thanks @iluwatar

[2020-10-11 06:09] #1537 closed

[2020-10-12 01:07] daniel-augusto commented on #1012
I will resolve the report:

https://sonarcloud.io/project/issues?id=iluwatar_java-design-patterns&open=AW5RukINqcCiTG-gJi15&resolved=false&severities=CRITICAL

[2020-10-12 15:30] manannikov commented on #1284
@iluwatar I would like to implement this one

[2020-10-13 06:50] IsuruAriyarathne commented on #1468
can you assign this to me. I will comeup with a examle.

[2020-10-13 09:00] va1m commented on #1503
Hi @iluwatar,
Check the PR, please.

[2020-10-13 17:23] elouie-code commented on #1099
@iluwatar can you please assign this to me?

[2020-10-13 17:31] manannikov commented on #1284
I have created pull request, please review

[2020-10-13 17:42] OrangePants-R commented on #525
@iluwatar I'd be happy to add the external links.  Would you assign to me?

[2020-10-13 17:47] elouie-code commented on #1099
@iluwatar @dgruntz
where would you want to put this new comment?
`To make sure that subclasses don’t override the template method, we should make it final.`

[2020-10-13 19:21] amit2103 commented on #1316
@iluwatar  Can you assign this to me ? And if using H2 and Hibernate is fine I can quickly create a PR for this

[2020-10-13 19:54] ravening commented on #1468
There's already a PR for it

[2020-10-14 20:12] sanghisha145 commented on #187
@iluwatar is this task still open. Can you assign this to me?
I am reading about singletons
Task is: "Improve Singleton examples and their documentation where necessary." ?

[2020-10-14 23:27] dgruntz commented on #1099
I do not want to add this comment but rather change the code and make the template method final. This change has already been made with PR #1100, but as long as this PR is open this issue remains open as well; and the PR can't be merged yet as there is a [issue](https://github.com/mockito/mockito/issues/1826) in Mockito which has not yet been fixed.

[2020-10-15 07:26] 66avvv1 opened #1565 "语言设计就一定要遵循某种模式吗，随心所欲写代码岂不是更好"

[2020-10-16 09:44] siavashsoleymani opened #1569 "Data transfer object pattern using Enums"
I'm going to implement a DTO pattern using java Enums.
In this way the code is going to be more **Type safe**, **Consistent Syntax**, **Consistent Semantics**, and more **Readable & Maintainable**.

[2020-10-17 15:03] iluwatar commented on #1500
Ok @sgarg5794

[2020-10-18 14:01] iluwatar commented on #1332
Ok @viveksb007

[2020-10-21 08:01] aayushbest commented on #1334
Hi @iluwatar  I want give this a try. :)

[2020-10-24 19:50] erikaya commented on #1337
@iluwatar can I get this issue?

[2020-10-25 19:23] iluwatar commented on #1335
Ok @Shrirang97

[2020-10-25 19:28] iluwatar commented on #462
I think this issue has already been fixed

[2020-10-25 19:28] #462 closed

[2020-10-27 13:44] sirNikolai commented on #1503
@iluwatar I am not sure if this is honestly a good step to take. Lombok reduces boilerplate but kills legibility quite a bit, especially those unfamiliar with Lombok. One of the reasons I liked this repo is because it was very straightforward with vanilla Java, this would hinder it. Although I understand it does make writing code a little more tedious.

[2020-10-29 22:16] sophonie commented on #1305
Hi,
I am very enthusiasm to lean on that issue. I read the topic of this pattern but what is the purpose of this issue.
Would I have to code this pattern in Java ? I don't see your request.
Please I would like to have more informations about your aim.

Best regards.
Sophonie.

[2020-11-01 18:30] sophonie commented on #894
Hi,

Watch this youtube video, this is a good example to understand Interpreter Design Pattern
[](https://www.youtube.com/watch?v=6CVymSJQuJE)

[2020-11-07 07:47] iluwatar commented on #798
@all-contributors please add @Ascenio for review

[2020-11-07 12:06] iluwatar commented on #1483
Thanks @dieuph, go ahead!

[2020-11-07 12:10] iluwatar commented on #1329
Yes @Shrirang97 it's now assigned to you

[2020-11-07 13:26] iluwatar commented on #1297
Please go ahead @kelumsampath

[2020-11-07 17:50] iluwatar commented on #1270
Ok @ilhan-mstf

[2020-11-07 18:06] #1510 closed

[2020-11-08 16:48] iluwatar commented on #1012
Ok, assigned @anuragagarwal561994 and @daniel-augusto. Thanks guys!

[2020-11-08 17:33] #1468 closed

[2020-11-10 21:30] LizMoreno opened #1596 "SLOB design pattern"
Could you help me with SLOB design pattern?

https://martinfowler.com/eaaCatalog/serializedLOB.html

thanks!

[2020-11-19 21:22] StefanoFibbi commented on #1596
I would like to work on it

[2020-11-22 19:06] iluwatar commented on #525
Ok @OrangePants-R

[2020-11-23 20:31] iluwatar commented on #1316
Sounds good @amit2103, go ahead!

[2020-11-23 20:39] #1284 closed

[2020-11-24 08:11] HKTangShuo opened #1600 "careless grammer mistake in zh/decorator/README.md"
line 36:程序mple. First of all we have a simple troll implementing the troll interface
should be  程序example. First of all we have a simple troll implementing the troll interface
Thank you!

[2020-11-24 08:32] HKTangShuo commented on #1600
line 13 : 包装器 should be 装饰器 。
装饰器 is well known than 包装器  in Chinese

[2020-11-25 19:43] warp125 opened #1601 "Word mistake in factory/README.md"
![image](https://user-images.githubusercontent.com/48073115/100273344-f44e2680-2f9f-11eb-8f9f-393c4667932f.png)
Lines 83-84: Could not find CarSimpleFactory. Isn't it CarsFactory?

[2020-11-26 18:52] iluwatar commented on #187
Great, go ahead @sanghisha145

[2020-11-26 18:55] iluwatar commented on #1099
@elouie-code it's assigned to you now

[2020-11-28 12:24] iluwatar commented on #798
@all-contributors please add @eimanip for code

[2020-11-28 13:04] iluwatar commented on #798
@all-contributors please add @grzesiekkedzior for review

[2020-11-30 16:37] va1m commented on #1503
Ah, common! 😟

[2020-12-01 20:43] iluwatar commented on #1334
Ok @aayushbest go ahead

[2020-12-03 12:24] Priya103 commented on #1601
I am new to this. Can I take up this?

[2020-12-03 16:05] Priya103 commented on #1325
I have gone through some of docs/blogs of Anti corruption layer.I would love to create sample project for Anti corruption layer.Can you please assign me this issue?

[2020-12-03 19:34] iluwatar commented on #1503
@sirNikolai that's a valid concern and I have thought about it myself over the years. The thing is that there's more pros than cons and I think this will reduce the boilerplate significantly.

[2020-12-03 19:38] iluwatar commented on #1337
@erikaya yes, but since there are so many test patterns here we need to think how to implement it. Any suggestions?

[2020-12-03 21:04] sirNikolai commented on #1503
@iluwatar But isn't the key point of the repo being a bit pedantic to understand the patterns? I may be missing your vision on this, so more looking at kinda getting the bigger picture than criticize, because what it ends up being from my POV is someone new stumbling on the repo but then having to backtrack and learn lombok (as some parts aren't that intuitive) to understand what's going on.

[2020-12-04 08:13] ohbus commented on #1325
Go ahead @Priya103.

Please mention an expected date of your Pull Request.

Looking forward to your contribution.

[2020-12-04 08:47] #1601 closed

[2020-12-04 13:45] Priya103 commented on #1325
Thank you... i am targeting for mid of jan

[2020-12-04 13:51] iluwatar commented on #1601
@ohbus when handling issues set the correct labels and on close set the milestone

[2020-12-04 13:59] ohbus commented on #1601
Thank you for this guiding me on this.

And Hacktoberfest is over, I guess we should remove this tag from the repository  or stop using it for the time being.

[2020-12-04 14:01] iluwatar commented on #1601
@ohbus before you know it, it will be the next Hactoberfest, so I would just leave it there :)

[2020-12-05 08:32] iluwatar commented on #1503
@sirNikolai that's a valid point and certainly one of the downsides. However I think getting the basics of Lombok is quite easy. Our audience is programmers and we can provide good instructions. As you said, the point is to teach about design patterns and using Lombok makes the examples clearer by removing large amounts of repeating non-pattern related code.

[2020-12-05 14:51] vivekvara commented on #1503
@iluwatar Limited use of Lombok annotations could improve readability and easy to understand as well based on name of annotations ie. @Data, @Getter, @Setter, @ToString, @Log. I found other annotations ie. @SneakyThrows, @Sychronized, @Builder are hard to understand for those who are not familiar with Lombok.

[2020-12-05 14:58] sirNikolai commented on #1503
yeah that scans to me, and definitely agree on the triviality (and lack thereof) of some of the lombok operators. Guess it would be a judicial case of what should and shouldn't be done that way.

[2020-12-06 11:17] iluwatar commented on #1600
@xiaod-dev could you check this issue?

[2020-12-06 11:58] xiaod-dev commented on #1600
Thank your feedback. the line 36 was corrected, and about the line13, the  original text is " Wrapper", not "decorator", so there is nothing go wrong with "包装器".

[2020-12-06 13:10] #1600 closed

[2020-12-06 14:19] iluwatar commented on #1503
I started to collect the "allowed" Lombok annotations to this list: https://github.com/iluwatar/java-design-patterns/wiki/18.-Lombok Let me know if there's something missing or something that should be disallowed.

[2020-12-06 16:03] vivekvara commented on #1503
@iluwatar thanks for creating Wiki for the same. I think @NonNull should be allowed. Please check if you can add it.

[2020-12-06 16:47] iluwatar commented on #1503
Thanks @vivekvara, added that one

[2020-12-07 18:18] iluwatar commented on #1305
Yes @sophonie, I'm sorry for the poor description in this issue. The aim is to create an example implementation of Money pattern in this repository. You can check how the other patterns have been implemented and follow the same style. There are also brief contribution instruction at https://github.com/iluwatar/java-design-patterns/wiki/01.-How-to-contribute

Please let me know if you want to try i

[2020-12-07 18:24] iluwatar commented on #798
@all-contributors please add @jeff303 for code

[2020-12-08 05:04] #1310 closed

[2020-12-08 08:37] winiga-lab commented on #1335
@Shrirang97 We have a school class project on this one would you like to let me work with you on it ?

[2020-12-09 06:28] ohbus opened #1615 "Page Factory Design Pattern"
### [Page Factory Design Pattern (Enhanced POM)](https://www.seleniumeasy.com/selenium-tutorials/page-factory-pattern-in-selenium-webdriver)

- https://www.seleniumeasy.com/selenium-tutorials/page-factory-pattern-in-selenium-webdriver
- https://www.toptal.com/selenium/test-automation-in-selenium-using-page-object-model-and-page-factory

[2020-12-09 06:29] ohbus commented on #1615
@osandadeshan is working on this.

[2020-12-09 06:38] ohbus commented on #1596
@StefanoFibbi I have assigned the issue to you. **Good Luck!**

Sorry for being late to reply we have been keeping a little busy.

@LizMoreno Thank you for your suggestion.

[2020-12-09 06:39] ohbus commented on #1596
@StefanoFibbi Please let us know of the timeline and when can we expect a Pull Request against this.

Looking forward to you.
Thanks.

[2020-12-09 07:04] ohbus commented on #1569
@siavashsoleymani Please provide us some solid references to this pattern.

[2020-12-09 07:21] #1569 closed

[2020-12-09 18:58] iluwatar opened #1617 "Refactor duplicate Data Transfer Object"
In https://github.com/iluwatar/java-design-patterns/pull/1570 enum based Data Transfer Object was merged. However, it brought some problems:
- It has been created in its own folder like a new pattern although we already have `data-transfer-object`. Due to that it's duplicating information in many places including `README.md` and can't be differentiated on the web site
- I'm not sure the test cover

[2020-12-09 18:59] iluwatar commented on #1569
Created follow-up ticket https://github.com/iluwatar/java-design-patterns/issues/1617

[2020-12-09 19:19] iluwatar commented on #1615
@ohbus I don't think it's a valid design pattern. See the discussion in https://github.com/iluwatar/java-design-patterns/pull/1552

[2020-12-09 19:26] #1615 closed

[2020-12-12 04:35] 257ramanrb commented on #61
Hi @iluwatar , I want to take up this issue. Kindly, assign it to me.

[2020-12-12 06:11] ohbus commented on #61
@257ramanrb Good Luck on your journey. I have assigned you this pattern. Be Sure to check our [Wiki](https://github.com/iluwatar/java-design-patterns/wiki) section for all your queries.

Kindly mention a timeframe when can we expect a Pull Request against this.

Please keep us posted of all your hurdles here. We will be happy to help you out.

[2020-12-12 06:33] 257ramanrb commented on #61
Thanks @ohbus

I am aiming to raise a Pull Request by `31st Dec, 2020` against this issue. I'll keep you updated about the progress and in case of any hurdles or change in timeline.

[2020-12-14 09:30] kanwarpreet25 commented on #590
Is it available ?

[2020-12-14 09:33] kanwarpreet25 commented on #525
Is it available @iluwatar

[2020-12-14 09:34] kanwarpreet25 commented on #1012
@iluwatar Can I help with this issue?

[2020-12-14 13:07] dvsingh9 commented on #1285
hi @iluwatar there are few message distribution patterns like point-to-point, Publish-Subscribe, should create pattern for all ?

[2020-12-14 18:26] iluwatar commented on #590
Yes @kanwarpreet25 which pattern do you want to work on?

[2020-12-14 18:27] iluwatar commented on #525
Yes the issue is open @kanwarpreet25

[2020-12-14 18:29] iluwatar commented on #1012
Sure if @anuragagarwal561994 is no longer working on it?

[2020-12-14 18:31] iluwatar commented on #1285
This issue needs splitting as labelled. I'm not sure what would be the best approach.

[2020-12-16 03:29] 257ramanrb commented on #61
@ohbus Due to some personal obligations, I wouldn't be able to complete the task.

[2020-12-16 12:52] anuragagarwal561994 commented on #1012
No @iluwatar I didn't get time to look into this, you can re-assign

[2020-12-17 05:40] kanwarpreet25 commented on #1012
@iluwatar I will start working on it

[2020-12-17 05:53] kanwarpreet25 commented on #590
@iluwatar  visitor pattern

[2020-12-17 05:56] kanwarpreet25 commented on #525
Working on it

[2020-12-25 14:16] ignite1771 commented on #1469
Hi, I want to solve this issue if it is still open.
May I? @iluwatar

[2020-12-28 01:43] tkhadir commented on #1245
hello i think this project is indeed of french translation, do you agree with me ?

[2020-12-28 21:20] tkhadir opened #1620 "french translation"
hello i think this project is indeed of french translation, do you agree with me ? @iluwatar @xiaod-dev

@all-contributors can you please add me for translation ?

[2020-12-29 07:59] iluwatar commented on #1620
@tkhadir yes, we don't have French translation at the moment. Would you like to start working on it?

[2020-12-29 08:07] iluwatar commented on #590
@kanwarpreet25 I think it's already in quite good shape. See https://java-design-patterns.com/patterns/visitor/ What aspects would you improve?

[2020-12-29 08:08] iluwatar commented on #525
Ok @kanwarpreet25

[2020-12-29 08:39] tkhadir commented on #1620
Hello @iluwatar :) i would,

great day it will be i hope my first open source contribution :)

[2020-12-29 08:50] iluwatar commented on #1620
Good to have you onboard @tkhadir, looking forward to your first pull request

[2021-01-02 03:58] ohbus commented on #466
This issue is free for taking again

[2021-01-05 17:40] ignite1771 commented on #1317
Hi @iluwatar I would like to work on it.

[2021-01-06 08:57] ohbus commented on #1317
@ignite1771 Please go ahead!

I have assigned you the issue.

Please mention a timeline about when we can expect a Pull Request against this.

All the best!

[2021-01-06 09:00] ohbus commented on #61
@257ramanrb No problem. This issue is free for taking again.

[2021-01-06 09:04] ohbus commented on #584
@jasciiz can you please share any progress you have made for this issue?

[2021-01-12 21:56] demirhalil opened #1625 "Turkish Translation"
Hello I'd like to contribute this project by adding Turkish translation. Do you agree? @iluwatar @xiaod-dev

@all-contributors can you please add me for translation ?

[2021-01-13 07:36] #1317 closed

[2021-01-13 08:28] ohbus commented on #1625
Hey @demirhalil , we currently do not have turkish translation at the moment.

Would you like to work on it?

[2021-01-13 15:03] shahnawazm786 commented on #1007
java.lang.BootstrapMethodError: java.lang.NoClassDefFoundError: org/junit/platform/engine/EngineDiscoveryListener
	at org.junit.platform.launcher.core.LauncherDiscoveryRequestBuilder.getLauncherDiscoveryListener(LauncherDiscoveryRequestBuilder.java:241)
	at org.junit.platform.launcher.core.LauncherDiscoveryRequestBuilder.build(LauncherDiscoveryRequestBuilder.java:235)
	at org.eclipse.jdt.internal.

[2021-01-13 17:52] demirhalil commented on #1625
Hey @ohbus yeah I'd like to work on it.

[2021-01-13 19:43] iluwatar opened #1627 "Fan-Out/Fan-In pattern"
https://dzone.com/articles/understanding-the-fan-out-fan-in-api-integration-p

[2021-01-13 19:50] iluwatar commented on #1012
No problem @anuragagarwal561994
@kanwarpreet25 you're good to go

[2021-01-13 19:55] iluwatar commented on #1469
There's a pull request from @Tubaleviao but haven't heard of him for a while

[2021-01-13 19:59] Tubaleviao commented on #1469
Go ahead @ignite1771 , I'm in a quest right now

[2021-01-14 12:55] ohbus commented on #1625
@demirhalil We are happy to have you on board.

Looking forward to your first Pull Request.

Make sure to go through our [Wiki](https://github.com/iluwatar/java-design-patterns/wiki) section for understanding this better. If you still need any help, please reach out to us.

[2021-01-14 17:13] ignite1771 commented on #1469
Ok, I will work on this and send a PR to fix this issue.

[2021-01-14 17:37] satur9nine opened #1628 "Semaphore is not a java design pattern"
Semaphore located at https://github.com/iluwatar/java-design-patterns/tree/master/semaphore should be removed. A semaphore is a standard synchronization mechanism that is already part of the Java standard libraries: https://docs.oracle.com/javase/7/docs/api/java/util/concurrent/Semaphore.html

Obviously this project shouldn't include custom implementations of other standard data structures and syn

[2021-01-16 15:43] iluwatar commented on #1469
Thanks @ignite1771, looking forward to it

[2021-01-16 16:07] iluwatar commented on #1628
Good point, and I tend to agree with you. Semaphone and Mutex could be removed from the catalog.

[2021-01-19 06:36] #1469 closed

[2021-01-25 03:35] #1617 closed

[2021-01-26 20:21] #1628 closed

[2021-01-28 15:39] iluwatar opened #1638 "Parameter Object idiom"
It's a simple workaround for Java not having default parameters:
http://dolszewski.com/java/java-default-parameters/

[2021-01-30 10:45] iluwatar commented on #798
@all-contributors please add @byoungju94 for code

[2021-01-30 12:11] iluwatar commented on #1245
@xiaod-dev any updates from gitlocalize project? It would be an asset if we could use it. I working on a new web site that will be able to utilize the translations.

[2021-01-31 15:50] richardmr36 commented on #1638
Can I work on this?

[2021-01-31 18:30] iluwatar commented on #1638
Go ahead @richardmr36

[2021-02-01 01:42] xiaod-dev commented on #1245
Since last time the gitlocalize occurs error, I don' t use it any more. I translate with google and process it by myself. You mentioned a new website, Could you share the website or is there anything I can collaborate with you?

[2021-02-05 05:42] richardmr36 commented on #1638
The link mentioned in the issue gives enough details I guess. It is easier to understand if you are aware about default parameters feature of JavaScript ES6. Let us know if you have any specific questions.

[2021-02-07 05:08] richardmr36 commented on #1638
@iluwatar could you help me with the tool or IntelliJ plugin used to generate class diagram?

[2021-02-07 09:21] Sooraj2002 commented on #1316
package com.sdnext.hibernate.tutorial.dto;

import javax.persistence.Column;
import javax.persistence.Entity;
import javax.persistence.GeneratedValue;
import javax.persistence.GenerationType;
import javax.persistence.Id;
import javax.persistence.Inheritance;
import javax.persistence.InheritanceType;
import javax.persistence.Table;

@Entity
@Table(name="VEHICLE")
@Inheritance(strategy=InheritanceTy

[2021-02-07 14:51] iluwatar commented on #1245
It's still very much in progress, but what I currently have can be seen here: https://fervent-booth-169ea6.netlify.app/

[2021-02-07 15:18] iluwatar commented on #1638
@richardmr36 there's brief explanation in https://github.com/iluwatar/java-design-patterns/wiki/01.-How-to-contribute

[2021-02-08 04:59] richardmr36 commented on #1638
@iluwatar ucls file is not getting generated. Is there any other additional steps required for that?

[2021-02-10 00:34] arjunduggal commented on #1219
hi @iluwatar
Can I pick this up if this is still open?
Thanks

[2021-02-10 00:49] arjunduggal commented on #393
hi @iluwatar
Is this still open? If yes, can I take this up?
Thanks

[2021-02-11 07:33] ohbus commented on #393
@arjunduggal Thank you so much for your interest in taking this up! ⭐ Yes you can take this up!

🕐 Please keep us posted about when we can expect a Pull Request against this issue.
🤝  Looking forward to your contribution.
📖  Be sure to check out our [Wiki](https://github.com/iluwatar/java-design-patterns/wiki) section

[2021-02-12 09:09] ohbus opened #1652 "ide: support code styling by spotless"
I am propping up the idea that we should not bind the committers to a specific IDE like **Eclipse** or **IDEA**.

The only thing that is acting as a barrier is the maven [**`checkstyle`**](https://github.com/iluwatar/java-design-patterns/blob/2207ea4ce9a76deaa91b0181950e11237c246ffc/pom.xml#L435) plugin.
_Please correct me if there are more setup required that needs an IDE._

I suggest we move to

[2021-02-14 08:56] iluwatar commented on #1638
@richardmr36 ucls file is not mandatory, and it's not autogenerated. Those are source files of [ObjectAid's UML plugin](https://www.objectaid.com/home). If you want to generate the UML diagram by hand for some reason, then that could be something to try.

[2021-02-14 09:00] iluwatar commented on #1219
@mohanaraosv was assigned earlier, but no news yet. Are you still working on it @mohanaraosv or could @arjunduggal take it?

[2021-02-14 09:14] iluwatar commented on #1652
At the moment we use Checkstyle for checking the source code compatibility against the Google rule set. Maven will fail the build if there are incompatibilities. It's possible to use the Checkstyle rule set to import the set of rules to IDE such as IntelliJ Idea or Eclipse. Other IDE's haven't been supported so far. Can you elaborate a bit more what IDE's we would like to support and which ones of

[2021-02-14 09:52] ohbus commented on #1652
Actually I don't want this people to use any IDE at all.

Let's say that somebody would like to do some improvement or work on any issue using text editors like [Sublime](https://www.sublimetext.com/) or [Notepad++](https://notepad-plus-plus.org/)

So they can write the code using them and compile their code using maven _(I plan on introducing Maven Wrapper as well)_  and it would completely make

[2021-02-14 10:42] iluwatar commented on #1652
Ok, maybe now I understand the issue a bit better. I think there's nothing preventing using the described text editor/Maven workflow even now. It's just that you need to write code that adheres to Checkstyle rules. Maven build will fail otherwise and you need to check from the reports what the errors are. How would Spotless improve the workflow from the user's perspective?

[2021-02-14 11:56] mohanaraosv commented on #1219
Sorry for the delay!! I have made some progress on this please pick @arjunduggal  some other pattern.

[2021-02-14 15:23] ohbus commented on #1652
What Spotless can do is that **apply** those changes required to support the code style.

And we can, for the sake of increasing the flexibility of contributors making pull requests, automate this in the pipeline for them to relax and focus of the pattern itself.

We can try and develop a Proof of Concept for this, before we start implementing it.

[2021-02-14 17:37] iluwatar commented on #1652
That sounds like a great feature and I agree it would be an improvement to the current workflow. Is there anything in Spotless (or other tools) to help us migrate from Checkstyle or is required to build the Spotless configuration from ground up? It's a major task anyway, I would think.

[2021-02-14 18:38] ohbus commented on #1652
What we can do is that include spotless along with checkstyle and enable **applying** the styling changes in the maven `compile` lifecycle.

So the code styling and formatting can be done while compiling the code and can be checked by checkstyle and/or spotless in the `verify` lifecycle.

[2021-02-14 18:57] iluwatar commented on #1652
Yes, sounds like a good first step to me. If I understood correctly then later on we could replace Checkstyle all together with Spotless? Haven't looked into it very deeply, but these are parallel technologies solving the same problem, right?

[2021-02-14 19:38] ohbus commented on #1652
Yes exactly these are parallel tools, we can drop checkstyle if we want or we can still keep it for for contributors who are still familiar with it as it gives them the accessibility to check on IDEs while coding.

[2021-02-14 20:31] iluwatar commented on #1652
Right, I guess Spotless doesn't have the IDE plugins that Checkstyle does

[2021-02-14 21:04] ohbus opened #1655 "build: Introduce Maven Wrapper"
For moving towards the goal of not having Maven installed in the system, we are introducing the maven wrapper.

This is going to help contributors from installing maven in their system and building code using the command line as well as not worry about which maven version to use for building this project. _(Though we never got such reports of the build misbehaving due to the maven version)_

We wi

[2021-02-15 03:50] arjunduggal commented on #393
thanks @ohbus , I'm working on this one and will keep you posted on the update.

[2021-02-15 20:21] #455 closed

[2021-02-18 15:40] noamgrinch commented on #65
Hey, @iluwatar I have implemented this pattern and ready to push to my branch.
May I please get permissions to commit and push?

[2021-02-21 08:18] noamgrinch commented on #65
@iluwatar ?

[2021-02-21 14:24] iluwatar commented on #65
@noamgrinch please follow the normal Github forking workflow. You don't need write access to this repository, you can fork it on your own account and propose changes from there. See [Github's documentation](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request-from-a-fork).

[2021-02-22 17:14] ohbus commented on #1652
I think I can integrate spotless and IDEA default code style behavior with spotless.

[2021-02-22 17:18] ohbus commented on #1652
I am facing an issue with spotless and checkstyle where it is throwing few warnings about changes applied by spotless.

Might be an issue due to _google-style_ version.

Hey @iluwatar can you confirm where can I find the [google_checks.xml](https://github.com/iluwatar/java-design-patterns/blob/03bc4a6b9a6d43f20b14fa90758b848c6f4a08c5/pom.xml#L456) file so that I can know the version it is using. I

[2021-02-24 11:37] Priya103 commented on #1325
I kind of stuck in other issues ... will try to raise pr in 2nd week of march

[2021-02-24 12:22] ohbus commented on #1325
No problem.

Thank you for letting us know.

Regards,
<https://subho.xyz>

On Wed, 24 Feb 2021 at 17:08, Priya103 <notifications@github.com> wrote:

[2021-02-26 16:24] cal101 commented on #1652
Just guessing: I would expect the file being embedded is some jar. The maven plugin or the chechstyle jar used by that would be my guess.

If the mvn ouput does not show jar versions, "-X" mayhelp.
Then check jar content in .m2 repo and extract file if found.

[2021-02-28 09:42] #1638 closed

[2021-02-28 11:17] ohbus commented on #1652
I have not followed the steps, but if it is ought to be packaged then I guess we need it to be modular.

[2021-02-28 12:17] iluwatar commented on #1652
Yes, sure. We are using version 3.1.0 version of the maven checkstyle plugin (see https://github.com/iluwatar/java-design-patterns/blob/master/pom.xml#L447). We can hunt down the corresponding checkstyle version from the [project's](https://github.com/apache/maven-checkstyle-plugin) pom.xml -> seems to be 8.19. And looking up from checkstyle's 8.19 source tree there's this [file](https://github.co

[2021-02-28 12:37] ohbus opened #1663 "feature: Run sonar analysis on pull requests"
⭐ This feature will help us review pull requests easier by helping us reviewing the modified or newly added code 👨🏻‍💻  by SonarCloud and comment out the report in the pull request.

✔️ This is going to help the contributor to increase their code quality and the coverage while removing static code errors.
✔️ Overall this is going to increase the code quality and make the process more smooth and fas

[2021-02-28 19:40] jinishavora commented on #1215
@iluwatar Can I work on this one please?

[2021-03-01 13:12] ohbus commented on #1215
We are glad to have you here!

Sure you can start working on it.

Please mention a timeline about when we can expect a pull request against this.

[2021-03-01 14:03] jinishavora commented on #1215
By Monday, 8th March.

[2021-03-01 14:50] #1663 closed

[2021-03-03 15:50] lodenrogue commented on #1627
Would this be in the context of HTTP or a more general context?

[2021-03-03 16:12] lodenrogue commented on #1627
If my understanding is correct the interface would be something like this?

[code]

Where ```listOfRequests``` is a collection of long running processes that return a callback
And ```responseConsumer``` is a Consumer that is given a single result object and implements some action to be taken on that result object

[2021-03-05 02:04] charlesfinley opened #1667 "Tests not being executed in serverless module"
While upgrading other modules to JUnit 5, I noticed the tests for these 2 classes are not being executed during the build:

FindPersonApiHandlerTest.java
SavePersonApiHandlerTest.java

I tried a quick upgrade to JUnit 5 but these will take some time to refactor.

Te replicate - remove the Junit dependency and replace with Junit-vintage-engine, or run the tests directly using your IDE.

⚠️ This mod

[2021-03-05 02:12] charlesfinley commented on #1500
I'm working on updating all the modules to JUnit5 right now. @ohbus

[2021-03-05 04:07] ohbus commented on #1500
Sure @charlesfinley you're good to go!

[2021-03-05 04:15] charlesfinley commented on #1500
Sorry I opened a new PR for this - #1668

[2021-03-05 06:23] ohbus commented on #1667
Thank you so much @charlesfinley for looking into this and helping us refactor our code.

[2021-03-05 06:29] ohbus commented on #1500
@charlesfinley no need to be sorry for 😄  It is easier for us to review code in smaller chunks and this helps a lot 💯

Thank you so much for your help!

[2021-03-05 18:49] charlesfinley opened #1669 "Tests not being executed in naked-objects"
Naked objects module has tests that are being skipped during the maven build.

These tests fail when executed by IntelliJ. They also fail if you try to update to JUnit5 via junit-vintage-engine.

[2021-03-07 05:00] charlesfinley commented on #1669
To further clarify this issue - this module should be updated to JUnit 5 and the tests should be refactored as necessary.

[2021-03-07 05:01] charlesfinley commented on #1500
This issue should probably be closed since the PR was merged and we have 2 new issues identifying the only modules lacking JUnit5.

[2021-03-07 06:26] ohbus commented on #1500
@charlesfinley great work!

We will close this issue for sure.

[2021-03-07 06:39] ohbus commented on #1500
This issue has been partially addressed using #1542 and #1668 thanks to @charlesfinley

Tests from two modules [**serverless**](https://github.com/iluwatar/java-design-patterns/tree/master/serverless) and [**naked-objects**](https://github.com/iluwatar/java-design-patterns/tree/master/naked-objects) are not being executed.

Respective issues have been opened for resolving the tests in favour of th

[2021-03-07 16:41] ohbus commented on #1099
@elouie-code is there any update regarding this issue or any progress that you made?

[2021-03-08 01:07] jinishavora commented on #1215
@ohbus I have reached out to you on glitter regarding my concern before I submit the PR.

[2021-03-09 14:13] jinishavora commented on #1215
Just an update, I am trying to move the grade MVVM project to maven, I am halfway through and just need to work with few more dependencies for the project to build like an android app while using maven to build and follow the conventions of this project.

[2021-03-09 18:23] ohbus commented on #1215
No worry as we are not in a hurry!

Jokes aside, please take as much time as you need. We would really
appreciate a quality Pull Request than anything else.

On Tue, Mar 9, 2021, 19:43 jinishavora <notifications@github.com> wrote:

[2021-03-11 20:17] ToxicDreamz commented on #1305
I've submitted a PR for this issue. See -> #1673

[2021-03-13 12:37] iluwatar commented on #1503
Thanks to @va1m and https://github.com/iluwatar/java-design-patterns/pull/1560, we were able to significantly reduce the amount of boilerplate in the project. Here are the numbers from the pull request:

![image](https://user-images.githubusercontent.com/582346/111030079-195c8d00-8409-11eb-9251-d39ee66bcc9c.png)

[2021-03-13 12:37] #1503 closed

[2021-03-14 06:23] #65 closed

[2021-03-15 10:52] PakhomovAlexander commented on #1669
Hi @charlesfinley ! Could I take this?

[2021-03-15 12:32] charlesfinley commented on #1669
Feel free. Remove any dependency on JUnit4 or junit-vintage-engine and have the tests pass.

[2021-03-15 15:40] ohbus commented on #1669
Go ahead!

[2021-03-17 19:17] PakhomovAlexander commented on #1669
Hi @charlesfinley @ohbus !

I've tried to migrate `naked-objects` module from junit 4 to junit 5. It went well for `dom` module. But it turned out that `integtests` module is deeply dependent on junit 4 rule API. It seems not possible to migrate without big changes.

`naked-objects` pattern is a reference for apache isis. The current example is completely out of date. There is [simple-app](https:/

[2021-03-18 00:48] charlesfinley commented on #1669
If the pattern is obsolete I don't see an issue getting rid of it, but that's obviously up to @iluwatar and @ohbus.