[2014-09-25 08:59] akullpp opened #4 "Practical explanations"
First, I'd like to thank you for providing the examples, really great job! However, I'd like more practical explanations since currently they are rather theoretical and hard to understand, don't you think?

For example the Builder pattern, I've read the explanation and honestly do not know when to use in my daily work. Wouldn't it be better just to write that you use it if you have few required an

[2014-10-08 11:37] #4 closed, assigned to nobody

[2014-11-05 07:21] wokaole opened #12 "Not have private constructor in the thread-safe Singleton class ?"
hello iluwatar

when I read the Singleton  pattern ,the ThreadSafeLazyLoadedIvoryTower class use the default constructor method ,you don't specify it ，should it right ?
I think must add a private constructor as the IvoryTower class.
is it right?

[2014-11-05 19:30] #12 closed, assigned to nobody

[2014-11-08 20:20] bernardosulzbach opened #13 "Bug introduced by #11"
@llitfkitfk You made ALL the diagrams link to files from your FORK. The BASE readme is pointing to files from a FORK.

commit hash is `97431a62af9881fa046b69b690e72d4fb4777209`

[2014-11-08 20:43] #13 closed, assigned to nobody

[2014-11-14 15:35] ghost opened #17 "Idea."
Add the "real" project(or link to good project) where the most of patterns will be represented.And fully documented.To see how they used in real life.For example text editor.Or something else.

[2014-11-15 08:50] #17 closed, assigned to nobody

[2014-12-04 18:22] MSaifAsif opened #25 "New patterns"
Is it possible that we add web application and database patterns here as well? By web application patterns, I mean
1. Single Thread pattern
2. Synchronization pattern in MVC
3. Double checked locking
4. Service locator
5. Facade
   ..... (any more that we can think of)

and the database patterns I had the data access (DAO) pattern in mind.

[2014-12-06 08:26] #25 closed, assigned to nobody

[2015-01-08 06:34] whaon opened #28 "not a issue,just want to know"
hey,I see a file ends with ucls in some package,I open it and find it is an xml format file
and my question is what kind of soft you draw it
Thanks!

[2015-01-08 06:52] iluwatar commented on #28
Those are project file for ObjectAid UML Explorer for Eclipse. Here's the link: http://www.objectaid.com/home

[2015-01-08 18:22] #28 closed

[2015-03-21 14:14] jesusvazquez opened #34 "Data Mapper Pattern"
Hi, I'm a new user to github and I would like to help to this project. I've been researching about a few patterns and the work you've done and I think it's so cool.

In my college I've developed an application which comunicates with a MySQL Database and I had to build a pattern to make that communication work. I'm talking about the Abstract Mapper.

I have an example here: https://github.com/jesus

[2015-03-21 17:31] fx773d commented on #34
Hi Vazques,

I'm a new user too and I think you should talk with the owner of the
project, I've just contributed to project. Sorry that I cannot help you.

Regards.

2015-03-21 16:14 GMT+02:00 Jesús Vázquez <notifications@github.com>:

--
*Bener Çelenkoğlu*
*Departmant of Computer Engineering, Hacettepe University*
*Tel: (506)776-3457*

[2015-03-22 16:50] iluwatar commented on #34
@jesusvazquez Thank you for the interest in this project.

For the Abstract Mapper pattern you are proposing let's discuss about it on a bit higher level. Can you describe what is the intent of the pattern and when should we use it the same way as we have for the other patterns [here](https://github.com/iluwatar/java-design-patterns/blob/master/README.md)?

[2015-03-22 19:18] jesusvazquez commented on #34
Yes,

This pattern allows you to map your database tables without using any framework, like Hibernate for example. If your application is small and you want to understand how the connections to the database work, this pattern helps you a lot because it's just an abstract class and a few Java programming concepts.

If you want to map a table you just have to fill 4 or 5 methods and then SELECT, INS

[2015-03-22 21:49] iluwatar commented on #34
Ok, I see this is a persistence solution. Like a mini framework that could be compared to [these](http://java-source.net/open-source/persistence).

What makes a design pattern? A design pattern is a tried and used way to solve a specific problem in an elegant way. I don't know if Abstract Mapper is a brand new first version or is it widely used somewhere? How is this problem solved in the other pe

[2015-03-22 23:24] jesusvazquez commented on #34
I believe the most common name is Data Mapper Pattern, here you can find some info: http://en.wikipedia.org/wiki/Data_mapper_pattern
There is another pattern who looks pretty similar named Data Access Object http://en.wikipedia.org/wiki/Data_access_object

Both looks pretty similar because the concept is the same. Between the application model and your database you implement a new layer to manage

[2015-03-23 01:26] ItaloQualisoni opened #35 "HeroBuilder NullPointerException"
I was reading the code and  then I wondered why was used the NullPointerException in that case, won't be more readable throw a custom exception? I mean create something like BuilderException and then this can be treated in the caller method ...
*Line 97,98 from HeroBuilder.java for reference

[2015-03-23 08:07] arosenf commented on #35
I would also not throw a NPE programmatically. Tools like PMD recommend throwing an IllegalArgumentException in such a case:
http://pmd.sourceforge.net/pmd-4.3.0/rules/strictexception.html#AvoidThrowingNullPointerException

[2015-03-23 19:51] iluwatar commented on #35
Thank you for pointing that out @ItaloQualisoni and @arosenf.

This is now fixed with commit https://github.com/iluwatar/java-design-patterns/commit/62b871774af5d0f43ec45bb1248738a428cecb7f

[2015-03-23 19:51] #35 closed

[2015-03-23 20:50] iluwatar commented on #34
Ok, now that description hits the right spot. I see the correspondence with Mr. Fowler's Data Mapper pattern. A simple example of that would be very welcome. Also, an example of DAO pattern is needed.

Do you have an idea how to implement the database connection? Use some kind of mock or in memory database maybe?

[2015-03-23 23:06] jesusvazquez commented on #34
Yep that's my doubt, we can create the main sql and give some instructions...

Any ideas for the easiest solution ?

[2015-03-24 05:37] iluwatar commented on #34
Fowler's pattern description: http://martinfowler.com/eaaCatalog/dataMapper.html

One implementation I found: http://richard.jp.leguen.ca/tutoring/soen343-f2010/tutorials/implementing-data-mapper/

I would probably try the implementation with JDBC and H2 or HyperSQL in-memory database. For those you can just add Maven dependencies and you're good to go.

[2015-03-24 10:13] jesusvazquez commented on #34
Those examples contain hardcoded querys inside the entity mappers. The example I gave you https://github.com/jesusvazquez/java_examples/tree/master/AdvancedDatabaseSystems/src/modelo/DBMapper fix this in the class Abstract Mapper. Would you like to add this or shall we keep the pattern without any modification.

I have studied both and I find very useful the Abstract Mapper implementation.

[2015-03-24 19:38] iluwatar commented on #34
The implementation link I gave was just for your information. You don't need to use anything from that. But I do find important that we use Data Mapper as the name of the pattern.

[2015-03-26 19:54] jesusvazquez commented on #34
Okey I agree with that name. I'll give it a try as soon as possible. Thanks!

[2015-03-29 07:19] mrljdx opened #38 "What is the use of UML drawing software"
Can you tell me the UML diagram is  used  what software to draw?

[2015-03-29 08:25] iluwatar commented on #38
ObjectAid UML Explorer is the primary tool - see section "How to contribute" of README.md.

[2015-03-29 08:57] mrljdx commented on #38
Thanks

[2015-03-29 08:57] #38 closed

[2015-04-03 02:14] zhenggang0723 opened #40 "please help me , thanks !"
Hello, may I ask you what software tool to draw a class diagram?

I want to get it.

Can you send it to my email ? Or tell me what its name . Thank you very much!

My email : cheney0723@vip.qq.com

[2015-04-03 02:31] llitfkitfk commented on #40
objectaid

[2015-04-03 02:32] llitfkitfk commented on #40
#38

[2015-04-03 17:08] #40 closed

[2015-04-04 19:18] iluwatar opened #43 "Intercepting Filter example needs some improvement"
- [FilterChain](https://github.com/iluwatar/java-design-patterns/blob/master/intercepting-filter/src/main/java/com/iluwatar/FilterChain.java) executes the filters sequentially using an array. This should be changed so that the filters form a chain and call each other instead. Like in [Chain of Responsibility](https://github.com/iluwatar/java-design-patterns/tree/master/chain).
- At the same time t

[2015-04-04 19:34] vehpsr commented on #43
If it's not strictly UI related pattern than we should move it to "Behavioral Patterns" section instead of "Presentation Tier".
And if above is true than I suggest to remove all UI (JFrame Targer-Client) code: it "hides" pattern usage in overcomplecated UI setup. Simple chain invocation with some sysout of outcome might do the job for presentation.

[2015-04-04 19:42] iluwatar commented on #43
You are correct. Intercepting Filter is not presentation tier pattern and should be relocated.

[2015-04-04 19:44] iluwatar commented on #43
To me removing the UI code is secondary, but I don't object if it will be done.

[2015-04-06 21:05] ItaloQualisoni commented on #38
Just for reference, LucidChart (https://www.lucidchart.com) is a great tool for drawing UML diagram and you can share your diagrams and edit it online in real time.

Also, if you're a student you can use it for free :D
https://www.lucidchart.com/pages/education/students

[2015-04-09 19:28] iluwatar commented on #43
The above commits fix this issue.

[2015-04-09 19:28] #43 closed

[2015-04-11 16:30] ozlerhakan opened #45 "DAO Design Pattern"
Hi @iluwatar ,

First of all, thank you for this comprehensive repo!  I haven't seen the dao design pattern among the rest. So, I am just wondering whether it is actually part of the design solutions or not.

[2015-04-11 16:41] iluwatar commented on #45
Hi there @ozlerhakan !

I'm glad you find the repository interesting. The [DAO](http://en.wikipedia.org/wiki/Data_access_object) pattern certainly belongs here, we just don't have an implementation for it yet.

[2015-04-11 16:50] ozlerhakan commented on #45
Ah okay then, so If the current contributors (including you) will not plan to implement it, I can give you a hand for the implementation via PR but not now (:

[2015-04-11 17:09] iluwatar commented on #45
Contributions are welcome @ozlerhakan . Please leave the issue open and it will be fixed soon.

[2015-04-12 23:37] mgiovenco commented on #45
I believe I have the implementation for this ready to go.  If it's okay for me to contribute, I can create a pull request for this.

[2015-04-13 04:40] iluwatar commented on #45
@mgiovenco That is great! Please proceed with the pull request and we'll check it.

[2015-04-13 16:05] mgiovenco commented on #45
Will do!  I just need to add the diagram piece before creating pull request.  Expect the pull request in the next day or two.

[2015-04-17 04:54] iluwatar commented on #45
Resolved with commit 58da95b4676ff09cbed607934ab3722063128e16

[2015-04-17 04:54] #45 closed

[2015-04-17 09:16] ozlerhakan commented on #45
Thanks @iluwatar  and @mgiovenco :+1:

[2015-04-18 02:28] pavansn commented on #45
Hi @iluwatar ,
Can I add these design patterns into the repository?
          1. 2-way adapter
          2. IOC - Inversion of Control
          3. Dependency Injection
I hope these patterns belong to this repository.

[2015-04-18 05:21] iluwatar commented on #45
Hi @pavansn ,

Surely these patterns all belong here. You are welcome to contribute. I suggest you make an individual pull request out of each of the patterns so we can review and comment easily.

[2015-04-22 22:52] petrnohejl opened #50 "Null object as a singleton"
It is recommended to implement null object as a singleton.

In the example, NullNode (https://github.com/iluwatar/java-design-patterns/blob/master/null-object/src/main/java/com/iluwatar/NullNode.java) is not a singleton.

[2015-04-24 19:02] iluwatar commented on #50
Resolved with commit https://github.com/iluwatar/java-design-patterns/commit/89e6692ba8189eddea20b1f34a98fc0425576428

[2015-04-24 19:02] #50 closed

[2015-05-10 15:02] SupaHam opened #52 "Add virtual field pattern"
There's a new (I think) pattern called the Virtual field pattern, introduced in Java 8. https://kerflyn.wordpress.com/2012/07/09/java-8-now-you-have-mixins/ Scroll half way through till you find "Another Approach".

[2015-05-12 04:41] iluwatar commented on #52
Thanks, we'll look into it.

[2015-05-16 10:17] iluwatar commented on #52
Ok I've read the article and can see what can be done with virtual extension methods.

There is discussion about it on [this mailing list](http://mail.openjdk.java.net/pipermail/lambda-dev/2012-July/005165.html) and it seems that Mr. Brian Goetz, who is the Oracle's Java Language Architect, is strongly against using Java 8 this way, for behavior and state multiple inheritance.

So I'm thinking tha

[2015-05-18 05:43] caltrain opened #53 "Documentation change in DAO pattern"
Removed a redundant word and added an Acronym.

[2015-05-18 14:49] #53 closed

[2015-05-27 00:21] fernandojunior opened #55 "Repository"
Great job.
How about repository?
Reference: http://martinfowler.com/eaaCatalog/repository.html

[2015-05-28 14:14] noobxgockel opened #56 "Better View/Navigation ?"
Heya there,
first of all, i love this resource and use it quite often. the only thing slightly annoying is the layout. Would be really awesome to view this resource in bootstrap with categories or something like that.

If something like that is done "hardcoded" the project will probably loose on contributions, so a converter of sorts should be used.

One last point, i found this Site that looks pr

[2015-05-29 06:52] qingqi opened #57 "StarMemento would expose the internal state of Star object in memento patterns"
How about making startMemento an inner class of Start class?

[2015-05-30 10:00] iluwatar commented on #57
Thanks for reporting. Fixed with https://github.com/iluwatar/java-design-patterns/commit/703ebd3e20c6063a1148deeb64dc53a31f632be6

[2015-05-30 10:00] #57 closed

[2015-05-31 18:14] iluwatar commented on #55
Thanks for pointing that out. It is definitely on the roadmap.

[2015-05-31 18:25] iluwatar commented on #56
Thanks for your comment. I totally agree that there is lots of room to improve. We should evaluate some of the most popular solutions for the frontend and then just migrate to that.

[2015-06-17 20:54] iluwatar opened #59 "Add code coverage analysis"
We could use this: https://github.com/trautonen/coveralls-maven-plugin

[2015-06-17 20:54] iluwatar opened #60 "Add static code analysis"

[2015-06-23 18:45] iluwatar opened #61 "Model View ViewModel (MVVM) pattern"
https://en.wikipedia.org/wiki/Model_View_ViewModel

[2015-06-23 18:48] iluwatar opened #62 "Module pattern"
https://en.wikipedia.org/wiki/Module_pattern

[2015-06-23 18:49] iluwatar opened #63 "Twin design pattern"
http://www.ssw.uni-linz.ac.at/Research/Papers/Moe99/Paper.pdf

[2015-06-23 18:50] iluwatar opened #64 "Blackboard architectural pattern"

[2015-06-23 18:53] iluwatar opened #65 "Active Object concurrency pattern"
https://en.wikipedia.org/wiki/Active_object

[2015-06-23 18:53] iluwatar opened #66 "Balking pattern"
https://en.wikipedia.org/wiki/Balking_pattern

[2015-06-23 18:55] iluwatar opened #67 "Binding Properties pattern"
http://c2.com/cgi/wiki?BindingProperties

[2015-06-23 18:57] iluwatar opened #68 "Async Method Invocation pattern"
https://en.wikipedia.org/wiki/Asynchronous_method_invocation

[2015-06-23 18:57] iluwatar opened #69 "Guarded suspension pattern"
https://en.wikipedia.org/wiki/Guarded_suspension

[2015-06-23 18:58] iluwatar opened #70 "Join pattern"
**Description:**
The Join design pattern allows multiple concurrent processes or threads to be synchronized such that they all must complete before any subsequent tasks can proceed. This pattern is particularly useful in scenarios where tasks can be executed in parallel but the subsequent tasks must wait for the completion of these parallel tasks.

**Main Elements of Join Pattern:**
1. **Task Exec

[2015-06-23 18:58] iluwatar opened #71 "Lock pattern"
https://en.wikipedia.org/wiki/Lock_(computer_science)

[2015-06-23 18:59] iluwatar opened #72 "Messaging (EIP)"
https://en.wikipedia.org/wiki/Messaging_pattern

[2015-06-23 19:00] iluwatar opened #73 "Monitor pattern"
https://en.wikipedia.org/wiki/Monitor_(synchronization)

[2015-06-23 19:00] iluwatar opened #74 "Reactor pattern"
https://en.wikipedia.org/wiki/Reactor_pattern

[2015-06-23 19:01] iluwatar opened #75 "Readers-writer lock"
https://en.wikipedia.org/wiki/Readers%E2%80%93writer_lock

[2015-06-23 19:01] iluwatar opened #76 "Scheduler pattern"
https://en.wikipedia.org/wiki/Scheduler_pattern

[2015-06-23 19:02] iluwatar opened #77 "Thread local storage pattern"
https://en.wikipedia.org/wiki/Thread-local_storage

[2015-06-23 19:04] iluwatar opened #78 "Proactor pattern"
https://en.wikipedia.org/wiki/Proactor_pattern

[2015-06-23 19:06] iluwatar opened #79 "Active Record pattern"
https://en.wikipedia.org/wiki/Active_record_pattern

[2015-06-23 19:06] iluwatar commented on #65
Thinking in Java book

[2015-06-23 19:10] iluwatar opened #80 "Microservices patterns"
http://microservices.io/patterns/index.html

[2015-06-23 19:10] iluwatar commented on #80
http://blog.arungupta.me/microservice-design-patterns/

[2015-06-23 19:12] iluwatar opened #81 "Cloud design patterns"
http://download.microsoft.com/download/B/B/6/BB69622C-AB5D-4D5F-9A12-B81B952C1169/CloudDesignPatternsBook-PDF.pdf

[2015-06-23 19:14] iluwatar opened #82 "Pipes And Filters (EIP)"
https://code.google.com/p/pipelinepattern/

[2015-06-23 19:17] iluwatar opened #83 "Parallel Change pattern"
http://martinfowler.com/bliki/ParallelChange.html

[2015-06-23 19:26] iluwatar opened #84 "Layers architectural pattern"
https://en.wikipedia.org/wiki/Multilayered_architecture

[2015-06-23 19:27] iluwatar opened #85 "Monostate pattern"
http://www.objectmentor.com/resources/articles/SingletonAndMonostate.pdf
http://c2.com/cgi/wiki?MonostatePattern

[2015-06-23 19:28] iluwatar opened #86 "Hexagonal architecture"
http://www.dossier-andreas.net/software_architecture/ports_and_adapters.html

[2015-06-23 19:29] iluwatar opened #87 "Clean architecture"
http://blog.8thlight.com/uncle-bob/2012/08/13/the-clean-architecture.html

[2015-06-23 19:32] iluwatar opened #88 "Facet pattern"
http://www.hillside.net/plop/plop2002/final/plop2002_ecrahen0_0.pdf

[2015-06-23 19:35] iluwatar opened #89 "Business Delegate pattern"
http://www.oracle.com/technetwork/java/businessdelegate-137562.html

[2015-06-23 19:35] iluwatar opened #90 "Front Controller pattern"
https://en.wikipedia.org/wiki/Front_Controller_pattern

[2015-06-23 19:38] iluwatar opened #91 "Naked Objects pattern"
http://downloads.nakedobjects.net/resources/Pawson%20thesis.pdf

[2015-06-24 05:58] iluwatar opened #92 "Add versioning scheme"

[2015-06-24 17:02] iluwatar commented on #92
- add maven versions plugin
- set version to 1.0
- describe semantic versioning in README.md

[2015-06-24 17:19] #92 closed

[2015-06-24 17:35] iluwatar opened #93 "Enterprise integration patterns"

[2015-06-24 17:43] iluwatar commented on #34
@jesusvazquez Do you have any news regarding the implementation of Data Mapper pattern? :)

[2015-06-24 21:35] jesusvazquez commented on #34
Hi,

Not really, I'm sorry but I just finished my Bachelor. I'll try to perform it this summer :)

[2015-06-26 20:49] neerajmahajan opened #94 "Factory Method Pattern"
There is an example given in the factory method pattern description which is Calendar.getInstance(), but I believe this is incorrect example because factory method defers the object creation to its subclass but getInstance() method of Calendar class is a static method and does not support overridden behaviour by its subclass.

Another thing I am not sure which is given in the factory method code i

[2015-06-28 17:09] iluwatar commented on #94
Hi @neerajmahajan and thanks for your comments. I believe you are right that `Calendar#getInstance` is not really a factory method for the reasons you explained. I will remove it from the real world examples.

[2015-06-28 17:33] iluwatar commented on #94
For the second part of your comment I slightly disagree. Although the example is not strictly by the book (Design Patterns) I believe it demonstrates the essence of the pattern quite well:

"Define an interface for creating an object, but let subclasses decide which class to instantiate. Factory Method lets a class defer instantiation to subclasses."

I do not think that it matters whether the fac

[2015-06-28 19:46] iluwatar commented on #60
https://scan.coverity.com/

[2015-06-29 09:09] proandceo opened #95 "about Command Pattern"
First of all, thank you for this good site and I'm studying various design pattern by referencing yours.

But I have a question about "Command Pattern"
I am confused about "Invoker and Receiver" because your example seems to be one(Wizard) including both Invoker and Receiver.
I guess it will separate Wizard into Invoker and Receiver to help others' understanding.
If I misunderstand it, would you e

[2015-06-29 14:56] iluwatar commented on #95
Hi @proandceo

I'm not sure I understand your question. In the Command pattern example the wizard (invoker) casts spells (command) on the goblin (receiver). Please clarify what you mean by "Invoker and Receiver"?

[2015-06-29 19:28] #59 closed

[2015-06-29 19:28] #60 closed

[2015-06-29 19:35] iluwatar opened #96 "Automate static analysis with Travis"
https://scan.coverity.com/travis_ci

[2015-06-29 19:41] iluwatar opened #97 "Review and fix static analysis results"
Click coverity badge to view defects.

[2015-06-29 19:44] iluwatar opened #98 "Review and improve code coverage"
Click coveralls badge to view current code coverage.

[2015-06-30 01:09] proandceo commented on #95
Thank you for your advice which made me understood easily.

I am afraid that I still confused, based on I'm not professional programmer for Design Patter, goblin is the receiver, wizard is invoker.
But compared your UML and others, it seems to be different so, I am confused.
![image](https://cloud.githubusercontent.com/assets/3205452/8421935/dcc1746e-1f0f-11e5-9e82-265486373388.png)

[2015-06-30 07:00] iluwatar commented on #91
https://en.wikipedia.org/wiki/Naked_objects

[2015-06-30 07:56] iluwatar commented on #91
https://today.java.net/article/2003/07/10/introduction-naked-objects

[2015-06-30 08:18] iluwatar commented on #95
I agree the UML diagram of the Command pattern could be updated and clarified. The blocks and relations are the same as in your diagram. I will work on this and provide an update.

[2015-06-30 15:00] iluwatar commented on #95
@proandceo I have now updated the Command pattern example. The UML diagram was updated and more code comments were added.

[2015-07-03 23:53] ryantheleach opened #99 "final initialization pattern?"
Is there a pattern that deals with keeping references final, but initializing them after construction somehow because allowing this references to escape is potentially bad?

[2015-07-05 09:10] wsdjeg opened #100 "How to Verify the thread-safety issues of singleton with lazy style?"
class Singleton{
 15     //1.私有化构造器,使得外部无法调用本类的构造器
 16     private Singleton(){
 17     }
 18     private static Singleton singleton = null;
 19     //2.提供公共方法
 20     public static Singleton getSingleton(){
 21         if(singleton == null){
 22             try{Thread.sleep(500);}catch(InterruptedException e){e.printStackTrace();}
 23             singleton = new Singleton();
 24             try{T

[2015-07-05 09:21] wsdjeg commented on #100
why different Thread has the same hashCode()?

[2015-07-05 20:48] iluwatar commented on #99
There is a pattern called [Private Class Data](https://en.wikipedia.org/wiki/Private_class_data_pattern) that probably achieves what you need. An example is provided [here](https://github.com/iluwatar/java-design-patterns/tree/master/private-class-data/src/main/java/com/iluwatar/privateclassdata).

[2015-07-08 06:59] #94 closed

[2015-07-08 06:59] #95 closed

[2015-07-09 03:56] wsdjeg commented on #100
thank you for add the label!

[2015-07-09 06:49] iluwatar commented on #100
@wsdjeg This is a good question. I will try to create a test case that demonstrates the thread safety issues of certain Singleton implementations.

[2015-07-09 07:39] iluwatar commented on #100
@wsdjeg See my commit https://github.com/iluwatar/java-design-patterns/commit/96241f63d2a28449d36f7a4d2cf502d0786caf8d

[2015-07-09 13:35] wsdjeg commented on #100
Thank you very much.i got it!

[2015-07-09 13:35] #100 closed

[2015-07-12 11:30] iluwatar commented on #98
Intercepting filter has no tests.

[2015-07-12 12:23] #98 closed

[2015-07-12 12:36] iluwatar commented on #97
Coverity has 6 medium & 8 low defects -> no action

[2015-07-12 12:36] #97 closed

[2015-07-12 12:37] #99 closed

[2015-07-13 18:38] iluwatar opened #101 "ORM pattern"

[2015-07-13 19:17] movingSone commented on #101
I can help you if you want it.

[2015-07-13 19:43] iluwatar commented on #101
Great! Your contribution is welcome.

[2015-07-13 19:48] iluwatar commented on #101
@movingSone How do plan to implement the ORM example? Using a framework such as Hibernate or doing everything from scratch?

[2015-07-13 21:07] #91 closed

[2015-07-13 21:50] movingSone commented on #101
Let me prepare the sample so you can check if I am going in right direction.

[2015-07-14 05:56] iluwatar commented on #101
Ok, no problem.

[2015-07-14 21:01] noobxgockel commented on #56
Hello again,
it might have been a while since i created this issue, ut i have looked around and found some things out i want to share:

Github provides so called github-pages, those are built either static html pages or built with jekyll, maybe that could be used. Seems quite nice for displaying simple data. As far as i have seen it should be possible to categorize and tag posts. There would be so

[2015-07-18 11:31] iluwatar commented on #56
Hi @noobxgockel

Sorry for the delayed answer. I've been travelling for the last few days.

It would be great to improve the user experience by adding a project web site using github pages. My personal priority is currently on developing the content of the project (improve the existing and add more patterns).

Would you be interested to take this issue and start developing the site for the project

[2015-07-19 08:28] iluwatar commented on #93
Apache Camel

[2015-07-19 11:26] #90 closed

[2015-07-19 21:01] iluwatar opened #102 "Onion architecture"
http://jeffreypalermo.com/blog/the-onion-architecture-part-1/
http://jeffreypalermo.com/blog/the-onion-architecture-part-2/
http://jeffreypalermo.com/blog/the-onion-architecture-part-3/
http://jeffreypalermo.com/blog/onion-architecture-part-4-after-four-years/

[2015-07-20 07:10] iluwatar opened #103 "Open Session In View pattern"
http://blog.jhades.org/open-session-in-view-pattern-pros-and-cons/

[2015-07-20 08:03] noobxgockel commented on #56
No problem, i've been busy too c:

yeah i can take this issue on, and having push access would be pretty nice for that. But dont expect design wonders from me ;)

[2015-07-20 12:30] iluwatar commented on #56
@noobxgockel I've added you as a collaborator to the project. You should be able to push to the repository.

Let me know if there's anything you need to advance this issue.

[2015-07-20 14:06] iluwatar opened #104 "Coverage analysis fails"
[ERROR] Failed to execute goal org.eluder.coveralls:coveralls-maven-plugin:3.1.0
:report (default-cli) on project java-design-patterns: I/O operation failed: No
source found for domainapp/dom/modules/simple/QSimpleObject.java -> [Help 1]

[2015-07-21 19:50] noobxgockel commented on #56
Nice C: today im still a bit busy, but tomorrow i'll start for real.

Just some things i thought i'd mention beforehand so you can maybe comment on those.
- I'd put everything pattern related into the master branch and everything website related into the gh-pages branch. To link those 2 together i'd use the git module feature and maybe change the travis.yml so the website is automagically updated

[2015-07-21 21:09] iluwatar commented on #56
Thanks for your thoughts. I think it sounds great in general. Here's some comments:

- Branches master & gh-pages are ok (currently there is also cpp branch where we may get C++ ports of the patterns at some point)
- I haven't used git modules before, but for what I've just read it is going to suit us fine
- Automatic updating of the web site is a great feature. Semiautomatic one command publishin

[2015-07-21 22:24] iluwatar commented on #55
@fernandojunior The example is now available.

[2015-07-21 22:24] #55 closed

[2015-07-21 22:42] iluwatar commented on #104
[ERROR] Failed to execute goal org.eluder.coveralls:coveralls-maven-plugin:3.1.0
:report (default-cli) on project java-design-patterns: Build error: 32 -> [Help
1]

[2015-07-21 23:14] fernandojunior commented on #55
I didn't know Spring has this functionality...
Thanks!

[2015-07-22 07:16] noobxgockel commented on #56
Sounds good C:

It would also be possible to incorperate the cpp patterns into the website with little effort. But maybe the repository name is silightly confusing then.
And to the theme changing. Well it would be possible and it might be quite easy because it should be possible to just swap out the .css and maybe some .js files. But im not too sure about that. If an issue like that comes up you c

[2015-07-22 08:38] iluwatar commented on #56
The cpp branch is currently on hold so let's just ignore it at the moment. Better not design too much ahead, we can change things when the need arises.

[2015-07-22 11:18] iluwatar opened #105 "CQRS pattern"
http://martinfowler.com/bliki/CQRS.html

[2015-07-22 21:22] #89 closed

[2015-07-22 21:58] #68 closed

[2015-07-22 22:25] iluwatar opened #107 "JavaDoc improvements"
http://www.oracle.com/technetwork/articles/java/index-137868.html

[2015-07-22 22:26] iluwatar opened #108 "Consistent package naming throughout the examples"

[2015-07-23 05:59] npathai commented on #82
It is an Enterprise Integration pattern also known as Pipes and Filters pattern. It is also documented in the book POSA 1 (Pattern Oriented Software Architecture) as an architectural pattern. A link to description of this pattern [Pipes and Filters - MSDN](https://msdn.microsoft.com/en-us/library/dn568100.aspx)

[2015-07-23 06:01] npathai commented on #82
I am reading this pattern maybe I can submit an implementation to this. @iluwatar Are you working on it?

[2015-07-23 06:07] npathai opened #109 "Half Sync/Half Async pattern"
This is a _concurrency_ pattern. The pattern separates asynchronous I/O from the synchronous one. Main thread doesn't block on incoming client requests and long-running operations are offloaded to a dedicated synchronous layer. Processing results are delivered by the means of callbacks.
Some resources:
 - http://www.cs.wustl.edu/~schmidt/PDF/PLoP-95.pdf
 - http://zezutom.blogspot.in/2014/08/concur

[2015-07-23 06:14] npathai opened #110 "Adding references to known uses of patterns"
It would be great if we could also include in `etc` directory or some other place all the known implementations of the patterns. Like AbstractFactory is used in `javax.xml.parsers.DocumentBuilderFactory#newInstance()`. It can be a cherry on the pie.
[Implementation of GoF patterns in java core libraries](http://stackoverflow.com/questions/1673841/examples-of-gof-design-patterns-in-javas-core-libra

[2015-07-23 07:34] iluwatar commented on #82
Ok, thanks for the analysis @npathai . This issue is then part of #93. I was thinking that Enterprise Integration Patterns might be implemented using Apache Camel. What do you think?

[2015-07-23 09:45] npathai commented on #82
@iluwatar Yes there are two options either Apache Camel or Mule ESB.
Will we add dependency of Apache Camel? I have read source of Camel for personal project and we can create stripped down version of this particular pattern. I will just have to refer it again. What's your opinion on this?

[2015-07-23 09:48] npathai commented on #93
@iluwatar Should we add some more patterns that fall into this category? But I think we should first figure out how we are going to implement them.

[2015-07-23 11:58] iluwatar commented on #109
Great find, thanks for reporting this.

[2015-07-23 12:06] iluwatar commented on #110
@npathai Did you notice in `REAME.md` under each pattern we have listed "Real world examples" that contains the known uses of the pattern?

[2015-07-23 12:48] iluwatar commented on #82
My first choice for the pattern examples is self implemented source code. Sometimes this may not be reasonable though. Recently I was working on Naked Objects pattern and after a bit of research and talks with Mr. Dan Haywood I found out that basically Apache Isis is the pattern implementation. It does not make sense to implement a functionally identical framework yourself. The same discovery I ma

[2015-07-23 12:50] iluwatar commented on #93
See my comment in #82 Just looked at the book, there seems to be 65 EIP patterns there.

[2015-07-23 18:55] iluwatar opened #111 "Step Builder pattern"
http://rdafbn.blogspot.co.uk/2012/07/step-builder-pattern_28.html

[2015-07-23 22:03] trautonen commented on #104
Coveralls plugin fails because it cannot handle equally named classes in a multi-module project. There are at least three modules containing class `com.iluwatar.App` and the plugin fails to select a correct one for a coverage report. This is known defect in the plugin, but really hard to solve. Version 3.2.0 of the plugin will improve the error message of such cases so it's easier to detect, but s

[2015-07-23 22:16] iluwatar commented on #104
Thank you for looking into the problem. I will take your hint and make sure the classes have different fully qualified domain names. This is related to issue #108

[2015-07-24 05:16] npathai commented on #110
@iluwatar Oops I didn't actually. Its great if we already have it. So what I would suggest is we should create a wiki page for known references.

[2015-07-24 06:53] npathai opened #112 "Disruptor Pattern"
Disruptor is an architectural pattern which is used to create applications that need very low latency.

Quoting [LMAX Exchange](https://github.com/LMAX-Exchange/disruptor/wiki/Introduction)

 - Multicast events to consumers, with consumer dependency graph.
 - Pre-allocate memory for events.
 - Optionally lock-free.

It is based on Ring buffer than a Blocking queue, to increase the [Mechanical symp

[2015-07-24 06:58] npathai commented on #82
@iluwatar  Fair enough. My vote is for Apache Camel as well. We should implement all possible EIPs in #93 using Apache Camel.

[2015-07-25 14:08] #108 closed

[2015-07-27 04:42] npathai commented on #109
I am working on it.

[2015-07-27 05:50] #104 closed

[2015-07-27 08:18] iluwatar opened #113 "Event Driven Architecture pattern"
https://en.wikipedia.org/wiki/Event-driven_architecture

[2015-07-27 12:03] #110 closed

[2015-07-27 16:30] iluwatar commented on #112
Great find @npathai :+1:

[2015-07-27 16:32] iluwatar commented on #82
Ok, I will create the issues for the EIPs.

[2015-07-27 17:03] iluwatar opened #114 "Aggregator (EIP)"

[2015-07-27 17:04] iluwatar opened #115 "Canonical Data Model (EIP)"

[2015-07-27 17:05] iluwatar opened #116 "Channel Adapter (EIP)"

[2015-07-27 17:05] iluwatar opened #117 "Channel Purger (EIP)"

[2015-07-27 17:05] iluwatar opened #118 "Claim Check (EIP)"

[2015-07-27 17:06] iluwatar opened #119 "Command Message (EIP)"

[2015-07-27 17:06] iluwatar opened #120 "Competing Consumers (EIP)"

[2015-07-27 17:07] iluwatar opened #121 "Composed Message Processor (EIP)"

[2015-07-27 17:07] iluwatar opened #122 "Content Enricher (EIP)"

[2015-07-27 17:07] iluwatar opened #123 "Content Filter (EIP)"

[2015-07-27 17:08] iluwatar opened #124 "Content-Based Router (EIP)"

[2015-07-27 17:08] iluwatar opened #125 "Control Bus (EIP)"

[2015-07-27 17:08] iluwatar opened #126 "Correlation Identifier (EIP)"

[2015-07-27 17:09] iluwatar opened #127 "Datatype Channel (EIP)"

[2015-07-27 17:09] iluwatar opened #128 "Dead Letter Channel (EIP)"

[2015-07-27 17:10] iluwatar opened #129 "Detour (EIP)"

[2015-07-27 17:10] iluwatar opened #130 "Document Message (EIP)"

[2015-07-27 17:10] iluwatar opened #131 "Durable Subscriber (EIP)"

[2015-07-27 17:10] iluwatar opened #132 "Dynamic Router (EIP)"

[2015-07-27 17:11] iluwatar opened #133 "Envelope Wrapper (EIP)"

[2015-07-27 17:11] iluwatar opened #134 "Event Message (EIP)"

[2015-07-27 17:11] iluwatar opened #135 "Event-Driven Consumer (EIP)"

[2015-07-27 17:12] iluwatar opened #136 "File Transfer (EIP)"

[2015-07-27 17:12] iluwatar opened #137 "Format Indicator (EIP)"

[2015-07-27 17:13] iluwatar opened #138 "Guaranteed Delivery (EIP)"

[2015-07-27 17:13] iluwatar opened #139 "Idempotent Receiver (EIP)"

[2015-07-27 17:13] iluwatar opened #140 "Invalid Message Channel (EIP)"

[2015-07-27 17:14] iluwatar opened #141 "Message Broker (EIP)"

[2015-07-27 17:14] iluwatar opened #142 "Message Bus (EIP)"

[2015-07-27 17:14] iluwatar opened #143 "Message Channel (EIP)"

[2015-07-27 17:15] iluwatar opened #144 "Message Dispatcher (EIP)"

[2015-07-27 17:15] iluwatar opened #145 "Message Endpoint (EIP)"

[2015-07-27 17:15] iluwatar opened #146 "Message Expiration (EIP)"

[2015-07-27 17:15] iluwatar opened #147 "Message Filter (EIP)"

[2015-07-27 17:16] iluwatar opened #148 "Message History (EIP)"

[2015-07-27 17:16] iluwatar opened #149 "Message Router (EIP)"

[2015-07-27 17:16] iluwatar opened #150 "Message Sequence (EIP)"

[2015-07-27 17:17] iluwatar opened #151 "Message Store (EIP)"

[2015-07-27 17:17] iluwatar opened #152 "Message Translator (EIP)"

[2015-07-27 17:17] iluwatar opened #153 "Message (EIP)"

[2015-07-27 17:17] iluwatar opened #154 "Messaging Bridge (EIP)"

[2015-07-27 17:18] iluwatar opened #155 "Messaging Gateway (EIP)"

[2015-07-27 17:18] iluwatar opened #156 "Messaging Mapper (EIP)"

[2015-07-27 17:20] iluwatar opened #157 "Normalizer (EIP)"

[2015-07-27 17:20] iluwatar opened #158 "Point-to-Point Channel (EIP)"

[2015-07-27 17:21] iluwatar opened #159 "Polling Consumer (EIP)"

[2015-07-27 17:21] iluwatar opened #160 "Process Manager (EIP)"

[2015-07-27 17:21] iluwatar opened #161 "Publish-Subscribe Channel (EIP)"

[2015-07-27 17:22] iluwatar opened #162 "Recipient List (EIP)"

[2015-07-27 17:22] iluwatar opened #163 "Remote Procedure Invocation (EIP)"

[2015-07-27 17:22] iluwatar opened #164 "Request-Reply (EIP)"

[2015-07-27 17:23] iluwatar opened #165 "Resequencer (EIP)"

[2015-07-27 17:23] iluwatar opened #166 "Return Address (EIP)"

[2015-07-27 17:24] iluwatar opened #167 "Routing Slip (EIP)"

[2015-07-27 17:24] iluwatar opened #168 "Scatter-Gather (EIP)"

[2015-07-27 17:24] iluwatar opened #169 "Selective Consumer (EIP)"

[2015-07-27 17:25] iluwatar opened #170 "Service Activator (EIP)"

[2015-07-27 17:25] iluwatar opened #171 "Shared Database (EIP)"

[2015-07-27 17:25] iluwatar opened #172 "Smart Proxy (EIP)"

[2015-07-27 17:25] iluwatar opened #173 "Splitter (EIP)"

[2015-07-27 17:26] iluwatar opened #174 "Test Message (EIP)"

[2015-07-27 17:26] iluwatar opened #175 "Transactional Client (EIP)"

[2015-07-27 17:26] iluwatar opened #176 "Wire Tap (EIP)"

[2015-07-27 17:29] iluwatar commented on #93
This epic was split in issues and will now be closed. Discussion about implementation technique of EIPs can be found in #82

[2015-07-27 17:29] #93 closed

[2015-07-29 05:50] npathai commented on #93
@iluwatar Great, you split all EIPs :)

[2015-07-29 05:53] npathai commented on #112
@iluwatar Yup its an amazing pattern. I will keep adding newer ones. I like learning patterns and will contribute lot here. :)

[2015-07-29 13:34] npathai opened #179 "Leader/Followers pattern"
Leader/Followers pattern is also a _concurrency pattern_. This pattern behaves like a taxi stand where one of the threads acts as leader thread which listens for event from event sources, de-multiplexes, dispatches and handles the request. It promotes the follower to be the new leader. When processing completes the thread joins the followers queue, if there are no followers then it becomes the lea

[2015-07-30 04:35] npathai commented on #109
Note to self - we also need to add reference to POSA book with this task in README

[2015-07-30 05:38] npathai opened #180 "Links to class diagram in README should be relative"
It will be difficult to merge changes in README from forks if the images have absolute links. We should change all of them to have relative links.

[2015-07-30 05:47] npathai opened #181 "Migrate travis build to container based infrastructure"
I was viewing build logs when I found out that we are running build on legacy infrastructure and got a notification for migration to container based infrastructure.

[Travis CI - Why migrate to container based infrastructure](http://docs.travis-ci.com/user/migrating-from-legacy/?utm_source=legacy-notice&utm_medium=banner&utm_campaign=legacy-upgrade)

One of the best advantages is faster build time

[2015-07-30 16:11] iluwatar opened #183 "Event Sourcing pattern"
http://martinfowler.com/eaaDev/EventSourcing.html
https://msdn.microsoft.com/en-us/library/dn589792.aspx
https://msdn.microsoft.com/en-us/library/jj591559.aspx

[2015-07-30 16:44] iluwatar commented on #109
Please close this issue, if you are satisfied.

[2015-07-30 16:49] iluwatar commented on #179
Once again, great finding. :+1:

[2015-07-30 16:54] iluwatar commented on #180
This is a good change.

[2015-07-30 16:57] iluwatar commented on #180
Please close this issue, if you are satisfied.

[2015-07-31 04:25] #180 closed

[2015-07-31 04:27] npathai commented on #183
:+1:

[2015-07-31 16:13] iluwatar commented on #102
http://www.methodsandtools.com/archive/onionsoftwarearchitecture.php

[2015-07-31 16:14] iluwatar commented on #86
http://alistair.cockburn.us/Hexagonal+architecture

[2015-07-31 16:23] iluwatar commented on #84
https://hendryluk.wordpress.com/2009/08/17/software-development-fundamentals-part-2-layered-architecture/

http://www.methodsandtools.com/archive/onionsoftwarearchitecture.php

[2015-07-31 21:04] iluwatar opened #184 "Fluent Interface pattern"
http://www.martinfowler.com/bliki/FluentInterface.html

http://stackoverflow.com/questions/31733262/what-is-this-the-name-of-this-java-state-based-design-pattern

[2015-08-01 12:54] npathai commented on #84
@iluwatar It is also described in Pattern Oriented Software Architecture Vol-1 book.

[2015-08-02 06:44] iluwatar commented on #84
@npathai Thanks for the tip. Unfortunately I don't have that book (yet). Would you recommend the book series?

[2015-08-02 07:33] npathai commented on #84
@iluwatar Here you go http://www.amazon.com/Pattern-Oriented-Software-Architecture-Volume-Patterns/dp/0471958697
It's a 5 volume book series. Worth the money.

[2015-08-02 07:39] npathai opened #185 "Integrate with Gitter chat room"
I recently stumbled upon [Gitter - chat rooms for github](https://gitter.im/) and I think it would be a great idea to integrate with it, because discussions regarding design patterns can be really interesting and may be more suitable in chat format.

[2015-08-02 20:00] iluwatar commented on #185
Yes, why not. We could also setup a mailing list.

[2015-08-03 05:06] npathai commented on #185
@iluwatar Great then. Let's do that. There is one more thing, I was thinking of setting up a wiki page describing usages of all design patterns. Do you think that is a good idea? IMO it would be better search optimized than README.md. We should continue doing what we do in README but we can also set up wiki. If you think it is a good idea then I can create a issue and start working on it.

[2015-08-03 07:15] npathai commented on #74
I am working on this.

[2015-08-03 15:24] iluwatar commented on #185
@npathai Take a look at #56 This is under construction by @noobxgockel I don't think there will be wiki after this task, but nevertheless it is going to be a great step forward from `README.md` Maybe we should re-evaluate the wiki functionality after #56 is live.

[2015-08-03 18:05] iluwatar opened #186 "Setup project mailing list"
As discussed in #185

[2015-08-03 18:05] iluwatar commented on #185
I made an issue for the mailing list. It is #186

[2015-08-04 05:22] npathai commented on #56
@iluwatar Github pages will suffice. IMO we should dedicate a page for applications of patterns.

[2015-08-04 05:22] npathai commented on #56
:+1:

[2015-08-04 16:25] iluwatar opened #187 "More Singleton wisdom"
Analyze the following article from Oracle: https://community.oracle.com/docs/DOC-918906

Improve Singleton examples and their documentation where necessary.

[2015-08-05 00:00] mafagafogigante commented on #56
I went through Jekyll tutorials to set up [my website](https://mafagafogigante.github.io/) and would be willing to help if needed.

BTW, where is the branch?

I think that a new repository is also not bad idea, it's up to you. It provides some nice decoupling but may breaks some Travis magic.

Theme-changing shouldn't be too hard. Jekyll uses static HTML includes and [Liquid](http://liquidmarkup.o

[2015-08-05 04:23] iluwatar commented on #56
ping @noobxgockel

[2015-08-05 23:47] mafagafogigante opened #188 "Synchronized lazy loading example is slow."
There is unnecessary synchronization going on there: synchronizing the
whole method is overkill. A double-checked lock works best and
improves performance.

My pseudocode for this:

    // Do not forget the volatile keyword <- this comment should be in the code.
    private volatile static T instance;

    // ...

    T get() {
        if (instance == null) {
            synchronized(T.class) {

[2015-08-06 05:34] npathai commented on #188
@mafagafogigante Yes I agree with you. There is already an issue #187 related to singletons. I will add a comment over there that we should document that these ways are not recommended and are slow. I suggest an even better approach of using `Enum` based singletons which guarantees single instance even after serialization.

[2015-08-06 05:39] npathai commented on #187
@iluwatar There is an issue #188 where concern regarding lazy loading of Singleton is raised. I was going through the singleton documentation yesterday and found that the disadvantages of approaches are not discussed. We should document that the lazy loading example with `synchronized` keyword is ok for small applications but actually is too slow for production and should not be preferred. I think

[2015-08-06 05:52] npathai commented on #187
http://programmers.stackexchange.com/questions/179386/what-are-the-downsides-of-implementing-a-singleton-with-javas-enum covers downsides of `Enum` based singleton.

[2015-08-06 06:03] npathai commented on #187
Misko Hevery has discussed Singleton vs single instance in this blog post http://misko.hevery.com/2008/08/25/root-cause-of-singletons/
In his blog Misko discusses that there is nothing wrong in having a single instance of something, like having a single application scope object maintained by IoC containers, they don't have private constructors or global instance variable. The singletonness is main

[2015-08-06 15:09] mafagafogigante commented on #188
Yeah. I don't suppose it is possible to lazily load an enum, right?

-----Original Message-----
From: "Narendra Pathai" <notifications@github.com>
Sent: ‎8/‎6/‎2015 2:35 AM
To: "iluwatar/java-design-patterns" <java-design-patterns@noreply.github.com>
Cc: "Bernardo Sulzbach" <mafagafogigante@gmail.com>
Subject: Re: [java-design-patterns] Synchronized lazy loading example is slow.(#188)

@mafagafogi

[2015-08-06 15:32] mafagafogigante commented on #187
I haven't read those links yet but by my own experience I know that in some simple scenarios a singleton can be perfectly replaced by a uninstantiable class.

[2015-08-06 15:50] mafagafogigante commented on #181
Shouldn't this be replicable in my fork?

I get `This job is running on container-based infrastructure, which does not allow use of 'sudo', setuid and setguid executables.`

[2015-08-06 16:28] iluwatar opened #189 "Naked Objects tests failing"
https://s3.amazonaws.com/archive.travis-ci.org/jobs/73414941/log.txt

[2015-08-06 17:50] treslines commented on #149
hi @iluwatar! i have a router implementation that i would like to share with you! how can i do that. fork and create a pull request?

[2015-08-06 18:40] #189 closed

[2015-08-06 19:09] iluwatar commented on #188
I agree that [ThreadSafeLazyLoadedIvoryTower](https://github.com/iluwatar/java-design-patterns/blob/master/singleton/src/main/java/com/iluwatar/singleton/ThreadSafeLazyLoadedIvoryTower.java) is very slow to access and it should be documented in the example.

However, the other styles to implement the Singleton deserve to be documented better as well as @npathai said. I think this is one of the mos

[2015-08-06 19:16] iluwatar commented on #187
There are interesting findings in the Oracle's article particularly about double-checked locking. However, I think our implementation [ThreadSafeDoubleCheckLocking](https://github.com/iluwatar/java-design-patterns/blob/master/singleton/src/main/java/com/iluwatar/singleton/ThreadSafeDoubleCheckLocking.java) is correct.

[2015-08-06 19:23] iluwatar commented on #187
Those are excellent articles @npathai :+1:  Thanks for sharing.

[2015-08-06 19:39] iluwatar commented on #149
Hello @treslines and thank you for the proposal. We have agreed to implement the EIPs based on Apache Camel. See discussion in #82 and #93. If you are still interested to work on this please see the instructions in `README.md` section "How to contribute".

[2015-08-06 19:46] iluwatar opened #190 "The tool to make the class diagrams should be IDE independent"
Not everybody uses Eclipse, which is a requirement for the current tool [ObjectAid UML Explorer](http://www.objectaid.com/home).

[2015-08-06 19:50] iluwatar commented on #190
I'm planning to auto-generate the class diagrams from the source code.

[2015-08-06 20:46] mafagafogigante commented on #190
I would like to see this done.

[2015-08-06 23:19] mafagafogigante opened #192 "README is ugly and could easily be fixed."
Many lines of the file are HUGE. The longest line is terribly **598** characters long!

Some of us (I can't be the only one) use text editors that work better with reasonable line lengths (70 or 80 characters per line).

Even Git diffs become much better when line lengths are moderate.

Also, the last PR I opened (#191) required me to comment in GitHub a line because the word diff was not marked b

[2015-08-07 04:55] npathai commented on #188
@mafagafogigante No I don't think it is possible.

[2015-08-07 05:00] npathai commented on #181
@mafagafogigante I have already migrated my fork to container based infrastructure. But Travis is facing issues downloading dependencies for `naked-objects-intergration` and the build is failing. I need to figure out why is that so. FYI https://travis-ci.org/npathai/java-design-patterns

[2015-08-07 05:34] iluwatar commented on #181
@npathai I think this is the same build issue I worked on yesterday, see https://github.com/iluwatar/java-design-patterns/commit/185f296a5b03f16edb62d0023441e89ad4365501. Try to catch up your fork from the master and hopefully the problem is fixed.

[2015-08-07 06:46] npathai commented on #181
@iluwatar Thanks that solved the issue. It's done. Generating PR.

[2015-08-07 12:57] mafagafogigante commented on #181
I had the same problem of @npathai.

Thanks for fixing it.

[2015-08-07 22:10] iluwatar commented on #82
The pattern is commonly utilized in multimedia streaming frameworks such as DirectShow and GStreamer http://patterns-wg.fuka.info.waseda.ac.jp/SPAQU/proceedings2009/8-F3(P)-SPAQu_CameraReadyVerNew_Dajsuren_vdBrand.pdf

[2015-08-08 07:10] #181 closed

[2015-08-08 14:37] #192 closed

[2015-08-10 04:24] zafarella opened #197 "Accepting presentations for the design patterns"
@iluwatar What do u think if we create presentations for these nice collections of design patterns.
Either one for each for one for all. Something based on impress.js or similar would be great I think.
Happy to contribute.
Kiitos

[2015-08-10 06:06] npathai commented on #197
@zafarella Presentations are nice. I think we can also have Refcardz similar to [Javazone](https://dzone.com/refcardz/design-patterns). But I think #56 can get closer to Refcardz.
As far as presentation goes you can prepare first draft with 2-3 patterns and share with us, so that we can have a discussion on it.

[2015-08-10 20:45] iluwatar opened #198 "Direct links to pattern descriptions are broken"
Example link:

https://github.com/iluwatar/java-design-patterns#state

When the link is opened in browser it does not lead to the correct anchor.

[2015-08-10 21:18] SatishNaidu opened #199 "External Configuration Store Pattern"
Hi Team,
I am really impressed with your work and the way you are working on.
If possible can I try to start work on the one of the cloud design patterns " External Configuration Store Pattern".

Please let me know your comments.

[2015-08-11 05:59] npathai commented on #199
Just for reference https://msdn.microsoft.com/en-us/library/dn589803.aspx
@SatishNaidu Yes you may go ahead. We welcome contributions :+1: . But I think we need to discuss how are we going to implement cloud design patterns. Put forward your thoughts @iluwatar @SatishNaidu
I don't have any experience related to cloud technologies.

[2015-08-11 06:04] npathai commented on #199
@SatishNaidu We have how to contribute guidelines in README.md

[2015-08-11 07:00] npathai opened #201 "Add contributors section to README"
I think this is a very good idea because it will encourage more contribution and provides better visibility of major contributors. Hamcrest team and JUnit team does this and I am sure many more as well.

@iluwatar your thoughts on this? After this I think we will be good to go and I will also focus on adding and improving content.

[2015-08-11 07:36] npathai commented on #185
@iluwatar Can we set up chat room on priority so that we can start having discussions on our ongoing implementations of patterns. We should also add link to add our gitter chat room in README.

[2015-08-11 08:59] SatishNaidu commented on #199
Thanks @npathai , I have gone through the all the microsoft cloud design patterns, Some of the paterns like "Cache Aside pattern" , "Runtime Reconfiguration Pattern ", "External Configuration Store pattern" etc are really very usefull for all the applications apart from cloud.

I will create some sample interfaces and related impl classes and share the details with you for further inputs from all.

[2015-08-11 11:16] noobxgockel commented on #56
Yeah, sorry about that, i started but never really finished ^^ Kinda busy atm, but if you want i can commit the stuff i have currently and someone else can take it. Site works but is kinda flawed because i dont intend to use patterns as jekyll posts but rather static pages (those who know jekyll know what im talking about) ^^

[2015-08-11 15:39] mafagafogigante commented on #56
I think that a script that rendered a markdown page for every DP is not so hard to craft.

[2015-08-11 18:01] iluwatar commented on #56
@noobxgockel it would be great if you could commit the current work.

[2015-08-11 18:09] mafagafogigante commented on #56
Yeah, I also want it. I may even make some progress on it.

[2015-08-11 19:43] iluwatar commented on #185
Resolved with https://github.com/iluwatar/java-design-patterns/commit/76fe68f591f6b341a4b6d254a5c4d2d4b4e0cba5

[2015-08-11 19:43] #185 closed

[2015-08-11 19:55] iluwatar commented on #197
I agree we need better presentation. There is something boiling in #56 but I'm not sure what is the status of that. @zafarella I agree with @npathai Feel free to demostrate your ideas.

[2015-08-11 19:59] iluwatar commented on #201
It is more maintenance but I don't object if there's a PR.

[2015-08-11 22:11] zafarella commented on #197
Yep, thanks, whenever will find some time - will implement one presentation. The idea behind is to simply open the repository and start sessions about the patterns. It would be nice I think when you have some classes to do or simply want to go through some patterns in a wide screen.

[2015-08-12 00:55] stephen-lazarionok opened #203 "Finite State Machine pattern"
Hi Everybody,

I would like to add FSM pattern with the examples even though Java is not the best logic for expressing this pattern. What do you think about that?

[2015-08-12 01:08] stephen-lazarionok commented on #79
I may help with implementing this pattern. Please let me know if it's oaky with you.

[2015-08-12 02:59] stephen-lazarionok commented on #138
Can help with this. Please let me know if it's okay with you.

[2015-08-12 02:59] stephen-lazarionok commented on #128
Can help with this. Please let me know if it's okay with you.

[2015-08-12 02:59] stephen-lazarionok commented on #132
Can help with this. Please let me know if it's okay with you.

[2015-08-12 05:17] npathai commented on #185
Yayy :+1:

[2015-08-12 05:23] npathai commented on #197
:+1:

[2015-08-12 06:20] npathai commented on #109
Once #204 is merged we can close this.

[2015-08-12 09:45] noobxgockel commented on #56
@mafagafogigante Yeah its not hard to just display the patterns. But i want to use the theme i posted above and include a tag/category search functionality. Maybe even some overview pages etc... But i will try to make as much progress today and commit it. So others can help C:
Sorry again that i was away for that long...

[2015-08-12 13:14] iluwatar commented on #203
Hi there @stephen-lazarionok ,

I am aware of the State pattern but unfamiliar with the FSM. Can you point the source of the pattern, web link or some book maybe?

[2015-08-12 13:16] iluwatar commented on #79
Sure, go ahead, your contribution is welcome!

[2015-08-12 13:20] iluwatar commented on #138
First you should be aware that we have agreed to implement the EIPs using Apache Camel. To see the full discussion see #93 and #82.

If you are still willing to help, you are welcome to proceed.

[2015-08-12 13:23] iluwatar commented on #128
My response is the same as in #138

[2015-08-12 13:24] iluwatar commented on #132
My response is the same as in #138

[2015-08-12 13:31] iluwatar commented on #197
Sounds awesome. I'm looking forward to see the first presentation.

[2015-08-12 21:07] noobxgockel commented on #201
I think the overview of github is enough, maybe some "special thank" here and there but not another list to maintain ^^

The Website will get such overview, so it will be visible even on the website C:

[2015-08-12 21:09] noobxgockel commented on #56
Just as i update:
Worked on it today and made quite a bit of progress, but its too late now to organize a partial commit. I'll ramp up a commit tomorow, maybe even with some more of site done C:

[2015-08-12 21:53] mafagafogigante commented on #56
Good job. Waiting to see it, may put some effort into this in the weekend.

[2015-08-13 05:04] npathai commented on #201
@noobxgockel Yes I agree. As we will move forward there will be a team of people who will become frequent contributors and maintainers. So I thought it would be worth mentioning them. Not a problem if this is not a good idea.

[2015-08-13 05:05] #109 closed

[2015-08-13 05:21] noobxgockel opened #205 "Better Structure / More Info"
Hello there,

so i recently got the "Head First Design Patterns" book from my boss and i found a pretty nice Structure to put patterns into it. Maybe we could adapt to something like this. I mean the overview you get from this collection of patterns is really nice and helpfull but i find if i wanted to use some pattern mentioned here i havent got enough information to fully comprehend and implemen

[2015-08-13 05:29] noobxgockel commented on #198
Its github's fault i think. If you open the README the links work:

https://github.com/iluwatar/java-design-patterns/blob/master/README.md#state

Anyhow, the Site will better this situation hopefully...

[2015-08-13 07:00] npathai commented on #205
@noobxgockel Yes that surely will help. Because one thing is to understand the patterns, it is way different to understand where and how to implement them. As they never are implemented as island, they actually are in subtle ways linked and used with each other. That's [Pattern Language](https://en.wikipedia.org/wiki/Pattern_language) a term coined by Christopher Alexander for building architectur

[2015-08-13 07:04] npathai commented on #198
@noobxgockel Can we raise an issue at GitHub's side for the same?

[2015-08-13 18:35] stephen-lazarionok commented on #203
Here is the information about FSM:
[The description of the pattern](http://www.csee.wvu.edu/~ammar/rts/adv%20rts/statecharts%20patterns%20papers%20and%20%20examples/paper%20on%20state%20pattern%20B31-full.pdf)
[FSM in Erlang - very nice explanation](http://www.erlang.org/documentation/doc-4.8.2/doc/design_principles/fsm.html)
[The implementation of FSM in Akka](http://doc.akka.io/docs/akka/snapsho

[2015-08-13 18:35] stephen-lazarionok commented on #79
Okay, I will work on this pattern

[2015-08-13 18:36] stephen-lazarionok commented on #138
Okay, understood. I will work on this pattern using Apache Camel.

[2015-08-13 18:36] stephen-lazarionok commented on #128
Okay, understood. I will work on this pattern using Apache Camel.

[2015-08-13 18:36] stephen-lazarionok commented on #132
Okay, understood. I will work on this pattern using Apache Camel.

[2015-08-13 19:12] hannespernpeintner commented on #184
I try to implement it :)

[2015-08-13 22:30] noobxgockel commented on #56
Here is the first batch!
Yes its not optimal right now, but i got to get some sleep too, will write TODO's and sorts tomorrow...

PS: the site works mostly (except some css) its just the links that dont, they somehow cut out the "/java-design-patterns/" part...

[2015-08-14 02:27] hannespernpeintner commented on #184
Sent a pull request https://github.com/iluwatar/java-design-patterns/pull/207 :)

[2015-08-14 02:39] stephen-lazarionok commented on #79
Pull request #206 is prepared. Please review.

[2015-08-14 08:20] npathai commented on #184
@hannespernpeintner Thanks for your PR. :+1:
I have not read the whole example but just took a brief idea. @iluwatar Would like to hear your suggestion on "Should we implement this example as a `FluentIterable`". This will be a minimal mock of [Guava's FluentIterable](http://docs.guava-libraries.googlecode.com/git/javadoc/com/google/common/collect/FluentIterable.html). I think it makes the pattern

[2015-08-14 08:21] npathai commented on #184
@iluwatar Or even better we can just use Java 8 Stream API to demonstrate it.

[2015-08-14 09:14] hannespernpeintner commented on #184
You are welcome :)
@npathai guavas fluentiterable is a complete and concise Implementation and could be a receipt by itself, i dont think one should reimplement it. However, maybe its source should be linked in the read.me?
Using the stream API would be easy and possible but isnt the key of this project to show how the pattern can be Used - and *implemented* as well?

[2015-08-14 09:54] npathai commented on #184
@hannespernpeintner I agree with you. I think we should implement it by hand, a very minimal example. We are in the same dilemma as we faced with #93 . Whether we should implement it or just use existing library. There we have decided to use Camel for just showcasing the use of design pattern (because it would have required a lot of boilerplate framework classes to implement them). I was kinda in

[2015-08-14 10:01] npathai commented on #184
@iluwatar Do you think we should have a discussion round about the example that we will be demonstrating prior to implementation. Reason is that I find it useful if the example demonstrated is nearer to a real application. But that can be just me.
Again it can mean that our tasks run longer because it can be difficult to come to a consensus. I don't know just thinking out loud. Guys?

[2015-08-14 10:26] npathai commented on #184
Some interesting references:
 - [Ways to implement fluent interface](http://stackoverflow.com/a/17937946/1719067)

 - [Drawbacks of self-referential method chaining](http://programmers.stackexchange.com/questions/80244/are-there-any-actual-drawbacks-to-self-referential-method-chaining)
 - [Java fluent API designer crash course](http://blog.jooq.org/2012/01/05/the-java-fluent-api-designer-crash-cou

[2015-08-14 10:28] npathai commented on #184
[JOOQ](http://www.jooq.org/) should also be documented as application. It implements database query DSL which is most common use case of Fluent interface seen in almost all languages.

[2015-08-14 10:57] npathai opened #208 "Document design principles | SOLID | YAGNI"
Some of the design principles that I know of are:
 - [SOLID](https://en.wikipedia.org/wiki/SOLID_(object-oriented_design))
 - [Tell Don't Ask](http://martinfowler.com/bliki/TellDontAsk.html)
 - [YAGNI](https://en.wikipedia.org/wiki/You_aren%27t_gonna_need_it)
 - [KISS](https://en.wikipedia.org/wiki/KISS_principle)
 - [DRY](https://en.wikipedia.org/wiki/Don%27t_repeat_yourself)

These are the found

[2015-08-14 16:09] hannespernpeintner commented on #184
From my point of view, the example should be as  clearly seperable as possible from state patterns. And most tutorials tend to kind of over-weight the formal DSL thing. So it might be best to implement a simple fluentiterable based on the guava Code. Real-world and simple. The most important part would then be the Implementation, because that's what people are interested in (how to use fluent Inte

[2015-08-14 18:51] iluwatar commented on #205
This is good to discuss. I think this has all to do with our vision and what we want to achieve with this project.

Personally I started this repository to learn myself how to implement the patterns. I started with the bare minimum what I need. I found most valuable the intent (what does it do) and applicability (when to use) and simple class diagram showing the relationships. I think this is the

[2015-08-14 18:53] iluwatar commented on #205
If I have understood correctly the repository's front page is not going to display the pattern documentation anymore but rather link to the web site. @noobxgockel can you elaborate what is your vision on this?

[2015-08-14 18:56] iluwatar commented on #198
At the moment the individual patterns are not visible in `README.md` so this issue might not be relevant anymore.

[2015-08-14 19:11] iluwatar commented on #203
Thank you for the links. Especially the first explains the pattern well. We'll accept the pattern once you make the pull request.

[2015-08-14 19:24] iluwatar commented on #56
This is great! Now we have something to show. I will report new issues on my findings.

[2015-08-14 19:30] iluwatar opened #209 "Web site links not working"
- the toolbar links give 404 when clicked
- the pattern links do nothing when clicked (what should they do?)
- can we remove the bottom most line with email and rss links?

[2015-08-14 19:32] iluwatar commented on #208
:+1:

[2015-08-14 19:33] iluwatar commented on #208
This could be its own section, like for example the "Idioms" is.

[2015-08-14 19:35] iluwatar commented on #208
We should borrow some things from here http://webpro.github.io/programming-principles/

[2015-08-14 20:12] ntfc opened #210 "CSS/JS is not loaded when browsing site with HTTPS"
Developer console shows warnings like:

Maybe the solution is to include  stylesheets/js with **//** instead of **http://** as reported [here](https://www.maxcdn.com/one/tutorial/solving-mixed-content/)

[2015-08-15 07:03] iluwatar opened #211 "Add more design pattern real life examples"
https://gof-design-patterns.zeef.com/bauke.scholtz extracted from Stack Overflow answer http://stackoverflow.com/questions/1673841/examples-of-gof-design-patterns-in-javas-core-libraries

[2015-08-15 16:18] #56 closed

[2015-08-15 16:25] noobxgockel commented on #210
@ntfc Hello there
i just committed a rather large batch of misc. fixes and that included a fix for this. I dont get any errors in the developer console anymore.

Can u please verify it works now ?

[2015-08-15 16:31] ntfc commented on #210
Hi there,

Working perfectly, thanks!

[2015-08-15 16:31] noobxgockel commented on #209
should be fixed now

yes currently the links on the "Home" page dont do anything, thats because the readme doesnt contain all the patterns anymore...

I left all the lists in there until we have migrated to the category and tag system of the website, but after that i think the links or even the list should be removed from the main README. I'd suggest the main readme to only be general information

[2015-08-15 16:32] #210 closed

[2015-08-15 16:45] noobxgockel commented on #205
As to the repo front page links: yep that would be one possibility, but only going through the website is also an option.

My Vision... I just thought that such a structure is more inviting and maybe for some of us more informative than what we currently have.

And @iluwatar , if you want it to be code heavy, then i have no problem with that at all. There still is the posibility to add dynamic lin

[2015-08-15 17:06] iluwatar commented on #209
Fair enough. I think we try it as you suggested. Will you make the changes for the `README.md`?

[2015-08-15 17:14] iluwatar commented on #205
This sounds fine to me. Go ahead and proceed with the vision you have. We can leave the links out of the `README.md` and go through the web site only.

@noobxgockel I had some questions about the new system. Specifically how do we add new patterns with the new system. This in Gitter, let's discuss there.

[2015-08-15 17:38] iluwatar opened #212 "Update "How to contribute" instructions"
The instructions still mention editing README.md which might not be necessary with the new web site. @noobxgockel can you advice how we should formulate the instructions?

[2015-08-15 19:08] noobxgockel commented on #209
Yes i could do that. I'll make another issue for fixing all those categories and tags.

[2015-08-15 19:09] noobxgockel commented on #198
As the website will take over and the links will be removed from the root README in master this issue isnt relevant anymore.

[2015-08-15 19:09] #198 closed

[2015-08-15 19:10] noobxgockel commented on #212
Updated it, tell me if its good enough ^^

[2015-08-15 19:14] noobxgockel opened #213 "Categorize and Tag all patterns"
Due to splitting the issues up some information like the category got lost. And we have those cool new Tags.

All the index.md files of the patterns should get relevant categories and tags in the yaml frontmatter. The 'pattern_cat' and 'pattern_tag' stuff can be removed as it is only a placeholder...

The 'How to Contribute' Section of the README in master should explain everything that is needed

[2015-08-15 20:25] iluwatar commented on #212
I think it is perfect :+1:

[2015-08-15 20:25] #212 closed

[2015-08-15 21:35] hannespernpeintner commented on #65
I'll give it a try :)

[2015-08-16 01:55] hannespernpeintner commented on #65
I pushed a module in a new branch. Since I wasn't satisfied with the simple "I have my own thread"-implementation one can find everywhere, I implemented return values with futures and a task queue as well.

Would be glad if I get some comments. If the code is good, I will add readme and uml stuff.

Thanks :)

[2015-08-16 04:55] npathai commented on #211
:+1: This question on SO is my favorite. Great add.

[2015-08-16 04:58] npathai commented on #208
@iluwatar That's a great link. I will go through it. Yes it should be in a dedicated section something like "Design guidelines or principles".

[2015-08-16 05:01] npathai commented on #205
@iluwatar Fair enough. I understand we should not go overboard with documenting each thing the book already documents, just the most important bits. But I think the _bad_ are the most important part of it. No pattern is just all good.

[2015-08-16 05:07] npathai commented on #184
@hannespernpeintner I agree. A simple implementation of `FluentIterable` would be perfect for this. I had created a mockup of `FluentIterable` for personal learning. I'll be available for any help. We can utilize JDK8 interfaces `Function`, `Consumer`, `Supplier`.

[2015-08-16 05:55] npathai opened #214 "Data-Context-Interaction (DCI) pattern"
DCI can be seen as an architectural pattern, which is considered to be a complementary pattern to MVC. It is proposed by Trygve Reenskaug and James O. Coplien. Trygve Reenskaug formulated the MVC pattern.
Some great references:
 - [The DCI Architecture: A New Vision of Object-Oriented Programming](http://www.artima.com/articles/dci_vision.html)
 - [Video - Re-thinking foundations of OO programming

[2015-08-16 07:20] iluwatar commented on #205
Yes, I don't mean to leave everything out - just the less important parts. Which ones do you think are the most important? So far we have

- name / classification
- intent
- applicability
- diagram
- known uses (real world examples)
- implementation / sample code

Maybe add these

- consequences (the good and the bad)

Thinking of leaving out

- motivation
- participants
- collaborations
- related

[2015-08-16 07:24] npathai commented on #205
For now I think we should just add _consequences_.

[2015-08-16 07:29] iluwatar commented on #214
:+1:

[2015-08-16 15:31] fedy2 opened #215 "Add to pattern description reference to java core implementation"
In SO there is a list of design pattern implemented by Java core components.
These information can be integrated in the pattern pages.

Here the SO question:
http://stackoverflow.com/questions/1673841/examples-of-gof-design-patterns-in-javas-core-libraries

[2015-08-16 15:35] npathai commented on #215
There is already an issue for the same #211

[2015-08-16 15:35] #215 closed

[2015-08-16 15:41] npathai commented on #34
This issue is related with #79
Both are persistence solutions. Data mapper is considered alternative to Active record.
Some links that discuss the difference
 - http://russellscottwalker.blogspot.in/2013/10/active-record-vs-data-mapper.html

[2015-08-16 16:54] #84 closed

[2015-08-16 18:19] iluwatar commented on #213
Is there some limitation why we need to use snake casing e.g. `presentation_tier`? Can't we just type `Presentation tier` or maybe YAML need `"Presentation tier"`.

[2015-08-16 18:20] iluwatar commented on #213
What would be good tags to use? I'm thinking of implementation technologies e.g. `Spring` and `Camel`.

[2015-08-16 18:43] stephen-lazarionok opened #216 "Repository vs DAO"
I think that Repository pattern is not implemented in the correct way and it looks like DAO. Here is a good article about this http://thinkinginobjects.com/2012/08/26/dont-use-dao-use-repository/

[2015-08-16 20:11] iluwatar commented on #216
Hi @stephen-lazarionok and thanks for pointing out the interesting article. We would like to improve the example so that it would better distinguish Repository from DAO. I noticed that the class naming could be improved and maybe add a query method that takes criteria as a parameter like they have in the article. Can you pinpoint more improvements we should apply? PRs are welcome too, if you would

[2015-08-17 01:59] hannespernpeintner commented on #184
Okay so next try: I made a small implementation of the FluentInterface similar to Guava. Of ourse I didn't reimplement all the functionality. I used the all-Java-stuff like Iterator interface, Joiner, Function, Consumer etc.

When code and documentation are good, I'll do the readme stuff.

Thanks :)

[2015-08-17 02:16] npathai commented on #184
Great I will review it.

[2015-08-17 02:23] npathai commented on #84
@iluwatar I will review it once I am done with active PR.

[2015-08-17 02:33] stephen-lazarionok commented on #216
I can work on Repository pattern and improve it. The only thing that I do not have enough time as I took some patterns to implement and in addition to that I have real projects I've been working on. So it may take some weeks to implement all the stuff on me :) If it is okay then I will go ahead.

I did not review all the code I just took a look at the repository pattern implementation to find out

[2015-08-17 05:26] noobxgockel commented on #213
Hmmm, to be honest im not too sure about beeing able to use proper casing with spaces. I'd say try it out and if it works then it definitly looks better than camel casing, right ?

And Tags, yeah. Maybe some things that differences this pattern from other ones. Like if its an EJB only pattern, JEE or JSE, ... The technologies used or similar to the pattern also sounds quite good. But i agree, this

[2015-08-17 05:32] noobxgockel commented on #209
I'll close this for now and edit #213 to include the point of removing the patternlist from the readme after we finished categorizing and tagging all patterns.

[2015-08-17 05:32] #209 closed

[2015-08-17 05:55] noobxgockel opened #217 "Change Fork me on GitHub Banner"
The current one overlaps the title and doesnt look very pretty. Maybe use something like http://docs.cloudfoundry.org/images/ribbon_forkme.png but inside the titlebar.

[2015-08-17 07:28] npathai commented on #213
Some other tags: `Functional`, 'Persistence`, `I/O`. But I am still figuring it out.

[2015-08-17 07:51] npathai commented on #161
This pattern is similar in intent to Observer pattern.

Observer
-------------
 - Is used for same process events
 - Subscriber is aware of the publisher's existence
 - It is one (pub) to many (subs)
 - Publisher fires the on change events
 - Events are fired in sync
 - Implementation: `Observable` and `Observer` classes in Java

Pub-Sub
-------------
 - Used when there are two different processes

[2015-08-17 12:00] noobxgockel opened #218 "Automagically update the website's submodule"
Update the submodule (of master) inside of the gh-pages branch to the latest commit automagically.
This is so we dont have to manually do that everytime. Possible solution is to use travis-ci.

Here are some related links i found:
- http://awestruct.org/auto-deploy-to-github-pages/
- http://stackoverflow.com/questions/18027115/committing-via-travis-ci-failing
- https://evansosenko.com/posts/automa

[2015-08-17 16:37] iluwatar commented on #218
:+1:

[2015-08-17 19:37] #111 closed

[2015-08-17 20:15] iluwatar commented on #186
After the Gitter integration, I think the mailing list at this point is unnecessary. I'm closing this issue.

[2015-08-17 20:15] #186 closed

[2015-08-18 01:31] stephen-lazarionok commented on #79
I've fixed the points raised and left my comments

[2015-08-18 07:15] npathai commented on #186
I agree :+1:

[2015-08-18 07:18] npathai commented on #218
@noobxgockel have you consciously chosen `AutoMAGICALLY` as the title? Or is it supposed to be `automatically`? :)

[2015-08-18 15:53] mafagafogigante opened #219 "About page"
To help @iluwatar : consider labelling website and question.

@noobxgockel - I would have e-mailed you if your e-mail were public. So here is the question: what is the purpose of this https://github.com/iluwatar/java-design-patterns/blob/gh-pages/pages/2about.md ? Do we need it for any reason?

[2015-08-18 18:26] noobxgockel commented on #219
Well... not really, in raw you can see the old content (https://raw.githubusercontent.com/iluwatar/java-design-patterns/gh-pages/pages/2about.md) but i guess we can delete it.

- [ ] Delete [2about.md](https://github.com/iluwatar/java-design-patterns/blob/gh-pages/pages/2about.md)

[2015-08-18 18:29] noobxgockel commented on #218
@npathai yep npathai. I like to do that from time to time. Its like magic, you only think its magic until you know how the trick is done. And updating the website each travis build might seem magically to some C:

[2015-08-18 19:02] mafagafogigante commented on #219
OK. I just thought you had inserted it in there for some weird reason. I saw it with Vim, don't like to use GH for this.

Also, why this naming? Can't we have about.md and patterns.md? Is there any reason for the number? If we only have one page, is there any reason left for it?

[2015-08-18 19:31] noobxgockel commented on #219
Number was used when there were multiple pages to properly arrange em in the navbar. So yes, i'd keep it for that reason.

[2015-08-18 19:33] mafagafogigante commented on #219
If we have only one page that wouldn't be necessary. Also, it is just a dirty hack, jekyll certainly has a superior way to solve this. You could sort using Liquid, I suppose.

[2015-08-19 07:15] noobxgockel commented on #219
The FAQ would be an example that might get an extra page. And yes its a hack, but its how the theme maker did it. But if you want to change it feel free to make a pull request, i'd be happy to merge it C:
I'd do it myself but im kinda busy at the moment. Most of the time i can just organize stuff at my workplace, but not really code.

[2015-08-19 11:11] npathai opened #221 "Document agreed Java guidelines to README.md"
To keep the things in sync and properly formatted we need to follow some style guide.
My vote is for [Google Style Guide](https://google.github.io/styleguide/javaguide.html) as it is used in many open source projects. Other option is to follow Oracle coding convention.

Google Style guide configuration for IDE
 - [Eclipse configuration](https://github.com/google/styleguide/blob/gh-pages/eclipse-ja

[2015-08-19 18:37] iluwatar commented on #221
I can live with the Google guide.

[2015-08-19 18:51] iluwatar commented on #205
Agreed then. Our current pattern template is:

- name / classification
- intent
- applicability
- diagram
- known uses (real world examples)
- implementation / sample code
- consequences (the good and the bad)

[2015-08-19 18:51] #205 closed

[2015-08-19 18:52] iluwatar commented on #221
Maybe we can change this issue title to document the agreed conventions to `README.md`

[2015-08-19 20:57] MSaifAsif commented on #101
@iluwatar Is this still under construction by anyone?

[2015-08-20 01:15] stephen-lazarionok commented on #203
Initial pull request is ready - Finite state machine #222. I will add the documentation later as well as include this module to the parent pom.xml later.

[2015-08-20 03:18] iluwatar commented on #101
ping @movingSone

[2015-08-20 06:06] npathai commented on #221
@iluwatar I have changed the title. Should we target changing existing pattern implementations with this issue?

[2015-08-20 19:00] iluwatar commented on #221
I think we should. But this can be another task.

[2015-08-20 19:47] #217 closed

[2015-08-20 19:47] #219 closed

[2015-08-21 05:56] npathai commented on #221
@iluwatar Sure. Maybe I will be able to squeeze in some time this weekend for it.

[2015-08-21 12:54] npathai opened #224 "Reformat existing code using Google Style Guide"
This issue is related to #221 . With this issue we will re-format existing implementation to confirm to Google Style guide.

[2015-08-21 12:55] #221 closed

[2015-08-21 13:09] npathai opened #226 "Move pattern specific references to respective pattern page"
At the landing page we have references section where we have mix of both general and pattern specific references. I think it will be good to move pattern specific references to respective pattern pages. It provides better organization.

Tasks:
 - [X] Move existing pattern specific credits to respective patterns
 - [X] Add credits to pattern template section in wiki

[2015-08-21 20:34] #107 closed

[2015-08-21 22:14] shaileshkhose commented on #216
I can work upon the udpates required for correcting the Repository pattern, as desired by @stephen-lazarionok. Let me know if that would be okay.

[2015-08-22 06:11] npathai commented on #216
@shaileshkhose Sure go ahead. Your contribution is welcome.

[2015-08-22 08:59] iluwatar commented on #101
After reading this article http://www.vertabelo.com/blog/technical-articles/orms-under-the-hood I started thinking if we should close this issue and just implement #34 and #79

@npathai what is your view on this?

[2015-08-22 09:21] iluwatar commented on #201
We could list the core team members in the `README.md` and then link to https://github.com/iluwatar/java-design-patterns/graphs/contributors to view all contributors.

[2015-08-22 11:12] npathai commented on #201
@iluwatar Good idea. :+1:

[2015-08-23 10:25] npathai commented on #101
@iluwatar Yes we can close it.

[2015-08-23 10:25] #101 closed

[2015-08-23 11:13] iluwatar opened #228 "Information meant for project developers should be in the wiki"
`README.md` is the front page of the web site. We should target it for the "users" of the site, not for the project developers. Let's move information meant for the project developers into the wiki.

[2015-08-23 12:04] iluwatar commented on #228
I'm thinking changes as follows. Comments are welcome.

Move from readme to wiki
- how to contribute
- versioning
- license

Add to readme
- link to developer information in wiki

Add to wiki
- agreed coding conventions
- agreed pattern format
- instructions how to update the web site
- agreed working methods (e.g. peer reviews, monthly releases)

[2015-08-23 13:21] npathai commented on #228
:+1:

[2015-08-23 15:03] noobxgockel commented on #228
I think the license should stay in the readme, its a defacto standard on github to let it sit there (at least from what i have seen). But the rest sounds good to me. :+1:

[2015-08-25 19:23] mafagafogigante commented on #228
Code-wise this project not even needs a license, as no one is ever going to reuse source code from this repository in production. A "more artistic" license could be used to prevent or restrict resource usage in books if there was a reason for it.

@noobxgockel Not **the license**, but just a license note (as it currently is).

If it is just a note in the very bottom of the readme it is not a probl

[2015-08-25 19:33] mafagafogigante commented on #208
I dare to say YAGNI about this very idea.

@iluwatar Awesome link. Why not just reference it in the suggested section? Also keep a fork of it so that if the original repository is removed we still have our copy.

[2015-08-26 04:40] iluwatar commented on #228
Ok, we can leave the license note. The rest of the stuff I mentioned is going to move [here](https://github.com/iluwatar/java-design-patterns/wiki).

[2015-08-26 04:41] npathai commented on #208
@mafagafogigante I was kinda thinking in the same line. I will change the task to just add reference to the link @iluwatar provided. How does that sound?

[2015-08-26 04:45] iluwatar commented on #208
@mafagafogigante @npathai This is a good idea. We also may have something to contribute to that repository.

[2015-08-26 09:59] AlexandrKoshi commented on #66
I try to implement it :)

[2015-08-26 14:38] npathai commented on #208
Ok I will pick this up once I am done with #74 Turns out its difficult to work with NIO :smile:

[2015-08-26 15:08] mafagafogigante commented on #208
Great. I think that helping that repository would be a great thing to do.

[2015-08-26 18:36] iluwatar opened #229 "Page Object pattern"
http://martinfowler.com/bliki/PageObject.html

[2015-08-27 06:18] npathai opened #230 "Service configurator pattern"
http://www.dre.vanderbilt.edu/~schmidt/PDF/O-Service-Configurator.pdf

Dynamically reconfiguring a service without restarting the whole service

[2015-08-27 06:21] npathai opened #231 "Acceptor-Connector pattern"
http://kurser.iha.dk/ee-ict-master/tiardi/Slides/ARDI3-POSA2-AcceptorConnector.pdf

[2015-08-27 18:16] iluwatar commented on #224
https://github.com/google/styleguide/blob/gh-pages/eclipse-java-google-style.xml does not seem to work in Eclipse Mars.

[2015-08-28 06:10] npathai commented on #224
@iluwatar I will take a look.

[2015-08-30 17:25] #228 closed

[2015-08-30 17:44] iluwatar commented on #201
This section is now in the developer wiki https://github.com/iluwatar/java-design-patterns/wiki/9.-Team

[2015-08-30 17:44] #201 closed

[2015-08-30 19:10] iluwatar opened #232 "Redux pattern"
This is a presentation tier pattern, similar to Flux .

http://rackt.github.io/redux/

[2015-08-31 15:25] ekostadinov opened #233 "Context Object pattern"
This pattern helps avoid using protocol-specific system information outside of its relevant context. It forces only the relevant APIs to be exposed and decouples the components and services from the protocol specifics of system information. We use it to encapsulate state in a protocol-independent way to be shared throughout the application.

[2015-08-31 15:31] iluwatar commented on #233
Do you have a reference book or link describing the pattern?

[2015-08-31 15:54] ekostadinov commented on #233
This is the official [description](http://corej2eepatterns.com/ContextObject.htm) of the pattern

[2015-09-01 08:11] geniusgeek commented on #232
This pattern uses Model , Update , View as described in Elm. But in this case, it view action in form of tree nodes (as Commands in Command Pattern) with different states(as State in State pattern) for which all current actions can be tracked from root. I think this pattern can be implemented in java using Pattern Compound of (Composite, Command, State and Iterator pattern). I will be happy to att

[2015-09-01 08:37] geniusgeek commented on #233
The Context Object Simply hides implementation details from clients in a particular context and their invocation in a protocol specific system

[2015-09-01 09:24] npathai commented on #232
@geniusgeek Sure we welcome contribution. Go ahead. If you do decide to pick it up then I will change the status of issue.

[2015-09-01 09:31] ekostadinov commented on #233
Well, [Singleton](https://github.com/iluwatar/java-design-patterns/blob/master/singleton/index.md) simply ensures that a single instance will exists.

[2015-09-02 05:28] ekostadinov commented on #233
Will I get permission to publish my branch and changes?

[2015-09-02 20:06] #143 closed

[2015-09-03 19:33] iluwatar commented on #190
I'll give it a shot at https://github.com/iluwatar/uml-reverse-mapper

[2015-09-04 05:26] noobxgockel opened #237 "Readme improvements"
- [ ] Remove Self-Links, if really still wanted we could use Github's permalink feature (e.g. https://github.com/iluwatar/java-design-patterns#how-to-contribute- )
- [ ] Remove TOC, if the Readme is as small as now, it doesnt make a lot of sense to keep it
- [ ] Remove Back to top arrows, as mentioned above, the readme isnt that long too need this feature
- [ ] Make the FAQ an extra page, because

[2015-09-04 06:05] npathai commented on #190
:+1:

[2015-09-04 08:08] noobxgockel opened #238 "Using headings instead of bold text inside index.md"
Currently we are using bold text as a heading of a chapter (Intent, Applicability, Real world examples, ...)
Example: ``` **Intent:** ```
Correct me if i'm wrong but i think this is a relic from the time before the great split. Nowadays we wont clutter the readme with too much headings.

I think turning those into Headings would improve the readability, the overview and, if i re-implement the TOC

[2015-09-04 19:48] iluwatar commented on #237
Yes, this totally makes sense since the content of the `README.md` is so short now. And yes, FAQ could be externalized somehow (I'm not sure what are your thoughts).

[2015-09-04 19:57] mafagafogigante commented on #237
Let's just transfer the FAQ and Credits to the wiki. Maybe mention that the wiki has this and that...

As mentioned, TOC for 5 items is unnecessary.

Lastly, Intro, How to contribute, and License are not OK if we are only going to have three headers, Intro actually describes what the repository has so it could be **About** or What is this? (about is cleaner).

[2015-09-04 20:47] iluwatar commented on #237
I'm thinking the wiki to be the place for developer information. FAQ and Credits are aimed at the users of the site, so in my opinion they do not belong in the wiki. Using **About** instead of **Introduction** may be an improvement.

[2015-09-06 09:02] npathai commented on #226
@iluwatar Should we add credits general credits such as GoF book or POSA book to all the applicable patterns as well? These credits are presently in README but after #237 I doubt whether it would be the best place.
There are few advantages that the website visitor will get all the applicable references from the pattern specific page itself.

[2015-09-06 11:34] iluwatar commented on #226
I think it would be clear that way. We would remove the credits section from the `README.md` entirely and put the information under the corresponding patterns.

[2015-09-06 16:54] #237 closed

[2015-09-07 06:28] noobxgockel opened #243 "Add Search Feature"
As discussed in Gitter, we should add a search feature for all the patterns. To enable the feature as soon as possible Google CSE should be used.
I allready created a search engine for it, here is the link:
https://cse.google.com/cse/publicurl?cx=008960609897446712051:upn_v7v8dba

[2015-09-07 06:38] npathai commented on #243
:+1:

[2015-09-07 10:48] npathai commented on #197
Ping @zafarella Any luck?

[2015-09-07 12:09] zafarella commented on #197
Today :). Singleton on it's way.

On Mon, Sep 7, 2015 at 6:49 AM, Narendra Pathai <notifications@github.com>
wrote:

[2015-09-07 12:26] npathai commented on #197
Wow we are so excited to see the first presentation :+1:

[2015-09-08 04:33] iluwatar commented on #224
It has been suggested that we take into use [Maven checkstyle](https://maven.apache.org/plugins/maven-checkstyle-plugin/) plugin.

[2015-09-08 04:43] iluwatar commented on #197
I saw the first presentation at https://github.com/iluwatar/java-design-patterns/pull/244 and I love the idea :+1:

[2015-09-08 05:18] geniusgeek commented on #184
@iluwatar @npathai I revieved your implementation of the Fluent interface Pattern and i liked the way you implemented it using JDK8 interfaces Function, Consumer, Supplier please which resources did you  use to learn java 8?

[2015-09-08 06:06] npathai commented on #224
@iluwatar Yes good point. It will reduce PR review effort.

[2015-09-08 06:19] npathai commented on #184
@geniusgeek These all interfaces are new additions to java but existed in Google Guava since a long time. [Google Guava Functional Explained](https://code.google.com/p/guava-libraries/wiki/FunctionalExplained) can be a good starting point. Read a bit on Functional programming in Java for more. Keep one thing in mind that these constructs existed since long time but have got recent hype after Scala

[2015-09-08 06:40] npathai commented on #197
:+1: from me as well. It is impressive for first draft and we can surely take it forward and make it even better. I have some concerns regarding the snaps and material being out of sync from our codebase as our code evolves.

[2015-09-08 06:48] geniusgeek commented on #184
thanks

On Mon, Sep 7, 2015 at 11:20 PM, Narendra Pathai <notifications@github.com>
wrote:

[2015-09-08 18:16] iluwatar commented on #197
Yes, I share your concern.

[2015-09-09 05:37] amit2103 commented on #85
@iluwatar  Can I implement this ?

[2015-09-09 05:50] npathai commented on #85
@amit2103 Sure go ahead. We welcome contribution. Go through the wiki once for developer information. If you do decide to pick it up then leave a comment I will change the labels. Awaiting response.

[2015-09-09 05:58] amit2103 commented on #85
@iluwatar  I will take this up..I will go through the wiki. I am taking this up. And hope to submit a pull request soon.

[2015-09-09 05:59] npathai commented on #197
I was thinking can't we enhance the website in future to be usable in presentation form. We can have something like presentation mode with pattern listings. That will keep content up to date. I don't know if it is feasible though.

[2015-09-09 17:48] noobxgockel commented on #197
@npathai as i wrote in PR #244 allready:

Its possible and it might be feasible. I think the thing we are still lacking is a concrete target audience. Do we want to target the Coders at home, on mobile, in conferences? We could even optimize the website for printing. Or do we just want to do them all? How should the presentation look? Is there really much of a gain from just displaying the website

[2015-09-09 17:55] zafarella commented on #197
Let me also add few words. I think the target of having presentation would be coders in conference/classes. I personally needed it for the team I worked. You already know all those patterns, but need to share and may be discuss in the context of the architecture.

In regards the outdated code in the slides - it is possible to read the code from the file. I am working on it and will commit soon.

I

[2015-09-09 20:17] #243 closed

[2015-09-09 20:41] iluwatar commented on #197
It would be awesome to be able to launch the presentations from the web site.

[2015-09-09 20:45] iluwatar commented on #243
Well done :+1:

[2015-09-09 20:48] noobxgockel commented on #243
@iluwatar thanks C:
sorry it took so long, had a busy time setting up my linux mint and fixing wierd layout issues when using bootstrap with google cse :neutral_face:

[2015-09-10 07:51] npathai commented on #184
@hannespernpeintner
Two points to make:
 - `FluentInterface` should not be called `Architectural` pattern. We can put it in `Other` category.
 -  Missing consequences section. I will take care of this.

@iluwatar I will close this issue once I complete work on both points above. Do you agree with point 1?

[2015-09-10 10:38] liangpengfei opened #247 "add getAttackPower method to pattern decorator"
Add getAttackPower method to pattern decorator may make it more easily to understand .

when the troll not add smart decorator , his attack power is 10 ,but when we build the smartTroll , his attack power is 10(the normal troll's attack power) + 20(because smart). So ,it's more easy to understand .

[2015-09-10 16:57] noobxgockel commented on #218
Sorry for the amount of commits.
I tried testing it in my fork, but travis didnt behave well...
It seems to work now though C: 10de139c771bfac1d2d5679d1365e427802a05a8

[2015-09-10 18:00] noobxgockel commented on #238
@iluwatar, @npathai any thoughts on this ?
If this feature is wanted i could try and script something up.

[2015-09-10 18:06] npathai commented on #218
That's great :+1:

[2015-09-10 19:17] iluwatar commented on #184
`Architectural` caught my eye as well. What you suggest is ok for me.

[2015-09-10 19:29] iluwatar commented on #238
Good that you brought this up. When I look at it the bold text seems rather small for the purpose. :+1: for the bigger headings.

[2015-09-10 19:33] iluwatar commented on #218
Awesome feature, thanks!

[2015-09-11 05:10] npathai commented on #197
We can keep website and presentations separate. As far as the audience is concerned it will be used in classes, meetups, individuals for reference purpose. Print we can, but now is not the right time. @zafarella has got something going on, so let us play with the idea of presentation and see how much traction we get.

[2015-09-11 05:13] npathai commented on #238
:+1: from me too. Go for it.

[2015-09-11 08:08] npathai commented on #184
I changed the category and a few more changes
 - implementation strategies
 - added more real applications of different DSLs
 - a new reference

I have stayed away from discussing consequences for now as I didn't want to spread misinformation due to lack of much experience in this matter. This is something we can surely target in future for all patterns.

So closing the issue.

[2015-09-11 08:08] #184 closed

[2015-09-12 07:09] iluwatar commented on #224
Checkstyle was added in a033c079f7d1c49f1736fb9d87fc281deadc2dbd

[2015-09-12 07:16] iluwatar commented on #224
I updated the instructions at https://github.com/iluwatar/java-design-patterns/wiki/3.-Coding-conventions

[2015-09-12 07:22] iluwatar commented on #218
@noobxgockel Could you additionally please briefly explain the automagic updating system in https://github.com/iluwatar/java-design-patterns/wiki/7.-Working-with-the-web-site ?

[2015-09-12 09:24] npathai commented on #208
It's done. Closing this issue.

[2015-09-12 09:24] #208 closed

[2015-09-12 12:50] iluwatar opened #248 "Setup domain name and attach it to Github pages"
Domain java-design-patterns.com is available.

https://help.github.com/articles/setting-up-a-custom-domain-with-github-pages/

[2015-09-12 12:54] npathai commented on #248
:+1:

[2015-09-12 13:58] geniusgeek commented on #232
i will take up the redux pattern implementation today

On Tue, Sep 1, 2015 at 10:25 AM, Narendra Pathai <notifications@github.com>
wrote:

[2015-09-13 07:04] iluwatar opened #249 "Temporal patterns"
http://martinfowler.com/eaaDev/timeNarrative.html

Temporal Property
Snapshot
Effectivity
Audit Log
Temporal Object

[2015-09-14 08:08] npathai commented on #224
@iluwatar The style guide worked for me in Eclipse Mars. To make sure this is how I imported it:
`Java > Code Style > Formatter > Import`

[2015-09-14 10:41] noobxgockel commented on #248
:+1:

[2015-09-14 10:47] noobxgockel commented on #218
@iluwatar i updated it. There isnt much explaining to do

[2015-09-14 10:47] #218 closed

[2015-09-14 17:23] iluwatar commented on #224
Are you importing this https://github.com/google/styleguide/blob/gh-pages/eclipse-java-google-style.xml?

I'm getting "Problems reading profiles from XML Attribute name "data-pjax-transient" associated with an element type "meta" must be followed by the ' = ' character."

[2015-09-14 17:28] iluwatar commented on #218
Thanks!

[2015-09-15 06:24] npathai commented on #224
Build no of eclipse: `20150621-1200`
I get a version compatibility warning while importing but once I skip it, works fine.

[2015-09-15 14:56] iluwatar commented on #224
Strange, I have the same version.

[2015-09-16 04:18] iluwatar commented on #248
https://help.github.com/articles/tips-for-configuring-an-a-record-with-your-dns-provider/

[2015-09-16 08:12] npathai commented on #74
Done after #242 . So closing.

[2015-09-16 08:12] #74 closed

[2015-09-16 08:20] npathai commented on #213
We need to tag based on difficulty as well.

[2015-09-17 14:11] iluwatar commented on #248
I don't know if this is exactly what we want but this is the situation:

http://java-design-patterns.com redirects to http://iluwatar.github.io/java-design-patterns
http://www.java-design-patterns.com redirects to http://iluwatar.github.io/java-design-patterns

[2015-09-17 14:49] noobxgockel commented on #248
Urls like http://java-design-patterns.com/patterns/abstract-factory/ look nicer and more trustworthy to me than http://iluwatar.github.io/java-design-patterns/patterns/abstract-factory/.
Just using redirects seems kinda unnecessary to me, for that an url shortener could be used like bit.ly or goo.gl.

I'd vote for using the domain properly.

[2015-09-17 15:35] iluwatar commented on #248
I agree. It would probaby be better the other way around:

http://iluwatar.github.io/java-design-patterns redirects to http://java-design-patterns.com

If I understand correctly the instructions this bit would do that:

So I put the file here: https://github.com/iluwatar/java-design-patterns/blob/gh-pages/CNAME

Now in the [repository settings](https://github.com/iluwatar/java-design-patterns/sett

[2015-09-17 16:12] noobxgockel commented on #248
Correct, but the DNS seems to be configured incorrectly, because we seem to use an apex domain instead of a subdomain.

IIRC its something like this:
[code]

For more Info on this topic look at those links:
* https://help.github.com/articles/tips-for-configuring-an-a-record-with-your-dns-provider/
* https://help.github.com/articles/about-custom-domains-for-github-pages-sites/#apex-domains
* https:

[2015-09-17 19:19] iluwatar commented on #190
It is a work in progress but I've put it to Maven Central with version 1.0.0. I've attached the plugin to JDP project in `urm` branch. Here's some output it has generated.

![urm dot](https://cloud.githubusercontent.com/assets/582346/9943417/c516aff6-5d89-11e5-9d23-d618c1ba51e0.png)

![urm dot](https://cloud.githubusercontent.com/assets/582346/9943434/e370f2fe-5d89-11e5-9a48-d06a70c9386c.png)

![u

[2015-09-20 23:08] Jahhein commented on #224
I was able to import these settings into intellij ultimate edition using an eclipse preferences plugin and use the reformat whole project feature. I have yet to make sure I meet all standards with what I have added. Is this still an issue to be resolved?

[2015-09-20 23:42] Jahhein opened #252 "Abstract factory assertions"
To follow the intent of assertion with Junit, the String of each class should be checked in the tests to ensure it's contents is what it was intended to contain.

example-
    @Test public void king() {
        final King elfKing = app.getKing(elfFactory);
        assertTrue(elfKing instanceof ElfKing);
        assertEquals(ElfKing.DESCRIPTION, "This is the Elven king!");  // Check for string cont

[2015-09-21 04:39] iluwatar commented on #224
@Jahhein That is great news. Would you create a pull request?

[2015-09-21 06:22] npathai commented on #224
@Jahhein Yes its still unresolved. Awaiting your PR.

[2015-09-21 06:50] Jahhein commented on #224
Will do, double checking to ensure all is correct. Intellij has a problem with spacing after class headers, and brackets, even if it is in the settings.

[2015-09-22 05:25] Jahhein commented on #252
Pushed a new revision with thorough testing.

[2015-09-22 05:33] npathai commented on #252
Please create a Pull Request?

[2015-09-22 06:11] npathai commented on #190
@iluwatar It looks good but still a lot of work to be done. I was really thinking whether its a pressing issue currently. I agree that not everybody uses eclipse but its a viable option for now. We can in parallel keep working on urm tool to create a free alternative that is usable. Once we are done with that we can again revisit this issue. Till then what we can do is keep the class diagram an op

[2015-09-23 18:10] #247 closed

[2015-09-25 19:59] iluwatar commented on #248
After a bit of a struggle it seems to be hard to get it working the way I would like. The gh-pages cannot be mapped directly to java-design-patterns.com domain. It would be possible to put it to <project>.java-design-patterns.com but this is not what I'm trying to achieve.

So I started another route. I built the site with Jekyll and uploaded it to S3. Then I setup Route 53 to map java-design-patt

[2015-09-26 08:41] iluwatar commented on #248
Ok, I found the configuration settings and was able to solve the page linking issues. The site seems to be working ok now.

[2015-09-26 09:39] iluwatar opened #255 "Setup Travis to deploy site to S3 after each successful build"
The web site is now manually published at http://java-design-patterns.com for which the backend resides at Amazon S3.

We need automatic deploy process so we can immediately see the changes on the site.

[2015-09-26 09:40] #248 closed

[2015-09-26 19:56] zafarella commented on #255
Those presentation also can be added to the page?

[2015-09-27 06:56] iluwatar commented on #255
@zafarella I think we're not ready to integrate with the web site yet. We can keep them in `/etc` folder or some other name.

[2015-09-27 07:14] iluwatar commented on #255
@noobxgockel @npathai  I'm thinking about moving the web site sources to the `master` branch. I understand this requires some changes to how things work at the moment. For example the submodule system would not be needed anymore since the design patterns source code would be in the same branch.

We could put the web site source code into `web` folder of the `master` branch. Then we could add Jekyl

[2015-09-27 15:00] noobxgockel commented on #248
@iluwatar very good job! :+1:

[2015-09-27 15:31] noobxgockel commented on #255
@iluwatar
Yes we could do that, the only issues i am seeing is that your approach isnt 'free as in speech' because of the server costs of s3 and its not self-sustainable if s3 fails/gets cancelled because we'd have to change the source code yet again to convert another host like gh-pages or other hosting services.

If possible by any means i'd suggest staying with the inhouse solution for website

[2015-09-27 16:54] amit2103 commented on #187
@iluwatar  Is there an implementation of Singleton with Enum in this repo ? I think Effective Java recommends that we use Enum as Singleton as it is the most bulletproof construction of singleton.

[2015-09-27 17:03] mafagafogigante commented on #187
Yes but there are known downsides for that. EJ is old and much have been learned since then.

An issue is that it will have the following public static methods:

[code]

[2015-09-28 06:04] npathai commented on #248
Great job! :+1:

[2015-09-28 06:20] npathai commented on #255
@iluwatar I didn't get the reason why we need to move web site to master for automatic S3 deployment. I understand the concerns of @noobxgockel . But again as I am not familiar with jekyll I can't say much on this. But one thing is for sure it would be good to have automatic deployment.

[2015-09-28 18:15] iluwatar commented on #255
Thank you guys for your valuable input. As @noobxgockel well justified we should not break the working Github Pages system. So until I find an automatic way that doesn't break anything I'm going to manually deploy to http://java-design-patterns.com

@npathai it was the only way I could invent for automatic Jekyll build & deploy to S3. But I'll try to find another way.

[2015-09-29 04:54] iluwatar opened #256 "Caching patterns"
https://en.wikipedia.org/wiki/Cache_(computing)
https://docs.oracle.com/cd/E15357_01/coh.360/e15723/cache_rtwtwbra.htm#COHDG5177
http://www.alachisoft.com/resources/articles/readthru-writethru-writebehind.html
http://www.ehcache.org/documentation/2.8/get-started/getting-started.html
http://www.computerweekly.com/feature/Write-through-write-around-write-back-Cache-explained

[2015-10-02 19:54] #188 closed

[2015-10-03 09:17] geniusgeek commented on #188
@mafagafogigante please note that although you are trying to illustrate an example with your code. But the use of generics there is not valid. instance=new T(). is the problem. You can't instantiate a generic Type parameter.

[2015-10-03 14:52] mafagafogigante commented on #188
@geniusgeek T is a concrete type.

[2015-10-03 17:26] geniusgeek commented on #188
ok. Then i guess we should learn to use conventions.

On Sat, Oct 3, 2015 at 3:53 PM, Bernardo Sulzbach <notifications@github.com>
wrote:

[2015-10-03 17:48] mafagafogigante commented on #188
@geniusgeek Did you see that get() isn't even ``static``? You would have bothered with that, too, right? This is not code you should be able to use, the key idea is there. Stop being an annoying prick on a closed issue.

[2015-10-03 21:49] amit2103 commented on #85
Hi All, I have created a pull request please review.

[2015-10-04 05:24] amit2103 commented on #179
I can try to implement this. Can you guys please assign this to me?

[2015-10-04 09:34] wsdjeg opened #259 "can you help me with my MathUtil"
I have wrote a util to find the collection from a List,which sum == the appointed sum!
here is my utils ,i use jetty:run to start the server
https://github.com/wsdjeg/JavaWeb

[2015-10-04 09:36] wsdjeg commented on #259
https://github.com/wsdjeg/JavaWeb/blob/master/src/main/java/com/wsdjeg/util/MathUtils.java
now it works well,but only can deal with 25 digital at most!

[2015-10-05 06:02] npathai commented on #179
Go ahead. Issues can only be assigned to team members. I will change the label.

[2015-10-05 06:07] npathai commented on #259
This issue is not related to our repository. So I am closing it. If you need help please ask the question on StackOverflow.

[2015-10-05 06:07] #259 closed

[2015-10-05 06:14] wsdjeg commented on #259
ok
thank you

[2015-10-05 07:39] JaXt0r commented on #176
Some Informations:
* Description from EIP: http://www.enterpriseintegrationpatterns.com/patterns/messaging/WireTap.html
* Implementation inside Apache Camel: http://camel.apache.org/wire-tap.html

[2015-10-05 07:55] amit2103 commented on #179
@npathai Okay. Will start working on this.

[2015-10-05 16:11] JaXt0r commented on #161
A friend of mine is very pleased with this pattern. So it's about time to present him an example in Java.

I'll offer some testable code these days.

[2015-10-05 17:28] kunalnangia commented on #161
What is going on here?

On Mon, Oct 5, 2015 at 9:12 AM, Michael Dähnert <notifications@github.com>
wrote:

[2015-10-05 17:49] JaXt0r commented on #161
I'm working on an implementation of this pattern. If you like, please alter the ticket labels.

[2015-10-06 17:36] iluwatar commented on #161
Please note https://github.com/iluwatar/java-design-patterns/wiki/10.-Technology-selections

So you would have to implement the pattern using Apache Camel and then document how the framework implements this.

[2015-10-07 05:22] JaXt0r commented on #161
Thanks for the information. Yeah I'll do it. Seems to be much smarter to implement it with Apache Camel then on my own.

[2015-10-07 07:17] npathai commented on #161
Ok I will alter the labels.

[2015-10-08 03:32] sharifmamun commented on #96
Hi @iluwatar I was planning to work on this but I can see that you already added the repo to Coverity. Can you please close this issue?

[2015-10-08 04:39] iluwatar commented on #96
The project has been manually scanned with Coverity, but this task is about automating the scan so manual steps would no longer be necessary.

[2015-10-09 18:18] amit2103 commented on #105
@iluwatar @npathai Will like to implement this. Though this will take a bit of time.

[2015-10-09 18:43] iluwatar commented on #105
Ok great, I'll update the issue labels.

[2015-10-12 13:41] Niko-O opened #264 "Decorator pattern: SmartTroll should be SmartHostile"
As the SmartTroll decorates any Hostile object, it should be named SmartHostile instead. Because if there's a Goblin class implementing the Hostile interface, the SmartTroll class is technically able to decorate it too, even though it is named SmartTroll (which indicates that it should only be a Troll).

[2015-10-13 18:13] iluwatar commented on #85
Well done @amit2103

[2015-10-13 18:13] #85 closed

[2015-10-13 18:22] iluwatar commented on #264
I would suggest that we change the example so that `SmartTroll extends Troll`. It wouldn't hurt to add `Goblin` to the example too :smile:

[2015-10-14 17:26] Niko-O commented on #264
@iluwatar
That would be a possible solution too, but the SmartTroll doesn't do anything Troll-specific (allthough the string "The troll throws a rock at you!" is hardcoded). It just increases the attack power.

[2015-10-16 18:22] savaliyagautam opened #266 "Type Tunnel pattern"
https://en.wikipedia.org/wiki/Type_Tunnel_pattern

[2015-10-17 11:23] iluwatar opened #267 "Alias names for patterns"
Many design patterns have multiple names. For example Decorator is also known as Wrapper.

We should supplement the [pattern template](https://github.com/iluwatar/java-design-patterns/wiki/02.-Pattern-template) with `Also known as` where applicable.

[2015-10-17 11:33] iluwatar commented on #266
It looks like a serialization mechanism. In Java it is a built-in feature with `java.io.Serializable`. Additionally Java platform guarantees that the serialization works between different platforms. Whereas in the example the code would not be sufficient to transfer objects between platforms having different byte order.

[2015-10-17 11:48] geniusgeek commented on #266
Although serialization is a variant of type tunnel pattern, but i thing
stub implementations really define this pattern.

On Sat, Oct 17, 2015 at 12:33 PM, Ilkka Seppälä <notifications@github.com>
wrote:

[2015-10-19 07:04] npathai commented on #267
:+1: Good idea.

[2015-10-24 10:00] hoswey opened #271 "producer consumer"
Hi,  le me work on it

[2015-10-24 19:36] mafagafogigante commented on #224
@Jahhein I know it has been a while, but if you need help, I may be useful. I have configured Intellij IDEA to a fork of Google Java Style I made, and for what I saw, it can be almost 100% compliant to the original style guide.

[2015-10-24 19:44] mafagafogigante commented on #267
This is a good idea, but I'd like to point out that the given example may lead to mistakes. Adapters are also sometimes called wrappers, and many wrappers are not decorators nor adapters. I'd say wrappers are broader than these two design patterns. But I've seen both of them referenced by the name wrapper.

[2015-10-25 06:37] iluwatar commented on #271
Are you referring to this https://en.wikipedia.org/wiki/Producer%E2%80%93consumer_problem ?

[2015-10-25 06:52] iluwatar commented on #267
It is a valid point. Maybe this is why Wrapper is the secondary name (source: GOF book).

[2015-10-25 14:00] mafagafogigante commented on #267
I agree that it is still called wrapper nowadays (GoF is a bit outdated and should be read with caution). Just pointing out that one may see the Decorator pattern as Wrapper pattern is a great thing, though.

[2015-10-26 01:02] hoswey commented on #271
Yeah, I think I can refer to that wiki.

Btw, I find there is already a design pattern named poison pill in this projects. It is like a extension of producer-consumer design pattern.  I think i may also refer to this one to write a pure producer-consumer.

Any suggestion?

[2015-10-26 06:07] waisuan commented on #256
Hi.

I'd like to try my hand on the caching patterns (if no one has volunteered to do them yet).

[2015-10-26 07:38] npathai commented on #256
@waisuan Sure go ahead. Create issue of the particular pattern you wish to work on and I will label it.

[2015-10-26 07:56] waisuan opened #273 "Read-through, Write-through, Write-back, and Write-around Caching Patterns (#256)"
Hello.

I would like to work on the following patterns:-

Read-through
Write-through
Write-back/Write-behind
Write-around

[2015-10-26 07:58] waisuan commented on #256
@npathai Sure thing. Thanks.

[2015-10-26 11:40] npathai commented on #273
What I meant was that there are a few caching patterns, I think Write back, write through etc. You can work on any one of them and create an issue for that particular pattern. This task presently is just a clone of original one. Maybe @iluwatar  can add more on this.

[2015-10-26 12:15] waisuan commented on #273
Apologies. I should've added a little more details to my post. The main caching patterns/strategies (that I could gather) are as follows:-

Read-through
Write-through
Write-back/Write-behind
Write-around

After going through the provided documents (by @iluwatar), I felt that their logic are quite similar to one another albeit with different methods of achieving the caching goal. So, I was wonderin

[2015-10-26 16:38] iluwatar commented on #271
Yes, I think you are on the right track. Poison Pill utilizes producer-consumer and it is useful as an example.

I'll update the tags to indicate you are working on it.

[2015-10-26 16:46] iluwatar commented on #273
Yes, I think a single example could be enough to implement the caching patterns you have listed.

[2015-10-26 16:48] iluwatar commented on #256
Some of the caching patterns will be implemented in https://github.com/iluwatar/java-design-patterns/issues/273

[2015-10-26 17:09] waisuan commented on #273
Great! I'll get started on it ASAP. Thanks.

[2015-10-28 00:26] hoswey opened #274 "About coding style "Format the code according to Google Java Style Guide""
Hi, I try to using the  [Google Java Style Guide](https://google.github.io/styleguide/javaguide.html) according the [How to contribute](https://github.com/iluwatar/java-design-patterns/wiki/01.-How-to-contribute).

But it seems its style is different with the one in the project. Like the indent.
I find the code in this project indent with **Tab** while google is indent by [2 Space](https://google.

[2015-10-28 06:38] iluwatar commented on #274
We're migrating to Google style and major part of the code has not yet been migrated. However, new code should use Google style.

[2015-10-28 09:29] #274 closed

[2015-10-28 16:32] waisuan commented on #273
Kindly refer to my pull request for the new commit.

[2015-10-29 10:27] #271 closed

[2015-10-30 05:22] sjqgithub opened #278 "java"
bayes

[2015-10-30 06:35] npathai commented on #278
What are you trying to achieve? Closing.

[2015-10-30 06:35] #278 closed

[2015-10-30 07:13] #273 closed

[2015-11-01 20:13] #256 closed

[2015-11-02 07:49] llitfkitfk opened #283 "Delegation DP?"
https://developer.apple.com/library/ios/documentation/Swift/Conceptual/Swift_Programming_Language/Protocols.html

[2015-11-03 19:22] #224 closed

[2015-11-04 18:43] iluwatar commented on #283
Can you explain a bit how to apply this in Java?

[2015-11-04 19:26] #267 closed

[2015-11-05 00:25] mafagafogigante commented on #224
@ankurkaushal Thanks for doing this.

[2015-11-05 00:26] mafagafogigante commented on #224
BTW, are we there already? 100% compliance?

[2015-11-05 02:38] ankurkaushal commented on #224
I guess we are :) Let me know if I could help with anything else :)

[2015-11-05 02:55] llitfkitfk commented on #283
[code]

[2015-11-08 15:12] hoswey commented on #63
This pattern is very interesting, please let me work on it.

[2015-11-08 16:41] iluwatar commented on #63
@hoswey go ahead, it's all yours.

[2015-11-11 06:05] iluwatar opened #286 "No main method in the Abstract Factory example"
There is no `main` method in the Abstract Factory example.

[2015-11-11 17:37] tainarareis commented on #286
I'm working on it!

[2015-11-14 16:24] jwerba commented on #283
Folks Delegation is not a design patters as i see it. Its a basic principle of software design. Delegation its just a consecuence of choosing composition over inheritance and if you add proper encapsulation there you are.  But it seems that many people writes about this on the web as a Pattern.... Just thinking out loud...

[2015-11-14 16:37] jwerba commented on #286
@tainarareis do you want me to help you?

[2015-11-14 20:03] #286 closed

[2015-11-15 09:36] l-cortese commented on #83
Uhm, this one seems to be more a "refactoring pattern" rather than a design pattern. I can't imagine a way to "code" this behaviour/pattern, what do you think?

[2015-11-16 19:13] #63 closed

[2015-11-16 20:31] iluwatar opened #292 "Adapter needs better example"
The Adapter example kind of sucks and needs a more descriptive implementation. For inspiration these are quite good:

http://www.journaldev.com/1487/adapter-design-pattern-in-java-example-tutorial
http://www.tutorialspoint.com/design_pattern/adapter_pattern.htm

[2015-11-16 20:58] iluwatar opened #293 "Proper unit tests"
Many of the pattern examples have used the convention to just run the `main` method as a lazy man's unit test but we need to improve this not to be bad example for anyone. The following examples need proper unit tests (I will not make separate issues but rather track this with the following checkboxes):

- [X] async-method-invocation
- [X] adapter
- [X] bridge
- [X] builder
- [X] business-delegate

[2015-11-16 21:02] iluwatar commented on #283
I agree with @jwerba I do not see this as a design pattern.

[2015-11-16 21:02] #283 closed

[2015-11-16 21:04] iluwatar commented on #266
Not many comments were received unfortunately, but I do not see this as a design pattern.

[2015-11-16 21:04] #266 closed

[2015-11-17 04:26] llitfkitfk commented on #283
fair enough

[2015-11-17 06:14] npathai commented on #293
Totally up for it :+1: It would be good to have meaningful test cases with proper assertions.

[2015-11-17 06:17] npathai commented on #83
Remote API development is the only case where it can be applied directly. But yes I agree with @l-cortese we don't need to implement this as a design pattern.

[2015-11-17 19:14] iluwatar commented on #83
Agreed, this is not a design pattern.

[2015-11-17 19:14] #83 closed

[2015-11-18 03:48] hoswey commented on #216
The Repository Pattern so awesome than the Dao Pattern, and this issue has nothing progress since Aug.
I want to work on this issue, let me know if that would be okay.

[2015-11-18 04:59] iluwatar commented on #216
Great @hoswey go ahead!

[2015-11-21 14:12] #161 closed

[2015-11-21 19:28] iluwatar commented on #86
http://matteo.vaccari.name/blog/archives/154

[2015-11-22 07:11] iluwatar opened #296 "Microservices architectural pattern"
The example should demonstrate the basic cases how to compose microservices together as described here: http://blog.arungupta.me/microservice-design-patterns/

[2015-11-22 07:13] iluwatar opened #297 "API Gateway pattern"
The example should demonstrate how to use API Gateway in microservices architecture as described here: http://microservices.io/patterns/apigateway.html

[2015-11-22 07:19] iluwatar commented on #80
I have splitted the issue.

[2015-11-22 07:19] #80 closed

[2015-11-22 12:27] iluwatar opened #298 "Java Design Patterns blog"
I was thinking about adding a blog to the Java Design Patterns web site. This would let us write about the pattens from a bit different perspective and add more depth to the site.

The blog entries could be for example
 - tutorials for using a pattern
- pattern evolution from earlier Java version to functional Java 8
- glances into real world usage of design patterns
- guest writings from the fath

[2015-11-22 14:59] genericmethod commented on #113
@iluwatar Would like to implement this :)

[2015-11-22 17:18] iluwatar commented on #113
@genericmethod Great, go ahead :)

[2015-11-23 06:23] npathai commented on #298
I am totally up for this. Real world examples explanation and documenting the usage will be a big plus for readers. And the third point will be super awesome. :+1:

[2015-11-23 06:35] npathai commented on #298
Also if we keep it open, i.e. after review, people can also contribute their use case maybe.

[2015-11-24 16:45] iluwatar commented on #187
http://stackoverflow.com/questions/137975/what-is-so-bad-about-singletons

[2015-11-24 17:29] iluwatar opened #300 "Backends for Frontends pattern"
**Description:**
The Backends for Frontends (BFF) design pattern is intended to create separate backend services for different user interfaces or clients. This pattern is particularly useful when different clients (such as mobile apps, desktop applications, and web applications) have distinct needs and require tailored backend interactions. Implementing BFF helps to ensure that each client gets ex

[2015-11-24 17:40] iluwatar opened #301 "Redux architectural pattern"
http://www.infoq.com/news/2015/11/redux
http://redux.js.org/

[2015-11-24 17:40] iluwatar opened #302 "Elm architectural pattern"
https://github.com/evancz/elm-architecture-tutorial/

[2015-11-25 06:52] npathai commented on #187
@iluwatar We already had the link in my previous comment. :+1: though.

[2015-11-25 07:05] npathai opened #304 "Presentation-Abstraction-Control pattern"
A pattern similar to MVC but with a few changes.

https://en.wikipedia.org/wiki/Presentation%E2%80%93abstraction%E2%80%93control
http://www.garfieldtech.com/blog/mvc-vs-pac

[2015-11-25 12:43] geniusgeek commented on #301
please assign this to me. I will work on it this weekend

On Tue, Nov 24, 2015 at 9:40 AM, Ilkka Seppälä <notifications@github.com>
wrote:

[2015-11-25 16:19] iluwatar commented on #187
Ah, didn't notice that. This thread is getting long...

[2015-11-25 16:21] iluwatar commented on #301
Ok, you're good to @geniusgeek

[2015-11-25 16:30] iluwatar commented on #298
@noobxgockel we would appreciate your vision how to enable this feature on the web site?

[2015-11-25 19:28] noobxgockel commented on #298
Excuse me beeing so inactive. Im currently learning towards the A-Levels in a shortened time frame (called BOS in Germany) and its quite time consuming.

I know that jekyll provides a blog system and i dont think that its very difficult. If i find the time i will try and look into it on the weekend...

[2015-11-27 22:09] #216 closed

[2015-11-29 13:29] JuhoKang commented on #292
May I work on this issue?
Q: I found that the original example is based on the "Object Adapter Pattern" and there is an alternative which is the "Class Adapter Pattern". Which would be the better?
Should I just change _example (names of the Objects?) and description_ or _else_?

[2015-11-29 17:48] iluwatar commented on #292
Hi @JuhoKang it's great that you can work on this. It would be ideal to show both object adapter and class adapter in the example. Look at the links I gave above to get the idea what kind of example would be good. You can use the existing example as a base and just modify it as needed.

[2015-11-30 07:37] npathai opened #307 "Staged Event Driven Architecture (SEDA)"
https://en.wikipedia.org/wiki/Staged_event-driven_architecture
http://www.eecs.harvard.edu/~mdw/proj/seda/

It may be similar to #113 but I think there are differences.
This architecture is difficult to implement. Should we keep it as open or just include major differences in FAQ section as: EDA vs SEDA?

[2015-12-06 11:32] iluwatar opened #310 "Functional approach to Strategy pattern"
The Strategy pattern example should include Java 8 specific solution.

For inspiration, read this: http://alvinalexander.com/scala/how-scala-killed-oop-strategy-design-pattern

[2015-12-06 12:41] iluwatar commented on #298
@noobxgockel no problem, take your time. Anyone else wanting to work on this issue?

[2015-12-08 18:54] #292 closed

[2015-12-08 21:27] #310 closed

[2015-12-11 00:59] hoswey commented on #75
Please let me know if it is ok for me to work on this issue.

[2015-12-11 18:33] iluwatar commented on #75
Sure @hoswey go ahead :+1:

[2015-12-12 10:17] fluxw42 commented on #293
Maybe it would be good to remove the AppTest classes, or at least annotate them with @Ignore. These App tests could give a false sense of great test coverage.

Removing these 'test' right now would cause a massive drop in coverage, but adding real junit tests over time should get this number back up close to the original. You'll see the actual impact of your work when the number goes up, which is

[2015-12-12 14:30] iluwatar commented on #293
I think it is good to have a test that runs the example and fails if there are errors. Therefore I would keep the existing `AppTest`s. Some criticism has been presented that `AppTest`s pollute the build output with the output of the examples. To address that I have been thinking about suppressing the console output when `AppTest` runs. However, I haven't researched how to do this yet.

[2015-12-14 14:30] fluxw42 commented on #293
@iluwatar Ok, I'll leave the ``AppTest`` junit tests in. The console output is not really a problem for me. When a test fails, additional logging could even be useful to find the issue.

[2015-12-19 11:13] noobxgockel commented on #298
@iluwatar take a look at the first draft of a blog: http://iluwatar.github.io/java-design-patterns/blog/
Basic funtionality should be in there. If you need anything then just tell me ^^ i have a bit of time over the holidays now...

More info on writing Blog posts here:

* https://github.com/iluwatar/java-design-patterns/blob/gh-pages/_posts/2015-12-18-jdp-blog-goes-live.md
* http://jekyllrb.com/d

[2015-12-19 14:54] iluwatar commented on #298
Looks awesome! :+1: RSS feed seems to be there also which is great. I think this covers what I had in mind (for now) :smile:

[2015-12-20 15:27] amit2103 commented on #203
@iluwatar  Can I work on this?

[2015-12-20 18:10] iluwatar commented on #203
@amit2103 Yes, I will change the labels

[2015-12-21 12:37] fluxw42 commented on #293
The message-channel is marked as untested in this issue, but there is nothing much to test. This pattern only consists of one ``App`` class since it's using the Apache Camel as message framework. There is an ``AppTest`` class, so could this pattern be marked as tested?

[2015-12-22 06:07] iluwatar commented on #293
@fluxw42 you are right. I will tick the checkbox.

[2015-12-23 06:38] iluwatar commented on #298
It would be great to have the instructions for creating blog entries in the [developer wiki](https://github.com/iluwatar/java-design-patterns/wiki). After that I think we can close this issue and create another one e.g. "Accepting blog entries" where we can refer to those instructions.

[2015-12-23 14:07] iluwatar opened #324 "Delegation pattern"
https://en.wikipedia.org/wiki/Delegation_pattern

[2015-12-23 17:41] iluwatar commented on #233
https://www.dre.vanderbilt.edu/~schmidt/PDF/Context-Object-Pattern.pdf

[2015-12-24 12:58] 31322ing commented on #324
well done! So i study with you.

[2015-12-26 12:04] iluwatar opened #327 "Use PMD plugin for static analysis"
- Let's get rid of Coverity for static analysis (remove link from `README.md`)
- Let's use PMD Maven plugin instead
- Apply basic rules and make corrections to code
- PMD fails the build when issues are found

[2015-12-26 19:10] opg7371 commented on #264
Pl tell me what should I do....I am new to Open source and i want to make it as my first commit
Thankyou

[2015-12-26 22:13] Niko-O commented on #264
@opg7371
You could rename the SmartTroll-class to SmartHostile and replace the hardcoded strings in that class with generic examples (e.g. "It throws a rock at you!").

[2015-12-26 22:28] mikulucky commented on #324
Should have done this before starting, but I'm going to grab this one.

[2015-12-27 07:51] iluwatar commented on #324
@mikulucky Ok, changing the issue labels.

[2015-12-27 14:43] iluwatar opened #328 "ETL architectural pattern"
https://en.wikipedia.org/wiki/Extract,_transform,_load
https://upload.wikimedia.org/wikipedia/commons/d/d8/ETL_Architecture_Pattern.jpg

[2015-12-27 19:17] tainarareis commented on #249
Can I elaborate a proposal for this pattern?

[2015-12-27 19:45] #327 closed

[2015-12-27 19:56] iluwatar commented on #249
@tainarareis Yes please, go ahead and propose.

[2015-12-28 14:11] iluwatar commented on #213
I did the categorization and tagging of the patterns today. The used categories and tags can be seen [here](https://github.com/iluwatar/java-design-patterns/blob/gh-pages/_config.yml).

[2015-12-28 14:11] #213 closed

[2015-12-30 08:31] iluwatar commented on #65
Real world example: http://doc.akka.io/docs/akka/2.4.1/java/typed-actors.html

[2015-12-31 09:39] iluwatar opened #332 "Factory Method implemented with lambdas"
In the Factory Method example show how to implement the same thing with Java 8 lambdas.

[2015-12-31 09:41] iluwatar opened #333 "Abstract Factory implemented with lambdas"
In the Abstract Factory example show how to implement the pattern with Java 8 lambdas.

There is an example in this talk: https://youtu.be/-k2X7guaArU

[2015-12-31 09:46] iluwatar opened #334 "Callback implemented with lambdas"
In the Callback example show how to implement the same thing with Java 8 lambdas.

[2015-12-31 09:51] iluwatar opened #335 "Monad pattern"
It is described in this talk: https://youtu.be/-k2X7guaArU

[2015-12-31 09:57] #252 closed

[2015-12-31 11:55] noobxgockel commented on #298
okay now, @iluwatar i have edited the 01. How to contribute wiki part and added the respective explanation.
It is very technical though. We might need some guidance for content in the future.
If you are satisfied we can close this issue :smile:

[2015-12-31 12:25] iluwatar commented on #298
:+1: The instructions are good. Ok to close. I will create another issue calling for blog entries later on.

[2016-01-01 17:53] #293 closed

[2016-01-01 17:55] #324 closed

[2016-01-01 17:56] #298 closed

[2016-01-01 18:00] iluwatar commented on #96
Static analysis is now automated with PMD plugin

[2016-01-01 18:00] #96 closed

[2016-01-01 23:42] mikulucky commented on #334
I have added an example, not sure if this is really what you're asking for.

[2016-01-02 17:04] #334 closed

[2016-01-02 22:18] noobxgockel opened #338 "Website Improvements"
So i worked on the website a little bit and came up with some ideas. But im unsure if all or even some of them fit in. I'd be glad to hear your feedback on them.
- [x] Disqus/Comments on patterns
- [ ] Disqus/Comments on blogposts(after some discussion this should also be implemented)
- [x] Automated author informations for blogposts (e.g. only write `author: iluwatar` in yaml frontmatter and link

[2016-01-02 22:46] mikulucky commented on #338
Just my little opinion;

:+1: for Disqus on blog posts
:-1: for Disqus on pattern entries, as I can see this getting very chatty, and could become a serious workload for the person assigned to reply. Or even maintain.
:+1: For the automated author information on blog posts and I always :+1: nice buttons!
:+1: Tooltips always help!

[2016-01-03 12:43] iluwatar commented on #338
To be honest I'm not familiar with Disqus. How would the commenting work? Would there be some kind of Disqus button to redirect the reader?

:+1: for the author info and tooltips

[2016-01-03 12:59] #113 closed

[2016-01-03 13:44] noobxgockel commented on #338
@iluwatar Here is an example:
http://blog.disqus.com/post/135793811850/disqus-glides-into-community-service
Scroll down to the bottom, under the blue box is the disqus element

[2016-01-03 18:59] iluwatar commented on #338
Ok thanks @noobxgockel for the example. :+1: for Disqus

[2016-01-03 20:22] fluxw42 commented on #238
Just created [this script](https://gist.github.com/fluxw42/464820d08e3b567fda48) to update the bold titles with a level 2 header. Running this gives 3d642cd. Does that look ok to you?

[2016-01-04 01:20] noobxgockel commented on #238
With the PR merged and the wiki edited this issue is fixed.

[2016-01-04 01:20] #238 closed

[2016-01-04 07:53] iluwatar commented on #238
:+1: Looks great

[2016-01-04 15:06] tomroy commented on #264
Since this issue hasn't been update for a while, I would like to give it a try. I renamed the SmartTroll-class to SmartHostile and replaced the hardcoded strings in that class to "It throws a rock at you!"
I also updated the class naming in the UML digram.

 I would like to submit a pull request. :)

[2016-01-06 17:45] #264 closed

[2016-01-07 07:18] npathai commented on #335
One more useful link: https://channel9.msdn.com/Shows/Going+Deep/Brian-Beckman-Dont-fear-the-Monads

A rather detailed discussion explaining the fundamentals of monads.

[2016-01-07 08:07] npathai commented on #338
I agree with above points. Can Reddit fit here somehow? I dont know much about it, but have found it useful sometimes.

[2016-01-09 19:27] iluwatar opened #341 "Accepting blog writings"
[Java Design Patterns blog](http://java-design-patterns.com/blog/) is accepting guest writings. The topic of the blog can be anything concerning design patterns.

For technical instructions how to write the blog entry see [developer wiki](https://github.com/iluwatar/java-design-patterns/wiki/01.-How-to-contribute).

Guest writers can also be suggested by commenting on this issue.

[2016-01-10 00:31] noobxgockel commented on #338
@npathai i dunno how reddit would fit in here. I kinda doubt it would be good as a main source because the direct interaction would be obstructed by a link. But doing regular publishing of our blogposts or new patterns onto reddits like /r/java or /r/learnprogramming would be a very nice idea.

Even if an integration into the website would be wanted i could just add a Link to Reddit button, but i

[2016-01-10 07:43] iluwatar commented on #338
@npathai for simple sharing blog posts to Reddit, there is a button for that in the top right corner.

[2016-01-11 10:44] npathai commented on #338
@iluwatar :+1:

[2016-01-12 00:00] hoswey opened #342 "Common utils or class"
I find that

[2016-01-12 18:16] #75 closed

[2016-01-12 19:23] iluwatar opened #343 "ReaderWriterLock unit tests fail on CI"
Something wrong with the ReaderWriterLock unit tests.

See Travis builds:

https://travis-ci.org/iluwatar/java-design-patterns/builds/101906103
https://travis-ci.org/iluwatar/java-design-patterns/builds/101915400
https://travis-ci.org/iluwatar/java-design-patterns/builds/101917864

[2016-01-13 00:13] #342 closed

[2016-01-13 01:29] hoswey commented on #343
From the log file of [Travis-Ci](https://api.travis-ci.org/jobs/101915401/log.txt?deansi=true), it pointouts that reader thread submited to the thread pool cannot  be executed in 149(99+50)ms. I suspect that the Travis-Ci has a high load and it can't assume the read can executed in accurate time.  I have revised the test case with another form.

[code]

[2016-01-13 19:19] iluwatar commented on #343
@hoswey just create pull request when ready

[2016-01-14 19:59] #343 closed

[2016-01-16 10:30] iluwatar opened #346 "Application Controller pattern"
http://martinfowler.com/eaaCatalog/applicationController.html

[2016-01-16 10:34] iluwatar opened #347 "Association Table Mapping pattern"
http://martinfowler.com/eaaCatalog/associationTableMapping.html

[2016-01-16 10:47] iluwatar opened #348 "Data Transfer Object pattern"
http://martinfowler.com/eaaCatalog/dataTransferObject.html

[2016-01-16 10:48] iluwatar opened #349 "Value Object pattern"
http://martinfowler.com/bliki/ValueObject.html

[2016-01-16 11:07] iluwatar opened #350 "Page Controller pattern"
http://martinfowler.com/eaaCatalog/pageController.html

[2016-01-16 11:09] iluwatar opened #351 "Plugin pattern"
http://martinfowler.com/eaaCatalog/plugin.html

[2016-01-16 11:12] iluwatar opened #352 "Unit of Work pattern"
http://martinfowler.com/eaaCatalog/unitOfWork.html

[2016-01-16 21:47] markusmo3 opened #353 "Pattern Category/Tag descriptions"
Hello there,

since we now are able to display more information about specific Categories and Tags we maybe should do so, especially for those that might be confusing. The Categories and Tags confusing me the most (before looking them up):
- Business Tier, all of patterns could be used in a business, why is this special ?
- Camel, after research i found out it means the Apache Camel Project, is th

[2016-01-16 21:49] noobxgockel commented on #338
Commit https://github.com/iluwatar/java-design-patterns/commit/0d67f61fd08dc7a052f564f1088c90ecee55c7f9 includes the Addition of Tooltips. Sorry i forgot to add the issue number in the commit...
All tasks complete -> closed

[2016-01-17 17:06] iluwatar commented on #338
I think it would be a good idea to also implement "Disqus/Comments on patterns"

[2016-01-17 21:53] noobxgockel commented on #338
@iluwatar Could you try and elaborate why you think this would be a good idea?

I think @mikulucky has a very good point about this:

@npathai what do you think about this ?

On a side note, the implementation would only affect a very small amount of code, so that shouldn't be a problem...

[2016-01-18 06:02] iluwatar commented on #338
The patterns are the deliveries of this project. Discussion is feedback to us and it enables us to improve.

Which would you rather take: chatty discussions or no discussion at all? I think comments and opinions are a resource that should not remain untapped.

Also, I don't see the discussions purely as questions taking time from the maintainers. Although it may take some of the team's time I thin

[2016-01-18 09:25] ragzisme commented on #352
I will work on this issue

[2016-01-18 19:46] iluwatar commented on #352
@ragzisme :+1:

[2016-01-19 10:08] npathai commented on #338
@noobxgockel @iluwatar  I think it would be a good idea, because it will allow opinions and discussions on particular patterns. This can be viewed as bad and good. Good points include openness and ideas flowing (which I think will be quite helpful).

Yes it can get chatty and I hope we have the control to remove such comments. It may require a bit of our time to maintain.

We can try it and then d

[2016-01-19 10:14] npathai commented on #353
@noobxgockel
 - In Multi-tiered applications of J2EE, Business tier is where server side logic resides. Example EJB (Enterprise Java Beans)
 - Camel is for Apache Camel, Yes. You got it right.
 - EIP abbreviation? I didn't get you.

Presently I don't think we have tags or categories that really require any tooltip. @iluwatar What do you think?

[2016-01-19 10:22] npathai commented on #226
Lets get it done already. I am back. How should we proceed with remaining references @iluwatar . Some of the books are generic books like Effective Java, Java collections and generics, where should we place them on the website?

[2016-01-19 15:53] iluwatar commented on #226
Effective Java mentions Singleton and Builder patterns.

[2016-01-19 16:08] iluwatar commented on #226
Java Generics and Collections reference has come with generic Observer example.

[2016-01-19 16:13] iluwatar commented on #226
This is for Servant pattern: Let's Modify the Objects-First Approach into Design-Patterns-First

[2016-01-19 16:14] iluwatar commented on #226
This is for Null Object: Pattern Languages of Program Design

[2016-01-19 16:19] iluwatar commented on #226
This link is for Intercepting Filter and Front Controller: http://www.javagyan.com/tutorials/corej2eepatterns

[2016-01-19 16:24] iluwatar commented on #226
Functional Programming in Java mentions the following patterns: Decorator, Execute Around and Strategy.

[2016-01-19 16:25] iluwatar commented on #226
Patterns of Enterprise Application Architecture was added by you @npathai I think?

[2016-01-19 16:26] iluwatar commented on #353
Spring Data is used in Repository.

[2016-01-19 16:26] iluwatar commented on #226
Spring Data is used in Repository.

[2016-01-19 16:35] iluwatar commented on #226
J2EE Design Patterns mentions at least the following patterns: Business Delegate, DAO, DTO, Decorator, Adapter, Lazy Loading, MVC, Publish-Subscribe and Value Object.

[2016-01-19 16:37] iluwatar commented on #353
Well, not really required, but makes the user interface nicer and friendlier. EIP is Enterprise Integration Patterns.

[2016-01-19 16:47] iluwatar opened #354 "Feature Toggle pattern"
http://martinfowler.com/articles/feature-toggles.html

[2016-01-19 17:22] npathai commented on #226
Thanks a ton @iluwatar for your help. I will complete this task tomorrow. And I am not sure about Patterns of Application Architecture. I will take a look. I added POSA reference.

[2016-01-19 19:54] noobxgockel commented on #338
Okay i'll work on adding disqus to patterns too. Also i edited the the Main post...

[2016-01-19 20:28] iluwatar commented on #79
jOOQ uses Active Record pattern: http://www.jooq.org/

[2016-01-19 20:30] #338 closed

[2016-01-19 21:04] mikulucky commented on #354
Can I take this one please?

[2016-01-20 05:20] iluwatar commented on #354
:+1:

[2016-01-20 07:51] npathai commented on #354
@mikulucky For sure I will change the labels.

[2016-01-21 10:56] JuhoKang commented on #349
I think the definition of the Value Object is a little bit inclusive.
Thinking of implementing a pattern. How about this : VALJO - Value Java Objects
which has more strict set of rules for a correctly defined immutable value object.
Suggested by Stephen Colebourne.
http://blog.joda.org/2014/03/valjos-value-java-objects.html
If this is not bad I want to work on this.

[2016-01-21 16:41] iluwatar commented on #349
This is a good specification. I think we're still talking about the same Value Object pattern even though the author mr. Colebourne invents this new term VALJO. So my suggestion would be to implement the Value Object pattern using the VALJO specs. Does this sound reasonable?

[2016-01-21 21:31] JuhoKang commented on #349
:+1:  Yes it is. I will get these details in the code and documentation. Can I work on this?

[2016-01-22 10:55] npathai commented on #349
Sure go ahead. :+1: I will update the labels.

[2016-01-22 11:12] npathai commented on #338
@noobxgockel I have added comment on first blog post

[2016-01-22 15:45] iluwatar commented on #338
My Disqus username is @ilkkaseppl

[2016-01-23 11:20] noobxgockel commented on #338
I added you both as an admin with ability to edit comments and edit settings c:

[2016-01-24 17:45] npathai opened #355 "Abstract document pattern"
https://en.m.wikipedia.org/wiki/Abstract_Document_Pattern

[2016-01-27 16:47] iluwatar opened #358 "Add MIT license header to source files"
One option: https://github.com/mycila/license-maven-plugin

[2016-01-27 22:34] mikulucky commented on #358
Pull request opened, ready for review when you get a chance. :smile:

[2016-01-27 23:02] mikulucky opened #361 "Links within some of the Wiki Pages are broken."
Some of the links within the wiki pages content are broken. Causing the user to be directed to the first page of the wiki. It seems to be that within the link, the proceeding "0" on the page titles are missing.

For example

[code]
Should be
[code]

[2016-01-29 11:40] wael-sakhri commented on #355
I can start to add this pattern

[2016-01-29 16:11] iluwatar commented on #355
Please, go ahead @wael-sakhri

[2016-01-30 13:10] #358 closed

[2016-01-30 15:58] iluwatar commented on #226
@npathai can this issue be closed?

[2016-01-30 22:02] colinbut commented on #229
Hi @iluwatar
I would like to contribute to your project as i have a deep interests in design patterns.

I have been using this pattern for implementing our UI tests using Selenium in the last 4-5 months so i know this pattern very well.

Any chance i can work on this particular pattern?

[2016-01-30 22:08] iluwatar commented on #229
That is great news. Please go ahead @colinbut - your contribution is welcome!

[2016-01-31 10:18] iluwatar commented on #361
I believe the broken links are now fixed. Please reopen this issue if not satisfied.

[2016-01-31 10:18] #361 closed

[2016-02-01 19:40] iluwatar commented on #355
@wael-sakhri did you notice this article https://www.voxxed.com/blog/2016/01/type-safe-views-using-abstract-document-pattern/

[2016-02-02 19:43] mikulucky opened #369 "Website is broken"
When navigating to  http://java-design-patterns.com/patterns/ there is an error message of **AccessDeniedAccess Denied92B077064E60271FJkLpNqms3dcnxsOd+4f2dcNQ7CSWlUqCQ74A4TcVtnA4NqzqbINoKbq6rxXizZTdVaXIqXEBEd0=**

<img width="1920" alt="screenshot 2016-02-02 19 42 41" src="https://cloud.githubusercontent.com/assets/4526195/12761989/29d8770e-c9e5-11e5-9a46-a64442b8bf0f.png">

[2016-02-02 20:02] #354 closed

[2016-02-02 20:14] markusmo3 commented on #369
@mikulucky seems strange, the main site http://java-design-patterns.com/ works but no sublinks of it...
Use the more upstream version in the meantime: http://iluwatar.github.io/java-design-patterns/patterns/

@iluwatar Could it be your domain? If not i'll try and look at the recent website changes...

[2016-02-02 20:18] mikulucky commented on #369
Could it be the recent GitHub pages update?

[2016-02-02 20:27] mikulucky commented on #76
Can I take this one please.

[2016-02-02 20:48] iluwatar commented on #369
The site is currently down due to my configuration error. I'm working on it...

[2016-02-02 21:00] iluwatar commented on #76
Please, go ahead @mikulucky :+1:

[2016-02-03 16:56] iluwatar commented on #369
As far as I know, the [java-design-patterns.com](http://java-design-patterns.com) site should be working again. The downtime was due to my Amazon S3 + CloudFront misconfiguration.

[2016-02-03 16:56] #369 closed

[2016-02-04 08:21] npathai commented on #226
Yes i was abt to close it.

[2016-02-04 08:21] #226 closed

[2016-02-05 19:05] #349 closed

[2016-02-07 21:26] TylerMcConville commented on #297
I can work on this issue.

[2016-02-08 18:35] iluwatar commented on #297
:+1: Great, please go ahead @TylerMcConville

[2016-02-10 16:27] skylermj-252 commented on #351
Hello I am ready to tackle this issue. Is there any information I need to read to understand this issue?

[2016-02-12 10:08] npathai commented on #351
This pattern is described in Patterns of Enterprise Application Architecture book.

Brief description about the pattern:
 - Separated Interface: Some behaviors implementation must be chosen dynamically based on runtime environment. Different environments include Unit Testing, Stress Testing, IoT, Production. Ex of such a requirement is ID generator, in unit testing environment in memory counter ba

[2016-02-12 10:13] npathai commented on #351
Random thoughts on reconfiguration: Java does not allow reloading same class. So I guess reconfiguration means switching from one implementation to other. Like switching from In Memory Counter implementation to DB based counter.

[2016-02-12 10:42] npathai opened #378 "XUnit Test patterns"
http://martinfowler.com/books/meszaros.html

[2016-02-12 10:55] geniusgeek commented on #351
The best implementation approach for this pattern is to use annotations,
reflection and dynamic binding in java, and Abstract Factory combined with
Strategy pattern so as to give the desired flexibility.
Although i am really busy presently, but i will love to render my
assistance in any way.

Cheers.

On Fri, Feb 12, 2016 at 11:13 AM, Narendra Pathai <notifications@github.com>
wrote:

[2016-02-12 11:03] npathai commented on #297
@iluwatar @TylerMcConville I would suggest actually using Micro services architecture by deploying various services in separate docker or some other container and letting the API gateway communicate with appropriate service based on device type.

I agree this would be tedious but it would actually represent how pattern is utilized in production. We will need to figure out how to run docker instanc

[2016-02-12 11:03] npathai commented on #297
A high quality link: https://www.nginx.com/blog/building-microservices-using-an-api-gateway/

[2016-02-12 11:22] npathai opened #379 "Composition root pattern"
http://blog.ploeh.dk/2011/07/28/CompositionRoot/

[2016-02-12 11:24] npathai commented on #379
Reference: http://www.amazon.com/gp/product/1935182501/

[2016-02-12 11:34] npathai commented on #233
A.K.A Ambient Context, Scope

https://aabs.wordpress.com/2007/12/31/the-ambient-context-design-pattern-in-net/

[2016-02-15 17:47] Crossy147 commented on #335
I will work on that issue tomorrow

[2016-02-15 18:27] iluwatar commented on #335
Ok @Crossy147 I will update the issue tags.

[2016-02-15 18:46] Crossy147 commented on #335
I have one more questions, if i may.
I'm finishing my work with
https://github.com/iluwatar/java-design-patterns/issues/333 issue, the
monad pattern. I just need to deal with uml in eclipse, and code style
violation (in this commit
<https://github.com/Crossy147/java-design-patterns/commit/10bbf988ead88e92ab00223631313ffa58337c53>
IntelliJ changed code-style of another pattern to Google Java Style

[2016-02-15 18:50] TylerMcConville commented on #297
@npathai Sure, I can try to accomplish that. I'll investigate how we would be able to run the Docker instances while unit testing and see what I can come up with.

[2016-02-15 19:57] jdoetricksy opened #381 "Service Stub pattern"
### Description
The Service Stub design pattern is used to create a simplified version of a service that mimics the behavior of a real service in a controlled manner. This is especially useful during development and testing phases when the actual service might be unavailable or its usage might be costly or impractical. The stub can return predefined responses and simulate various scenarios to ensu

[2016-02-15 22:20] gilbertoca commented on #190
Hi,
What about this UML tool: [DoUML](https://github.com/DoUML/douml)
Or this plan text UML tool: [PlantUML](http://plantuml.com/) which can be rendered by github via [PlantUML github support](http://uml.mvnsearch.org/index_github.jsp)

[2016-02-16 09:40] npathai commented on #297
@TylerMcConville We don't necessarily need docker instances in unit testing. We can abstract the Services with interfaces and replace them with our mocks while unit testing.

[2016-02-16 09:50] npathai opened #383 "Service Registry pattern"
This is a microservices pattern http://microservices.io/patterns/service-registry.html
Context
Clients of a service use either Client-side discovery or Server-side discovery to determine the location of a service instance to which to send requests.

Problem
How do clients of a service (in the case of Client-side discovery) and/or routers (in the case of Server-side discovery) know about the availa

[2016-02-18 16:33] iluwatar opened #385 "Mute idiom"
http://blog.jooq.org/2016/02/18/the-mute-design-pattern/

[2016-02-19 15:15] gwildor28 commented on #71
Hi, Id like to have a go at implementing this pattern. If I base it around the code on this website:

http://tutorials.jenkov.com/java-concurrency/locks.html

Would that be OK? Do you have any specific requirements for how you want this implemented?

[2016-02-21 17:59] #333 closed

[2016-02-21 18:37] #335 closed

[2016-02-25 17:44] gwildor28 commented on #71
Hi, I'm just bumping this

[2016-02-25 20:26] iluwatar commented on #71
Sorry for the late answer @gwildor28 Your suggestion is fine. I would like to see the example present the different types of locks and show how they are used. No other specific requirements, just follow how the other examples have been implemented e.g. [Caching](http://java-design-patterns.com/patterns/caching/)

[2016-03-01 04:13] Aravamudhan commented on #383
@npathai @iluwatar I am working on this pattern. Please add under construction tag to this issue. Thanks.

[2016-03-01 06:05] npathai commented on #383
@Aravamudhan Sure. I would suggest you to discuss the approach. We may need some microservice toolkit for this.

[2016-03-01 11:30] npathai commented on #385
Have used this idiom numerous times. On it.

I will be creating two mute methods:
 - `mute()` throws `AssertionError` if unexpected exception occurs. Should be used when some class declares exception but should never throw exception.
 - `loggedMute()` swallows exception by logging it on err stream. Should be used when all you can do about exception is trace it.

[2016-03-02 08:13] npathai commented on #383
@Aravamudhan Yes that would be fine :+1:

[2016-03-02 08:16] npathai opened #393 "Notification Pattern"
http://martinfowler.com/eaaDev/Notification.html

[2016-03-02 08:19] npathai opened #394 "Collector State Pattern"
**Description:**
The Collector State design pattern is a behavioral design pattern used in real-time software to manage scenarios where a sequence of messages needs to be collected before initiating further actions. Key elements include:

- **Collected Message Handler:** Receives and processes messages, starts and stops timers, and decides when the collection is complete.
- **Timeout Handler:** Ma

[2016-03-02 09:45] Aravamudhan commented on #383
@npathai Even I never used it before. Recently came across it. It makes creating apps and deploying them extremely simple. Since in this pattern we need to deploy few apps, by using Spring boot, we do not even need a server or db connection for deploying the applications we create.

[2016-03-02 10:53] gwildor28 commented on #71
I've created an example of a mutex and a semaphore. Do you want these to be in different packages? e.g. com.iluwatar.lock.mutex/com.iluwatar.lock.semaphore

[2016-03-04 08:05] iluwatar commented on #71
It depends on the implementation. We can comment this when you create the pull request.

[2016-03-04 09:54] raviteja1992y commented on #332
I started working on this.

[2016-03-06 14:45] Alexandra-Giosan commented on #183
I'd like to make an implementation for this one. Could you please add the under construction tag to it?

[2016-03-06 15:36] iluwatar commented on #183
@Alexandra-Giosan it's done

[2016-03-09 21:37] hofmama3 commented on #347
Can I work on this pattern?

[2016-03-10 11:34] kuzneana commented on #393
Is this issue still free? Can I work on it?

[2016-03-10 16:54] iluwatar commented on #347
Please go ahead @hofmama3

[2016-03-10 16:56] iluwatar commented on #393
Please go ahead @kuzneana

[2016-03-11 11:27] npathai opened #399 "Should we have a discussion prior to implementation?"
We have recently faced issue where the implementation of the pattern is not upto the mark and does not fulfill all the requirements of the pattern.

I was wondering whether we should have a under-discussion tag, under which once someone shows interest in working on pattern we can gather ideas and use cases from the contributors and then start working on the pattern.

There are several advantages:

[2016-03-12 07:20] iluwatar commented on #399
I guess we could offer more assistance when someone starts working on issue. But I'm not sure if this should be mandatory.

[2016-03-12 11:25] geniusgeek commented on #399
Please what pattern are we talking about?

On Sat, Mar 12, 2016 at 2:21 AM, Ilkka Seppälä <notifications@github.com>
wrote:

[2016-03-13 02:55] npathai commented on #399
@iluwatar fair enough. Once the contributor figures out an implementation discussing that with peers from community will only improve things. This also gives us another collaborative opportunity. Presently PRs are the only collaborative part.
Awaiting further comments.

[2016-03-13 03:00] npathai commented on #399
@geniusgeek firstly I am not pin pointing any mistakes. I highly appreciate contribution of any size.
Recently this happened with plugin pattern implementation that it did not fully represent pattern n its true power. Also happened with API gateway, the sample stripped out so much complexity that it did not showcase why is pattern so useful. I rose the point n clarified with the contributor. That'

[2016-03-13 20:06] iluwatar commented on #86
http://www.slideshare.net/fabricioepa/hexagonal-architecture-for-java-applications

[2016-03-14 08:16] raviteja1992y commented on #348
I started working on this

[2016-03-14 18:36] iluwatar commented on #348
Ok, I will update the labels. Don't hesitate to ask if you need support.

[2016-03-15 12:26] metamorphiccode opened #401 "design pattern class diagrams"
Could you also add class diagrams as picture  to see each of design pattern generic side.it would be nice.
Thanks

[2016-03-15 12:42] npathai commented on #401
We do do that. Each pattern has `etc` directory which contains png. And they are also visible on the site.

[2016-03-15 13:24] metamorphiccode commented on #401
ohh sorry did not realize

[2016-03-15 13:24] #401 closed

[2016-03-16 12:29] Person-93 opened #403 "Promises"
Intent
------
The purpose is for a function that performs some asynchronous action to immediately return an interface that allows other functions to queue other functions to be called when it completes.

[2016-03-16 13:18] npathai commented on #403
Called `Future`s in Java World.

[2016-03-16 13:24] npathai opened #404 "Refactor DAO pattern"
I have created a branch to refactor DAO pattern https://github.com/iluwatar/java-design-patterns/tree/refactor-dao

Done
 - Refined interface according to Java 8
 - Feedback from CUD operations
 - Renamed existing implementation to `InMemoryCustomerDao`

To be Done
 - Add DBDao (But I was wondering who should create the schema)

Does App needs to have knowledge about the datasource that will be ut

[2016-03-16 19:30] geniusgeek commented on #403
I think this is not a regular future. Because it not just return an object
for which the result is to be retrieved, we are expected to include list of
functions to be performed after the future result comes. Therefore i see it
as a combination of future, command & command processor pattern(to queue
the functinos) and active Object pattern(to define the new context to
implement the functions).

On

[2016-03-16 23:49] Person-93 commented on #403
It would include that, also it would let you chain promises. If you have several asynchronous tasks and you want to wait until they all finish, you can pass all of the promises that they return into a factory method and it will return a promise that won't be resolved until they're all completed.

[2016-03-17 03:05] npathai commented on #403
Yes to be precise Guava's SettableFuture is similar to promises. It allows chaining too.

[2016-03-17 17:29] zhexuany commented on #394
I guess, I can do this. What is the deadline then? I usually have 2 hr free time per day.

[2016-03-17 19:55] iluwatar commented on #394
@zhexuany there are no deadlines. Take your time and create a pull request when you're ready for review. Let us know if you need help via this issue or [Gitter](https://gitter.im/iluwatar/java-design-patterns).

[2016-03-18 20:32] zhexuany commented on #394
@iluwatar  Nice. I will work on this issue when I am free. ;)

[2016-03-23 07:55] npathai opened #408 "Bump up JUnit version to 5"
Presently JUnit 5 is under alpha stage, once it is open for public use we should update library.

JUnit 5 is lambda ready and provides variety of features pre-built that will remove some library dependencies.

Plus it never hurts to stay updated and we can provide feedback on any broken features.

[2016-03-23 08:26] npathai commented on #332
We have decided to keep this pattern classical and not use lambdas. So closing it.

[2016-03-23 08:26] #332 closed

[2016-03-23 08:28] npathai commented on #301
@iluwatar Is it same as #232 ? If it is we should mark one as duplicate and close one of them.

[2016-03-23 08:31] npathai commented on #403
I am picking this up.

[2016-03-23 11:27] inbravo commented on #34
Ample discussion on this thread .... let me delve ...

[2016-03-23 19:15] iluwatar commented on #301
Well spotted. Since this is under constructions I'm closing the other issue.

[2016-03-23 19:15] iluwatar commented on #301
This is a presentation tier pattern, similar to Flux .

http://rackt.github.io/redux/

[2016-03-23 19:16] iluwatar commented on #232
Closing this as dupllcate of #301

[2016-03-23 19:16] #232 closed

[2016-03-23 19:17] iluwatar commented on #403
I don't follow what this issue is about. Can you update the subject, description and labels?

[2016-03-24 12:39] npathai commented on #403
@iluwatar This task can be considered asan enhancement over `AsyncMethodInvocation`.
If our `AsyncResult` had provided some methods to operate on future result then it can be called a promise sort of.

Here are some useful links:
https://docs.oracle.com/javase/8/docs/api/java/util/concurrent/CompletableFuture.html

http://www.nurkiewicz.com/2013/05/java-8-definitive-guide-to.html?m=1

https://deve

[2016-03-24 19:52] iluwatar commented on #403
@npathai is this a new pattern or an enhancement to existing one?

[2016-03-25 06:46] iluwatar opened #409 "IDE instructions"
We need step-by-step instructions for setting up and working in IDE such as Eclipse or IntelliJ Idea. The page could be created in [developer wiki](https://github.com/iluwatar/java-design-patterns/wiki).

[2016-03-25 18:51] npathai commented on #409
:+1:

[2016-03-25 19:12] aagarw33 opened #411 "Builder Pattern: issue accessing inner static class"
Shouldn't you access it as
` Hero mage =
	        new Hero.HeroBuilder(Profession.MAGE, "Riobard").withHairColor(HairColor.BLACK)
	            .withWeapon(Weapon.DAGGER).build();`

instead of
` Hero mage =
	        new HeroBuilder(Profession.MAGE, "Riobard").withHairColor(HairColor.BLACK)
	            .withWeapon(Weapon.DAGGER).build();`

[2016-03-25 23:47] npathai commented on #403
@iluwatar I am in favor of treating this as a new pattern and keep our AsyncMethodInvocation as is. I will find out whether we can utilize its dependency while implementing this pattern. This is more of a functional approach. But again I will get concrete feel of it when I start implementing it. So for now I am treating it as new pattern.

[2016-03-26 07:58] rinormaloku commented on #411
import com.iluwatar.builder.Hero.HeroBuilder

[2016-03-26 07:58] iluwatar commented on #403
:+1:

[2016-03-26 08:36] geniusgeek commented on #411
Cant we make it cleaner by introducing a static factory to the Hero class that returns the instance of a herobuilder.

eg:
Hero mage = Hero.HeroBuilder(Profession.MAGE, "Riobard").withHairColor(HairColor.BLACK) .withWeapon(Weapon.DAGGER).build();

[2016-03-26 09:56] iluwatar commented on #409
I added some Eclipse instructions https://github.com/iluwatar/java-design-patterns/wiki/12.-IDE-instructions

[2016-03-26 10:09] npathai commented on #411
@geniusgeek Yes we can do that. I can settle with
`Hero hero = Hero.newBuilder(Profession.MAGE, "Riobard").withHairColor(HairColor.BLACK).build();`

So we can introduce a static method `newBuilder(requiredParams...)` in `Hero` class.

[2016-03-26 11:08] iluwatar commented on #411
Using the style described in Joshua Bloch's Effective Java this would be:

`Hero mage =
        new Hero.Builder(Profession.MAGE, "Riobard").withHairColor(HairColor.BLACK)
            .withWeapon(Weapon.DAGGER).build();`

In this case we would need to rename `HeroBuilder` to `Builder`.

[2016-03-28 07:03] #385 closed

[2016-03-28 08:13] inbravo commented on #34
I am responsible for this issue; please assign ....

- Fowler is father of DOP (http://martinfowler.com/eaaCatalog/dataMapper.html)

- Referring http://richard.jp.leguen.ca/tutoring/soen343-f2010/tutorials/implementing-data-mapper/

[2016-03-28 10:37] npathai commented on #34
@inbravo Go ahead. I have updated the labels.

[2016-03-28 10:43] npathai commented on #34
Meanwhile @inbravo I think you can proceed with the implementation.

[2016-03-28 16:50] #404 closed

[2016-03-31 10:29] npathai opened #413 "Circuit Breaker pattern"
http://martinfowler.com/bliki/CircuitBreaker.html

The basic idea behind the circuit breaker is very simple. You wrap a protected function call in a circuit breaker object, which monitors for failures. Once the failures reach a certain threshold, the circuit breaker trips, and all further calls to the circuit breaker return with an error, without the protected call being made at all. Usually you'l

[2016-03-31 10:35] npathai opened #414 "Skeptic design pattern - Circuit Breaker alternative"
http://www.hpl.hp.com/techreports/Compaq-DEC/SRC-RR-77.pdf

JRugged repo link: https://github.com/Comcast/jrugged/issues/5

[2016-03-31 13:17] geniusgeek commented on #413
From the implementation, CircuitBreaker-State Pattern is a great pattern
compound to use for our implementation. The state pattern is to map
different state of the CircuitBreaker.  I love this pattern.

On Thu, Mar 31, 2016 at 6:30 AM, Narendra Pathai <notifications@github.com>
wrote:

[2016-03-31 19:45] npathai commented on #413
@geniusgeek Yes we used this pattern for years in production but didnt know its name. Found it today while exploring cloud patterns. We had implemented it without official name n now i am going to refactor our production code to use it.

[2016-04-01 17:44] markusmo3 commented on #255
I'm digging this issue up, because im slightly annoyed that the 'official' link to our website isnt fully up to date. So i sat down and did a little research.

I found this: https://docs.travis-ci.com/user/deployment/s3
With this it should be very easy for us to integrate an automagic deployment to s3.
The only thing is we (or rather you) need to encrypt the credentials as demonstrated on the page

[2016-04-01 18:17] markusmo3 commented on #255
Im digging this issue up and trying my best to resolve. Dont mind the possible build errors.

@iluwatar Is the secret access key still correct ? Im running dry builds for now but later on having working credentials for testing would be very nice.

[2016-04-02 12:19] iluwatar commented on #255
@markusmo3 the S3 information is obsolete. Do you have AWS account you could test the deployment on? I certainly think this is a matter we need to solve.

[2016-04-02 16:53] markusmo3 commented on #255
@iluwatar no i dont have an aws account. I just need the preencrypted (so they cant be stolen by anyone) credentials and cause a minor downtime/maintenance of the domain...

Another thing i remembered is using domains rather than a complete backend. I also remember you having issues with setting up the domain. What was the problem again? Maybe i could help? Github and most major helpsites make it

[2016-04-02 22:52] TylerMcConville commented on #297
Just a status update: I've got this pattern code complete, I'm just working on documentation, diagrams, and test coverage.

[2016-04-03 04:42] npathai commented on #297
@TylerMcConville That's great :+1:

[2016-04-03 05:28] iluwatar opened #415 "Presentation Model pattern"
http://martinfowler.com/eaaDev/PresentationModel.html

[2016-04-03 05:31] iluwatar opened #416 "Show version number on web site"
It would be helpful to know what version is deployed on the web site.

[2016-04-03 05:50] iluwatar commented on #255
What we have currently is a Cloudfront distribution backed by S3 static website. The domain java-design-patterns.com is setup as alias for the Cloudfront distribution's URL.

The current setup process is quite time consuming
- build the new Jekyll site as per instructions [here](https://github.com/iluwatar/java-design-patterns/wiki/07.-Working-with-the-web-site). This involves manual editing of `_

[2016-04-03 06:03] iluwatar commented on #255
The custom domain setup instructions are [here](https://help.github.com/articles/using-a-custom-domain-with-github-pages/). Notice how the instructions [here](https://help.github.com/articles/custom-domain-redirects-for-github-pages-sites/) indicate that the redirects would be pointing to iluwatar.java-design-patterns.com instead of java-design-patterns.com as we would desire.

[2016-04-03 10:20] markusmo3 commented on #255
Hmmmm, i found this [example usage of flat domain](https://github.com/udp/lacewing/tree/gh-pages) and [this very interesting answer on SO](http://stackoverflow.com/a/18506545).

As far as i understand, redirecting from the proper domain to github wont be an issue, just redirecting from github to the custom domain. So using domains might break the github.io links.

I thought setting up the domain m

[2016-04-03 16:10] #416 closed

[2016-04-03 19:22] iluwatar commented on #255
Honored to watch @markusmo3 live code this feature today. Awesome work!

[2016-04-03 19:24] iluwatar commented on #255
@markusmo3 when you have time can you please fill the details how the automatic deployment works here: https://github.com/iluwatar/java-design-patterns/wiki/07.-Working-with-the-web-site

[2016-04-04 10:47] npathai commented on #255
@iluwatar Hows that? Was it through hangout?

[2016-04-04 11:09] inbravo commented on #34
Admins, assign this to me....

Please review: https://github.com/inbravo/java-design-patterns/blob/master/data-mapper/index.md

[2016-04-04 12:31] markusmo3 commented on #255
@npathai nah :smile: We were just working and talking together with gitter

I edited the wiki and explained how the new system works. This issue should be resolved! *yay*

[2016-04-04 12:31] #255 closed

[2016-04-04 17:21] iluwatar commented on #34
@inbravo please make a pull request and we'll review.

[2016-04-05 17:22] iluwatar commented on #81
https://msdn.microsoft.com/en-us/library/dn600223.aspx

[2016-04-06 07:52] inbravo commented on #34
Pull request [#417] is ready for review....

[2016-04-06 17:31] iluwatar opened #418 "Thread-local singleton"
Add to Singleton example: https://dzone.com/articles/singleton-implementation-1

[2016-04-06 19:32] markusmo3 commented on #190
I dont know why this issue has been ignored. I quite like the idea of having things unified! And PlantUML sure does look very promising!

@iluwatar you have this nice UML reverse mapper project. I'm thinking of creating a new "PlantUMLPresenter" for it. With that it should be able to output plantuml code, right?

Because then we could use the PlantUML hosting webserver to draw and host the diagram

[2016-04-06 19:41] mafagafogigante commented on #190
@markusmo3 I am not going to help as I don't have the time, but I cheer for you. It seems a good idea.

[2016-04-07 04:19] iluwatar commented on #190
@markusmo3 I will look into this.

[2016-04-07 04:25] iluwatar opened #419 "Search function on web site does not find all the patterns"
Typing into the search field gives no results for these keywords:

`Caching` - no results found
`Flyweight` - no results found
`Mute` - no results found
`Iterator` - no results found
`Memento` - no results found

The list is not comprehensive, I did not try them all. I suspect there are others too.

[2016-04-07 11:52] markusmo3 commented on #419
Woops, didnt mean to close this issue... I did activate a manual indexing though.
So we'll have to wait at least a full 24h for google to crawl it according to its docs

[2016-04-07 16:29] iluwatar commented on #419
Ok, thumbs up, let's wait and see.

[2016-04-09 07:37] iluwatar opened #420 "Game programming patterns"
http://gameprogrammingpatterns.com/contents.html

[2016-04-10 06:35] iluwatar commented on #190
@markusmo3 I think your plan could work.

1. The [reverse-uml-mapper](https://github.com/iluwatar/uml-reverse-mapper) generates [PlantUML](https://github.com/plantuml/plantuml) markup files
2. The PlantUML markup can be further manipulated with IDE plugins or online tools [Eclipse](http://plantuml.com/eclipse.html) [IntelliJ](https://plugins.jetbrains.com/plugin/7017?pr=) [NetBeans](http://plugins

[2016-04-10 09:19] markusmo3 commented on #190
@iluwatar Seems like im one step ahead of you :wink:
One day i had too much time, so i just started ^^ It's not finished yet but works quite good allready.
![image](https://cloud.githubusercontent.com/assets/3317416/14409072/58aa6a30-ff0d-11e5-97eb-76914ce53f9a.png)

[2016-04-10 09:25] mafagafogigante commented on #190
@markusmo3 Fly as fuck. I'm just judging appearance, didn't read the attributes and methods, but that is the easiest part to get right as it is programmatically assigned.

Really good.

[2016-04-10 16:14] iluwatar commented on #190
I'm not sure I understood @mafagafogigante 's expression but, woah, to me this looks awesome!

[2016-04-10 16:22] mafagafogigante commented on #190
@iluwatar That's what I tried to say. It looks very polished, almost as if it was the result of several iterations already.

[2016-04-11 20:19] iluwatar commented on #87
Closing this as duplicate of #86

[2016-04-11 20:19] #87 closed

[2016-04-11 20:20] iluwatar commented on #102
Closing this as duplicate of #86

[2016-04-11 20:20] #102 closed

[2016-04-12 01:59] YusufGandhi commented on #418
Hi,

I'm Yusuf and am new to this project. I'm currently trying to learn to contribute something. Willing to work on this enhancement, if I may, as the first baby step to contributing to this project in the long run.

Please let me know.

[2016-04-12 04:30] iluwatar commented on #418
@YusufGandhi welcome! I'll change the issue labels to indicate you're working on this. Please don't hesitate to ask here or in [Gitter](https://gitter.im/iluwatar/java-design-patterns) if you need help.

[2016-04-12 07:38] YusufGandhi commented on #418
@iluwatar Thanks for the prompt reply! I'll definitely ask for help if required.

[2016-04-12 12:31] geniusgeek commented on #418
@YusufGhandi @iluwatar, ThreadLocal singleton is not necessarily a
singleton pattern, it is a concurrency resource management pattern. Take a
look at Pattern Oriented Software Architecture by D. Schmidth, This pattern
has been adopted into Java for resource management. Please dont add this as
a Singleton, It was implemented as a singleton so that it can be both
threadsafe, process safe and memory

[2016-04-13 07:39] iluwatar commented on #418
@geniusgeek I see your point. However, it is inherent to Singleton to take a stand against concurrency. The most basic version creates the static instance eagerly providing thread-safety. The lazily initialized Singletons employ various tricks to be safe when the instance is accessed concurrently. Isn't thread-local Singleton just one more way to solve this?
Also, take a look at related Multiton p

[2016-04-13 17:47] geniusgeek commented on #418
All i am saying is that ThreadLocal pattern is not necessarily a Singleton
pattern, it is one of the Concurrent Pattern that ensures shared memory and
shared process pattern. The reason why it is implemented using singleton
pattern is for data consistency. So it is wrong to use it as a Singleton
pattern

On Wed, Apr 13, 2016 at 3:40 AM, Ilkka Seppälä <notifications@github.com>
wrote:

[2016-04-17 17:00] protopapa commented on #296
Hi,

I'm Anastasia . I would like to work on this issue of it is OK.
Waiting to hear back.

Thanks and Cheers.

[2016-04-17 18:53] iluwatar commented on #296
Hi there! You're welcome to work on it. I'll update the issue labels.

[2016-04-18 18:17] #71 closed

[2016-04-19 09:46] protopapa commented on #296
Thanks!!!

[2016-04-20 05:16] inbravo commented on #34
Please assign to me...

[2016-04-20 07:13] inbravo commented on #62
Please assign; i can start ...

[2016-04-20 11:03] npathai commented on #418
@iluwatar I second @geniusgeek here. It does not feel right to call thread locals singleton. Though I don't have arguments against that as well. I will figure it out and leave a comment.

[2016-04-20 11:13] npathai commented on #296
@iluwatar Don't we need splitting of tasks here? Link explains 4-5 different patterns. Are all going to be implemented as one PR?

[2016-04-20 15:07] neonds commented on #296
Hi! Maybe I can help in someway.

[2016-04-20 15:26] hoswey opened #424 "Leader/Followers"
[DelayQueue](http://grepcode.com/file/repository.grepcode.com/java/root/jdk/openjdk/8u40-b25/java/util/concurrent/DelayQueue.java#DelayQueue) has using the the Leader/Followers pattern to detect the head of expire item, it is a very interest pattern

http://www.cs.wustl.edu/~schmidt/PDF/lf.pdf
http://www.cs.wustl.edu/~schmidt/POSA/POSA2/pattern-abstracts.html#lf

[2016-04-20 16:24] iluwatar commented on #62
@inbravo you're good to go. Assigning can be used only for members with push access.

[2016-04-20 16:50] iluwatar commented on #296
@npathai @protopapa as I see it this is a single architectural pattern and there are different flavours to it. In my opinion this issue could implement the basic case and explain the others.

I agree this is a big pattern to implement and would prefer to discuss the best way to implement it before we dig too deep into it.

[2016-04-20 16:53] iluwatar commented on #424
Ping @amit2103

[2016-04-20 19:43] iluwatar commented on #409
It also contains Idea instructions now.

[2016-04-20 19:56] amit2103 commented on #424
Yes.. I read this...I saw the implementation too...But I thought its best to implement something that will be easily undrestandable..also copying the Delay Queue wouldn't have made much sense .

[2016-04-20 19:58] iluwatar opened #425 "Incorporate principles"
I've been helping out a friend with [this fork](https://github.com/iluwatar/programming-principles) but lately I've gained a vision how the principles should be presented.

I suggest that we incorporate the principles to the java-design-patterns.com web site, in their own section. The presentation of the principles would be similar to [patterns page](http://java-design-patterns.com/patterns/). The

[2016-04-20 19:59] neonds commented on #409
got it

2016-04-20 13:44 GMT-06:00 Ilkka Seppälä <notifications@github.com>:

--
Guillermo B Díaz Solís
UCR Informática Empresarial

[2016-04-20 21:04] protopapa commented on #296
@iluwatar @npathai As I see it is for sure one pattern with 3 variations. For the last two listings I would like to research and study it a bit more before forming an opinion.

[2016-04-20 21:24] neonds commented on #296
I agree with Idea to use the most simplest architecture. I was in a project where we use Repository and Service patterns, with Spring restfull and spring security with Jason Web Tokens (jwt) using DTO pojos . I think that is a good idea use a real example with a complete stack of layers.

[2016-04-21 05:33] amit2103 commented on #424
@iluwatar  I had made a new pull request. Please review it when you have time

[2016-04-21 06:52] npathai commented on #425
@iluwatar We had a discussion on this in #208 and decided to just link `web pro` link on our website. Can we not help the principles website on http://webpro.github.io/programming-principles/ to convert to our style?

[2016-04-22 12:26] kevcomedia commented on #411
Hi. If I understood it correctly, changing any of `Hero`'s fields means the `HeroBuilder` must be changed also. Isn't that bad? I'm new here. Please enlighten me.

[2016-04-22 17:16] markusmo3 commented on #425
@iluwatar Looks nice, and incorporating it into the website would be awesome.
For it to work, the website just needs the *.md files and a new template, so no biggie there.

I think we need to start discussing about the future plans of this project, if we decide to add the principles:
* Currently we have one master and one website, purely about JDP. If we incorporate the principles, we'd have incon

[2016-04-23 04:57] iluwatar commented on #411
@kevcomedia you are right. The attribute duplication is a downside of the pattern. Builders are fancy to use but writing them tends to be boilerplate. In cases like this Lombok can be really helpful. Take a look at [@Builder annotation](https://projectlombok.org/features/Builder.html).

[2016-04-23 17:07] iluwatar commented on #425
Yeah, I remember the discussion @npathai and so far it has served us well that way. I would just like to make the principles first class citizen in this project. They are kind of natural fit, principles and patterns. Of course, this would need to be agreed with webpro but I don't see a problem there. But should we expand this way, I would like to do this unanimously.

@markusmo3 here's my comments

[2016-04-24 06:15] iluwatar opened #426 "Web site build failing"
The most recent gh-pages build has failed and java-design-patterns.com site has not been updated:

https://travis-ci.org/iluwatar/java-design-patterns/builds/125283578

[2016-04-24 06:17] iluwatar commented on #426
It would be nice to show the gh-pages build status in the `README.md` as well for easier error detection.

[2016-04-24 11:00] markusmo3 commented on #426
Wooops, forgot to mention this issue in the commits...
Here they are:
on master: https://github.com/iluwatar/java-design-patterns/commit/71e3443e0ea28a6c8e2b94c2e4cc6c0bf24dc7a2
on gh-pages: https://github.com/iluwatar/java-design-patterns/commit/e0ccffa279398e8e5d050c6126ec167cb4f19f6c

Waiting for travis to build everything fully...

[2016-04-24 12:05] markusmo3 commented on #426
Build passed: https://travis-ci.org/iluwatar/java-design-patterns/builds/125362212

~closed

[2016-04-24 12:05] #426 closed

[2016-04-24 12:09] iluwatar commented on #418
The example is not entirely clear how it relates to Singleton. How about if we write it this way:

[code]

[2016-04-24 12:11] iluwatar commented on #426
Thanks for looking into this @markusmo3 :+1:

[2016-04-24 12:31] iluwatar commented on #419
Just tested this, unfortunately the search still seems broken.

[2016-04-24 12:32] iluwatar commented on #409
Can someone contribute NetBeans instructions?

[2016-04-24 13:04] markusmo3 commented on #419
yep allready working on it, should come very soon

[2016-04-24 17:48] #419 closed

[2016-04-24 19:49] #34 closed

[2016-04-24 19:57] iluwatar commented on #419
Seems to work flawlessly :+1: Great work @markusmo3

[2016-04-26 04:52] iluwatar commented on #199
@satishnaidu are you working on this pattern? I'm about to revert `under construction` label since there is no progress.

[2016-04-26 04:54] iluwatar commented on #197
@zafarella any updates? I would love to incorporate nice presentations like you demonstrated.

[2016-04-26 04:56] iluwatar commented on #249
@tainarareis are you working on this pattern? I'm about to revert `under construction` label since there is no progress.

[2016-04-26 14:54] zafarella commented on #197
A bit busy coming month. If not in rush, I can work on it later

On Tue, Apr 26, 2016 at 12:55 AM, Ilkka Seppälä <notifications@github.com>
wrote:

[2016-04-26 16:32] iluwatar commented on #197
There is no rush. Good to know you're still around @zafarella

[2016-04-27 06:13] npathai commented on #425
@iluwatar @markusmo3 Yes even I am up for incorporating them on our website. Also we need new naming. I will think of some options. Organization would surely be next step towards expanding our reach. :+1: For that. Why not incorporate webpro in this discussion as well.

[2016-04-27 19:19] iluwatar commented on #425
I've just sent the proposal.

[2016-04-29 01:29] zafarella commented on #409
you don't really need any instructions i think. this is maven project - all of the ide's can deal with it. Just saying that you need to import it as maven project is enough + checkstyle of course.

[2016-04-29 05:09] iluwatar commented on #409
I agree that importing the project is easy, but setting up the code style according to Checkstyle rules may not be so straightforward.

[2016-04-30 12:37] markusmo3 opened #428 "Handling/Supporting Translations"
Hello everybody,
so i recently got an email from a nice Brazilian developer who wants to translate our repo for his people. Im not sure if he wants to be in the spotlight so i wont give any names.

But the main question is:
Do we want to support translation on our side ? Or should he just copy/fork our repo?
On the technical side it would be quite the work to get i18 or multi-language support work

[2016-05-01 16:47] iluwatar commented on #105
@amit2103 any updates?

[2016-05-01 16:48] iluwatar commented on #199
This issue is free for taking again.

[2016-05-01 16:48] iluwatar commented on #203
@amit2103 any updates?

[2016-05-01 16:49] iluwatar commented on #229
@colinbut any updates? Are you working on this?

[2016-05-01 16:50] iluwatar commented on #249
This is issue is free for taking again.

[2016-05-01 16:52] iluwatar commented on #352
@ragzisme are you working on this?

[2016-05-01 16:53] iluwatar commented on #355
Ping @wael-sakhri are you working on this?

[2016-05-01 17:09] iluwatar commented on #428
I think this feature should definitely be on our roadmap. Not the whole world runs on English.

In general I like the way they put it together in DiscoverMeteor. There would be separate language files and the correct one would be referenced in the web site config. I understand this would require significant design and implementation effort. Would the person who suggested this be willing to work on

[2016-05-01 19:42] amit2103 commented on #203
@iluwatar  COmpleted..Writing Junits

[2016-05-01 19:42] amit2103 commented on #105
@iluwatar  Will start working this week

[2016-05-01 20:18] colinbut commented on #229
@iluwatar Apologies, not had the time to start this due to important work commitments that came up lately.

Feel free to un-assign me from this issue, otherwise i will commence work on this asap.

[2016-05-02 03:48] iluwatar commented on #229
@colinbut no problem, you can continue on this when you are able.

[2016-05-02 05:50] satishnaidu commented on #199
@iluwatar , Sorry for responding lately, I have these changes in my local...but before checking the code I just want to someone review it.
Because, It's not just plain java classes, It is using yaml file, jersey jars also to implement these pattern.
Please let me know how to proceed on this.

[2016-05-02 14:00] khajavi commented on #105
+۱

[2016-05-02 18:19] iluwatar commented on #199
Are the changes in your fork? I can take a look if you point me in the right spot.

[2016-05-06 07:16] #297 closed

[2016-05-10 21:09] protopapa commented on #296
Hello!
I believe that the simplest way to implement this pattern is, as it described on the Aggregator Microservices pattern. I also believe that the Proxy Pattern , Chained Microservices Pattern and Branch Microservices Pattern is a variation of the Aggregator. The Shared Data Microservices Patter and the Asynchronoys Pattern solve a different problem and if implement should be in a different tas

[2016-05-11 19:13] iluwatar commented on #296
Hi @protopapa I think you have the right interpretation. For an example, you can look at the excellent [API Gateway pattern](https://github.com/iluwatar/java-design-patterns/tree/master/api-gateway) from @TylerMcConville

[2016-05-11 19:34] iluwatar opened #429 "IODA architectural pattern"
http://www.infoq.com/news/2015/05/ioda-architecture
http://geekswithblogs.net/theArchitectsNapkin/archive/2015/04/29/the-ioda-architecture.aspx
http://geekswithblogs.net/theArchitectsNapkin/archive/2015/05/02/ioda-architecture-by-example.aspx

[2016-05-12 04:59] iluwatar commented on #418
@npathai @geniusgeek looking forward to hear your comments. In your opininion, can the presented code be treated as a variant of Singleton? I think so.

[2016-05-12 05:15] iluwatar commented on #355
This issue is free for taking again.

[2016-05-12 05:15] iluwatar commented on #352
This issue is free for taking again.

[2016-05-17 18:11] iluwatar commented on #351
This issue is free for taking again.

[2016-05-21 17:42] protopapa commented on #296
Hello again @iluwatar  and @npathai ,
I looked at the API Gateway pattern, and at first look I thought that it is a variation of the aggregator pattern or the other way around. I made a small search to try to understand the differences and I think that as the Aggregator Microservices is described in this article is no different from the API-gateway. I also had a look at the below articles : [first

[2016-05-24 15:15] iluwatar commented on #296
Hi @protopapa I think you are right in the sense that technically API Gateway and Aggregator may look the same. The purpose of the patterns however varies. API Gateway provides different functionality for different devices whereas Aggregator provides unified API.

[2016-05-31 18:06] qza commented on #355
Hi. I can work on this.

[2016-05-31 19:31] iluwatar commented on #355
@qza please go ahead.

[2016-06-07 19:33] #355 closed

[2016-06-12 20:01] protopapa commented on #296
Hey! I was a bit busy these days! I will keep working again! @iluwatar thanks for your answer.

[2016-06-18 21:11] colinbut commented on #229
Pull Request created for this pattern - #434

[2016-06-26 07:56] iluwatar opened #436 "Add criticism to Service Locator"
More information could be added to `Consequences` section of the Service Locator pattern.

http://criticalsoftwareblog.com/index.php/2015/10/25/object-composability-another-reason-why-the-service-locator-is-an-anti-pattern/

See the pattern template here: https://github.com/iluwatar/java-design-patterns/wiki/02.-Pattern-template

[2016-06-26 14:33] #296 closed

[2016-06-27 17:18] iluwatar commented on #413
I'll implement this pattern.

[2016-06-28 18:36] iluwatar opened #437 "Add criticism to Singleton"
http://stackoverflow.com/questions/137975/what-is-so-bad-about-singletons

[2016-06-30 15:12] #86 closed

[2016-07-01 05:06] iluwatar commented on #351
Here are some guidelines http://stackoverflow.com/questions/465099/best-way-to-build-a-plugin-system-with-java

[2016-07-01 17:40] iluwatar opened #438 "Saga pattern"
http://kellabyte.com/2012/05/30/clarifying-the-saga-pattern/
http://vasters.com/clemensv/2012/09/01/Sagas.aspx
https://www.youtube.com/watch?v=nSfXcSWq0ug&list=WL

[2016-07-02 16:08] iluwatar commented on #413
http://techblog.netflix.com/2011/12/making-netflix-api-more-resilient.html

[2016-07-02 16:25] iluwatar opened #439 "Dependency Command pattern"
http://techblog.netflix.com/2012/02/fault-tolerance-in-high-volume.html

[2016-07-02 16:41] iluwatar commented on #413
https://msdn.microsoft.com/en-us/library/dn589784.aspx

[2016-07-02 16:56] iluwatar opened #440 "Cache Aside pattern"
https://msdn.microsoft.com/en-us/library/dn589799.aspx

This pattern could be incorporated into https://github.com/iluwatar/java-design-patterns/tree/master/caching example.

[2016-07-02 16:57] iluwatar opened #441 "Compensating Transaction pattern"
https://msdn.microsoft.com/en-us/library/dn589804.aspx

[2016-07-02 16:57] iluwatar commented on #120
https://msdn.microsoft.com/en-us/library/dn568101.aspx

[2016-07-02 16:58] iluwatar opened #442 "Compute Resource Consolidation pattern"
https://msdn.microsoft.com/en-us/library/dn589778.aspx

[2016-07-02 17:00] iluwatar commented on #105
https://msdn.microsoft.com/en-us/library/dn568103.aspx

[2016-07-02 17:02] iluwatar opened #443 "Federated Identity pattern"
https://msdn.microsoft.com/en-us/library/dn589790.aspx

[2016-07-02 17:02] iluwatar opened #444 "Gatekeeper pattern"
https://msdn.microsoft.com/en-us/library/dn589793.aspx
Please notice that this is a cloud design pattern that should be implemented using cloud technologies (see https://github.com/iluwatar/java-design-patterns/wiki/10.-Technology-selections)

[2016-07-02 17:03] iluwatar opened #445 "Health Endpoint Monitoring pattern"
https://msdn.microsoft.com/en-us/library/dn589789.aspx

[2016-07-02 17:04] iluwatar opened #446 "Index Table pattern"
https://msdn.microsoft.com/en-us/library/dn589791.aspx

[2016-07-02 17:05] iluwatar opened #447 "Leader Election pattern"
https://msdn.microsoft.com/en-us/library/dn568104.aspx

[2016-07-02 17:06] iluwatar opened #448 "Materialized View pattern"
https://msdn.microsoft.com/en-us/library/dn589782.aspx

[2016-07-02 17:06] iluwatar commented on #82
https://msdn.microsoft.com/en-us/library/dn568100.aspx

[2016-07-02 17:07] iluwatar opened #449 "Priority Queue pattern"
https://msdn.microsoft.com/en-us/library/dn589794.aspx

[2016-07-02 17:08] iluwatar opened #450 "Queue-Based Load Leveling pattern"
https://msdn.microsoft.com/en-us/library/dn589783.aspx

[2016-07-02 17:08] iluwatar opened #451 "Retry pattern"
https://msdn.microsoft.com/en-us/library/dn589788.aspx

[2016-07-02 17:09] iluwatar opened #452 "Runtime Reconfiguration pattern"
https://msdn.microsoft.com/en-us/library/dn589785.aspx

[2016-07-02 17:10] iluwatar opened #453 "Scheduler Agent Supervisor pattern"
https://msdn.microsoft.com/en-us/library/dn589780.aspx

[2016-07-02 17:10] iluwatar opened #454 "Sharding pattern"
https://msdn.microsoft.com/en-us/library/dn589797.aspx

[2016-07-02 17:11] iluwatar opened #455 "Static Content Hosting pattern"
https://msdn.microsoft.com/en-us/library/dn589776.aspx

[2016-07-02 17:12] iluwatar opened #456 "Throttling pattern"
https://msdn.microsoft.com/en-us/library/dn589798.aspx

[2016-07-02 17:12] iluwatar opened #457 "Valet Key pattern"
https://msdn.microsoft.com/en-us/library/dn568102.aspx

[2016-07-02 17:14] iluwatar commented on #81
This issue was splitted.

[2016-07-02 17:14] #81 closed

[2016-07-03 07:47] iluwatar commented on #451
I will implement this pattern.

[2016-07-03 08:53] npathai commented on #451
There are two ways in which the retries can be done: sync and async. I guess that above link is an asynchronous one :+1:

Synchronous retry: http://docs.spring.io/spring-batch/reference/html/retry.html
Asynchronous retry pattern: https://dzone.com/articles/asynchronous-retry-pattern

I hope it helps.

[2016-07-03 08:57] npathai opened #458 "Add related patterns section in pattern template"
Most of the time there are a group of patterns that work together and I think having related patterns section will help us to bring them together in form of a graph.

One example is regarding #451 where it is related to #413 .

[2016-07-03 09:04] npathai commented on #418
@iluwatar I have reservations to not call it thread local singleton.

[2016-07-03 12:18] iluwatar commented on #418
@npathai @geniusgeek thanks for your valuable comments. Since you guys disagree, this thread-local Singleton will not be added.

[2016-07-03 12:18] #418 closed

[2016-07-03 18:52] iluwatar commented on #451
Thanks for the links. I will look into them.